{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/humanresource/member.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
  직원관리
</div>
{% endblock %}

{% block content %}




<div class="search-Container">
  <form method="get" action="" class="search-Form">
    <label for="" class="search-Form_label">직원검색</label>
    <input autocomplete="off" value="{{name}}" name="name" type="text" class="search-Form_input" placeholder="직원이름">
    <input type="submit" class="search-Form_search-btn" value="검색">
  </form>
  <div class="popup-area-box">
    <div class="popup-area-box_btn_create member-create">직원등록</div>
    <div class="popup-area-box_btn member-upload">엑셀 업로드</div>
  </div>
</div>


<form method="post" action="{% url 'HR:member_delete' %}" class="member-delete-form">
  {% csrf_token %}
  <div class="main-layout_container">

    <input autocomplete="off" type="submit" value="직원삭제" class="popup-area-box_btn member-delete">

    <div class="ListHeaderArea">

      <div class="ListHeaderTitle">직원목록</div>

      <div class="filter-box">
        <input type="checkbox" id="ageFilter">
        <label for="ageFilter">만 65세 이상만 보기</label>
      </div>

    </div>

    <div class="table-list-area">
      <table class="table-list">
        <thead>
          <tr class="table-list_head-tr member-height">
            <td class="table-list_head-tr_td">선택</td>
            <td class="table-list_head-tr_td">번호</td>
            <td class="table-list_head-tr_td">이름</td>
            <td class="table-list_head-tr_td">나이(만)</td>
            <td class="table-list_head-tr_td">
              <div class="tdDisplay">
                <span>담당업무</span>
                <div class="option-order"></div>
              </div>
            </td>
            <td class="table-list_head-tr_td">입사일</td>
            <td class="table-list_head-tr_td">휴대폰 번호</td>
            <td class="table-list_head-tr_td">비상연락망(관계)</td>
            <td class="table-list_head-tr_td">생년월일</td>
            <td class="table-list_head-tr_td">주소</td>
            <td class="table-list_head-tr_td">면허증</td>
            <td class="table-list_head-tr_td">버스운전 자격증</td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="pagenation-area">
      <div class="pagenation">
        <div class="prev_btn">이전</div>
        <div class="pagenation-numbering-box">
        </div>
        <div class="next_btn">다음</div>
      </div>
    </div>

  </div>

</form>


{% endblock %}





{% block popup %}

<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form method="post" action="{% url 'HR:member_create' %}" class="popupContainer popupContainerDouble memberFormCreate"
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="popupHeader">
      <div class="popupTitle">직원등록</div>
    </div>
    <div class="popupBody">
      <div class="popupSection">
        <div class="popupArticleCategori">기본정보</div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>이름</label>
            <input autocomplete="off" name="name" type="text" class="popupArticleinput createName length100 essential">
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>담당업무</label>
            <select name="role" id="role" class="popupArticleinput PopupDataInputWork">
              <option value=""></option>
              <option value="용역">용역</option>
              <option value="운전원">운전원</option>
              <option value="팀장">팀장</option>
              <option value="배차관리자">배차관리자</option>
              <option value="경리관리자">경리관리자</option>
              <option value="마스터">마스터</option>
            </select>
          </div>
        </div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>입사일</label>
            <input autocomplete="off" name="entering_date" type="date" max="9999-12-31"
              class="popupArticleinput PopupDataInputEntering essential">
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>생년월일</label>
            <input autocomplete="off" name="birthdate" type="date" max="9999-12-31"
              class="popupArticleinput PopupDataInputBirth essential">
          </div>
        </div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>휴대폰번호</label>
            <input autocomplete="off" name="phone_num" type="text" class="popupArticleinput PopupDataInputPhoneNum length100 essential"
              placeholder="'-'을 생략하고 입력해 주세요.">
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">비상연락망</label>
            <input autocomplete="off" name="emergency1" type="text" class="popupArticleinput PopupDataInputEmergency length100 makeHyphen">
            <label for="" class="popupArticleLabel popupArticleLabelRelation">관계</label>
            <input autocomplete="off" name="emergency2" type="text" class="popupArticleinput PopupDataInputEmergencyRelation length100">
          </div>
        </div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>주소</label>
            <input autocomplete="off" name="address" type="text" class="popupArticleinput PopupDataInputAddress length100 essential">
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">비고</label>
            <input autocomplete="off" name="note" type="text"
              class="popupArticleinput PopupDataInputBlack length100">
          </div>
        </div>
        <div class="popupArticleCategori">운전정보</div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">면허증</label>
            <div class="popupArticleFileDouble">
              <label for="LicenseFile">파일 선택</label>
              <input autocomplete="off" name="license_file" type="file" id="LicenseFile" class="LicenseFileInput">
              <input autocomplete="off" name="license" type="text" class="LicenseFileText" readonly>
              <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                viewBox="0 0 11.314 11.314">
                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                  <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                  <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                </g>
              </svg>
            </div>
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel DriverLicenseLabel">버스운전 자격증</label>
            <div class="popupArticleFileDouble">
              <label for="DriverLicenseFile">파일 선택</label>
              <input autocomplete="off" name="bus_license_file" type="file" id="DriverLicenseFile"
                class="DriverLicenseFileInput">
              <input autocomplete="off" name="bus_license" type="text" class="DriverLicenseFileText" readonly>
              <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                viewBox="0 0 11.314 11.314">
                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                  <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                  <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="popupArticleCategori">계정정보</div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>아이디</label>
            <div class="popupIdBox">
              <input autocomplete="off" name="user_id" type="text" class="popupArticleinput createID length100 essential">
              <div class="idchecker" onClick="id_overlap_check_hr()">중복확인</div>
            </div>
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">비밀번호</label>
            <input autocomplete="off" name="pw" type="text" class="popupArticleinput" readonly value="0000">
          </div>
        </div>
      </div>
      <div class="popupFooter">
        <div class="btnModules btnModulesCreate">등록</div>
        <div class="btnModules popupCloseBtn">닫기</div>
      </div>
    </div>
  </form>
</div>





<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form method="post" action="{% url 'HR:member_edit' %}" class="editPopupContainer popupContainerDouble memberEditForm"
    enctype="multipart/form-data">
    {% csrf_token %}
    <div class="popupHeader">
      <div class="popupTitle">직원수정</div>
    </div>
    <div class="popupBody">
      <div class="popupSection">
        <div class="popupArticleCategori">기본정보</div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>이름</label>
            <input autocomplete="off" name="name" type="text" class="popupArticleinput hrName length100 editEssential">
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>담당업무</label>
            <select name="role" id="editRole" class="popupArticleinput hrRole">
              <option value="">담당업무 선택</option>
              <option value="용역">용역</option>
              <option value="운전원">운전원</option>
              <option value="팀장">팀장</option>
              <option value="배차관리자">배차관리자</option>
              <option value="경리관리자">경리관리자</option>
              <option value="마스터">마스터</option>
            </select>
          </div>
        </div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>입사일</label>
            <input autocomplete="off" name="entering_date" type="date" max="9999-12-31"
              class="popupArticleinput hrEntering length100 editEssential">
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>생년월일</label>
            <input autocomplete="off" name="birthdate" type="date" max="9999-12-31"
              class="popupArticleinput hrBirth length100 editEssential">
          </div>
        </div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>휴대폰번호</label>
            <input autocomplete="off" name="phone_num" type="text" class="popupArticleinput hrPhone length100 editEssential"
              placeholder="'-'을 생략하고 입력해 주세요.">
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">비상연락망</label>
            <input autocomplete="off" name="emergency1" type="text" class="popupArticleinput hrEmergency length100 makeHyphen">
            <label for="" class="popupArticleLabel popupArticleLabelRelation">관계</label>
            <input autocomplete="off" name="emergency2" type="text" class="popupArticleinput hrEmergencyRelation length100">
          </div>
        </div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>주소</label>
            <input autocomplete="off" name="address" type="text" class="popupArticleinput length100 hrAddress editEssential">
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">비고</label>
            <input autocomplete="off" name="note" type="text" class="popupArticleinput length100 hrBlank">
          </div>
        </div>
        <div class="popupArticleCategori">운전정보</div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">면허증</label>
            <div class="popupArticleFileDouble">
              <label for="LicenseFileEdit">파일 선택</label>
              <input autocomplete="off" name="license_file" type="file" id="LicenseFileEdit"
                class="LicenseFileInputEdit">
              <input autocomplete="off" name="license" type="text" class="LicenseFileTextEdit" readonly>
              <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                viewBox="0 0 11.314 11.314">
                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                  <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                  <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                </g>
              </svg>
            </div>
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel DriverLicenseLabel">버스운전 자격증</label>
            <div class="popupArticleFileDouble">
              <label for="DriverLicenseFileEdit">파일 선택</label>
              <input autocomplete="off" name="bus_license_file" type="file" id="DriverLicenseFileEdit"
                class="DriverLicenseFileInputEdit">
              <input autocomplete="off" name="bus_license" type="text" class="DriverLicenseFileTextEdit" readonly>
              <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                viewBox="0 0 11.314 11.314">
                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                  <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                  <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="popupArticleCategori">계정정보</div>
        <div class="popupArticleBox">
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">아이디</label>
            <div class="popupIdBox">
              <input autocomplete="off" type="text" class="popupArticleinput hrID" readonly>
            </div>
          </div>
          <div class="popupArticleDouble">
            <label for="" class="popupArticleLabel">비밀번호</label>
            <div class="hrPW">
              <svg xmlns="http://www.w3.org/2000/svg" width="18.012" height="18" viewBox="0 0 18.012 18">
                <path id="Icon_awesome-redo" data-name="Icon awesome-redo"
                  d="M18.146,0H16.452a.429.429,0,0,0-.429.449L16.167,3.4a8.857,8.857,0,1,0-.812,12.313.429.429,0,0,0,.017-.622l-1.214-1.214a.429.429,0,0,0-.585-.02,6.286,6.286,0,1,1,1.065-8.225l-3.626-.174a.429.429,0,0,0-.449.429V7.584a.429.429,0,0,0,.429.429h7.155a.429.429,0,0,0,.429-.429V.429A.429.429,0,0,0,18.146,0Z"
                  transform="translate(-0.563)" fill="#fff" />
              </svg>
              <span>비밀번호 초기화</span>
            </div>
          </div>
        </div>
        <input name="id" type="hidden" class="sendToHidden">
      </div>
      <div class="popupFooter">
        <div class="btnModules memberEditSaveBtn">저장</div>
        <div class="btnModules popupCloseBtn">닫기</div>
      </div>
    </div>
  </form>
</div>



<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <dic class="popupContainer">
    <div class="popupHeader">
      <div class="popupTitle">파일 업로드</div>
    </div>
    <div class="popupBody">
      <div class="popupSection">
        <div class="popupArticleBox">
          <div class="popupArticle">
            <label for="" class="popupArticleLabel">엑셀</label>
            <div class="popupArticleUpload">
              <label for="uploadFile">파일 선택</label>
              <input autocomplete="off" name="uploadExcel" type="file" id="uploadFile" class="uploadFile"
                onchange="readExcel()">
              <input autocomplete="off" name="uploadExcel" type="text" class="uploadFileText" readonly>
              <svg class="uploadDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                viewBox="0 0 11.314 11.314">
                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                  <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                  <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none"
                    stroke="#000" stroke-linecap="round" stroke-width="2" />
                </g>
              </svg>
            </div>
          </div>
        </div>
        <div class="popupArticle">
          <label for="" class="popupArticleLabel">면허증</label>
          <div class="popupArticleUpload">
            <label for="uploadLicenseFile">파일 선택</label>
            <input autocomplete="off" name="uploadLicense" type="file" id="uploadLicenseFile" class="uploadLicenseFile"
              multiple>
            <input autocomplete="off" name="uploadLicense" type="text" class="uploadLicenseFileText" readonly>
            <svg class="uploadDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
              viewBox="0 0 11.314 11.314">
              <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000"
                  stroke-linecap="round" stroke-width="2" />
                <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none"
                  stroke="#000" stroke-linecap="round" stroke-width="2" />
              </g>
            </svg>
          </div>
        </div>
        <div class="popupArticle">
          <label for="" class="popupArticleLabel">버스운전 자격증</label>
          <div class="popupArticleUpload">
            <label for="uploadDriverLicenseFile">파일 선택</label>
            <input autocomplete="off" name="uploadDriverLicense" type="file" id="uploadDriverLicenseFile"
              class="uploadDriverLicenseFile" multiple>
            <input autocomplete="off" name="uploadDriverLicense" type="text" class="uploadDriverLicenseFileText"
              readonly>
            <svg class="uploadDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
              viewBox="0 0 11.314 11.314">
              <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000"
                  stroke-linecap="round" stroke-width="2" />
                <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none"
                  stroke="#000" stroke-linecap="round" stroke-width="2" />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="popupFooter">
        <div class="btnModules uploadFormat">
          <a href="">양식다운</a>
        </div>
        <div class="btnModules saveUpload">등록</div>
        <div class="btnModules popupCloseBtn">닫기</div>
      </div>
    </div>
  </dic>
</div>

{% endblock %}






{% block script %}
<script>
  {% autoescape off %}
  const regDatas = {{ data_list }};
  console.log("DATA", {{ data_list }});
  {% endautoescape %}

  
  function openLisence(url, type) {
    if(type){
        window.open(url, "면허증", "width=630, height=891")
    }else{
        window.open(url, "버스운전 자격증", "width=630, height=891")
    }
  }
  
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
<script src="{% static 'js/hr/upload.js' %}"></script>
<script src="{% static 'js/hr/hr_list_popup.js' %}"></script>
<script src="{% static 'js/hr/creatList.js' %}"></script>
<script src="{% static 'js/hr/essential.js' %}"></script>
{% endblock %}