{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/dispatchBase.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/dispatch/regularlyRoute.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/humanresource/team.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    팀관리
</div>
{% endblock %}


{% block content %}

<div class="routeLayout">
    <div class="groupLayout">
        <div class="groupList">
            <div class="groupListHead">
                <span class="groupListTitle">팀목록</span>
            </div>
            <div class="groupListBody">
                <div class="groupListItem {% if team == '전체' %}backgroundGray{% endif %}" draggable="true">
                    <div class="groupNum">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16.5" viewBox="0 0 22 16.5">
                            <path id="Icon_awesome-folder" data-name="Icon awesome-folder"
                                d="M19.938,7.25h-8.25L8.938,4.5H2.063A2.062,2.062,0,0,0,0,6.563V18.938A2.062,2.062,0,0,0,2.063,21H19.938A2.062,2.062,0,0,0,22,18.938V9.313A2.062,2.062,0,0,0,19.938,7.25Z"
                                transform="translate(0 -4.5)" fill="#444" />
                        </svg>
                    </div>
                    <div class="groupName" onclick="location.href='{% url 'HR:team' %}'">전체</div>
                </div>
                <div class="groupListItem {% if team == '팀없음' %}backgroundGray{% endif %}" draggable="true">
                    <div class="groupNum">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16.5" viewBox="0 0 22 16.5">
                            <path id="Icon_awesome-folder" data-name="Icon awesome-folder" d="M19.938,7.25h-8.25L8.938,4.5H2.063A2.062,2.062,0,0,0,0,6.563V18.938A2.062,2.062,0,0,0,2.063,21H19.938A2.062,2.062,0,0,0,22,18.938V9.313A2.062,2.062,0,0,0,19.938,7.25Z" transform="translate(0 -4.5)" fill="#444" />
                        </svg>
                    </div>
                    <div class="groupName" onclick="location.href='{% url 'HR:team' %}?team_none=팀없음'">팀없음
                    </div>
                </div>
                {% for object in team_list %}
                <div class="groupListItem {% if team == object %}backgroundGray{% endif %}" draggable="true">
                    <div class="groupNum">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16.5" viewBox="0 0 22 16.5">
                            <path id="Icon_awesome-folder" data-name="Icon awesome-folder"
                                d="M19.938,7.25h-8.25L8.938,4.5H2.063A2.062,2.062,0,0,0,0,6.563V18.938A2.062,2.062,0,0,0,2.063,21H19.938A2.062,2.062,0,0,0,22,18.938V9.313A2.062,2.062,0,0,0,19.938,7.25Z"
                                transform="translate(0 -4.5)" fill="#444" />
                        </svg>
                    </div>
                    <div class="groupName"
                        onclick="location.href='{% url 'HR:team' %}?team={{object.id}}'">{{object.name}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% if team and team != "전체" and team != "팀없음" %}
        <form action="{% url 'HR:team_edit' %}" method="post" class="groupCreate">
        {% else %}
        <form action="{% url 'HR:team_create' %}" method="post" class="groupCreate">
        {% endif %}
            <input autocomplete="off" type="hidden" name="id" value="{{team.id}}">
            {% csrf_token %}

            <div class="groupCreateHead">{% if team and team != "전체" and team != "팀없음" %}팀수정{% else %}팀등록{% endif %}</div>
            <div class="groupCreateBody">
                <div class="groupCreateinput">
                    <input autocomplete="off" value="{{team.name}}" name="name" type="text" placeholder="팀이름"
                        class="groupNameCreate length50">
                </div>
                <div class="groupCreateBtnBox">
                    <input autocomplete="off" type="submit" class="btnModules groupCreateSave" value="저장">
                    <div class="btnModules groupCreateDelete" onclick="groupCreateDeleteUrl()">삭제</div>
                </div>
            </div>
        </form>

        <div class="foldGroup">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="그룹_1629" data-name="그룹 1629" transform="translate(-13664 -4980)">
                    <rect id="사각형_11725" data-name="사각형 11725" width="30" height="30" rx="15"
                        transform="translate(13664 4980)" fill="#444" />
                    <path id="패스_327" data-name="패스 327" d="M0,0,5.788,7.048,12,0"
                        transform="translate(13681.063 5001) rotate(-90)" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    <path id="패스_329" data-name="패스 329" d="M0,0H12"
                        transform="translate(13677.063 5001) rotate(-90)" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    <path id="패스_330" data-name="패스 330" d="M0,0H12"
                        transform="translate(13673.063 5001) rotate(-90)" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                </g>
            </svg>
        </div>
    </div>

    <div class="mainLayout">

        <div class="searchBox">
            <form action="{% url 'HR:team' %}" class="routListSearch">
                <span class="searchName">직원검색</span>
                <input autocomplete="off" name="name" value="{{name}}" type="text" id="routeListsearch">
                <select name="role" class="inputModules">
                    <option {% if role == '담당업무' %} selected {% endif %} value="담당업무">담당업무</option>
                    <option {% if role == '팀장' %} selected {% endif %} value="팀장">팀장</option>
                    <option {% if role == '운전원' %} selected {% endif %} value="운전원">운전원</option>
                    <option {% if role == '용역' %} selected {% endif %} value="용역">용역</option>
                    <option {% if role == '임시' %} selected {% endif %} value="임시">임시</option>
                </select>
                <select name="use" id="filterUse" class="inputModules">
                    <option {% if use == '사용' %} selected {% endif %} value="사용">사용</option>
                    <option {% if use == '미사용' %} selected {% endif %} value="미사용">미사용</option>
                </select>
                <input autocomplete="off" type="hidden" value="{{team.id}}" name="team">
                <input autocomplete="off" type="submit" class="btnModules routeListSearchBtn" value="검색">
            </form>
        </div>
        <form method="post" action="{% url 'HR:team_member' %}" class="RouteListForm teamSaveForm">
            {% csrf_token %}
            <input type="hidden" name="team" value="{{group.id}}">
            <input type="submit" class="btnModules routeInputDelete" value="저장">
            <div class="RouteList">

                <div class="RouteListHeadScroll">
                    <table class="RouteListHeader">
                        <thead>
                            <tr>
                                <td>순번</td>
                                <td>이름</td>
                                <td>담당업무</td>
                                <td>직급</td>
                                <td>연락처</td>
                                <td>소속팀</td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="RouteListScroll">
                    <table class="RouteListBody">
                        <tbody>
                            {% for member in member_list %}
                            <tr class="RouteListBodyTr">
                                <td>{{forloop.counter}}</td>
                                <td>{{member.name}}</td>
                                <td>{{member.role}}</td>
                                <td>{{member.position}}</td>
                                <td>{{member.phone_num}}</td>
                                <td class="{{member.id}}">
                                    <select class="tableSelect">
                                        <option value="none"></option>
                                        {% for team in team_list %}
                                        <option {% if member.team == team %} selected {% endif %} value="{{team.id}}">{{team.name}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="blanckTr"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}



{% block popup %}
<div class="popupAreaModules" id="excelPopup">
    <div class="popupBgModules"></div>
    <form method="post" action="" class="popupContainer">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">엑셀 업로드</div>
        </div>
        <div class="popupBody">
            <div class="popupSection">
                <div class="popupArticleFileDouble">
                    <label for="excelUploadFile" class="popupArticleLabel">파일선택</label>
                    <input autocomplete="off" name="" type="file" id="excelUploadFile" class="excelUploadFile"
                        onchange="readExcel()">
                    <input autocomplete="off" name="" type="text" class="excelUploadFileText" readonly>
                    <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                        viewBox="0 0 11.314 11.314">
                        <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                            <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                                stroke="#000" stroke-linecap="round" stroke-width="2" />
                            <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)"
                                fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="popupFooter">
                <div class="popupFooterMinibox">
                    <a href="{% static 'form/출,퇴근 노선관리 엑셀 업로드 양식.xlsx' %}" download>
                        <div class="btnModules downloadFormat">양식다운</div>
                    </a>
                    <div class="visibleLoadingBox">
                        <div class="visibleLoading">
                            <span>파일이 업로드 중입니다</span>
                            <iframe src="https://giphy.com/embed/sSgvbe1m3n93G" width="18" height="18" frameBorder="0"
                                class="giphy-embed" allowFullScreen></iframe>
                        </div>
                    </div>
                </div>
                <input autocomplete="off" type="submit" class="btnModules uploadCrateBtn backgroundBlue" value="등록">
                <div class="btnModules popupCloseBtn">닫기</div>
            </div>
        </div>
    </form>
</div>

<div class="popupAreaModules" id="detailMapPopup">
    <div class="popupBgModules" id="detailMapPopupBg"></div>
    <form method="post" action="" class="popupContainer popupContainerMap">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">경유지 추가</div>
        </div>
        <div class="popupBody popupBodyMap">
            <div class="popupSection">
                <div class="popupArticleInput">
                    <div class="popupArticletitle">지도</div>
                    <input autocomplete="off" id="popupMaplink" type="text" class="detailMapLinkInput" value="{{detail.maplink}}">
                </div>
                <div class="popupArticleInput">
                    <div class="popupArticletitle">경유지명</div>
                    <input id="waypointInput" autocomplete="off" name="" type="text" class="detailMapLinkInput">
                    <svg class="fileDeleteBtn addDetailMapBtn" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
                        <g id="그룹_1511" data-name="그룹 1511" transform="translate(-1022.5 -388.5)">
                            <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)"
                                fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                            <line id="선_692" data-name="선 692" y2="12"
                                transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000"
                                stroke-linecap="round" stroke-width="2" />
                        </g>
                    </svg>
                </div>
                <div class="popupArticle popupArticleCollectiong">
                    <table class="detailMapPopupHeader">
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>번호</td>
                            <td>경유지명</td>
                        </tr>
                    </table>
                    <div class="detailMapPopupScrollBox">
                        <table>
                            <tbody id="detailMapTable">
                                {% for waypoint in waypoint_list %}
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{waypoint.waypoint}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<div class="detailMapList">
                    <input autocomplete="off" type="text" class="detailMapListInput" readonly>
                </div>-->
            </div>
            <div class="popupFooter">
                <div id="deleteWaypoint" class="btnModules popupDeleteBtn">삭제</div>
                <div id="saveWaypoint" class="btnModules backgroundBlue">저장</div>
                <div class="btnModules popupCloseBtn" id="detailPopupCloseBtn">닫기</div>
            </div>
        </div>
    </form>
</div>
{% endblock %}



{% block script %}
<script>

    const groupCreateChangeForm = document.querySelector(".groupCreate")

    function groupCreateDeleteUrl() {
        {% autoescape off %}
        if (confirm("선택한 팀을 정말로 삭제하시겠습니까?")) {
            groupCreateChangeForm.action = "{% url 'HR:team_delete' %}"
            groupCreateChangeForm.submit()
        }
        {% endautoescape %}
    }
</script>
<script src="{% static 'js/hr/team.js' %}"></script>

{% endblock %}