.searchAreaRight {
    display: flex;
}

.FilterBox select {
    width: 10rem;
    padding: 0;
    margin-right: 1rem;
}

.FilterBox input{
    margin-right: 1rem;
}

.searchTool input[type=submit] {
    background-color: #444444;
}

select[name=use]{
    margin-left: 2rem;
}

.searchAreaBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.8rem;
    border-radius: 0.2rem;
    background-color: #444444;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}

.addVehicle {
    background-color: #0069D9;
}

.tableHead {
    width: 100%;
    height: 3.6rem;
    border-spacing: 0;
}

.tableHead thead{
    width: 100%;
    height: 100%;
}

table tr {
    width: 100%;
    height: 6.2rem;
    border-bottom: 0.1rem solid #CDCDCE;
}

.tableHead tr {
    width: 100%;
    height: 100%;
    align-items: center;
    border: none;
    font-size: 1.6rem;
    color: white;
    background-color: #444444;
}

.tableHead td{
    text-align: center;
}

.tableBody tr:nth-child(odd) {
    background-color: white;
}

.tableBody tr:nth-child(even) {
    background-color: #EFEFEF;
}

table tr:nth-child(10) {
    border-bottom: none;
}


.tableBody {
    width: 100%;
    height: 57rem;
    margin-top: -0.1rem;
    border: 0.1rem solid #CDCDCE;
    border-spacing: 0;
}

tbody {
    width: 100%;
    height: 100%;
}

.tableBody td {
    font-size: 1.4rem;
    color: #191919;
    border-right: 0.1rem solid #D4D4D4;
    border-bottom: 0.1rem solid #D4D4D4;
}

tbody td:nth-child(11),
tbody td:nth-child(12),
tbody td:nth-child(13) {
    color: #0069D9;
    cursor: pointer;
}

/* 선택, 번호 */
td:nth-child(1), 
td:nth-child(2) {
    width: 4%;
}

/* 사용여부 */
td:nth-child(3) {
    width: 5%;
}

/* 차고지 */
td:nth-child(4) {
    width: 8%;
}

/* 차량번호 */
td:nth-child(5) {
    width: 9%;
}

/* 담당기사 */
td:nth-child(6){
    width: 7%;
}

/* 제조사 */
td:nth-child(7) {
    width: 6%;
}

/* 차량이름 */
td:nth-child(8) {
    width: 11%;
}

/* 승차인원 */
td:nth-child(9){
    width: 7%;
}

/* 모델연도 */
td:nth-child(10) {
    width: 8%;
}

/* 정기점검 */
td:nth-child(11) {
    width: 13%;
}

/* 정비,상세,서류 */
td:nth-child(12),
td:nth-child(13),
td:nth-child(14) {
    width: 6%;
}

.tableBody td {
    text-align: center;
}

.btnBox input{
    background-color: #444444;
}


.vehicleNumBox{
    display: flex;
    justify-content: space-between;
    width: 27rem;
}
.popupArticleinputTwice{
    width: 12.4rem;
    height: 2.4rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.3rem;
    outline: none;
}

.popupSectionEdit{
    display: none;
}

.popupFooterDetail .createBtn{
    display: none;
}

.vehicleNumBox .PopupData{
    width: 13rem;
}

.editBtn{
    background-color: #0069D9;
    margin-right: 1rem;
}

.blanckTr{
    width: 100%;
    height: 100%;
}

.albleRadioBox{
    width: calc(100% - 14rem);
}

.albleRadioBox label{
    font-size: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
}


.popupBody{

    box-sizing: border-box; 
}

.scroll{
    height: 100rem;
}

.newVehicleFooter{
    padding-right: 2rem;
}


.vehicleInformationTitle{
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #CDCDCE;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}



.informationSection:nth-child(2), .informationSection:nth-child(3){
    margin-top: 2rem;
}

/* .documentPopup{
    display: block;
} */

.popupArticleinputShort {
    width: 11rem !important;
}

.inputMonth{width: 15rem;}

.maintenanceSearchForm{
    margin-top: 2rem;
}

.detailRoutePopupScrollBoxTbody tr td:last-child{
    border-right: 0.1rem solid #D4D4D4;
}

.repair td:nth-child(1),
.repair td:nth-child(2){
    width: 10%;
}

.repair td:nth-child(3){
    width: 10%;
}
.repair td:nth-child(4){
    width: 20%;
}
.repair td:nth-child(5){
    width: 25%;
}
.repair td:nth-child(6){
    width: 25%;
}

.repairCreate{
    margin: 0;
}

.creatBtn, .deleteBtnSection{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}


.popupFooter{
    margin-top: 1rem;
    color: white;
}

.deleteBtn{
    background-color: #444444;
}

.blue{
    color: #0069D9;
}

tableBody td {
    text-align: center;
}

.tableBody td:nth-child(9), .tableBody td:nth-child(11) {
    text-align: center;
    padding-left: 0;
}

.popupRepairScroll{
    overflow: hidden;
}

.green{
    background-color: red;
    color: green;
}

.tableHead tr th{
    height: 3.0rem;
    font-size: 1.4rem;


}

.maintenanceClose{
    margin-right: 2rem;
}

.tbodyTr {
    height: 5.7rem;
}