{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<!-- <link rel="stylesheet" href="{% static 'css/humanresource/member.css' %}" type="text/css" /> -->
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/approval/approval.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    결재 목록
</div>
{% endblock %}

{% block content %}

    <!-- 검색창 -->
    <div class="search-Container">
        <!-- 검색폼 -->
        <form action="" class="searchForm">
            <label for="" class="searchFormLabel">현황</label>
            <select name ="status" class="searchFormInput select">
                <option {% if status == "전체" %}selected{% endif %} value="전체">전체</option>
                <option {% if status == "대기" %}selected{% endif %} value="대기">대기</option>
                <option {% if status == "처리중" %}selected{% endif %} value="처리중">처리중</option>
                <option {% if status == "승인" %}selected{% endif %} value="승인">승인</option>
                <option {% if status == "반려" %}selected{% endif %} value="반려">반려</option>
            </select>

            <select name="search_type" class="searchFormInput select">
                <option {% if search_type == "제목" %}selected {% endif %} value="제목">제목</option>
                <option {% if search_type == "결재자" %}selected {% endif %} value="결재자">결재자</option>
            </select>

            <input name="search" value="{{search}}" type="text" class="searchFormInput textInput" placeholder="이름,제목(검색 옵션에 따라)을 입력하세요">
            <input name="date1" value="{{date1}}" type="date" class="searchFormInput dateInput">
            <label for="" class="searchFormLabel">~</label>
            <input name="date2" value="{{date2}}" type="date" class="searchFormInput dateInput last">
            <input type="submit" class="searchFormSearchBtn" value="검색">
        </form>
        <div class="headerFlex">
            <a href="{% url 'approval:approval_create' %}" class="headerBtn">작성</a>
        </div>
    </div>
    <!-- 검색창 끝-->

    <form method="post" action="{% url 'approval:approval_delete' %}" class="contentsAreaBox" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
        {% csrf_token %}
        <table class="tableHead">
            <thead>
                <tr class="headerLine">
                    <td class="theadTh">선택</td>
                    <td class="theadTh">번호</td>
                    <td class="theadTh">결제종류</td>
                    <td class="theadTh">신청인</td>
                    <td class="theadTh">제목</td>
                    <td class="theadTh">첨부파일</td>
                    <td class="theadTh">등록일</td>
                    <td class="theadTh">현황</td>
                    <td class="theadTh">결재자</td>
                </tr>
            </thead>
        </table>

        <table class="tableBody">
            <tbody>
                {% for approval in approval_list %}
                <tr class="{{approval.id}}">
                    
                    <td class="tbodyTrTd td"><input name="delete_id" value="{{approval.id}}" type="checkbox"></td>
                    <td class="tbodyTrTd td">{{start_num|sub:forloop.counter0}}</td>
                    <td class="tbodyTrTd td">{{approval.approval_type}}</td>
                    <td class="tbodyTrTd td">{{approval.creator.name}}</td>
                    <td class="tbodyTrTd td blue">
                        <a href="{% url 'approval:approval_detail' approval.id %}">{{approval.title}}</a>
                    </td>
                    <td class="tbodyTrTd td blue">
                        <div class="fileDownload">
                            {% for file in file_list|index:forloop.counter0 %}
                            {{file}}
                            {% endfor %}
                        </div>
                    </td>
                    <td class="tbodyTrTd td">{{approval.date}}</td>
                    <td class="tbodyTrTd td">{{approval.status}}</td>
                    <td class="tbodyTrTd td">{{approval.current_approver_name}}</td>
                </tr>
                {% endfor %}
                <tr class="blanckTr"></tr>
            </tbody>
        </table>

        <div class="btnAreaBox">
            <div class="pagination">
                <!-- 페이징 처리 -->
                {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <div class="page-item page-pre">
                        <a class="page-link"
                            href="?status={{status}}&search_type={{search_type}}&search={{search}}&date1={{date1}}&date2={{date2}}&page={{ page_obj.previous_page_number }}"
                            tabindex="-1">이전</a>
                    </div>
                    {% else %}
                    <div class="page-item page-pre disabled">
                        <a class="page-link" href="#" tabindex="-1">이전</a>
                    </div>
                    {% endif %}
                    {% for page in page_range %}
                    <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
                        <a class="page-link"
                            href="?status={{status}}&search_type={{search_type}}&search={{search}}&date1={{date1}}&date2={{date2}}&page={{ page }}">
                            {{ page }}
                        </a>
                    </div>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <div class="page-item">
                        <a class="page-link page-next"
                            href="?status={{status}}&search_type={{search_type}}&search={{search}}&date1={{date1}}&date2={{date2}}&page={{ page_obj.next_page_number }}">
                            다음
                        </a>
                    </div>
                    {% else %}
                    <div class="page-item page-next disabled">
                        <a class="page-link" href="#">다음</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="btnBox">
                <input autocomplete="off" type="submit" value="삭제" class="btnModules">
            </div>

        </div>
    </form>

    <div class="writeContent" id="writeContent">
        <div class="contentBox boxSize">
            <div class="contentBoxArticle flex">
                <label class="contentBoxArticleLabel">제목</label>
                <input type="text" class="contentBoxArticleInput">
            </div>

            <div class="contentBoxArticle flex">
                <label class="contentBoxArticleLabel">분류</label>
                <select class="contentBoxArticleSelect" name="approvalClassfication">
                    <option value="지출결의서">지출결의서</option>
                    <option value="휴가계">휴가계</option>
                    <option value="사고처리">사고처리</option>
                </select>

                <label class="contentBoxArticleLabel contentBoxArticleLabelLabel">결재자</label>
                <select class="contentBoxArticleSelect" name="approvalPerson">
                    <option value="고영이">고영이</option>
                    <option value="이세명">이세명</option>
                    <option value="김인숙">김인숙</option>
                    <option value="김형주">김형주</option>
                    <option value="엄성환">엄성환</option>
                    <option value="김성태">김성태</option>
                </select>
            </div>
            
            <div class="contentBoxArticle contentBoxArticleLong flex">
                <label class="contentBoxArticleLabel">첨부파일</label>
                <div class="contentBoxArticleFileArea">
                    <input type="file" id="fileInput" name="fileInput">
                </div>
            </div>

            <div class="contentBoxArticle contentBoxArticleLast">
                <input type="text" class="contentBoxArticleText"> 
            </div>

        </div>

        <div class="createDelete flex">
            <input type="button" class="createBtn Btn" value="등록">
            <input type="button" class="deleteBtn Btn" value="닫기" onclick="writeClose()">
        </div>

    </div>

    <div id="waitContent" class="waitContent boxSize">

        <div class="contentBox boxSize">
            <div class="contentBoxContent flex">
                <div class="contentBoxContentContent">
                    <div class="contentBoxArticle flex">
                        <label class="contentBoxArticleLabel">제목</label>
                        <input type="text" class="contentBoxArticleInput approvalContentBoxArticleInput">
                    </div>

                    <div class="contentBoxArticle flex">
                        <label class="contentBoxArticleLabel">분류</label>
                        <select class="contentBoxArticleSelect" name="approvalClassfication">
                            <option value="지출결의서">지출결의서</option>
                            <option value="휴가계">휴가계</option>
                            <option value="사고처리">사고처리</option>
                        </select>

                        <label class="contentBoxArticleLabel contentBoxArticleLabelLabel">결재자</label>
                        <select class="contentBoxArticleSelect" name="approvalPerson">
                            <option value="고영이">고영이</option>
                            <option value="이세명">이세명</option>
                            <option value="김인숙">김인숙</option>
                            <option value="김형주">김형주</option>
                            <option value="엄성환">엄성환</option>
                            <option value="김성태">김성태</option>
                        </select>

                    </div>
                    
                    <div class="contentBoxArticle contentBoxArticleLong flex">
                        <label class="contentBoxArticleLabel">첨부파일</label>
                        <div class="contentBoxArticleFileArea">
                            <input type="file" id="fileInput" name="fileInput">
                        </div>
                    </div>
                </div>

                <div class="contentBoxExamine">
                    <div class="contentBoxExamineArticle flex">
                        <label class="contentBoxExamineArticleTitle">등록일</label>
                        <label class="contentBoxExamineArticleContent">2024-08-02</label>
                    </div>

                    <div class="contentBoxExamineArticle flex">
                        <label class="contentBoxExamineArticleTitle">재가여부</label>
                        <label class="contentBoxExamineArticleContent">대기1</label>
                    </div>

                    <div class="contentBoxExamineArticle flex">
                        <label class="contentBoxExamineArticleTitle">결재일</label>
                        <label class="contentBoxExamineArticleContent">2024-08-05</label>
                    </div>
                </div>

            </div>
            

            <div class="contentBoxArticle contentBoxArticleLast">
                <input type="text" class="contentBoxArticleText"> 
            </div>

        </div>

        <div class="createDelete flex">
            <input type="button" class="createBtn Btn" value="수정">
            <input type="button" class="deleteBtn Btn" value="닫기" onclick="waitContentClose()">
        </div>

    </div>

    <div id="rejectedAndApproveContent" class="rejectedAndApproveContent boxSize">

        <div class="contentBox boxSize">
            <div class="contentBoxContent flex">
                <div class="contentBoxContentContent">
                    <div class="contentBoxArticle flex">
                        <label class="contentBoxArticleLabel">제목</label>
                        <input type="text" class="contentBoxArticleInput">
                    </div>

                    <div class="contentBoxArticle flex">
                        <label class="contentBoxArticleLabel">분류</label>
                        <select class="contentBoxArticleSelect" name="approvalClassfication">
                            <option value="지출결의서">지출결의서</option>
                            <option value="휴가계">휴가계</option>
                            <option value="사고처리">사고처리</option>
                        </select>

                        <label class="contentBoxArticleLabel contentBoxArticleLabelLabel">결재자</label>
                        <select class="contentBoxArticleSelect" name="approvalPerson">
                            <option value="고영이">고영이</option>
                            <option value="이세명">이세명</option>
                            <option value="김인숙">김인숙</option>
                            <option value="김형주">김형주</option>
                            <option value="엄성환">엄성환</option>
                            <option value="김성태">김성태</option>
                        </select>

                    </div>
                    
                    <div class="contentBoxArticle contentBoxArticleLong flex">
                        <label class="contentBoxArticleLabel">첨부파일</label>
                        <div class="contentBoxArticleFileArea">
                            <input type="file" id="fileInput" name="fileInput">
                        </div>
                    </div>
                    
                </div>

                <div class="contentBoxExamine">
                    <div class="contentBoxExamineArticle flex">
                        <label class="contentBoxExamineArticleTitle">등록일</label>
                        <label class="contentBoxExamineArticleContent">2024-08-02</label>
                    </div>

                    <div class="contentBoxExamineArticle flex">
                        <label class="contentBoxExamineArticleTitle">재가여부</label>
                        <label class="contentBoxExamineArticleContent">승인 or 반려</label>
                    </div>

                    <div class="contentBoxExamineArticle flex">
                        <label class="contentBoxExamineArticleTitle">결재일</label>
                        <label class="contentBoxExamineArticleContent">2024-08-05</label>
                    </div>
                </div>
                
            </div>

            <div class="contentBoxArticle contentBoxArticleNayoung flex">
                <label class="contentBoxArticleLabel contentInputLabel">내용</label>
                <input type="text" class="contentBoxArticleInput contentInput">
            </div>

            <div class="approverSpeak">
                
                    <div class="approverSpeakTrTd flex">
                        <label class="approverSpeakPerson">김인숙</label>
                        <input class="approverSpeakContent">
                    </div>
                

                
                    <div class="approverSpeakTrTd flex">
                        <label class="approverSpeakPerson">고영이</label>
                        <input class="approverSpeakContent">
                    </div>
                

                
                    <div class="approverSpeakTrTd flex">
                        <label class="approverSpeakPerson">김형주</label>
                        <input class="approverSpeakContent">
                    </div>
                
                    
            </div>

        </div>


        <div class="createDelete flex">
            <input type="button" class="deleteBtn Btn" value="닫기" onclick="rejectedAndApproveContentClose()">
        </div>

    </div>



    
{% endblock %}

{% block script %}
<script>
    download = document.querySelectorAll(".fileDownload")
    console.log(download.parrent)

    Array.from(download).forEach(item => {
        item.addEventListener("click", () => {  
            window.open(`file/${item.parentElement.parentElement.className}`, "test", "width=630, height=891")
        })
    })
    
    
</script>
{% endblock %}