{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/notice/notice_create.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/approval/approval_create.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/approval/approval_detail.css' %}" type="text/css" />

</style>
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    결재
</div>
{% endblock %}

{% block content %}

<div class="contentsAreaBox">
    <form action="{% url 'approval:approver_edit' %}" method="post">
        {% csrf_token %}
        <div class="creteHeader">
            <div class="headerInput">
                <div class="inputCell">
                    <span class="inputName">제목</span>
                    <input value="{{approval.title}}" disabled autocomplete="off" type="text" name="title" class="length100" required>
                </div>
                <div class="inputCell inputCellApprover">
                    <div class="typeCell">
                        <div class="inputNameType">분류</div>
                    </div>
                    <div class="typeCellSelect">
                        <select class="typeSelect" name="approval_type" disabled>
                            <option {% if approval.approval_type == "지출결의서"%}selected{% endif %} value="지출결의서">지출결의서</option>
                            <option {% if approval.approval_type == "휴가계"%}selected{% endif %} value="휴가계">휴가계</option>
                            <option {% if approval.approval_type == "사고처리"%}selected{% endif %} value="사고처리">사고처리</option>
                        </select>
                        <div class="approverCell">
                            <span class="approverText">결재자</span>
                            <span class="approverText">재가여부</span>
                        </div>
                        <!-- 이미 처리된 결재 -->
                        {% for approver in approver_list %}
                        <div class="approverCell">
                            <select disabled class="approverSelect">
                                {% for member in approver_select_list %}
                                <option {% if approver.creator == member %} selected {% endif %} value="{{member.id}}">{{member.name}}</option>
                                {% endfor %}
                            </select>
                            <select disabled class="approverSelect approverStatus">
                                <option {% if approver.status == "" %} selected {% endif %} value=""></option>
                                <option {% if approver.status == "승인" %} selected {% endif %} value="승인">승인</option>
                                <option {% if approver.status == "반려" %} selected {% endif %} value="반려">반려</option>
                            </select>
                        </div>
                        {% endfor %}
                        <!-- 결재자로 지정된 사람만 수정가능 -->
                         {% if last_approver %}
                        <input type="hidden" name="approver" value="{{last_approver.id}}">
                        <div class="approverCell">
                            <select disabled class="approverSelect">
                                <option selected>{{last_approver.creator.name}}</option>
                            </select>
                            <select required {% if not can_approve %} disabled {% endif %} class="approverSelect approverStatus" name="status">
                                <option {% if approver.status == "" %} selected {% endif %} value=""></option>
                                <option {% if approver.status == "승인" %} selected {% endif %} value="승인">승인</option>
                                <option {% if approver.status == "반려" %} selected {% endif %} value="반려">반려</option>
                            </select>
                        </div>
                        {% endif %}
                        <!-- 다음 결재자 지정 -->
                        {% if can_approve and can_add_approver %}
                        <div class="approverCell">
                            <select class="approverSelect" name="next_approver">
                                <option value=""></option>
                                {% for member in approver_select_list %}
                                <option value="{{member.id}}">{{member.name}}</option>
                                {% endfor %}
                            </select>
                            <select disabled class="approverSelect">
                                <option value=""></option>
                            </select>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="inputCell inputCellFile">
                    <span class="inputName">첨부파일</span>
                    <div class="fileListDiv">
                        {% for file in file_list %}
                        <div class="{{file.id}} fileDownload fileLink">{{file.filename}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="headerDateTime">
                <div class="headerDateTimeDiv pubDateDiv">
                    <div>등록일</div>
                    <div>{{pub_date}}</div>
                </div>
                <div class="headerDateTimeDiv approvalDateDiv">
                    <div>결재일</div>
                    <div>
                        {% for approver in approver_list %}
                        <div>{{approver.get_updated_at}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="inputCell textareaInputCell">
            <div>내용</div>
            <textarea required name="content" class="contentTextarea length3000" disabled>{{approval.content}}</textarea>

        </div>
        {% for approver in approver_list %}
        {% if approver.content %}
        <div class="inputCell approverInputCell">
            <div>{{approver.creator.name}}</div>
            <input disabled name="content" class="contentTextarea" value="{{approver.content}}">
        </div>
        {% endif %}
        {% endfor %}
        {% if can_approve and last_approver %}
        <div class="inputCell approverInputCell">
            <div>{{last_approver.creator.name}}</div>
            <input name="content" class="contentTextarea" placeholder="내용을 작성하세요.">
        </div>
        {% endif %}
        <div class="createBtnBox">
            {% if can_edit %}
            <a href="{% url 'approval:approval_edit' approval.id %}" class="btnModules editBtn">수정</a>
            {% endif %}
            {% if can_approve and can_add_approver %}
            <input autocomplete="off" type="submit" value="저장" class="createBtn">
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    download = document.querySelectorAll(".fileDownload")

    Array.from(download).forEach(item => {
        item.addEventListener("click", () => {
            const url = "{% url 'approval:approval_file_download' 0 %}".replace('/0', '/' + `${item.classList[0]}`)
            
            window.open(url, "viewer", "width=630, height=891")
        })
    })
</script>
<script src="{% static 'js/approval/approver.js' %}"></script>
{% endblock %}