/* 검색창 */
.notice_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem;
  padding: 0 2rem;
  box-sizing: border-box;
}

.notice_search_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.notice_search_select {
  width: 10rem;
  margin-right: 2rem;
}

.notice_search_input {
  margin-right: 2rem;
}




/* 메인 */
.notice_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 71.4rem;
  margin-top: 2rem;
}

.notice_fixed_table a{
  color: black;
}

.notice_fixed_table a:hover .notice_title_link{
  border-bottom: 0.1rem solid black;
} 

.notice_fixed_table td:nth-child(1) {
  text-align: center;
  padding: 0;
  width: 4%;
}

.notice_fixed_table td:nth-child(2) {
  width: 76%;
}

.notice_fixed_table td:nth-child(3) {
  width: 6%;
}

.notice_fixed_table td:nth-child(4) {
  width: 10%;
}

.notice_fixed_table td:nth-child(5) {
  text-align: center;
  padding: 0;
  width: 4%;
}