.notice_container {
  height: 78rem;
}

.kinds_select {
  width: 10rem;
}

.notice_create_btn {
  margin-left: auto;
}

.notice_file_box {
  height: 10.6rem;
}

.notice_create_file_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 8.6rem);
  height: 100%;
}

.basic_file-list {
  display: none;
}

.notice_create_file_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 6rem;
  border: 0.1rem solid #CDCDCD;
  border-radius: 0.3rem;
  box-sizing: border-box;
  overflow-y: scroll;
}

.notice_create_file_list::-webkit-scrollbar {
  width: 0.6rem;
}

.notice_create_file_list::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #4E5869;
  border-radius: 1rem;
}

.notice_create_file_list::-webkit-scrollbar-track {
  background-color: #F1F3F4;
}

.notice_create_file_input {
  min-width: 40rem;
  width: calc(100% - 80rem);
  border: none;
}

.notice_file_cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2.4rem;
  padding: 0.6rem 0 0.6rem 0.6rem;
  box-sizing: border-box;
}

.notice_file_cell:hover {
  background-color: #F1F3F4;
}

.notice_delete_file_Btn {
  margin-right: 1rem;
  font-size: 1.6rem;
  padding-bottom: 0.2rem;
  cursor: pointer;
}

.notice_delete_file_Btn:hover {
  color: #DC1E1E;
}

.notice_contents_box {
  height: 52.2rem;
}