.creteHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.inputCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2rem;
}

.inputCellFile {
  align-items: flex-start;
  height: 8rem;
  margin-bottom: 0;
}

.inputName {
  width: 7rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #191919;
}

.noticeTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 13rem);
  height: 2.3rem;
  font-size: 1.6rem;
  color: #191919;
  cursor: default;
}

.noticeFile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 13rem);
  height: 4.3rem;
  padding: 1rem;
}

.fileBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 13rem);
  height: 8rem;
  padding: 0.4rem 1rem;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.2rem;
  box-sizing: border-box;
  overflow-y: scroll;
}

/* 스크롤바 설정*/
.fileBox::-webkit-scrollbar {
  position: absolute;
  width: 1rem;
}

/* 스크롤바 막대 설정*/
.fileBox::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #828282;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.fileBox::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.fileLink {
  font-size: 1.6rem;
  color: #191919;
  text-decoration: underline;
  margin-right: 1rem;
}

.radiobox {
  display: flex;
  align-items: center;
  width: calc(100% - 13rem);
}

.radiobox input {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.3rem 1rem 0 0;
  border: 0.1rem solid #D2D2D2;
  cursor: pointer;
}

.radiobox label {
  font-size: 1.6rem;
  color: #191919;
  margin-right: 2rem;
  cursor: pointer;
}

.noticeTextarea {
  height: auto;
  min-height: 40rem;
  padding: 1rem;
  margin: 2rem 0;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.3rem;
  cursor: default;
}

.createBtnBox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2rem;
}

.createBtnBox form {
  width: 6.5rem;
  margin-left: 1rem;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0.3rem;
  background-color: #444444;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0.3rem;
  background-color: #0069D9;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}





/*commentArea*/
.commentArea,
.commentCreateArea {
  width: calc(100% - 2rem);
  height: auto;
  padding: 1rem 1rem 0 1rem;
  margin-top: 2rem;
  background-color: white;
  border: 0.1rem solid #CDCDCE;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}

.commentArea form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.commentTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding-bottom: 0.4rem;
  font-size: 1.6rem;
  color: #191919;
  border-bottom: 0.1rem solid #CDCDCE;
}

.commentTitle span {
  margin-left: 0.6rem;
}

.commentBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: auto;
  min-height: 6rem;
  padding: 0.4rem 0 1rem 1rem;
  border-bottom: 0.1rem solid #CDCDCE;
  box-sizing: border-box;
}

.commentArea form div:nth-last-child(1) {
  border: none;
}

.commentUserDataCell {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 2rem;
}

.commentUserTitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #191919;
  margin-right: 0.6rem;
}

.commentCreateDate {
  font-size: 1.2rem;
  color: #444444;
  margin-right: 0.6rem;
}

.commentDeleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 1.6rem;
  border: 0.1rem solid #CDCDCE;
  border-radius: 0.2rem;
  box-sizing: border-box;
  background-color: white;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: red;
  cursor: pointer;
}

.commentContents {
  font-size: 1.5rem;
  color: #191919;
}






/*commentCreateArea*/
.commentCreateArea {
  height: 18rem;
}

.commentCreateArea form {
  width: 100%;
  height: 100%;
}

.commentCreateTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding-bottom: 0.4rem;
  font-size: 1.6rem;
  color: #191919;
  border-bottom: 0.1rem solid #CDCDCE;
}

.commentCreateBox {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  margin: 1rem 0;
}

.commentCreateGuide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  border: 0.1rem solid #CDCDCE;
  border-radius: 0.2rem;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #191919;
}

.commentCreateBox textarea {
  width: calc(100% - 12rem);
  height: 100%;
  padding: 1rem;
  border: 0.1rem solid #CDCDCE;
  border-radius: 0.2rem;
  box-sizing: border-box;
  outline: none;
  resize: none;
}

.commentCreateBtnCell {
  display: flex;
  justify-content: flex-end;
}