a{
  color: black;
}

.top_box_selectANDsearch{
  display: flex;
  align-items: center;
  position: absolute;
  right: 0rem;
}

.top_box_select_box{
  margin-right: 1.5rem;
}
.top_box_select{
  width: 8rem;
  height: 3rem;
  border: 0.1rem solid #B41515;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
.top_box_input_text{
  padding: 0.2rem 1rem 0.2rem 1rem;
  width: 25rem;
  height: 2.6rem;
  border: 0.1rem solid #B41515;
  border-radius: 0.5rem;
  font-display: #B41515;
}

.top_box_search_button{
  background: url("/static/images/search_button.png") no-repeat;
  position: absolute;
  right: 0.1rem;
  top: 0.4rem;
  width: 3rem;
  height: 3rem;
  border: none;
}

.top_box_search_button:focus{
  outline: none;
}

.top_box_search_button:hover{
  cursor: pointer;
}


.table_header{
  display: flex;
  border-top: 0.3rem solid #B41515;
  border-bottom: 0.3rem solid #B41515;
  height: 3rem;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  font-weight: bold;
  text-align: center;
}
.mid_box_table_header_number{
  width: 10rem;

}
.mid_box_table_header_title{
  width: 55rem;

}
.mid_box_table_header_creator{
  width: 15rem;

}
.mid_box_table_header_day{
  width: 20rem;
}
.mid_box_table_header_viewer{
  width: 10rem;

}

.table_contents{
  display: flex;
  border-bottom: 0.1rem solid grey;
  align-items: center;
  text-align: center;
  height: 2.5rem;
  font-size: 1.6rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.mid_box_table_contents_number{
  width: 10rem;
}

.mid_box_table_contents_title{
  width: 55rem;
}
.mid_box_table_contents_creator{
  width: 15rem;
  
}
.mid_box_table_contents_day{
  width: 20rem;
}
.mid_box_table_contents_viewer{
  width: 10rem;
}

.kinds_bottom_box{
  margin-top: 3rem;
  margin-bottom: 3rem;
}
