/* 버튼 */
.create_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: #61B4E5;
    cursor: pointer;
}

.create_btn:hover {
    background-color: #0069D9;
}

.delete_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: #ED5565;
    cursor: pointer;
}

.delete_btn:hover {
    background-color: #DC1E1E;
}

.basic_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: #4E5869;
    cursor: pointer;
}

.excel_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: #107C41;
    cursor: pointer;
}


/* 인풋 */

.basic_input,
.basic_select {
    width: 24rem;
    height: 2.6rem;
    padding: 0.1rem 0.4rem 0.1rem 0.6rem;
    background-color: white;
    border: 0.1rem solid #ABABAB;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.search_input {
    background-color: #F1F3F4;
    border: 0.1rem solid #CDCDCE;
}

.basic_file_box {
    position: relative;
    width: 24rem;
    height: 2.6rem;
    background-color: white;
    border: 0.1rem solid #ABABAB;
    border-radius: 0.3rem;
    box-sizing: border-box;
}

label[for=basic_file] {
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.2rem;
    height: 2.6rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    color: white;
    background-color: #4E5869;
    cursor: pointer;
}

#basic_file {
    display: none;
}

.basic_file_text {
    position: absolute;
    top: -0.1rem;
    left: 7.1rem;
    width: calc(100% - 9rem);
    height: 2.6rem;
    padding: 0.1rem 0.6rem;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

.basic_file_delete_btn {
    position: absolute;
    top: 50%;
    right: 0.4rem;
    transform: translate(0, -50%);
    cursor: pointer;
}



/* 컨테이너 */
.basic_container {
    width: 100%;
    height: 4.2rem;
    background-color: white;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
    border-radius: 0.3rem;
}








/* 팝업 */
.basic_popup {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    display: none;
    width: calc(100% - 20rem);
    height: 100vh;
}

.basic_popup_bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.basic_popup_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    padding: 0 2rem;
    background-color: white;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
    border-radius: 0.3rem;
    box-sizing: border-box;
}

.basic_popup_main_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 0.4rem;
    height: 3.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-bottom: 0.1rem solid black;
}

.basic_popup_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 0.4rem;
    height: 3.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    border-bottom: 0.1rem solid black;
}

.basic_popup_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 13rem);
    padding: 2rem 0;
}

.popup_input_article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.6rem;
}

.popup_input_article label {
    text-align: justify;
    font-size: 1.4rem;
    width: 9rem;
    line-height: 0;
}

.popup_input_article label::before,
.popup_input_article label::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.essential_impact {
    color: red;
}

.popup_input_article .basic_input {
    width: calc(100% - 11rem);
}

.basic_popup_footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4.6rem;
    border-top: 0.1rem solid #CDCDCE;
}



/* 스크롤 테이블 */
.basic_table_header_box {
    width: 100%;
    background-color: #4E5869;
}

.basic_table_head {
    width: calc(100% - 0.6rem);
    padding-right: 0.6rem;
    box-sizing: border-box;
}

.basic_table_head_tr {
    width: 100%;
    height: 4.2rem;
}

.basic_table_head_tr_td {
    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;
    height: 100%;
    color: white;
}

.basic_table_scroll_box {
    width: 100%;
    min-height: 9.6rem;
    overflow-y: scroll;
}

.basic_table_scroll_box::-webkit-scrollbar {
    width: 0.6rem;
}

.basic_table_scroll_box::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #4E5869;
    border-radius: 1rem;
}

.basic_table_scroll_box::-webkit-scrollbar-track {
    background-color: #F1F3F4;
}

.basic_scroll_table {
    width: 100%;
}

.basic_table_scroll_box td {
    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;
    height: 4.2rem;
}

.basic_table_scroll_box tr:nth-child(odd) {
    background-color: white;
}

.basic_table_scroll_box tr:nth-child(even) {
    background-color: #EFF0F2;
}

.basic_table_header_box input[type=checkbox],
.basic_table_scroll_box input[type=checkbox] {
    zoom: 1.2;
    cursor: pointer;
}


/* 고정 테이블 */
.basic_fixed_table {
    width: 100%;
}

.basic_fixed_table_head {
    background-color: #4E5869;
    color: white;
    height: 4.2rem;
}

.basic_fixed_table_head {
    background-color: #4E5869;
    color: white;
    height: 4.2rem;
}

.basic_fixed_table_head td{
    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;
}

.basic_fixed_table_body {
    height: 4.2rem;
}

.basic_fixed_table_body td{
    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;
}

.basic_fixed_table_body:nth-child(odd){
    background-color: white;
}

.basic_fixed_table_body:nth-child(even){
    background-color: #EFF0F2;
}




/* 페이지네이션 */
.pagenation_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.2rem;
    border-top: 0.1rem solid #CDCDCD;
  }
  
  .pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
    width: auto;
    height: 100%;
  }
  
  .pagenation_number_box{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page-item{
    margin: 0 0.6rem;
  }
  
  .page-item a{
    color: black;
  }
  
  .page-activate a{
    font-weight: 700;
    color: #61B4E5;
  }
  
  .page-pre,
  .page-pre a,
  .page-next,
  .page-next a{
    color: black;
    font-weight: 700;
  }

  .page-pre{
    margin-right: 1.2rem;
  }

  .page-next{
    margin-left: 1.2rem;
  }




/* 반응형 */
@media screen and (min-width: 1921px) {
    .basic_popup {
        width: calc(100% - 22rem);
    }

    .basic_popup_box {
        width: 64rem;
        padding: 0 3rem;
        border-radius: 0.3rem;
    }

    .basic_popup_main_header {
        padding-top: 0.5rem;
        height: 4rem;
        font-size: 1.8rem;
    }

    .basic_popup_header {
        padding-top: 0.5rem;
        height: 4rem;
        font-size: 1.6rem;
    }

    .basic_popup_body {
        padding: 3rem 0;
        height: calc(100% - 16.5rem);
    }

    .popup_input_article {
        height: 2.8rem;
    }

    .popup_input_article label {
        font-size: 1.6rem;
        width: 11rem;
    }

    .popup_input_article .basic_input {
        width: calc(100% - 14rem);
    }

    .basic_popup_footer {
        height: 6rem;
    }

    .create_btn {
        width: 7rem;
        height: 2.8rem;
        border-radius: 0.4rem;
        font-size: 1.6rem;
    }

    .delete_btn {
        width: 7rem;
        height: 2.8rem;
        border-radius: 0.4rem;
        font-size: 1.6rem;
    }

    .basic_btn {
        display: flex;
        width: 7rem;
        height: 2.8rem;
        border-radius: 0.4rem;
        font-size: 1.6rem;
    }

    .excel_btn {
        width: 7rem;
        height: 2.8rem;
        border-radius: 0.4rem;
        font-size: 1.6rem;
    }

    .basic_input,
    .basic_select {
        width: 26rem;
        height: 2.8rem;
        padding: 0.1rem 0.4rem 0.1rem 0.8rem;
        font-size: 1.6rem;
    }

    .basic_file_box {
        width: 26rem;
        height: 2.8rem;
    }

    .basic_table_head_tr {
        width: 100%;
        height: 4.6rem;
    }

    .basic_table_head_tr_td {
        padding-left: 1.4rem;
    }

    .basic_table_scroll_box {
        min-height: 10.2rem;
    }

    .basic_table_scroll_box::-webkit-scrollbar {
        width: 0.8rem;
    }

    .basic_table_scroll_box td {
        padding-left: 1.4rem;
        height: 4.6rem;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1536px) {
    .basic_popup {
        width: calc(100% - 18rem);
    }

    .basic_popup_box {
        width: 56rem;
        padding: 0 1.5rem;
        border-radius: 0.3rem;
    }

    .basic_popup_main_header {
        padding-top: 0.3rem;
        height: 3.6rem;
        font-size: 1.4rem;
    }

    .basic_popup_header {
        padding-top: 0.3rem;
        height: 3.6rem;
        font-size: 1.2rem;
    }

    .basic_popup_body {
        padding: 1.5rem 0;
        height: calc(100% - 11.5rem);
    }

    .popup_input_article {
        height: 2.4rem;
    }

    .popup_input_article label {
        font-size: 1.2rem;
        width: 8rem;
    }

    .popup_input_article .basic_input {
        width: calc(100% - 9.5rem);
    }

    .basic_popup_footer {
        height: 4.2rem;
    }

    .create_btn {
        width: 5rem;
        height: 2.4rem;
        border-radius: 0.3rem;
        font-size: 1.2rem;
    }

    .delete_btn {
        width: 5rem;
        height: 2.4rem;
        border-radius: 0.3rem;
        font-size: 1.2rem;
    }

    .basic_btn {
        display: flex;
        width: 5rem;
        height: 2.4rem;
        border-radius: 0.3rem;
        font-size: 1.2rem;
    }

    .excel_btn {
        width: 5rem;
        height: 2.4rem;
        border-radius: 0.3rem;
        font-size: 1.2rem;
    }

    .basic_input,
    .basic_select {
        width: 22rem;
        height: 2.4rem;
        padding: 0.1rem 0.4rem 0.1rem 0.6rem;
        font-size: 1.2rem;
    }

    .basic_file_box {
        width: 22rem;
        height: 2.4rem;
    }

    .basic_table_head_tr {
        width: 100%;
        height: 3.8rem;
    }

    .basic_table_head_tr_td {
        padding-left: 0.8rem;
    }

    .basic_table_scroll_box {
        min-height: 8.4rem;
    }

    .basic_table_scroll_box::-webkit-scrollbar {
        width: 0.5rem;
    }

    .basic_table_scroll_box td {
        padding-left: 0.8rem;
        height: 3.8rem;
    }

}

@media screen and (max-width: 1366px) {
    .basic_popup {
        width: calc(100% - 16rem);
    }

    .basic_popup_box {
        width: 52rem;
        padding: 0 1rem;
        border-radius: 0.3rem;
    }

    .basic_popup_main_header {
        padding-top: 0.2rem;
        height: 3.4rem;
        font-size: 1.2rem;
    }

    .basic_popup_header {
        padding-top: 0.2rem;
        height: 3.4rem;
        font-size: 1rem;
    }

    .basic_popup_body {
        padding: 1rem 0;
        height: calc(100% - 9.5rem);
    }

    .popup_input_article {
        height: 2.2rem;
    }

    .popup_input_article label {
        font-size: 1rem;
        width: 6rem;
    }

    .popup_input_article .basic_input {
        width: calc(100% - 7rem);
    }

    .basic_popup_footer {
        height: 3.8rem;
    }

    .create_btn {
        width: 4rem;
        height: 2.2rem;
        border-radius: 0.2rem;
        font-size: 1rem;
    }

    .delete_btn {
        width: 4rem;
        height: 2.2rem;
        border-radius: 0.2rem;
        font-size: 1rem;
    }

    .basic_btn {
        display: flex;
        width: 4rem;
        height: 2.2rem;
        border-radius: 0.2rem;
        font-size: 1rem;
    }

    .excel_btn {
        width: 4rem;
        height: 2.2rem;
        border-radius: 0.2rem;
        font-size: 1rem;
    }

    .basic_input,
    .basic_select {
        width: 20rem;
        height: 2.2rem;
        padding: 0.1rem 0.4rem 0.1rem 0.4rem;
        font-size: 1rem;
    }

    .basic_file_box {
        width: 20rem;
        height: 2.2rem;
    }

    .basic_table_head_tr {
        width: 100%;
        height: 3.4rem;
    }

    .basic_table_head_tr_td {
        padding-left: 0.6rem;
    }

    .basic_table_scroll_box {
        min-height: 7.6rem;
    }

    .basic_table_scroll_box::-webkit-scrollbar {
        width: 0.4rem;
    }

    .basic_table_scroll_box td {
        padding-left: 0.6rem;
        height: 3.4rem;
    }
}