{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/vehicle/efficiency.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    대당효율
</div>
{% endblock %}

<!-- Content Block -->
{% block content %}
<div class="all-container efficiency-div">
    <div class="search-container efficiency-div"> <!-- 검색 box-->
        <div class="search-dispatch-path-box efficiency-div">
            <input type="text" placeholder="노선명" class="search-dispatch-path">
            <input type="date" class="search-dispatch-path-date">
            <input type="button" value="오늘" onclick="setToday()" class="dispatch-path-today-button">
            <input type="button" value="" onclick="setDayBefore()" class="day-before-button">
            <input type="button" value="" onclick="setDayAfter()" class="day-after-button">
            <input type="button" value="검색" class="dispatch-path-search-button">
        </div>

        <div class="search-detail-box efficiency-div">
            <table class="search-detail-table">
                <tr> <!-- 이름 및 출퇴근 -->
                    <td class="name-td">차량번호</td>
                    <td class="name-input-td-background">
                        <input type="text" class="name-input-td">
                    </td>
                    <td class="work-time-td">출/퇴근</td>
                    <td class="work-time-input-td">
                        <div class="work-time">
                            <input type="radio" name="work-time" checked>
                            <label for="attendance" class="work-time-label">출근</label>
                        </div>
                        <div class="work-time">
                            <input type="radio" name="work-time">
                            <label for="leave_work" class="work-time-label">퇴근</label>
                        </div>
                    </td>
                </tr>
                <tr> <!-- 급여 및 급여 형태 -->
                    <td class="salary-td">운행수</td>
                    <td class="salary-input-td-background">
                        <input type="text" class="salary-input-td">
                    </td>
                    <td class="salary-form-td">차량값</td>
                    <td class="salary-form-input-td-background">
                        <input type="text" class="salary-form-input-td">
                    </td>
                </tr>
            </table>
        </div>

        <div class="search-filter-box efficiency-div">
            <div class="search-filter-buttons-box">
                <input type="button" value="일별" class="search-filter-button">
                <input type="button" value="주별" class="search-filter-button">
                <input type="button" value="월별" class="search-filter-button">
                <input type="button" value="운행량 높은 순" class="search-filter-button sales-filter">
            </div>
            <div class="search-filter-print-box">
                <input type="button" value="인쇄" class="search-filter-button">
            </div>
        </div>

        <div class="search-table-box efficiency-div">
            <table class="table-list">
                <thead class="scrolling_table-list_header">
                    <tr class="table-list_head-tr">
                        <td class="table-list_head-tr_td">
                            <input type="checkbox" class="amountCheckAll">
                        </td>
                        <td class="table-list_head-tr_td">번호</td>
                        <td class="table-list_head-tr_td">순수익</td>
                        <td class="table-list_head-tr_td">차량값</td>
                        <td class="table-list_head-tr_td">매출액</td>
                        <td class="table-list_head-tr_td">운행수</td>
                        <td class="table-list_head-tr_td">KM</td>
                        <td class="table-list_head-tr_td">시간</td>
                        <td class="table-list_head-tr_td">유류비</td>
                        <td class="table-list_head-tr_td">수리비</td>
                        <td class="table-list_head-tr_td">공차</td>
                        <td class="table-list_head-tr_td">보험료</td>
                        <td class="table-list_head-tr_td">차고지</td>
                        <td class="table-list_head-tr_td">연식</td>
                        <td class="table-list_head-tr_td">이름</td>
                    </tr>
                </thead>

                <tbody class="scrolling_table-list_body">
                    <tr class="table-list_body-tr salaryList cursor">
                        <td class="table-list_body-tr_td">
                            <input tabindex="100" type="checkbox" class="amountCheck" name="member_id"
                                value="{{member.id}}">
                        </td>
                        <td class="table-list_body-tr_td">0</td> <!-- 번호 -->
                        <td class="table-list_body-tr_td">
                            800만</td> <!-- 순수익 -->
                        <td class="table-list_body-tr_td">2억1000만</td> <!-- 차량값 -->
                        <td class="table-list_body-tr_td">7200만</td> <!-- 매출액 -->
                        <td class="table-list_body-tr_td">396</td> <!-- 운행수 -->
                        <td class="table-list_body-tr_td">
                            7000KM <!-- KM -->
                        </td>
                        <td class="table-list_body-tr_td">
                            100시간 <!-- 시간 -->
                        </td>
                        <td class="table-list_body-tr_td">
                            52 <!-- 유류비 -->
                        </td>
                        <td class="table-list_body-tr_td">
                            230 <!-- 수리비 -->
                        </td>
                        <td class="table-list_body-tr_td">
                            0 <!-- 공차 -->
                        </td>
                        <td class="table-list_body-tr_td">
                            70 <!-- 보험료 -->
                        </td>
                        <td class="table-list_body-tr_td">
                            고색동 <!-- 차고지 -->
                        </td>
                        <td class="table-list_body-tr_td">
                            2021. 11. 22 <!-- 연식 -->
                        </td>
                        <td class="table-list_body-tr_td">
                            유니버스 <!-- 이름 -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}

<!-- Popup Block -->
{% block popup %}
{% endblock %}

<!-- Script Block -->
{% block script %}
<script src="{% static 'js/vehicle/efficiency.js' %}"></script>

{% endblock %}


<!-- <div class="run-container efficiency-div"> 
    <div class="total-run-box efficiency-div"> 
        
        <div class="total-run-title-box efficiency-div">
            <p class="total-run-title-label">총 운행량 달성 비율</p>
        </div>

        <div class="total-run-content-box efficiency-div">
            <div class="total-run-chart-box">
                <div class="total-run-pie-chart efficiency-div">
                    <span class="total-run-pie-chart-center">
                        76%
                    </span>
                </div>

                <div class="total-run-chart-description-box efficiency-div">
                    <div class="total-run-chart-description-input-box">
                        <input class="total-run-chart-filter-button" type="button" value="월별">
                    </div>
                    <div class="total-run-chart-description-span-box">
                        <div class="total-run-chart-description-span-box-child" id="total-target-driving-amount">
                            <span>목표 운행량: 8000KM</span>
                        </div>
                        <div class="total-run-chart-description-span-box-child">
                            <img class="total-run-description-image" src="/static/images/blueCircle.png" alt="">
                            <span>달성: 평균 운행량 이상</span>
                        </div>
                        <div class="total-run-chart-description-span-box-child">
                            <img class="total-run-description-image" src="/static/images/redCircle.png" alt="">
                            <span>미달성: 평균 운행량 미만</span>
                        </div>
                        <div class="total-run-chart-description-span-box-child">
                            <img class="total-run-description-image" src="/static/images/yellowCircle.png" alt="">
                            <span>미배차: 사용하지 않는 차량</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="total-run-average-figure-box efficiency-div">
                <div class="total-run-average-figure-title-box efficiency-div">
                    <p class="total-run-average-figure-title-label">평균 운행량</p>
                </div>
                <table class="run-table">
                    <thead class="run-table-head">
                        <tr class="run-table-head-tr">
                            <td class="run-table-head-tr-td">운행수</td>
                            <td class="run-table-head-tr-td">거리</td>
                            <td class="run-table-head-tr-td">기름 사용량</td>
                        </tr>
                    </thead>
                    <tbody class="run-table-body">
                        <tr class="run-table-body-tr">
                            <td class="run-table-body-tr-td">120</td>
                            <td class="run-table-body-tr-td">5280KM</td>
                            <td class="run-table-body-tr-td">800L</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="personal-run-box efficiency-div">
        
        <div class="personal-run-title-box efficiency-div">
            <p class="personal-run-title-label">개인 운행량 달성 비율</p>
        </div>

        <div class="personal-run-content-box efficiency-div">
            <div class="personal-run-chart-box efficiency-div">
                <div class="personal-run-pie-chart efficiency-div">
                    <span class="personal-run-pie-chart-center">
                        76%
                    </span>
                </div>

                <div class="personal-run-chart-description-box efficiency-div">
                    <div class="personal-run-chart-description-span-box">
                        <div class="personal-run-chart-description-span-box-child" id="personal-target-driving-amount">
                            <span>목표 운행량: 6400KM</span>
                        </div>
                        <div class="personal-run-chart-description-span-box-child">
                            <img class="personal-run-description-image" src="/static/images/blueCircle.png" alt="">
                            <span>달성: 현재 달성한 운행량</span>
                        </div>
                        <div class="personal-run-chart-description-span-box-child">
                            <img class="personal-run-description-image" src="/static/images/yellowCircle.png" alt="">
                            <span>미달성: 앞으로 달성해야 할 운행량</span>
                        </div>
                    </div>
                    <div class="personal-run-chart-description-name-box">
                        <span class="personal-run-chart-description-name">차량번호 - 7786</span>
                    </div>
                </div>
            </div>

            <div class="personal-run-average-figure-box efficiency-div">
                <div class="personal-run-average-figure-title-box efficiency-div">
                    <p class="personal-run-average-figure-title-label">평균 운행량</p>
                </div>
                <table class="run-table">
                    <thead class="run-table-head">
                        <tr class="run-table-head-tr">
                            <td class="run-table-head-tr-td">운행수</td>
                            <td class="run-table-head-tr-td">거리</td>
                            <td class="run-table-head-tr-td">유류비</td>
                        </tr>
                    </thead>
                    <tbody class="run-table-body">
                        <tr class="run-table-body-tr">
                            <td class="run-table-body-tr-td">120</td>
                            <td class="run-table-body-tr-td">5280KM</td>
                            <td class="run-table-body-tr-td">800L</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div> -->