{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/vehicle/list.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    차량목록
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">검색종류</span>
            <div class="FilterBox">
                <select name="select" id="" class="inputModules">
                    <option {% if select == 'vehicle' %} selected {% endif %} value="vehicle">차량번호</option>
                    <option {% if select == 'driver' %} selected {% endif %} value="driver">담당기사</option>
                    <option {% if select == 'passenger' %} selected {% endif %} value="passenger">승차인원</option>
                </select>
                <input value="{{search}}" name="search" type="text" class="inputModules" list="hrFilter"
                    autocomplete="off">
                <datalist id="hrFilter">
                    {% for member in member_list %}
                    <option value="{{member.name}}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <input type="submit" value="검색" class="btnModules">
        </div>
    </form>
    <div class="addVehicle">차량등록</div>
</div>




<form method="post" action="{% url 'vehicle:vehicle_delete' %}" class="vehicleListForm">
    {% csrf_token %}
    <div class="contentsAreaBox">
        <table class="tableHead">
            <thead>
                <tr class="headerLine">
                    <td>선택</td>
                    <td>순번</td>
                    <td>차량번호</td>
                    <td>담당기사</td>
                    <td>차량이름</td>
                    <td>승차인원</td>
                    <td>년식</td>
                    <td>출고일자</td>
                    <td>차량등록증</td>
                    <td>보험영수증</td>
                </tr>
            </thead>
        </table>

        <table class="tableBody">
            <tbody>
                {% for vehicle in vehicle_list %}
                <tr class="{{vehicle.id}}">
                    <td>
                        <input name="check" value="{{vehicle.id}}" type="checkbox">
                    </td>
                    <td></td>
                    <td class="{{ forloop.counter0 }}">
                        <div>{{vehicle.vehicle_num0}} {{vehicle.vehicle_num}}</div>
                    </td>
                    <td>{{vehicle.driver_name}}</td>
                    <td>{{vehicle.vehicle_type}}</td>
                    <td>{{vehicle.passenger_num}}</td>
                    <td>{{vehicle.model_year}}</td>
                    <td>{{vehicle.release_date}}</td>
                    {% with list=file_list|index:forloop.counter0 %}
                    <td>
                        <div onclick="openViweBlankVehilcle('/vehicle/list/image/{{list.0.id}}')">{{list.0.filename}}
                        </div>
                    </td>
                    <td>
                        <div onclick="openViweBlankInsurance('/vehicle/list/image/{{list.1.id}}')">{{list.1.filename}}
                        </div>
                    </td>
                    {% endwith %}
                </tr>
                {% endfor %}
                <tr class="blanckTr"></tr>
            </tbody>
        </table>

        <div class="btnAreaBox">
            <div class="pagination">
                <!-- 페이징 처리 -->
                {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <div class="page-item page-pre">
                        <a class="page-link"
                            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.previous_page_number }}"
                            tabindex="-1">이전</a>
                    </div>
                    {% else %}
                    <div class="page-item page-pre disabled">
                        <a class="page-link" href="#" tabindex="-1">이전</a>
                    </div>
                    {% endif %}
                    {% for page in page_range %}
                    <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
                        <a class="page-link"
                            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page }}">{{ page }}</a>
                    </div>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <div class="page-item">
                        <a class="page-link page-next"
                            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.next_page_number }}">다음</a>
                    </div>
                    {% else %}
                    <div class="page-item page-next disabled">
                        <a class="page-link" href="#">다음</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="btnBox">
                <input type="submit" value="삭제" class="btnModules">
            </div>

        </div>
    </div>
</form>





{% endblock %}





{% block popup %}
<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'vehicle:vehicle_create' %}" class="popupContainer popupContainerDouble"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">차량등록</div>
        </div>
        <div class="popupBody">
            <div class="popupSection">
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량번호</label>
                        <div class="vehicleNumBox">
                            <input name="vehicle_num0" type="text" class="popupArticleInput">
                            <input name="vehicle_num" type="text" class="popupArticleInput">
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">담당기사</label>
                        <select name="driver" class="popupArticleInput">
                            <option></option>
                            {% for driver in driver_list %}
                            <option value="{{driver.id}}">{{driver.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">사용여부</label>
                        <select name="use" id="" class="popupArticleInput">
                            <option value="y">사용</option>
                            <option value="n">미사용</option>
                        </select>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">제조사</label>
                        <input name="maker" type="text" class="popupArticleInput">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량이름</label>
                        <input name="vehicle_type" type="text" class="popupArticleInput">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차대번호</label>
                        <input name="vehicle_id" type="text" class="popupArticleInput">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">???</label>
                        <input type="text" class="popupArticleInput">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">연식</label>
                        <input name="model_year" type="number" class="popupArticleInput">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">출고일자</label>
                        <input name="release_date" type="date" class="popupArticleInput" max="9999-12-31">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">승차인원</label>
                        <input name="passenger_num" type="text" class="popupArticleInput">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">원동기형식</label>
                        <input name="motor_type" type="text" class="popupArticleInput">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정격출력</label>
                        <input name="rated_output" type="text" class="popupArticleInput">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정기점검<br>검사일</label>
                        <input name="" type="date" class="popupArticleInput" max="9999-12-31">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">검사 유효기간 만료일</label>
                        <input name="check_duration" type="date" class="popupArticleInput" max="9999-12-31">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량등록증</label>
                        <div class="popupArticleFileDouble">
                            <label for="BusLicenseFile">파일 선택</label>
                            <input name="vehicle_registration" id="BusLicenseFile" type="file" class="popupArticleInput BusLicenseFileInput">
                            <input type="text" class="BusLicenseFileText" readonly>
                            <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                                viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)"
                                        fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                                    <line id="선_692" data-name="선 692" y2="12"
                                        transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000"
                                        stroke-linecap="round" stroke-width="2" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">보험영수증</label>
                        <div class="popupArticleFileDouble">
                            <label for="insuranceFile">파일 선택</label>
                            <input name="insurance_receipt" id="insuranceFile" type="file" class="popupArticleInput insuranceFileInput">
                            <input type="text" class="insuranceFileText" readonly>
                            <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                                viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)"
                                        fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                                    <line id="선_692" data-name="선 692" y2="12"
                                        transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000"
                                        stroke-linecap="round" stroke-width="2" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popupFooter">
                <input type="submit" class="btnModules createBtn" value="등록">
                <div class="btnModules closeBtn">닫기</div>
            </div>
        </div>
    </form>
</div>




<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'vehicle:vehicle_edit' %}" class="popupContainer popupContainerDouble"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">차량상세</div>
        </div>
        <div class="popupBody">
            <div class="popupSection popupSectionDetail">
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량번호</label>
                        <div class="vehicleNumBox">
                            <div class="PopupData"></div>
                            <div class="PopupData"></div>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">담당기사</label>
                        <div class="PopupData"></div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">사용여부</label>
                        <div class="PopupData"></div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">제조사</label>
                        <div class="PopupData"></div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량이름</label>
                        <div class="PopupData"></div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차대번호</label>
                        <div class="PopupData"></div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">???</label>
                        <div class="PopupData"></div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">연식</label>
                        <div class="PopupData"></div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">출고일자</label>
                        <div class="PopupData"></div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">승차인원</label>
                        <div class="PopupData"></div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">원동기형식</label>
                        <div class="PopupData"></div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정격출력</label>
                        <div class="PopupData"></div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정기점검<br>검사일</label>
                        <div class="PopupData"></div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">검사 유효기간 만료일</label>
                        <div class="PopupData"></div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량등록증</label>
                        <div class="PopupData"></div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">보험영수증</label>
                        <div class="PopupData"></div>
                    </div>
                </div>
            </div>
            <div class="popupSection popupSectionEdit">
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량번호</label>
                        <div class="vehicleNumBox">
                            <input name="vehicle_num0" type="text" class="popupArticleInput vehicleNum1">
                            <input name="vehicle_num" type="text" class="popupArticleInput vehicleNum2">
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">담당기사</label>
                        <select name="driver" class="popupArticleInput driver_name">
                            <option></option>
                            {% for driver in driver_list %}
                            <option value="{{driver.id}}">{{driver.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">사용여부</label>
                        <select name="use" id="" class="popupArticleInput use">
                            <option value="y">사용</option>
                            <option value="n">미사용</option>
                        </select>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">제조사</label>
                        <input name="maker" type="text" class="popupArticleInput maker">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량이름</label>
                        <input name="vehicle_type" type="text" class="popupArticleInput vehicle_type">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차대번호</label>
                        <input name="vehicle_id" type="text" class="popupArticleInput vehicle_id">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">???</label>
                        <input type="text" class="popupArticleInput">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">연식</label>
                        <input name="model_year" type="number" class="popupArticleInput model_year">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">출고일자</label>
                        <input name="release_date" type="date" class="popupArticleInput release_date" max="9999-12-31">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">승차인원</label>
                        <input name="passenger_num" type="text" class="popupArticleInput passenger_num">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">원동기형식</label>
                        <input name="motor_type" type="text" class="popupArticleInput motor_type">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정격출력</label>
                        <input name="rated_output" type="text" class="popupArticleInput rated_output">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정기점검<br>검사일</label>
                        <input name="" type="date" class="popupArticleInput" max="9999-12-31">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">검사 유효기간 만료일</label>
                        <input name="check_duration" type="date" class="popupArticleInput check_duration" max="9999-12-31">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량등록증</label>
                        <div class="popupArticleFileDouble">
                            <label for="BusLicenseFileEdit">파일 선택</label>
                            <input name="vehicle_registration" id="BusLicenseFileEdit" type="file" class="popupArticleInput BusLicenseFileInputEdit">
                            <input type="text" class="BusLicenseFileTextEdit" readonly>
                            <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                                viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)"
                                        fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                                    <line id="선_692" data-name="선 692" y2="12"
                                        transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000"
                                        stroke-linecap="round" stroke-width="2" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">보험영수증</label>
                        <div class="popupArticleFileDouble">
                            <label for="insuranceFileEdit">파일 선택</label>
                            <input name="insurance_receipt" id="insuranceFileEdit" type="file" class="popupArticleInput insuranceFileInputEdit">
                            <input type="text" class="insuranceFileTextEdit" readonly>
                            <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                                viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)"
                                        fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                                    <line id="선_692" data-name="선 692" y2="12"
                                        transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000"
                                        stroke-linecap="round" stroke-width="2" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="" name="id" class="sendToHidden">
            </div>
            <div class="popupFooter popupFooterDetail">
                <input type="submit" class="btnModules createBtn" value="등록">
                <div class="btnModules editBtn">수정</div>
                <div class="btnModules closeBtn">닫기</div>
            </div>
        </div>
    </form>
</div>




<!-- <div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'vehicle:vehicle_edit' %}" class="detailPopupContainer"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="PopupTitle">차량수정</div>
        <div class="PopupDataArea PopupDataAreaDetail">
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차량번호</span>
                <div class="vehicleNumBox">
                    <div class="PopupData"></div>
                    <div class="PopupData"></div>
                </div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">담당기사</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">사용여부</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">제조사</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차량이름</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차대번호</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">연식</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">출고일자</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">승차인원</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">원동기형식</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">정격출력</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">보험 만료일</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">검사 유효기간 만료일</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차량 등록증</span>
                <div class="PopupData"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">보험영수증</span>
                <div class="PopupData"></div>
            </div>
        </div>
        <div class="PopupDataArea PopupDataAreaEdit">
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차량번호</span>
                <div class="vehicleNumBox">
                    <input name="vehicle_num0" type="text" class="PopupDataInput vehicleNum1">
                    <input name="vehicle_num" type="text" class="PopupDataInput vehicleNum2">
                </div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">담당기사</span>
                <select name="driver" id="" class="PopupDataInput driver_name">
                    <option></option>
                    {% for driver in driver_list %}
                    <option value="{{driver.id}}">{{driver.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">사용여부</span>
                <select name="use" id="" class="PopupDataInput use">
                    <option value="y">사용</option>
                    <option value="n">미사용</option>
                </select>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">제조사</span>
                <input name="maker" type="text" class="PopupDataInput maker">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차량이름</span>
                <input name="vehicle_type" type="text" class="PopupDataInput vehicle_type">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차대번호</span>
                <input name="vehicle_id" type="text" class="PopupDataInput vehicle_id">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">연식</span>
                <input name="model_year" type="text" class="PopupDataInput model_year">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">출고일자</span>
                <input name="release_date" type="date" class="PopupDataInput release_date">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">승차인원</span>
                <input name="passenger_num" type="number" class="PopupDataInput passenger_num">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">원동기형식</span>
                <input name="motor_type" type="text" class="PopupDataInput motor_type">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">정격출력</span>
                <input name="rated_output" type="text" class="PopupDataInput rated_output">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">보험만료일</span>
                <input name="insurance_expiry_date" type="date" class="PopupDataInput insurance_expiry_date">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">검사 유효기간 만료일</span>
                <input name="check_duration" type="date" class="PopupDataInput check_duration">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차량 등록증</span>
                <div class="fileForm">
                    <label for="vehicleFile" class="fileLabel">파일찾기</label>
                    <input name="vehicle_registration_name" class="PopupDataInput fileNameBox" readonly>
                    <svg class="fileDeletBtn" xmlns="http://www.w3.org/2000/svg" width="14.829" height="14.542"
                        viewBox="0 0 14.829 14.542">
                        <g id="그룹_930" data-name="그룹 930" transform="translate(-3537.086 5807.914)">
                            <line id="선_624" data-name="선 624" x2="11.706" y2="11.714"
                                transform="translate(3538.5 -5806.5)" fill="none" stroke="#707070"
                                stroke-linecap="round" stroke-width="2" />
                            <line id="선_625" data-name="선 625" x1="11.706" y2="11.714"
                                transform="translate(3538.794 -5806.5)" fill="none" stroke="#707070"
                                stroke-linecap="round" stroke-width="2" />
                        </g>
                    </svg>
                    <input name="vehicle_registration" id="vehicleFile" type="file">
                </div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">보험영수증</span>
                <div class="fileForm">
                    <label for="insuranceFile" class="fileLabel">파일찾기</label>
                    <input name="insurance_receipt_name" class="PopupDataInput fileNameBox" readonly>
                    <svg class="fileDeletBtn" xmlns="http://www.w3.org/2000/svg" width="14.829" height="14.542"
                        viewBox="0 0 14.829 14.542">
                        <g id="그룹_930" data-name="그룹 930" transform="translate(-3537.086 5807.914)">
                            <line id="선_624" data-name="선 624" x2="11.706" y2="11.714"
                                transform="translate(3538.5 -5806.5)" fill="none" stroke="#707070"
                                stroke-linecap="round" stroke-width="2" />
                            <line id="선_625" data-name="선 625" x1="11.706" y2="11.714"
                                transform="translate(3538.794 -5806.5)" fill="none" stroke="#707070"
                                stroke-linecap="round" stroke-width="2" />
                        </g>
                    </svg>
                    <input name="insurance_receipt" id="insuranceFile" type="file">
                </div>
            </div>
            <input type="hidden" value="" name="id" class="sendToHidden">
        </div>
        <div class="PopupBtnBox">
            <div class="btnModules closeBtn">닫기</div>
            <div class="btnModules editBtn">수정</div>
            <input type="submit" class="btnModules saveBtn" value="저장">
        </div>
    </form>
</div> -->

{% endblock %}






{% block script %}
<script>
    let regDatas = [
        {% for vehicle in vehicle_list %}
          {
            vehicle_num0: "{{ vehicle.vehicle_num0 }}",
            vehicle_num: "{{ vehicle.vehicle_num }}",
            vehicle_id: "{{ vehicle.vehicle_id }}",
            motor_type: "{{ vehicle.motor_type }}",
            rated_output: "{{ vehicle.rated_output }}",
            vehicle_type: "{{ vehicle.vehicle_type }}",
            maker: "{{ vehicle.maker }}",
            model_year: "{{ vehicle.model_year }}",
            release_date: "{{ vehicle.release_date }}",
            driver: "{{ vehicle.driver }}",
            driver_name: "{{ vehicle.driver_name }}",
            use: "{{ vehicle.use }}",
            passenger_num: "{{ vehicle.passenger_num }}",
            check_duration: "{{ vehicle.check_duration }}",
            insurance_expiry_date: "{{ vehicle.insurance_expiry_date }}",
            {% with list=file_list|index:forloop.counter0 %}
            vehicle_registration: "{{list.0.filename}}",
            insurance_receipt: "{{list.1.filename}}",
            {% endwith %}
          },
        {% endfor %}
    ]
    console.log(regDatas)

    function openViweBlankVehilcle(url) {
        window.open(url, "차량등록증", "width=630, height=891")
    }
    function openViweBlankInsurance(url) {
        window.open(url, "보험영수증", "width=630, height=891")
    }

</script>
<script src="{% static 'js/vehicle/list.js' %}"></script>
{% endblock %}