{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/document/company.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/vehicle/list.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    차량관리
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">검색종류</span>
            <div class="FilterBox">
                <select name="select" class="inputModules">
                    <option {% if select == 'vehicle' %} selected {% endif %} value="vehicle">차량번호</option>
                    <option {% if select == 'driver' %} selected {% endif %} value="driver">담당기사</option>
                    <option {% if select == 'passenger' %} selected {% endif %} value="passenger">승차인원</option>
                </select>
                <input autocomplete="off" value="{{search}}" name="search" type="text" class="inputModules" list="hrFilter">
                <datalist id="hrFilter">
                    {% for member in member_list %}
                    <option value="{{member.name}}"></option>
                    {% endfor %}
                </datalist>
                <select name="use" class="inputModules">
                    <option {% if use == '사용' %} selected {% endif %} value="사용">사용</option>
                    <option {% if use == '미사용' %} selected {% endif %} value="미사용">미사용</option>
                </select>
            </div>
            <input autocomplete="off" type="submit" value="검색" class="btnModules">
        </div>
    </form>
    <div class="searchAreaRight">
        <div class="searchAreaBtn uploadExcel">엑셀 업로드</div>
        <div id="downloadExcel" class="searchAreaBtn">엑셀 다운로드</div>
        <div class="searchAreaBtn addVehicle">차량등록</div>
    </div>
</div>




<form method="post" action="{% url 'vehicle:vehicle_delete' %}" class="vehicleListForm">
    {% csrf_token %}
    <div class="contentsAreaBox">
        <table class="tableHead">
            <thead>
                <tr class="headerLine">
                    <td>선택</td>
                    <td>순번</td>
                    <td>차량번호</td>
                    <td>담당기사</td>
                    <td>차고지</td>
                    <td>제조사</td>
                    <td>차량이름</td>
                    <td>승차인원</td>
                    <td>모델연도</td>
                    <td>정기점검일</td>
                    <td>차량사진</td>
                    <td>정비내역</td>
                    <td>상세정보</td>
                    <td>차량서류</td>
                </tr>
            </thead>
        </table>

        <table class="tableBody">
            <tbody>
                {% for vehicle in vehicle_list %}
                <tr class="{{vehicle.id}} {{forloop.counter0}}">
                    <td>
                        <input autocomplete="off" name="check" value="{{vehicle.id}}" type="checkbox">
                    </td>
                    <td>{{start_num|add:forloop.counter0}}</td>
                    <td>
                        <div>{{vehicle.vehicle_num0}} {{vehicle.vehicle_num}}</div>
                    </td>
                    <td>{{vehicle.driver.name}}</td>
                    <td>{{vehicle.garrage}}</td>
                    <td>{{vehicle.maker}}</td>
                    <td>{{vehicle.vehicle_type}}</td>
                    <td>{{vehicle.passenger_num}}</td>
                    <!-- <td>{{vehicle.release_date}}</td> -->
                    <td>{{vehicle.model_year}}</td>
                    <td>{{vehicle.check_date}}</td>
                    <td class="openPhotoPopupBtn">상세보기</td>
                    <td class="openMaintenancePopupBtn">상세보기</td>
                    <td class="{{ forloop.counter0 }} openDetail">{{filled_count_list|index:forloop.counter0}}/23</td>
                    <td class="openDocumentPopupBtn">{{file_count_list|index:forloop.counter0}}/4</td>
                </tr>
                {% endfor %}
                <tr class="blanckTr"></tr>
            </tbody>
        </table>

        <div class="btnAreaBox">
            <div class="pagination">
                <!-- 페이징 처리 -->
                {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <div class="page-item page-pre">
                        <a class="page-link"
                            href="?select={{select}}&search={{search}}&page={{ page_obj.previous_page_number }}&use={{use}}"
                            tabindex="-1">이전</a>
                    </div>
                    {% else %}
                    <div class="page-item page-pre disabled">
                        <a class="page-link" href="#" tabindex="-1">이전</a>
                    </div>
                    {% endif %}
                    {% for page in page_range %}
                    <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
                        <a class="page-link"
                            href="?select={{select}}&search={{search}}&page={{ page }}&use={{use}}">{{ page }}</a>
                    </div>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <div class="page-item">
                        <a class="page-link page-next"
                            href="?select={{select}}&search={{search}}&page={{ page_obj.next_page_number }}&use={{use}}">다음</a>
                    </div>
                    {% else %}
                    <div class="page-item page-next disabled">
                        <a class="page-link" href="#">다음</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="btnBox">
                <input autocomplete="off" type="submit" value="삭제" class="btnModules">
            </div>

        </div>
    </div>
</form>





{% endblock %}





{% block popup %}
<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'vehicle:vehicle_edit' %}" class="popupContainer popupContainerDouble vehicleForm"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">차량수정</div>
        </div>
        <div class="popupBody vehiclePopupBody">
            <div class="popupSection popupSectionEdit">
                <div class="popupArticleCategory popupArticleCategoryFirst">차량정보</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>차량번호</label>
                        <div class="vehicleNumBox">
                            <input autocomplete="off" name="vehicle_num0" type="text" class="popupArticleinputTwice vehicleNum1 length100 essential">
                            <input autocomplete="off" name="vehicle_num" type="text" class="popupArticleinputTwice vehicleNum2 length100 essential">
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">담당기사</label>
                        <select name="driver" class="popupArticleinput driver_name">
                            <option></option>
                            {% for driver in driver_list %}
                            <option value="{{driver.id}}">{{driver.name}}{% if driver.role == '용역' %}(용역){% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">제조사</label>
                        <input autocomplete="off" name="maker" type="text" class="popupArticleinput maker length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">사용여부</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" id="ableBusEdit" name="use" value="사용">
                            <label for="ableBusEdit">사용</label>
                            <input autocomplete="off" type="radio" id="disableBusEdit" name="use" value="미사용">
                            <label for="disableBusEdit">미사용</label>
                        </div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량이름</label>
                        <input autocomplete="off "name="vehicle_type" type="text" class="popupArticleinput vehicle_type length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">승차인원</label>
                        <input autocomplete="off" name="passenger_num" type="number" class="popupArticleinput passenger_num length100">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">형식</label>
                        <input name="type" autocomplete="off" type="text" class="popupArticleinput type length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">모델연도</label>
                        <input autocomplete="off" name="model_year" type="number" class="popupArticleinput model_year length100">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차대번호</label>
                        <input autocomplete="off" name="vehicle_id" type="text" class="popupArticleinput vehicle_id length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">출고일자</label>
                        <input autocomplete="off" name="release_date" type="date" class="popupArticleinput release_date" max="9999-12-31">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">원동기형식</label>
                        <input autocomplete="off" name="motor_type" type="text" class="popupArticleinput motor_type length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정격출력</label>
                        <input autocomplete="off" name="rated_output" type="text" class="popupArticleinput rated_output length100">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정기점검일</label>
                        <input autocomplete="off" name="check_date" type="date" class="popupArticleinput check_date" max="9999-12-31">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차고지</label>
                        <select name="garage" class="popupArticleinput garage">
                            <option></option>
                            {% for garage in garage_list %}
                            <option value="{{garage.id}}">{{garage.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="popupArticleCategory">차량금액정보</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량가격</label>
                        <input autocomplete="off" name="vehicle_price" type="number" min="0" class="popupArticleinput vehicle_price length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">번호판가격</label>
                        <input autocomplete="off" name="number_price" type="number" min="0" class="popupArticleinput number_price length100">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">보험납부일</label>
                        <input autocomplete="off" name="insurance_pay_date" type="date" min="0" class="popupArticleinput insurance_pay_date length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">보험비</label>
                        <input autocomplete="off" name="insurance_price" type="number" min="0" class="popupArticleinput insurance_price length100">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">할부금액(월)</label>
                        <input autocomplete="off" name="monthly_installment" type="number" min="0" class="popupArticleinput monthly_installment length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">남은 할부액</label>
                        <input autocomplete="off" name="remaining_installment_amount" type="number" min="0" class="popupArticleinput remaining_installment_amount length100">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">감가상각(월)</label>
                        <input autocomplete="off" name="depreciation_month" type="number" min="0" class="popupArticleinput depreciation_month length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">감가상각기준(년)</label>
                        <input autocomplete="off" name="depreciation_year" type="number" min="1950" max="3000" class="popupArticleinput depreciation_year length100">
                    </div>
                </div>

                <div class="popupArticleCategory">차량옵션</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">전광판</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" id="ledTrue" name="led" value="true">
                            <label for="ledTrue">탑재</label>
                            <input autocomplete="off" type="radio" id="ledFalse" name="led" value="">
                            <label for="ledFalse">미탑재</label>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">냉장고</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" id="fridgeTrue" name="fridge" value="true">
                            <label for="fridgeTrue">탑재</label>
                            <input autocomplete="off" type="radio" id="fridgeFalse" name="fridge" value="">
                            <label for="fridgeFalse">미탑재</label>
                        </div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">노래방</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" id="singTrue" name="sing" value="true">
                            <label for="singTrue">탑재</label>
                            <input autocomplete="off" type="radio" id="singFalse" name="sing" value="">
                            <label for="singFalse">미탑재</label>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">USB</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" id="usbTrue" name="usb" value="true">
                            <label for="usbTrue">탑재</label>
                            <input autocomplete="off" type="radio" id="usbFalse" name="usb" value="">
                            <label for="usbFalse">미탑재</label>
                        </div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">온수기</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" id="waterHeaterTrue" name="water_heater" value="true">
                            <label for="waterHeaterTrue">탑재</label>
                            <input autocomplete="off" type="radio" id="waterHeaterFalse" name="water_heater" value="">
                            <label for="waterHeaterFalse">미탑재</label>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">TV</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" id="tvTrue" name="tv" value="true">
                            <label for="tvTrue">탑재</label>
                            <input autocomplete="off" type="radio" id="tvFalse" name="tv" value="">
                            <label for="tvFalse">미탑재</label>
                        </div>
                    </div>
                </div>
                <div class="popupArticleCategory">비고</div>
                <div class="popupArticleBox popupArticleBoxDoubleHeight">
                    <textarea id="remark" class="popupArticleBoxTextArea" name="remark"></textarea>
                </div>

                <input autocomplete="off" type="hidden" value="" name="id" class="sendToHidden">
            </div>
            <div class="popupFooter popupFooterDetail">
                <div class="btnModules submitBtn">수정</div>
                <div class="btnModules closeBtn">닫기</div>
            </div>
        </div>
    </form>
</div>

<div class="popupAreaModules" id="excelPopup">
    <div class="popupBgModules"></div>
    <form method="post" action="" class="popupContainer excelUploadPopupContainer">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">엑셀 업로드</div>
        </div>
        <div class="popupBody">
            <div class="popupSection excelUploadPopupSection">
                <div class="popupArticleFileDouble excelUploadPopupArticleFileDouble">
                    <label for="excelUploadFile" class="popupArticleLabel">파일선택</label>
                    <input autocomplete="off" name="" type="file" id="excelUploadFile" class="excelUploadFile"
                        onchange="readExcel()">
                    <input autocomplete="off" name="" type="text" class="excelUploadFileText" readonly>
                    <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                        viewBox="0 0 11.314 11.314">
                        <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                            <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                                stroke="#000" stroke-linecap="round" stroke-width="2" />
                            <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)"
                                fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="popupFooter excelUploadPopupFooter">
                <div class="popupFooterMinibox">
                    <a href="{% static 'form/차량목록 엑셀 업로드 양식.xlsx' %}" download>
                        <div class="btnModules backgroundBlack">양식다운</div>
                    </a>
                    <div class="visibleLoadingBox">
                        <div class="visibleLoading">
                            <span>파일이 업로드 중입니다</span>
                            <iframe src="https://giphy.com/embed/sSgvbe1m3n93G" width="18" height="18" frameBorder="0"
                                class="giphy-embed" allowFullScreen></iframe>
                        </div>
                    </div>
                </div>
                <input autocomplete="off" type="submit" class="btnModules uploadCrateBtn backgroundBlue" value="등록">
                <div class="btnModules popupCloseBtn closeBtn">닫기</div>
            </div>
        </div>
    </form>
</div>

<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <div class="popupContainer popupContainerDouble">
        <div class="popupHeader">
            <div class="popupTitle">정비내역 등록</div>
        </div>
        <div class="popupBody">
            <div class="popupSection popupSectionEdit">
                <div class="popupArticleCategory popupArticleCategoryFirst">정비금액</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">총 정비금액</label>
                        <div class="popupArticlePrice total_maintenance_cost"></div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">총 튜닝금액</label>
                        <div class="popupArticlePrice total_tuning_cost"></div>
                    </div>
                </div>
                <form method="post" action="{% url 'vehicle:maintenance_create' %}" class="maintenanceCreateForm">
                    {% csrf_token %}
                    <div class="popupArticleCategory popupArticleFormCategory">정비등록</div>
                    <div class="popupArticleBox">
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>구분</label>
                            <select name="type" class="popupArticleinput type maintenanceEssential">
                                <option value="정비">정비</option>
                                <option value="튜닝">튜닝</option>
                                <option value="점검">점검</option>
                            </select>
                        </div>
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>작업일</label>
                            <input autocomplete="off" name="work_date" type="date" class="maintenanceEssential popupArticleinput work_date length100">
                        </div>
                    </div>
                    <div class="popupArticleBox">
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>작업내용</label>
                            <input autocomplete="off "name="content" type="text" class="maintenanceEssential popupArticleinput content length100">
                        </div>
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>비용</label>
                            <input autocomplete="off" name="cost" type="number" class="maintenanceEssential popupArticleinput cost length100">
                        </div>
                    </div>
                    <div class="popupArticleBox">
                        <div class="btnModules popupSubmitBtn maintenanceSubmitBtn">등록</div>
                    </div>
                    <input type="hidden" name="vehicle" class="maintenanceVehicleHidden">
                </form>
                <form method="post" action="{% url 'vehicle:maintenance_delete' %}" class="maintenanceDeleteForm">
                    {% csrf_token %}
                    <input type="hidden" name="vehicle_id" class="maintenanceVehicleHidden">
                    <div class="popupArticleCategory popupArticleFormCategory">정비내역</div>
                    <div class="popupArticleBox">
                        <div class="popupSearchBox">
                            <div class="maintenancePopupSearchWorkDate">작업일자</div>
                            <input class="popupArticleinput popupSearchInput" id="maintenancePopupDate1" type="date">
                            <div class="betweenDate">~</div>
                            <input class="popupArticleinput popupSearchInput" id="maintenancePopupDate2" type="date">
                            <select class="popupArticleinput popupSearchInput popupSearchInputSelect" id="maintenancePopupType">
                                <option value="">전체</option>
                                <option value="정비">정비</option>
                                <option value="튜닝">튜닝</option>
                                <option value="점검">점검</option>
                            </select>
                        </div>
                        <div>
                            <div class="btnModules searchBtn" id="maintenancePopupSearchBtn">검색</div>
                        </div>
                    </div>
                    <div class="popupTableBox">
                        <div class="popupTableHeaderBox">
                            <table class="popupTable popupTableHead">
                                <thead class="tableHead">
                                    <tr>
                                        <td>선택</td>
                                        <td>번호</td>
                                        <td>구분</td>
                                        <td>작업일자</td>
                                        <td>작업내용</td>
                                        <td>비용</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="popupTableBodyBox">
                            <table class="popupTable">
                                <tbody class="popupMaintenanceTbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="popupFooter popupFooterDetail popupFooterMaintenance">
                <div class="btnModules" id="maintenanceDeleteBtn">삭제</div>
                <div class="btnModules closeBtn">닫기</div>
            </div>
        </div>
    </div>
</div>

<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'vehicle:document_file_upload' %}" class="popupContainer popupContainerDouble popupContainerDocument" enctype="multipart/form-data">
        {% csrf_token %}
        <input name="vehicle_id" type="hidden" class="documentSendToHidden">
        <div class="popupHeader">
            <div class="popupTitle">차량서류</div>
        </div>
        <div class="popupBody">
            <div class="popupSection popupSectionEdit">
                <div class="popupArticleCategory popupArticleCategoryFirst">서류등록</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량등록증</label>
                        <div class="popupArticleFileDouble">
                            <label for="VEHICLE_REGISTRATION_CERTIFICATE">파일 선택</label>
                            <input autocomplete="off" name="VEHICLE_REGISTRATION_CERTIFICATE" type="file" id="VEHICLE_REGISTRATION_CERTIFICATE" class="documentFile">
                            <input autocomplete="off" type="text" readonly="" class="pointer">
                            <svg class="fileDeleteBtn documentDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314" viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                            <input type="hidden" value="">
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">자동차기능종합진단서</label>
                        <div class="popupArticleFileDouble">
                            <label for="VEHICLE_FUNCTIONAL_DIAGNOSIS">파일 선택</label>
                            <input autocomplete="off" name="VEHICLE_FUNCTIONAL_DIAGNOSIS" type="file" id="VEHICLE_FUNCTIONAL_DIAGNOSIS" class="documentFile">
                            <input autocomplete="off" type="text" readonly="" class="pointer">
                            <svg class="fileDeleteBtn documentDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314" viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                            <input type="hidden" value="">
                        </div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량보험</label>
                        <div class="popupArticleFileDouble">
                            <label for="VEHICLE_INSURANCE">파일 선택</label>
                            <input autocomplete="off" name="VEHICLE_INSURANCE" type="file" id="VEHICLE_INSURANCE" class="documentFile">
                            <input autocomplete="off" type="text" readonly="" class="pointer">
                            <svg class="fileDeleteBtn documentDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314" viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                            <input type="hidden" value="">
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량할부</label>
                        <div class="popupArticleFileDouble">
                            <label for="VEHICLE_INSTALLMENT">파일 선택</label>
                            <input autocomplete="off" name="VEHICLE_INSTALLMENT" type="file" id="VEHICLE_INSTALLMENT" class="documentFile">
                            <input autocomplete="off" type="text" readonly="" class="pointer">
                            <svg class="fileDeleteBtn documentDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314" viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                            <input type="hidden" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="popupFooter popupFooterDetail">
                <input type="submit" class="btnModules popupSaveBtn documentSaveBtn" value="저장">
                <div class="btnModules closeBtn">닫기</div>
            </div>
        </div>
    </form>
</div>

<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <div class="popupContainer popupContainerDouble">
        <div class="popupHeader">
            <div class="popupTitle">차량사진</div>
        </div>
        <div class="popupBody">
            <div class="popupSection popupSectionEdit">
                <form method="post" action="{% url 'vehicle:photo_file_create' %}" class="photoCreateForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="popupArticleCategory popupArticleCategoryFirst">사진등록</div>
                    <div class="popupArticleBox">
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>구분</label>
                            <select name="type" class="popupArticleinput type photoEssential">
                                <option value="버스 앞">버스 앞</option>
                                <option value="버스 뒤">버스 뒤</option>
                                <option value="버스 오른쪽">버스 오른쪽</option>
                                <option value="버스 왼쪽">버스 왼쪽</option>
                            </select>
                        </div>
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>날짜</label>
                            <input autocomplete="off" name="date" type="date" class="photoEssential popupArticleinput work_date length100">
                        </div>
                    </div>
                    <div class="popupArticleBox">
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>담당기사</label>
                            <select name="driver" class="popupArticleinput type photoEssential">
                                <option></option>
                                {% for driver in driver_list %}
                                <option value="{{driver.id}}">{{driver.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel"><span class="importantStar">*</span>사진</label>
                            <div class="popupArticleFileDouble">
                                <label for="photoPopupFileInput">파일 선택</label>
                                <input name="file" id="photoPopupFileInput" type="file" class="popupArticleinput documentFile photoEssential">
                                <input name="" type="text" class="" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="popupArticleBox">
                        <div class="btnModules popupSubmitBtn photoSubmitBtn">등록</div>
                    </div>
                    <input type="hidden" name="vehicle" class="photoVehicleHidden">
                </form>
                <form method="post" action="{% url 'vehicle:photo_file_delete' %}" class="photoDeleteForm">
                    {% csrf_token %}
                    <input type="hidden" name="vehicle_id" class="photoVehicleHidden">
                    <div class="popupArticleCategory popupArticleFormCategory">사진목록</div>
                    <div class="popupArticleBox">
                        <div class="popupSearchBox">
                            <div class="maintenancePopupSearchWorkDate">날짜</div>
                            <input class="popupArticleinput popupSearchInput" id="photoPopupDate1" type="date">
                            <div class="betweenDate">~</div>
                            <input class="popupArticleinput popupSearchInput" id="photoPopupDate2" type="date">
                            <select class="popupArticleinput popupSearchInput popupSearchInputSelect" id="photoPopupType">
                                <option value="">전체</option>
                                <option value="버스 앞">버스 앞</option>
                                <option value="버스 뒤">버스 뒤</option>
                                <option value="버스 오른쪽">버스 오른쪽</option>
                                <option value="버스 왼쪽">버스 왼쪽</option>
                            </select>
                        </div>
                        <div>
                            <div class="btnModules searchBtn" id="photoPopupSearchBtn">검색</div>
                        </div>
                    </div>
                    <div class="popupTableBox">
                        <div class="popupTableHeaderBox">
                            <table class="popupTable popupTableHead">
                                <thead class="tableHead">
                                    <tr>
                                        <td>선택</td>
                                        <td>번호</td>
                                        <td>구분</td>
                                        <td>날짜</td>
                                        <td>담당기사</td>
                                        <td>사진</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="popupTableBodyBox">
                            <table class="popupTable">
                                <tbody class="popupPhotoTbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

            </div>
            <div class="popupFooter popupFooterDetail popupFooterMaintenance">
                <div class="btnModules" id="photoDeleteBtn">삭제</div>
                <div class="btnModules closeBtn">닫기</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}






{% block script %}
<script>
    let vehicleDatas = [
        {% for vehicle in vehicle_list %}
          {
            vehicle_num0: "{{vehicle.vehicle_num0}}",
            vehicle_num: "{{vehicle.vehicle_num}}",
            vehicle_id: "{{vehicle.vehicle_id}}",
            motor_type: "{{vehicle.motor_type}}",
            rated_output: "{{vehicle.rated_output}}",
            vehicle_type: "{{vehicle.vehicle_type}}",
            maker: "{{vehicle.maker}}",
            model_year: "{{vehicle.model_year}}",
            release_date: "{{vehicle.release_date}}",
            driver: "{{vehicle.driver.id}}",
            driver_name: "{{vehicle.driver.name}}",
            use: "{{vehicle.use}}",
            passenger_num: "{{vehicle.passenger_num}}",
            check_date: "{{vehicle.check_date}}",
            type: "{{vehicle.type}}",
            garage: "{{vehicle.garage.id}}",
            garage_name: "{{vehicle.garage.name}}",
            remark: "{{vehicle.remark}}",
            vehicle_price: "{{vehicle.vehicle_price}}",
            depreciation_month: "{{vehicle.depreciation_month}}",
            number_price: "{{vehicle.number_price}}",
            depreciation_year: "{{vehicle.depreciation_year}}",
            insurance_pay_date: "{{vehicle.insurance_pay_date}}",
            insurance_price: "{{vehicle.insurance_price}}",
            monthly_installment: "{{vehicle.monthly_installment}}",
            remaining_installment_amount: "{{vehicle.remaining_installment_amount}}",
            led: "{{vehicle.led}}",
            fridge: "{{vehicle.fridge}}",
            sing: "{{vehicle.sing}}",
            usb: "{{vehicle.usb}}",
            water_heater: "{{vehicle.water_heater}}",
            tv: "{{vehicle.tv}}",
            total_maintenance_cost: "{{vehicle.total_maintenance_cost}}",
            total_tuning_cost: "{{vehicle.total_tuning_cost}}",
            
            {% with list=file_list|index:forloop.counter0 %}
            vehicle_registration: "{{list.0.filename}}",
            {% endwith %}
          },
        {% endfor %}
    ]

    {% autoescape off %}
    const fileDatas = {{file_list}}
    console.log("files", fileDatas)
    {% endautoescape %}
    const EXCEL_DOWNLOAD_URL = '{% url "vehicle:vehicle_download" %}';
    const VEHICLE_CREATE_URL = '{% url "vehicle:vehicle_create" %}';
    const VEHICLE_EDIT_URL = '{% url "vehicle:vehicle_edit" %}';
    const MAINTENANCE_LIST_URL = '{% url "vehicle:maintenance_list" %}';
    const PHOTO_LIST_URL = '{% url "vehicle:photo_list" %}';

    console.log(vehicleDatas)

    function openViweBlankVehilcle(url) {
        window.open(url, "차량등록증", "width=630, height=891")
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
<script src="{% static 'js/vehicle/list.js' %}"></script>
<script src="{% static 'js/vehicle/essential.js' %}"></script>
<script src="{% static 'js/vehicle/excel.js' %}"></script>
<script src="{% static 'js/vehicle/maintenancePopup.js' %}"></script>
<script src="{% static 'js/vehicle/documentPopup.js' %}"></script>
<script src="{% static 'js/vehicle/photoPopup.js' %}"></script>
{% endblock %}