{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/vehicle/mgmt.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    차량관리
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">검색종류</span>
            <div class="FilterBox">
                <select name="select" id="" class="inputModules">
                    <option {% if select == 'vehicle' %} selected {% endif %} value="vehicle">차량번호</option>
                    <option {% if select == 'driver' %} selected {% endif %} value="driver">담당기사</option>
                    <option {% if select == 'passenger' %} selected {% endif %} value="passenger">승차인원</option>
                </select>
                <input value="{{search}}" name="search" type="text" class="inputModules" list="hrFilter" autocomplete="off">
                <datalist id="hrFilter">
                    {% for member in member_list %}
                    <option value="{{member.name}}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <input type="submit" value="검색" class="btnModules">
        </div>
    </form>
</div>



{% csrf_token %}

<div class="managementContainer">

    <div class="contentsAreaBox">
        <div class="tableTitle">보험 만료예정 목록</div>
        <table class="tableHead">
            <thead>                
                <tr class="headerLine insuranceTable">
                    <td>차량번호</td>
                    <td>담당기사</td>
                    <td>회차</td>
                    <td>금액</td>
                    <td>만료일</td>
                    <td>프린트</td>
                </tr>
            </thead>
        </table>
        <div class="tableScrollBox">
            <table class="tableBody">
                <tbody>
                    {% for vehicle in insurance_list %}
                    <tr class="insuranceTable">
                        <td class="{{vehicle.id}}">{{vehicle.vehicle_num0}} {{vehicle.vehicle_num}}</td>
                        <td>{{vehicle.driver_name}}</td>
                        <td>회차</td>
                        <td>금액</td>
                        <td>{{vehicle.insurance_expiry_date}}</td>
                        
                        <td>
                            {% with list=file_list|index:forloop.counter0 %}
                                {% if list %} <div onclick="openViwePrint('/vehicle/list/image/{{list.id}}')">프린트</div> {% endif %}
                            {% endwith %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <div class="contentsAreaBox">
        <div class="tableTitle">정기정검 만료예정 목록</div>
        <table class="tableHead">
            <thead>
                <tr class="headerLine testTable">
                    <td>차량번호</td>
                    <td>담당기사</td>
                    <td>검사유효기간</td>
                    <td>검사만료일</td>
                </tr>
            </thead>
        </table>

        <div class="tableScrollBox">
            <table class="tableBody">
                <tbody>
                    {% for vehicle in check_list %}
                    <tr class="testTable">                        
                        <td class="{{vehicle.id}}">{{vehicle.vehicle_num0}} {{vehicle.vehicle_num}}</td>
                        <td>{{vehicle.driver}}</td>
                        <td>{{vehicle.check_duration}} ~ {{duration|index:forloop.counter0}}</td>
                        <td>{{expire|index:forloop.counter0}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}





{% block popup %}
<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'vehicle:insurance_edit' %}" class="popupContainer" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="PopupTitle">보험수정</div>
        <div class="PopupDataArea">
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차량번호</span>
                <div class="PopupData insuranceVehicleNum"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">만료일</span>
                <input name="date" class="PopupDataInput insuranceEndDate" type="date">
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">보험 영수증</span>
                <div class="fileForm">
                    <label for="insuranceFile" class="fileLabel">파일찾기</label>
                    <input name="insurance_receipt_name" class="PopupDataInput fileNameBox" readonly>
                    <svg class="fileDeletBtn" xmlns="http://www.w3.org/2000/svg" width="14.829" height="14.542" viewBox="0 0 14.829 14.542">
                        <g id="그룹_930" data-name="그룹 930" transform="translate(-3537.086 5807.914)">
                          <line id="선_624" data-name="선 624" x2="11.706" y2="11.714" transform="translate(3538.5 -5806.5)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
                          <line id="선_625" data-name="선 625" x1="11.706" y2="11.714" transform="translate(3538.794 -5806.5)" fill="none" stroke="#707070" stroke-linecap="round" stroke-width="2"/>
                        </g>
                      </svg>
                    <input name="insurance_receipt" id="insuranceFile" type="file">
                </div>
            </div>
            <input type="hidden" value="" name="id" class="sendToHidden">
        </div>
        <div class="PopupBtnBox">
            <div class="btnModules">닫기</div>
            <input type="submit" class="btnModules saveBtn" value="저장">
        </div>
    </form>
</div>


<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'vehicle:check_edit' %}" class="popupContainer popupContainerTest">
        {% csrf_token %}
        <div class="PopupTitle">정기점검 수정</div>
        <div class="PopupDataArea">
            <div class="PopupDataCell">
                <span class="PopupDataTitle">차량번호</span>
                <div class="PopupData testVehicleNum"></div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">정비기록</span>
                <input name="date" class="PopupDataInput testEndDate" type="date">
            </div>
            <input type="hidden" value="" name="id" class="sendToHidden">
        </div>
        <div class="PopupBtnBox">
            <div class="btnModules">닫기</div>
            <input type="submit" class="btnModules saveBtn" value="저장">
        </div>
    </form>
</div>
{% endblock %}





{% block script %}
<script>
    function openViwePrint(url){
        window.open(url, "보험", "width=630, height=891")
    }
    const insurance_list = {};
    {% for vehicle in insurance_list %}
        {% with list=file_list|index:forloop.counter0 %}
            {% if list %}
                insurance_list['{{vehicle.id}}'] = '{{list.filename}}';
            {% endif %}
        {% endwith %}
    {% endfor %}
    console.log("filename", insurance_list);
</script>
<script src="{% static 'js/vehicle/editPopup.js' %}"></script>
{% endblock %}