{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/vehicle_list.css' %}  " type="text/css" />
<link rel="stylesheet" href="{% static 'css/vehicle_detail.css' %}  " type="text/css" />
<link rel="stylesheet" href="{% static 'css/vehicle_create.css' %}  " type="text/css" />
{% endblock %}

{% block content %}
<div class="main_box">
  <aside>
    <div class="aside_box">
      <div class="aside_title">
        <div class="aside_title_font">배차시스템</div>
      </div>
      <div id="aside_contents" class="aside_contents_thispage"><a href="notice_driver.html"
          class="aside_contents_link">-배차지시서</a></div>
      <div id="aside_contents"><a href="notice_driver.html" class="aside_contents_link">-배차스케줄</a></div>
      <div id="aside_contents"><a href="notice_driver.html" class="aside_contents_link">-배차관리</a></div>
    </div>
  </aside>

  <section class="section">
    <div class="page_name_vehicle_information">차량정보</div>
    <div class="vehicle_create_head_line">
      <div class="vehicle_create_head_line_title">버스정보</div>
      <input type="button" class="vehicle_detail_head_line_modyfi_button" value="수정">
      <input type="button" class="vehicle_detail_head_line_save_button" value="저장">
    </div>
    <div class="vehicle_detail_cover"></div>
      <div class="vehicle_create_top_box">
      <form method="POST" action="">
        <table id="vehicle_create_table" class="vehicle_create_table1">
          <tr id="vehicle_create_table_font">
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title_1st_line">차량번호</td>
            <td class="vehicle_create_categorie_contents_1st_line">
              <input type="text" name="vehicle_num" value="{{ vehicle.vehicle_num }}">
            </td>
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title_1st_line">사용여부</td>
            <td class="vehicle_create_categorie_contents_1st_line">
              {% if vehicle.use == 1 %}
              <input type="radio" name="use_true" required="required" checked>사용
              <input type="radio" name="use_false" required="required">미사용
              {% else %}
              <input type="radio" name="use_true" required="required">사용
              <input type="radio" name="use_false" required="required" checked>미사용
              {% endif %}
            </td>
          </tr>
          <tr id="vehicle_create_table_font">
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title">담당기사</td>
            <td id="vehicle_create_categorie_contents">
              <select>
                <option>담당기사</option>
              </select>
            </td>
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title">차대번호</td>
            <td id="vehicle_create_categorie_contents">
              <input type="text">
            </td>
          </tr>
          <tr id="vehicle_create_table_font">
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title">차량이름</td>
            <td id="vehicle_create_categorie_contents">
              <input type="text">
            </td>
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title">승차인원</td>
            <td id="vehicle_create_categorie_contents">
              <input type="text">인승
            </td>
          </tr>
          <tr id="vehicle_create_table_font">
            <td id="vehicle_create_categorie_title">출고일자</td>
            <td class="vehicle_create_categorie_contents_last_line">
              <form>
                <input type="date">
              </form>
            </td>
            <td id="vehicle_create_categorie_title">년식</td>
            <td class="vehicle_create_categorie_contents_last_line">
              <input type="text">
            </td>
          </tr>
        </table>

        <table id="vehicle_create_table" class="vehicle_create_table2">
          <tr id="vehicle_create_table_font">
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title_1st_line">보험회차</td>
            <td class="vehicle_create_categorie_contents_1st_line">
              <select>
                <option>1회차</option>
                <option>2회차</option>
                <option>3회차</option>
                <option>4회차</option>
                <option>5회차</option>
                <option>6회차</option>
              </select>
            </td>
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title_1st_line">보험회사</td>
            <td class="vehicle_create_categorie_contents_1st_line">
              <input type="text">
            </td>
          </tr>
          <tr id="vehicle_create_table_font">
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title">보험일자</td>
            <td id="vehicle_create_categorie_contents">
              <form>
                <input type="date">
              </form>
            </td>
            <td id="vehicle_create_categorie_title" class="vehicle_create_categorie_title">보험비</td>
            <td id="vehicle_create_categorie_contents">
              <input type="text">
            </td>
          </tr>
          <tr id="vehicle_create_table_font">
            <td id="vehicle_create_categorie_title">만료일자</td>
            <td class="vehicle_create_categorie_contents_last_line">
              <form>
                <input type="date">
              </form>
            </td>
            <td id="vehicle_create_categorie_title">총 보험비</td>
            <td class="vehicle_create_categorie_contents_last_line">
              <input type="text">
            </td>
          </tr>
        </table>

        <table id="vehicle_create_table">
          <tr id="vehicle_create_table_font">
            <td class="vehicle_create_last_box_categorie_title">계산서 발행일</td>
            <td id="vehicle_create_last_box_categorie_contents_daytoday"
              class="vehicle_create_last_box_categorie_contents">
              <form>
                <input type="date">
              </form>~
              <form>
                <input type="date">
              </form>
            </td>
          </tr>
          <tr id="vehicle_create_table_font">
            <td class="vehicle_create_last_box_categorie_title2">검사유효기간</td>
            <td id="vehicle_create_last_box_categorie_contents_daytoday"
              class="vehicle_create_last_box_categorie_contents2">
              <form>
                <input type="date">
              </form>~
              <form>
                <input type="date">
              </form>
            </td>
          </tr>
        </table>
        <table id="vehicle_create_table">
          <tr id="vehicle_create_table_font">
            <td class="vehicle_create_last_box_categorie_title3">차량등록증</td>
            <td class="vehicle_create_last_box_categorie_contents3">
              <input type="file" class="vehicle_create_file_button">
            </td>
            <td class="vehicle_create_last_box_categorie_title4">보험영수증</td>
            <td class="vehicle_create_last_box_categorie_contents3">
              <input type="file" class="vehicle_create_file_button">
            </td>
          </tr>
        </table>
      </form>
      </div>
    <a href="{% url 'vehicle:vehicle_list' %}">
      <div class="vehicle_create_go_information_page_button">↩차량정보</div>
    </a>
</div>
</section>
</div>

<h1>vehicle detail</h1>

<p>차량번호 : {{ vehicle_detail }}</p>
{{form.as_p}}


{% endblock %}