*.log*
*.pot
*.pyc
__pycache__/
media
migrations
my_settings.py
.venv/
.vscode/
/dispatch/static
/trp_drf
config/settings.py_old
data_backup
trp-dev-firebase.json
sunghwatour-firebase.json
.well-known/
pytest.ini
