{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/regularlyRoute.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/humanresource/member.css' %}" type="text/css" />

<link rel="stylesheet" href="{% static 'css/newVehicle/list.css' %}" type="text/css" />


{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    차량관리
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">검색종류</span>
            <div class="FilterBox">
                <select name="select" class="inputModules">
                    <option value="vehicle">차량번호</option>
                    <option value="driver">담당기사</option>
                    <option value="passenger">승차인원</option>
                </select>
                <select name="select" class="inputModules">
                    <option value="last">오래된 차량 순</option>
                    <option value="first">최근 차량 순</option>
                </select>
                <input autocomplete="off" value="{{search}}" name="search" type="text" class="inputModules" list="hrFilter">
                <datalist id="hrFilter">
                    <option value="{{member.name}}"></option>
                </datalist>
                <select name="use" class="inputModules">
                    <option value="사용">사용</option>
                    <option value="미사용">미사용</option>
                </select>
            </div>
            <input autocomplete="off" type="submit" value="검색" class="btnModules">
        </div>
    </form>
    <div class="searchAreaRight">
        <div class="searchAreaBtn uploadExcel">엑셀 업로드</div>
        <div id="downloadExcel" class="searchAreaBtn">엑셀 다운로드</div>
        <div class="searchAreaBtn addVehicle" onclick="openCreatePopup()">차량등록</div>
    </div>
</div>




<form method="post" action="{% url 'vehicle:vehicle_delete' %}" class="vehicleListForm">
    {% csrf_token %}
    <div class="contentsAreaBox">
        <table class="tableHead">
            <thead>
                <tr class="headerLine">
                    <td>선택</td>
                    <td>번호</td>
                    <td>사용여부</td>
                    <td>차량번호</td>
                    <td>담당기사</td>
                    <td>제조사</td>
                    <td>차량이름</td>
                    <td>승차인원</td>
                    <td>모델연도</td>
                    <td>정기점검일</td>
                    <td>정비내역</td>
                    <td>상세정보</td>
                    <td>차량서류</td>
                </tr>
            </thead>
        </table>

        <table class="tableBody">
            <tbody>
                <tr class="{{vehicle.id}}">
                    <td>
                        <input autocomplete="off" name="check" value="{{vehicle.id}}" type="checkbox">
                    </td>
                    <td>98</td>
                    <td>사용</td>
                    <td>경기 70바7469</td>
                    <td>유정노</td>
                    <td>현대</td>
                    <td>뉴-카운티</td>
                    <td>28인승</td>
                    <td>2015년</td>
                    <td>2024-04-09</td>
                    <td onclick="openMaintenanceRecordPopup()">36건</td>
                    <td>24/26</td>
                    <td onclick="openDocumentPopup()">1/4</td>
                </tr>
                <tr class="blanckTr"></tr>
            </tbody>
        </table>

        <div class="btnAreaBox">
            <div class="pagination">
                <!-- 페이징 처리 -->
                {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <div class="page-item page-pre">
                        <a class="page-link"
                            href="?select={{select}}&search={{search}}&page={{ page_obj.previous_page_number }}&use={{use}}"
                            tabindex="-1">이전</a>
                    </div>
                    {% else %}
                    <div class="page-item page-pre disabled">
                        <a class="page-link" href="#" tabindex="-1">이전</a>
                    </div>
                    {% endif %}
                    {% for page in page_range %}
                    <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
                        <a class="page-link"
                            href="?select={{select}}&search={{search}}&page={{ page }}&use={{use}}">{{ page }}</a>
                    </div>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <div class="page-item">
                        <a class="page-link page-next"
                            href="?select={{select}}&search={{search}}&page={{ page_obj.next_page_number }}&use={{use}}">다음</a>
                    </div>
                    {% else %}
                    <div class="page-item page-next disabled">
                        <a class="page-link" href="#">다음</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="btnBox">
                <input autocomplete="off" type="submit" value="삭제" class="btnModules">
            </div>

        </div>
    </div>
</form>





{% endblock %}





{% block popup %}
<!--차량등록팝업-->
<div class="popupAreaModules" id="CreatePopup">
    <div class="popupBgModules"></div>
    <form method="post" action=""
        class="popupContainer popupContainerDouble memberForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle popupHR">차량등록</div>
        </div>
        <div class="popupBody popupBodyMember">
            <div class="popupSection">
                <div class="popupArticleCategori">차량정보</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량번호</label>
                        <div class="popupIdBox">
                            <input  autocomplete="off" id="newVehicle_num" name="newVehicle_num1" class="popupArticleinput hrBirth length100 popupArticleinputShort">

                            <input  autocomplete="off" id="newVehicle_num0" name="newVehicle_num2" class="popupArticleinput hrBirth length100 popupArticleinputShort">
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">제조사</label>
                        <input autocomplete="off" id="makeCompany" name="" type="text"
                            class="popupArticleinput makeCompany length100">
                    </div>  
                </div>

                <div class="popupArticleBox">
                    {% comment %} <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>입사일</label>
                        <input autocomplete="off" name="entering_date" type="date" max="9999-12-31"
                            class="popupArticleinput hrEntering length100 essential">
                    </div> {% endcomment %}
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량이름</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">출고년도</label>
                        <input autocomplete="off" name="model_year" type="number" class="popupArticleinput length100" default:"2024">
                    </div>
                     {% comment %} <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">출고일자</label>
                        <input autocomplete="off" name="" type="" max="9999-12-31"
                            class="popupArticleinput hrEntering length100 essential">
                    </div>  {% endcomment %}
                    
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">담당기사</label>
                        <select name="driver" class="popupArticleinput">
                            <option></option>
                            {% for driver in driver_list %}
                            <option value="{{driver.id}}">{{driver.name}}{% if driver.role == '용역'%}(용역){% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차대번호</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">승차인원</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">형식</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">모델연도</label>
                        <input autocomplete="off" name="model_year" type="number" class="popupArticleinput length100" default:"2024">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">원동기형식</label>
                        <input autocomplete="off" name="" type="text" class="popupArticleinput length100" default:"2024">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">정기점검일</label>
                        <input autocomplete="off" name="check_date" type="date" class="popupArticleinput" max="9999-12-31">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">사용여부</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" value="사용" id="" name="use" checked>
                            <label for="ableBus">사용</label>
                            <input autocomplete="off" type="radio" value="미사용" id="" name="use">
                            <label for="disableBus">미사용</label>
                        </div>
                    </div>
                </div>



                <div class="popupArticleCategori">차량금액정보</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량가격</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">감가상각(월)</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                </div>

                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">번호판가격</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">감가상각기준(년)</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                </div>

                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">보험납부일</label>
                        <input autocomplete="off" name="" type="date" class="popupArticleinput" max="9999-12-31">
                    </div>
                </div>

                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">보험비</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                </div>

                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">할부금액(월)</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                </div>

                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">남은 할부액</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                </div>


                <div class="popupArticleCategori">차량옵션</div>

                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">전광판유무</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" value="사용" id="" name="LED" checked>
                            <label for="ableBus">사용</label>
                            <input autocomplete="off" type="radio" value="미사용" id="" name="LED">
                            <label for="disableBus">미사용</label>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">냉장고유무</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" value="사용" id="" name="cold" checked>
                            <label for="ableBus">사용</label>
                            <input autocomplete="off" type="radio" value="미사용" id="" name="cold">
                            <label for="disableBus">미사용</label>
                        </div>
                    </div>
                </div>

                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">노래방유무</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" value="사용" id="" name="sing" checked>
                            <label for="ableBus">사용</label>
                            <input autocomplete="off" type="radio" value="미사용" id="" name="sing">
                            <label for="disableBus">미사용</label>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">USB</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" value="사용" id="" name="USB" checked>
                            <label for="ableBus">사용</label>
                            <input autocomplete="off" type="radio" value="미사용" id="" name="USB">
                            <label for="disableBus">미사용</label>
                        </div>
                    </div>
                </div>

                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">온수기유무</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" value="사용" id="" name="hot" checked>
                            <label for="ableBus">사용</label>
                            <input autocomplete="off" type="radio" value="미사용" id="" name="hot">
                            <label for="disableBus">미사용</label>
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">TV</label>
                        <div class="albleRadioBox">
                            <input autocomplete="off" type="radio" value="사용" id="" name="TV" checked>
                            <label for="ableBus">사용</label>
                            <input autocomplete="off" type="radio" value="미사용" id="" name="TV">
                            <label for="disableBus">미사용</label>
                        </div>
                    </div>
                </div>

                <div class="popupArticleCategori">비고</div>
                <div class="popupArticleBox popupArticleBoxDoubleHeight">
                    <textarea id="" class="popupArticleBoxTextarea" name="bego"></textarea>
                </div>


                <input name="id" type="hidden" class="sendToHidden">
            </div>
            <div class="popupFooter">
                <div class="btnModules btnModulesCreate">저장</div>
                <div class="btnModules popupCloseBtn" onclick="closeCreatePopup()">닫기</div>
            </div>
        </div>
    </form>
</div>


<!--정비내역팝업-->
<div class="popupAreaModules" id="MaintenanceRecordPopup">
    <div class="popupBgModules"></div>
    <form method="post" action=""
    class="popupContainer popupContainerDouble " enctype="multipart/form-data">
    {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle popupHR">정비내역</div>
        </div>
        <div class="popupBody popupBodyMember">
            <div class="popupSection">
                <div class="popupArticleCategori">정비금액</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">총정비금액</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">총튜닝금액</label>
                        <input autocomplete="off" id="" name="" type=""
                            class="popupArticleinput length100">
                    </div>
                </div>

                <div class="popupArticleCategori">정비등록</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">구분</label>
                        <select class="popupArticleinput inputMonth">
                            <option value="전체" select>전체</option>
                            <option value="정비">정비</option>
                            <option value="튜닝">튜닝</option>
                            <option value="점검">점검</option>
                        </select>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">작업날짜</label>
                        <input autocomplete="off" name="work_date" type="date" class="popupArticleinput" max="9999-12-31">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">작업내용</label>
                        <input autocomplete="off" name="" type="text" class="popupArticleinput" max="9999-12-31">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">비용</label>
                        <input autocomplete="off" name="" type="text" class="popupArticleinput" max="9999-12-31">
                    </div>
                </div>


                <div class="popupArticleCategori">정비내역</div>
                <div class="maintenanceSearchForm">
                    <input autocomplete="off" name="check_date" type="month" class="popupArticleinput inputMonth" max="9999-12-31">
                    <select class="popupArticleinput inputMonth">
                        <option value="전체" select>전체</option>
                        <option value="정비">정비</option>
                        <option value="튜닝">튜닝</option>
                        <option value="점검">점검</option>
                    </select>
                </div>
                <div class="popupArticle popupArticleStation detailMapPopupScrollBox">
                    <table>
                        <thead class="detailMapPopupHeader">
                            <tr>
                                <td>번호</td>
                                <td>구분</td>
                                <td>작업날짜</td>
                                <td>작업내역</td>
                                <td>비용</td>
                            </tr>
                        </thead>
                        <tbody class="detailRoutePopupScrollBoxTbody">
                            
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>


                        </tbody>

                    </table>
                </div>
            </div>
            <div class="popupFooter">
                <div class="btnModules btnModulesCreate">저장</div>
                <div class="btnModules popupCloseBtn" onclick="closeMaintenanceRecordPopup
                ()">닫기</div>
            </div>
        </div>
    </form>
</div>


<div class="popupAreaModules" id="documentPopup">
    <div class="popupBgModules"></div>
    <form method="post" action=""
    class="popupContainer popupContainerDouble " enctype="multipart/form-data">
    {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle popupHR">차량서류</div>
        </div>
        <div class="popupBody popupBodyMember">
            <div class="popupSection">
                <div class="popupArticleCategori">서류 등록</div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량등록증</label>
                        <div class="popupArticleFileDouble">
                            <label for="resume">파일 선택</label>
                            <input autocomplete="off" name="RESUME" type="file" id="resume" class="documentFile">
                            <input autocomplete="off" type="text" readonly="" class="pointer">
                            <svg class="fileDeleteBtn documentDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314" viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                            <input type="hidden" value="">
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">자동차기능종합진단서</label>
                        <div class="popupArticleFileDouble">
                            <label for="carpooling_agreement">파일 선택</label>
                            <input autocomplete="off" name="CARPOOLING_AGREEMENT" type="file" id="carpooling_agreement" class="documentFile">
                            <input autocomplete="off" type="text" readonly="" class="pointer">
                            <svg class="fileDeleteBtn documentDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314" viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                            <input type="hidden" value="">
                        </div>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량보험</label>
                        <div class="popupArticleFileDouble">
                            <label for="resume">파일 선택</label>
                            <input autocomplete="off" name="RESUME" type="file" id="resume" class="documentFile">
                            <input autocomplete="off" type="text" readonly="" class="pointer">
                            <svg class="fileDeleteBtn documentDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314" viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                            <input type="hidden" value="">
                        </div>
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">차량할부</label>
                        <div class="popupArticleFileDouble">
                            <label for="carpooling_agreement">파일 선택</label>
                            <input autocomplete="off" name="CARPOOLING_AGREEMENT" type="file" id="carpooling_agreement" class="documentFile">
                            <input autocomplete="off" type="text" readonly="" class="pointer">
                            <svg class="fileDeleteBtn documentDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314" viewBox="0 0 11.314 11.314">
                                <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                                    <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                    <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)" fill="none" stroke="#000" stroke-linecap="round" stroke-width="2"></line>
                                </g>
                            </svg>
                            <input type="hidden" value="">
                        </div>
                    </div>
                </div>
                <div class="popupFooter">
                    <div class="btnModules btnModulesCreate">저장</div>
                    <div class="btnModules popupCloseBtn" onclick="closeDocumentPopup
                    ()">닫기</div>
                </div>
            </div>
        </div>
        
    </form>
</div>







{% comment %} {% endcomment %}

<div class="popupAreaModules" id="excelPopup">
    <div class="popupBgModules"></div>
    <form method="post" action="" class="popupContainer excelUploadPopupContainer">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">엑셀 업로드</div>
        </div>
        <div class="popupBody">
            <div class="popupSection excelUploadPopupSection">
                <div class="popupArticleFileDouble excelUploadPopupArticleFileDouble">
                    <label for="excelUploadFile" class="popupArticleLabel">파일선택</label>
                    <input autocomplete="off" name="" type="file" id="excelUploadFile" class="excelUploadFile"
                        onchange="readExcel()">
                    <input autocomplete="off" name="" type="text" class="excelUploadFileText" readonly>
                    <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                        viewBox="0 0 11.314 11.314">
                        <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                            <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                                stroke="#000" stroke-linecap="round" stroke-width="2" />
                            <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)"
                                fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="popupFooter excelUploadPopupFooter">
                <div class="popupFooterMinibox">
                    <a href="{% static 'form/차량목록 엑셀 업로드 양식.xlsx' %}" download>
                        <div class="btnModules backgroundBlack">양식다운</div>
                    </a>
                    <div class="visibleLoadingBox">
                        <div class="visibleLoading">
                            <span>파일이 업로드 중입니다</span>
                            <iframe src="https://giphy.com/embed/sSgvbe1m3n93G" width="18" height="18" frameBorder="0"
                                class="giphy-embed" allowFullScreen></iframe>
                        </div>
                    </div>
                </div>
                <input autocomplete="off" type="submit" class="btnModules uploadCrateBtn backgroundBlue" value="등록">
                <div class="btnModules popupCloseBtn closeBtn">닫기</div>
            </div>
        </div>
    </form>
</div>
{% endblock %}






{% block script %}
<script>
    function closeCreatePopup(){
        document.querySelector("#CreatePopup").style.display = "none";
    }

    function openCreatePopup(){
        document.querySelector("#CreatePopup").style.display = "block";
    }
    function closeMaintenanceRecordPopup  () {
        document.querySelector("#MaintenanceRecordPopup").style.display = "none";
    }

    function openMaintenanceRecordPopup () {
        document.querySelector("#MaintenanceRecordPopup").style.display = "block";
    };

    function openDocumentPopup() {
        document.querySelector("#documentPopup").style.display="block";
    }

    function closeDocumentPopup() {
        document.querySelector("#documentPopup").style.display="none";
    }


    const excelDownloadUrl = '{% url "vehicle:vehicle_download" %}';
    console.log(regDatas)

    function openViweBlankVehilcle(url) {
        window.open(url, "차량등록증", "width=630, height=891")
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
<script src="{% static 'js/newvehicle/list.js' %}"></script>
<script src="{% static 'js/newvehicle/essential.js' %}"></script>
<script src="{% static 'js/newvehicle/excel.js' %}"></script>
{% endblock %}