{% extends 'passwordfinder_base.html' %}
{% load static %}

{% block head %}
<link href="{% static 'css/crudmember/passwordfinder.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{%block content%}

    <div class="pwfinder_form" id="pwfinder_form__tel">
        <div class="pwfinder_titel_cell">
            <input autocomplete="off"type="radio" id="tel" class="pwfinder__radio" name="type" checked>
            <label for="tel" class="pwfinder_title">전화번호로 찾기</label>
        </div>

        <dl class="pwfinder__input_cell" id="pwfinder__input_cell_phone">
            <dt class="pwfinder__input_label"><label for="tel">회사명</label></dt>
            <dd class="pwfinder__input_dd"><input autocomplete="off"type="text" id="tel" class="pwfinder__input_input"></dd>
            <dt class="pwfinder__input_label"><label for="tel">아이디</label></dt>
            <dd class="pwfinder__input_dd"><input autocomplete="off"type="text" id="tel" class="pwfinder__input_input"></dd>
            <dt class="pwfinder__input_label"><label for="tel">담당자 전화번호</label></dt>
            <dd class="pwfinder__input_dd" id="pwfinder__input_dd_phonenum">
                <select class="pwfinder__input_select">
                    <option value="82">대한민국+82</option>
                </select>
                <input autocomplete="off"type="tel" id="pwfinder__input_input__phonenum" class="pwfinder__input_input">
                <a href="">
                    <span class="pwfinder__getnumber">인증번호 받기</span>
                </a>
            </dd>
            <dt class="pwfinder__input_label"><label for="tel"></label></dt>
            <dd class="pwfinder__input_dd" id="pwfinder__input_dd_phonenum"><input autocomplete="off"type="text" id="tel" class="pwfinder__input_getnumber" placeholder="인증번호 6자리 입력"></dd>
        </dl>
    </div>

    <div class="pwfinder_form">
        <div class="pwfinder_titel_cell">
            <input autocomplete="off"type="radio" id="email" class="pwfinder__radio" name="type">
            <label for="email" class="pwfinder_title">이메일로 찾기</label>
        </div>

        <dl class="pwfinder__input_cell" id="pwfinder__input_cell_email">
            <dt class="pwfinder__input_label"><label for="tel">회사명</label></dt>
            <dd class="pwfinder__input_dd"><input autocomplete="off"type="text" id="tel" class="pwfinder__input_input"></dd>
            <dt class="pwfinder__input_label"><label for="tel">아이디</label></dt>
            <dd class="pwfinder__input_dd"><input autocomplete="off"type="text" id="tel" class="pwfinder__input_input"></dd>
            <dt class="pwfinder__input_label"><label for="tel">담당자 이메일</label></dt>
            <dd class="pwfinder__input_dd" id="pwfinder__input_dd_phonenum">
                <input autocomplete="off"type="tel" id="pwfinder__input_input__phonenum" class="pwfinder__input_input">
                <select class="pwfinder__input_select">
                    <option value="naver">@naver.com</option>
                    <option value="gmail">@gmail.com</option>
                </select>
                <a href="">
                    <span class="pwfinder__getnumber">인증번호 받기</span>
                </a>
            </dd>
            <dt class="pwfinder__input_label"><label for="tel"></label></dt>
            <dd class="pwfinder__input_dd" id="pwfinder__input_dd_phonenum"><input autocomplete="off"type="text" id="tel" class="pwfinder__input_getnumber" placeholder="인증번호 6자리 입력"></dd>
        </dl>
    </div>

{{error}}

{%endblock%}