{% extends 'base.html' %}
{% load static %}

{%block content%}
비번변경
<form action="." method="POST">
    {% csrf_token %}
    <div>현재비번<input autocomplete="off"type="password" name="old_password"></div>
    <div>바꿀비번<input autocomplete="off"type="password" name="new_password1"></div>
    <div>다시한번<input autocomplete="off"type="password" name="new_password2"></div>
    <input autocomplete="off"type="submit" value="ㄱ" name="cngpw">
</form>
{{error}}


구현할것/
폰번호 바꾸기 (모델 재정의 후 구현),
사진변경

{%endblock%}