@media only screen and (min-width: 1320px) and (max-width: 1560px) {
    .firstSectionArticle {
        width: 120rem;
    }

    .firstSectionArticle img {
        width: 50%;
    }

    .firstSectionIntroBox {
        width: 32%;
    }

    .firstSectionIntroBox img {
        width: 100%;
    }

    .ShortcutsBtn {
        width: 18rem;
        height: 4.2rem;
        font-size: 1.8rem;
    }

    .seconedSection {
        background-size: cover;
    }

    .seconedSectionIntroBox {
        width: 112rem;
    }

    .thirdMainTitle {
        height: 38rem;
    }

    .visibleFirst span:nth-child(1) {
        font-size: 4rem
    }

    .visibleFirst span:nth-child(2) {
        font-size: 2.2rem;
    }

    .visibleFirst img {
        width: 80%;
    }

    .visibleSecondTitle,
    .visibleSecondContents,
    .visibleThirdTitle,
    .visibleThirdContents,
    .visibleFourthTitle,
    .visibleFourthContents,
    .visibleFifthTitle,
    .visibleFifthContents,
    .visibleSixthTitle,
    .visibleSixthContents {
        left: 16rem;
    }

    .visibleSecondTitle span:nth-child(1),
    .visibleThirdTitle span:nth-child(1),
    .visibleFourthTitle span:nth-child(1),
    .visibleFifthTitle span:nth-child(1),
    .visibleSixthTitle span:nth-child(1) {
        font-size: 3.6rem;
    }

    .fourthSection {
        padding: 0 10rem;
    }

    .fourthSectionArticle {
        height: 44rem;
    }

    .fourthSectionContents {
        margin-top: 2rem;
    }

    .fourthSection img {
        width: 56rem;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1319px) {
    .firstSectionArticle {
        justify-content: space-around;
        width: 110rem;
    }

    .firstSectionArticle img {
        width: 50%;
    }

    .firstSectionIntroBox {
        width: 32%;
    }

    .firstSectionIntroBox img {
        width: 100%;
    }

    .ShortcutsBtn {
        width: 18rem;
        height: 4.2rem;
        font-size: 1.8rem;
    }

    .seconedSection {
        background-size: cover;
    }

    .seconedSectionIntroBox {
        width: 100rem;
        height: 38rem;
    }

    .seconedSectionTitle {
        font-size: 4.8rem;
    }

    .seconedSectionSubTitle {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .seconedSectionContents {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .thirdMainTitle {
        height: 38rem;
    }

    .visibleFirst span:nth-child(1) {
        font-size: 4rem
    }

    .visibleFirst span:nth-child(2) {
        font-size: 2.2rem;
    }

    .visibleFirst img {
        width: 80%;
    }

    .visibleSecondTitle,
    .visibleSecondContents,
    .visibleThirdTitle,
    .visibleThirdContents,
    .visibleFourthTitle,
    .visibleFourthContents,
    .visibleFifthTitle,
    .visibleFifthContents,
    .visibleSixthTitle,
    .visibleSixthContents {
        left: 16rem;
    }

    .visibleSecondTitle span:nth-child(1),
    .visibleThirdTitle span:nth-child(1),
    .visibleFourthTitle span:nth-child(1),
    .visibleFifthTitle span:nth-child(1),
    .visibleSixthTitle span:nth-child(1) {
        font-size: 3.6rem;
    }

    .fourthSection {
        padding: 0 10rem;
    }

    .fourthSectionArticle {
        height: 40rem;
    }

    .fourthSectionTitle {
        font-size: 4.2rem;
    }

    .fourthSectionSubTitle {
        font-size: 2.2rem;
    }

    .fourthSectionContents {
        font-size: 1.8rem;
        line-height: 3rem;
        margin-top: 0;
    }

    .fourthSection img {
        width: 56rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .firstSectionArticle {
        justify-content: space-around;
        width: 100rem;
    }

    .firstSectionArticle img {
        width: 50%;
    }

    .firstSectionIntroBox {
        width: 34%;
    }

    .firstSectionIntroBox img {
        width: 100%;
    }

    .ShortcutsBtn {
        width: 16rem;
        height: 3.6rem;
        font-size: 1.6rem;
        margin-top: 3.8rem;
    }

    .seconedSection {
        background-size: cover;
    }

    .seconedSectionIntroBox {
        width: 92rem;
        height: 38rem;
    }

    .seconedSectionTitle {
        font-size: 4.8rem;
    }

    .seconedSectionSubTitle {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .seconedSectionContents {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .thirdMainTitle {
        height: 38rem;
    }

    .visibleFirst span:nth-child(1) {
        font-size: 4rem
    }

    .visibleFirst span:nth-child(2) {
        font-size: 2.2rem;
    }

    .visibleFirst img {
        width: 80%;
    }

    .visibleSecondTitle,
    .visibleSecondContents,
    .visibleThirdTitle,
    .visibleThirdContents,
    .visibleFourthTitle,
    .visibleFourthContents,
    .visibleFifthTitle,
    .visibleFifthContents,
    .visibleSixthTitle,
    .visibleSixthContents {
        left: 14rem;
    }

    .visibleSecondTitle span:nth-child(1),
    .visibleThirdTitle span:nth-child(1),
    .visibleFourthTitle span:nth-child(1),
    .visibleFifthTitle span:nth-child(1),
    .visibleSixthTitle span:nth-child(1) {
        font-size: 3.6rem;
    }

    .fourthSection {
        padding: 0 7rem;
    }

    .fourthSectionArticle {
        height: 34rem;
    }

    .fourthSectionTitle {
        font-size: 3.8rem;
    }

    .fourthSectionSubTitle {
        font-size: 1.8rem;
    }

    .fourthSectionContents {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-top: 0;
    }

    .fourthSection img {
        width: 50rem;
    }

    footer {
        font-size: 1.1rem;
    }
}

/* 테블릿 */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .firstSection {
        background-size: cover;
    }

    .firstSectionArticle {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .firstSectionArticle img {
        height: 34%;
    }

    .firstSectionIntroBox {
        height: 36rem;
        width: 56%;
        margin-right: 0;
    }

    .firstSectionIntroBox img {
        height: 60%;
    }

    .ShortcutsBtn {
        width: 18rem;
        height: 4.2rem;
        font-size: 1.8rem;
        margin-top: 2.8rem;
    }

    .seconedSection {
        background-size: cover;
    }

    .seconedSectionIntroBox {
        width: 100%;
        height: 60rem;
        align-items: center;
    }

    .seconedSectionTitle {
        font-size: 7.6rem;
    }

    .seconedSectionSubTitleRocate {
        justify-content: center;
        height: 13.6rem;
    }

    .seconedSectionSubTitle {
        text-align: center;
        font-size: 3rem;
        line-height: 4.4rem;
    }

    .seconedSectionContentsRocate {
        justify-content: center;
        height: 21.8rem;
    }

    .seconedSectionContents {
        text-align: center;
        font-size: 2.4rem;
        line-height: 3.6rem;
    }

    .thirdSection {
        background-size: cover;
        background-position: center center;
    }

    .thirdSectionBg img {
        height: 100%;
    }

    .thirdMainTitle {
        height: 36rem;
    }

    .visibleFirst {
        padding: 3rem 0;
    }

    .visibleFirst img {
        width: 86%;
    }

    .visibleSecondTitle,
    .visibleSecondContents,
    .visibleThirdTitle,
    .visibleThirdContents,
    .visibleFourthTitle,
    .visibleFourthContents,
    .visibleFifthTitle,
    .visibleFifthContents,
    .visibleSixthTitle,
    .visibleSixthContents {
        left: 10%;
    }

    .visibleSecondTitle span:nth-child(1),
    .visibleThirdTitle span:nth-child(1),
    .visibleFourthTitle span:nth-child(1),
    .visibleFifthTitle span:nth-child(1),
    .visibleSixthTitle span:nth-child(1) {
        font-size: 3rem;
    }

    .fourthSection {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 6rem 2rem;
    }

    .fourthSectionArticle {
        width: 70%;
        height: 40rem;
        padding-top: 2rem;
        align-items: center;
    }

    .fourthSectionTitle {
        font-size: 4rem;
    }

    .fourthSectionSubTitle {
        font-size: 2.4rem;
        text-align: center;
    }

    .fourthSectionContents {
        font-size: 2.2rem;
        line-height: 3.4rem;
        margin-top: 0rem;
        text-align: center;
    }

    .fourthSection img {
        width: 70%;
    }

    footer {
        flex-wrap: wrap;
        height: 11rem;
        padding: 1rem 0;
        box-sizing: border-box;
        font-size: 1.3rem;
    }

}


/* 모바일 */
@media only screen and (min-width: 560px) and (max-width: 767px) {
    .firstSection {
        background-size: cover;
    }

    .firstSectionArticle {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .firstSectionArticle img {
        height: 32%;
    }

    .firstSectionIntroBox {
        height: 30rem;
        width: 56%;
        margin-right: 0;
    }

    .firstSectionIntroBox img {
        height: 54%;
    }

    .ShortcutsBtn {
        width: 16rem;
        height: 3.6rem;
        font-size: 1.6rem;
        margin-top: 2.8rem;
    }

    .seconedSection {
        background-size: cover;
    }

    .seconedSectionIntroBox {
        width: 100%;
        height: 44rem;
        align-items: center;
    }

    .seconedSectionTitle {
        font-size: 5.2rem;
    }

    .seconedSectionSubTitleRocate {
        justify-content: center;
        height: 13.6rem;
    }

    .seconedSectionSubTitle {
        text-align: center;
        font-size: 2.2rem;
        line-height: 4rem;
    }

    .seconedSectionContentsRocate {
        justify-content: center;
        height: 21.8rem;
    }

    .seconedSectionContents {
        text-align: center;
        font-size: 2rem;
        line-height: 3rem;
    }

    .thirdSection {
        background-size: cover;
        background-position: center center;
    }

    .thirdSectionBg img {
        height: 100%;
    }

    .thirdMainTitle {
        height: 40rem;
    }

    .visibleFirst {
        padding: 3rem 0;
    }

    .visibleFirst span:nth-child(1) {
        font-size: 3.2rem;
    }

    .visibleFirst span:nth-child(2) {
        top: 28%;
        font-size: 2rem;
    }

    .visibleFirst img {
        width: 86%;
    }

    .visibleFirst img:nth-child(3){
        display: none;
        position: absolute;
        top: 52%;
        opacity: 0;
        transition-delay: 1.5s;
        transition-duration: 0.8s;
        transition-timing-function: ease;
      }
      
      .visibleFirst img:nth-child(4){
        display: block;
        position: absolute;
        top: 50%;
        width: 66%;
        opacity: 0;
        transition-delay: 1.5s;
        transition-duration: 0.8s;
        transition-timing-function: ease;
      }
      

    .visibleSecondTitle,
    .visibleSecondContents,
    .visibleThirdTitle,
    .visibleThirdContents,
    .visibleFourthTitle,
    .visibleFourthContents,
    .visibleFifthTitle,
    .visibleFifthContents,
    .visibleSixthTitle,
    .visibleSixthContents {
        left: 6%;
    }

    .visibleSecondTitle,
    .visibleThirdTitle,
    .visibleFourthTitle,
    .visibleFifthTitle,
    .visibleSixthTitle{
        flex-direction: column;
        align-items: flex-start;
    }

    .visibleSecondTitle span:nth-child(1),
    .visibleThirdTitle span:nth-child(1),
    .visibleFourthTitle span:nth-child(1),
    .visibleFifthTitle span:nth-child(1),
    .visibleSixthTitle span:nth-child(1) {
        font-size: 2.8rem;
    }

    .visibleSecondTitle span:nth-child(2),
    .visibleThirdTitle span:nth-child(2),
    .visibleFourthTitle span:nth-child(2),
    .visibleFifthTitle span:nth-child(2),
    .visibleSixthTitle span:nth-child(2) {
        margin-left: 0;
    }

    .visibleSecondContents,
    .visibleThirdContents,
    .visibleFourthContents,
    .visibleFifthContents,
    .visibleSixthContents {
        font-size: 1.6rem;
    }

    .fourthSection {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 6rem 2rem;
    }

    .fourthSectionArticle {
        width: 70%;
        height: 30rem;
        padding-top: 2rem;
        align-items: center;
    }

    .fourthSectionTitle {
        font-size: 3.6rem;
    }

    .fourthSectionSubTitle {
        font-size: 1.8rem;
        text-align: center;
    }

    .fourthSectionContents {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-top: 0rem;
        text-align: center;
    }

    .fourthSection img {
        width: 56%;
    }

    footer {
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 11rem;
        padding: 1.6rem 0;
        box-sizing: border-box;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 440px) and (max-width: 559px) {
    .firstSection {
        background-size: cover;
    }

    .firstSectionArticle {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .firstSectionArticle img {
        height: 32%;
    }

    .firstSectionIntroBox {
        height: 30rem;
        width: 56%;
        margin-right: 0;
    }

    .firstSectionIntroBox img {
        height: 54%;
    }

    .ShortcutsBtn {
        width: 16rem;
        height: 3.6rem;
        font-size: 1.6rem;
        margin-top: 2.8rem;
    }

    .seconedSection {
        background-size: cover;
    }

    .seconedSectionIntroBox {
        width: 100%;
        height: 36rem;
        align-items: center;
    }

    .seconedSectionTitle {
        font-size: 4.8rem;
    }

    .seconedSectionSubTitleRocate {
        justify-content: center;
        height: 13.6rem;
    }

    .seconedSectionSubTitle {
        text-align: center;
        font-size: 1.8rem;
        line-height: 3rem;
    }

    .seconedSectionContentsRocate {
        justify-content: center;
        height: 21.8rem;
    }

    .seconedSectionContents {
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .thirdSection {
        background-size: cover;
        background-position: center center;
    }

    .thirdSectionBg img {
        height: 100%;
    }

    .thirdMainTitle {
        height: 30rem;
    }

    .visibleFirst {
        padding: 3rem 0;
    }

    .visibleFirst span:nth-child(1) {
        font-size: 2.4rem;
    }

    .visibleFirst span:nth-child(2) {
        top: 26%;
        font-size: 1.6rem;
    }

    .visibleFirst img {
        width: 86%;
    }

    .visibleFirst img:nth-child(3){
        display: none;
        position: absolute;
        top: 52%;
        opacity: 0;
        transition-delay: 1.5s;
        transition-duration: 0.8s;
        transition-timing-function: ease;
      }
      
      .visibleFirst img:nth-child(4){
        display: block;
        position: absolute;
        top: 50%;
        width: 76%;
        opacity: 0;
        transition-delay: 1.5s;
        transition-duration: 0.8s;
        transition-timing-function: ease;
      }

    .visibleSecondTitle,
    .visibleSecondContents,
    .visibleThirdTitle,
    .visibleThirdContents,
    .visibleFourthTitle,
    .visibleFourthContents,
    .visibleFifthTitle,
    .visibleFifthContents,
    .visibleSixthTitle,
    .visibleSixthContents {
        left: 6%;
    }

    .visibleSecondTitle,
    .visibleThirdTitle,
    .visibleFourthTitle,
    .visibleFifthTitle,
    .visibleSixthTitle{
        flex-direction: column;
        align-items: flex-start;
    }

    .visibleSecondTitle span:nth-child(1),
    .visibleThirdTitle span:nth-child(1),
    .visibleFourthTitle span:nth-child(1),
    .visibleFifthTitle span:nth-child(1),
    .visibleSixthTitle span:nth-child(1) {
        font-size: 2.6rem;
    }

    .visibleSecondTitle span:nth-child(2),
    .visibleThirdTitle span:nth-child(2),
    .visibleFourthTitle span:nth-child(2),
    .visibleFifthTitle span:nth-child(2),
    .visibleSixthTitle span:nth-child(2) {
        margin-left: 0;
    }

    .visibleSecondContents,
    .visibleThirdContents,
    .visibleFourthContents,
    .visibleFifthContents,
    .visibleSixthContents {
        font-size: 1.4rem;
    }

    .fourthSection {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 6rem 2rem;
    }

    .fourthSectionArticle {
        width: 86%;
        height: 30rem;
        padding-top: 2rem;
        align-items: center;
    }

    .fourthSectionTitle {
        font-size: 3.6rem;
    }

    .fourthSectionSubTitle {
        font-size: 1.8rem;
        text-align: center;
    }

    .fourthSectionContents {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-top: 0rem;
        text-align: center;
    }

    .fourthSection img {
        width: 56%;
    }

    footer {
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 11rem;
        padding: 1.4rem 0;
        box-sizing: border-box;
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 360px) and (max-width: 439px) {
    .firstSection {
        background-size: cover;
    }

    .firstSectionArticle {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .firstSectionArticle img {
        height: 32%;
    }

    .firstSectionIntroBox {
        height: 30rem;
        width: 56%;
        margin-right: 0;
    }

    .firstSectionIntroBox img {
        height: 54%;
    }

    .ShortcutsBtn {
        width: 16rem;
        height: 3.6rem;
        font-size: 1.6rem;
        margin-top: 2.8rem;
    }

    .seconedSection {
        background-size: cover;
    }

    .seconedSectionIntroBox {
        width: 100%;
        height: 36rem;
        align-items: center;
    }

    .seconedSectionTitle {
        font-size: 4.8rem;
    }

    .seconedSectionSubTitleRocate {
        justify-content: center;
        height: 9.6rem;
    }

    .seconedSectionSubTitle {
        text-align: center;
        font-size: 1.7rem;
        line-height: 3rem;
    }

    .seconedSectionContentsRocate {
        justify-content: center;
        height: 15rem;
    }

    .seconedSectionContents {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.4rem;
    }

    .thirdSection {
        background-size: cover;
        background-position: center center;
    }

    .thirdSectionBg img {
        background-size: cover;
        background-position: center center;
    }

    .thirdSectionBg img {
        height: 100%;
    }

    .thirdMainTitle {
        width: 92%;
        height: 32rem;
    }

    .visibleFirst {
        padding: 3rem 0;
    }

    .visibleFirst span:nth-child(1) {
        font-size: 2.4rem;
    }

    .visibleFirst span:nth-child(2) {
        top: 26%;
        font-size: 1.6rem;
    }

    .visibleFirst img {
        width: 86%;
    }

    .visibleFirst img:nth-child(3){
        display: none;
        position: absolute;
        top: 52%;
        opacity: 0;
        transition-delay: 1.5s;
        transition-duration: 0.8s;
        transition-timing-function: ease;
      }
      
      .visibleFirst img:nth-child(4){
        display: block;
        position: absolute;
        top: 50%;
        width: 86%;
        opacity: 0;
        transition-delay: 1.5s;
        transition-duration: 0.8s;
        transition-timing-function: ease;
      }

    .visibleSecondTitle,
    .visibleSecondContents,
    .visibleThirdTitle,
    .visibleThirdContents,
    .visibleFourthTitle,
    .visibleFourthContents,
    .visibleFifthTitle,
    .visibleFifthContents,
    .visibleSixthTitle,
    .visibleSixthContents {
        left: 6%;
    }

    .visibleSecondTitle,
    .visibleThirdTitle,
    .visibleFourthTitle,
    .visibleFifthTitle,
    .visibleSixthTitle{
        flex-direction: column;
        align-items: flex-start;
    }

    .visibleSecondTitle span:nth-child(1),
    .visibleThirdTitle span:nth-child(1),
    .visibleFourthTitle span:nth-child(1),
    .visibleFifthTitle span:nth-child(1),
    .visibleSixthTitle span:nth-child(1) {
        font-size: 1.8rem;
    }

    .visibleSecondTitle span:nth-child(2),
    .visibleThirdTitle span:nth-child(2),
    .visibleFourthTitle span:nth-child(2),
    .visibleFifthTitle span:nth-child(2),
    .visibleSixthTitle span:nth-child(2) {
        margin-left: 0;
    }

    .visibleSecondContents,
    .visibleThirdContents,
    .visibleFourthContents,
    .visibleFifthContents,
    .visibleSixthContents {
        width: 90%;
        font-size: 1.4rem;
    }

    .fourthSection {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 6rem 2rem;
    }

    .fourthSectionArticle {
        width: 86%;
        height: 30rem;
        padding-top: 2rem;
        align-items: center;
    }

    .fourthSectionTitle {
        font-size: 3.6rem;
    }

    .fourthSectionSubTitle {
        font-size: 1.8rem;
        text-align: center;
    }

    .fourthSectionContents {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-top: 0rem;
        text-align: center;
    }

    .fourthSection img {
        width: 56%;
    }

    footer {
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 11rem;
        padding: 1.4rem 0;
        box-sizing: border-box;
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 360px) and (max-width: 767px) {
    .menuBox{
        display: none;
    }
    .hembeger{
        display: block;
    }
    
    .imgSizing {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .imgSizing img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
}