.SecondContentsBox{
  margin-bottom: 16rem;
}

.subIntroCell{
  margin-top: 8rem;
}
.subIntroCell{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.subIntroCellTitle{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 0.6rem;
  font-size: 2.8rem;
  color: #1E1D31;
}
.subIntroCellContents{
  font-size: 2rem;
  list-style: square;
}
.subIntroCellInforgraphic{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 6rem;
}