@media (max-width: 48.1rem) {
  .subpageContentsGrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .subIntroCell{
    width: 90%;
  }
  .subIntroCellInforgraphic img{
    width: 100%;
  }
  .subIntroCellQuickMenuForm{
    width: 70rem;
  }
  .subIntroCellQuickMenuForm a{
    height: 100%;
  }
  #subIntroCellInforgraphicTip{
    height: 100%;
  }
  #subIntroCellInforgraphicTip img{
    height: 100%;
  }
  .companyStructureBox{
    flex-direction: row;
    justify-content: space-between;
  }
  .companyStructureCell{
    flex-direction: column;
    width: auto;
  }
  .companyStructureTitle img{
    width: 3rem;
  }
  .companyStructureBackLine{
    display: none;
  }
  .companyStructurecontents{
    width: 19.8rem;
  }
  .companyStructureCell{
    height: auto;
  }
  .questionCell{
    width: 90vw;
  }
  .questionBox{
    flex-direction: column;
    height: 22rem;
  }
  .questionBox div{
    justify-content: flex-start;
    margin-left: 2rem;
  }
  #questionCellEmail{
    width: 100%;
  }
  .wayToJoinBox{
    flex-wrap: wrap;
    height: 20rem;
  }
  .wayToJoinBox div:nth-child(6){
    margin-right: 5rem;
  } 
  .wayToJoinCell {
    margin-bottom: 1rem;
    height: calc((100% - 1rem)/2);
  }
  .wayToJoinarrow{
    margin-left: 1rem;
  }
  #comingSoonMargin{
    margin-bottom: 100rem;
  }
  .joinBtnBox{
    margin-bottom: 60rem;
  }
}