#accountinng_outlay_table_list_td_date{
  width: calc(( 100vw - 76rem) * 0.1);
}
#accountinng_outlay_table_list_td_pay{
  width: calc(( 100vw - 76rem) * 0.18);
}
#accountinng_outlay_table_list_td_operation{
  width: calc(( 100vw - 76rem) * 0.189);
}
#accountinng_outlay_table_list_td_vehicle{
  width: calc(( 100vw - 76rem) * 0.18);
}
#accountinng_outlay_table_list_td_welfare{
  width: calc(( 100vw - 76rem) * 0.18);
}
#accountinng_outlay_table_list_td_total{
  width: calc(( 100vw - 76rem) * 0.18);
}
#accountinngOutlayTotalCell{
  height: calc(( 100% - 6.4rem) /5);
}
#accountinngOutlayTotalHeader{
  height: calc(100% / 4);
}
#accountinngOutlayTotalContents{
  color: #F35915;
  height: calc(100% / 4 * 3);
}

.accountinng_income_total_cell{
  display: flex;
  flex-direction: column;
  height: 12.2rem;
}
.accountinng_income_total_cell_header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  height: 3.6rem;
  background-color: #1E1D31;
  color: white;
  font-size: 1.8rem;
}
.accountinng_income_total_cell_contents{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 2.2rem;
  font-weight: bold;
  color: #09B40F;
  height: 7.6rem;
}