#contents_box__input_cell__dd__input_out_lay_select{
    width: 30rem;
}
#ouylay_create_input_contents{
    height: 17rem;
}
#accountinng_outlay_create_main_contents{
    height: 21rem;
    position: relative;
}
#contents_box_cell_outlay_create_list{
  height: calc( 100% - (1vh * 8.05 + 25rem));
}
#outlay_create_list_contents{
  height: calc(100% - (1vh * 4.13 +2rem));
}
#list_table_cell__outlay_create_list{
  height: calc(100% - 5.2rem);
}
#outlayCrateEnrollment{  
  width: 5%;
  height: calc(1vh * 2.6);
  left: calc(95% - 2rem);
  top: calc( (1vh * 3.365) * -1 );
}
#contents_box_cell_outlay_create{
  height: calc( (1vh * 4.13) + 21rem);
}

#inputInputBoxInputOutlayCreateSelect{
  width: calc(100% - 4rem);
}
#inputCellHeightBriefs{
  height: calc(100%/2);
}
#inputCellHeightBlank{
  height: calc(100%/2);  
}
#inputInputBoxInputTextareaBriefs{
  height: 7rem;
  resize: none;
}
#inputInputBoxInputTextareaBlank{
  height: 7rem;
  resize: none;
}
.outlay_create_list_form{
  height: calc(100% - 9rem);
  position: relative;
}