.searchAreaBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(0 0 0 / 30%);
}

.searchName {
    font-size: 1.4rem;
    margin-right: 2rem;
    font-weight: normal;
}

.dateSearchBtn {
    margin-left: 1rem;
    background-color: #444;
}








.collectForm {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 3.6rem);
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

.depositContainer {
    width: 100%;
    height: 100%;
    background-color: white;
}

.collectHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    padding: 0 1rem;
    box-sizing: border-box;
    font-size: 1.4rem;
}

.selectDate {
    font-weight: 700;
}

.visibelOption label {
    cursor: pointer;
}

.visibelOption label:nth-child(2) {
    margin-right: 1rem;
}




.collectBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.collectTableHead {
    width: calc(100% - 0.6rem);
    height: 3.6rem;
    border-spacing: 0;
}

.collectTableHead tr {
    text-align: center;
    background-color: #444;
    color: white;
    font-size: 1.4rem;
}


.collectBody td:nth-child(1) {
    width: 2%;
}

.collectBody td:nth-child(2) {
    width: 8%;
}

.collectBody td:nth-child(3) {
    width: 22%;
}

.collectBody td:nth-child(4),
.collectBody td:nth-child(12) {
    width: 10%;
}

.collectBody td:nth-child(5),
.collectBody td:nth-child(7),
.collectBody td:nth-child(9),
.collectBody td:nth-child(10),
.collectBody td:nth-child(11),
.collectBody td:nth-child(14) {
    width: 6%;
}

.collectBody td:nth-child(6),
.collectBody td:nth-child(8),
.collectBody td:nth-child(13) {
    width: 4%;
}

.collectBody td:nth-child(1),
.collectBody td:nth-child(2),
.collectBody td:nth-child(5),
.collectBody td:nth-child(6),
.collectBody td:nth-child(8),
.collectBody td:nth-child(12),
.collectBody td:nth-child(13) {
    text-align: center;
}

.collectDateBox td:nth-child(3),
.collectDateBox td:nth-child(4) {
    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;
}

.collectDateBox td:nth-child(7),
.collectDateBox td:nth-child(9),
.collectDateBox td:nth-child(10),
.collectDateBox td:nth-child(11),
.collectDateBox td:nth-child(14) {
    text-align: right;
    padding-right: 1rem;
    box-sizing: border-box;
}


.collectDateBox td:nth-child(8){
    border-left: 0.1rem solid black;
}
.collectDateBox td:nth-child(11) {
    border-right: 0.1rem solid black;
}

.collectionProcessed {
    background-color: #EFEFEF;
}

.collectionUnprocessed td:nth-last-child(2) {
    color: red;
}






.collectScrollBox {
    width: 100%;
    height: 64rem;
    overflow-y: scroll;
}

.collectScrollBox::-webkit-scrollbar {
    width: 0.6rem;
}

.collectScrollBox::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 1rem;
}

.collectScrollBox::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.collectTable {
    width: 100%;
    height: auto;
    border-spacing: 0;
}

.collectDateTable td {
    border-right: 0.1rem solid #D4D4D4;
    border-bottom: 0.1rem solid #D4D4D4;
    box-sizing: border-box;
}

.selectTotal td {
    border-right: 0.1rem solid white;
    padding: 0;
}

.depositDateTable td:nth-child(1) {
    border-left: 0.1rem solid #D4D4D4;
}

.collectDateBox {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.collectDateBox:hover {
    background-color: #EFEFEF;
}

.collectDateBox td {
    padding: 0.3rem 0;
    font-size: 1.4rem;
    border-right: 0.1rem solid #D4D4D4;
    border-bottom: 0.1rem solid #D4D4D4;
    box-sizing: border-box;
}

.collectDateBox td:nth-child(12):hover .chit {
    color: #0069D9;
}

.collectDateRoute {
    display: flex;
    align-items: center;
    min-height: 3.6rem;
}

.collectDateTable {
    width: 100%;
    height: auto;
    border-spacing: 0;
}

.collectCell {
    width: 100%;
    height: 3.6rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.selectTotal {
    width: 100%;
    height: 3.6rem;
    box-sizing: border-box;
    background-color: #CDCDCE;
    font-size: 1.4rem;
}

.selectTotal td:nth-child(1),
.selectTotal td:nth-child(4),
.selectTotal td:nth-child(6),
.selectTotal td:nth-child(7),
.selectTotal td:nth-child(8) {
    text-align: right;
    padding-right: 1rem;
    box-sizing: border-box;
}

.selectTotal td:nth-child(2) {
    text-align: center;
}

.tRdisplayNone {
    display: none;
}


.loadDepositBtn {
    position: absolute;
    top: -5.2rem;
    right: 1rem;
    width: 12rem;
    background-color: #0069D9;
}

.routeSelect {
    cursor: pointer;
}

.collectPopupCloseBtn {
    background-color: #444;
}




/* 입금내역 불러오기 팝업 */
.collectingPopupContainer{
    width: 86rem;
}

.popupSearch {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    font-size: 1.4rem;
}

.popupSearch .inputModules {
    margin: 0 0.6rem;
}

.popupSearch .inputModules:nth-child(1) {
    margin-left: 0;
}

.popupSearch .btnModules {
    background-color: #444;
    margin-left: 2rem;
}

.popupArticle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
}

.popupArticleCollectiong td:nth-child(1),
.popupArticleCollectiong td:nth-child(2){
    width: 14%;
}
.popupArticleCollectiong td:nth-child(4),
.popupArticleCollectiong td:nth-child(6){
    width: 13%;
}

.popupArticleCollectiong td:nth-child(3) {
    width: 8%;
}

.popupArticleCollectiong td:nth-child(5) {
    width: 38%;
}

.collectingPopupHeader {
    width: calc(100% - 0.6rem);
}

.collectingPopupHeader tr {
    width: 100%;
    height: 3rem;
    background-color: #444;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

.collectingPopupScrollBox {
    width: 100%;
    height: 18rem;
    overflow-y: scroll;
}

.collectingPopupScrollBox::-webkit-scrollbar {
    width: 0.6rem;
}

.collectingPopupScrollBox::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 1rem;
}

.collectingPopupScrollBox::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.collectingPopupScrollBox table {
    width: 100%;
}

.collectingPopupScrollBox tr {
    width: 100%;
    height: 3rem;
    cursor: pointer;
}

.depositItem:hover {
    background-color: #CDCDCE;
}

.collectingPopupScrollBox td {
    text-align: center;
    font-size: 1.4rem;
    border-left: 0.1rem solid #D4D4D4;
    border-bottom: 0.1rem solid #D4D4D4;
}

.collectingPopupScrollBox td:nth-last-child(1) {
    border-right: 0.1rem solid #D4D4D4;
}


.selectDepoditTr {
    background-color: #0069D9;
    color: white;
}

.selectDepoditTr:hover {
    background-color: #0069D9;
}





/* 입금내역 팝업 */

.historyPopupAreaModules .popupContainer {
    width: 120rem;
}

.historyPopupCloseBtn {
    background-color: #444;
}

.historyingPopupHeader {
    width: calc(100% - 0.6rem);
}

.historyingPopupHeader tr {
    width: 100%;
    height: 3rem;
    background-color: #444;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

.historyingPopupScrollBox {
    width: 100%;
    height: 9rem;
    overflow-y: scroll;
}

.historyingPopupScrollBox::-webkit-scrollbar {
    width: 0.6rem;
}

.historyingPopupScrollBox::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 1rem;
}

.historyingPopupScrollBox::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.historyingPopupScrollBox table {
    width: 100%;
}

.historyingPopupScrollBox tr {
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
}

.historyingPopupScrollBox td {
    text-align: center;
    border-left: 0.1rem solid #D4D4D4;
    border-bottom: 0.1rem solid #D4D4D4;
}

.historyingPopupScrollBox td:nth-last-child(1) {
    border-right: 0.1rem solid #D4D4D4;
}

.popupArticleHistory td:nth-child(1) {
    width: 4%;
}

.popupArticleHistory td:nth-child(2),
.popupArticleHistory td:nth-child(3) {
    width: 12%;
}

.popupArticleHistory td:nth-child(4),
.popupArticleHistory td:nth-child(5),
.popupArticleHistory td:nth-child(7),
.popupArticleHistory td:nth-child(8),
.popupArticleHistory td:nth-child(10) {
    width: 8%;
}

.popupArticleHistory td:nth-child(6),
.popupArticleHistory td:nth-child(9) {
    width: 16%;
}

.historyingPopupScrollBox td:nth-child(7),
.historyingPopupScrollBox td:nth-child(8){
    text-align: right;
    padding-right: 1rem;
    box-sizing: border-box;
}