.income_detail_mid_content__title{
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: bold;
}

.income_detail_mid_content__header{
    margin-top: 2rem;
    display: flex;
    border-top: 0.3rem solid #B41515;
    border-bottom: 0.3rem solid #B41515;
    height: 3rem;
    font-size: 1.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.income_detail_mid_content__header_title{
    width: 20rem;
    text-align: center;
}
.income_detail_mid_content__header_title:nth-child(2){
    width: 40rem;
    text-align: center;
}
.income_detail_mid_content__header_title:nth-child(5){
    width: 10rem;
    text-align: center;
}

.income_detail_mid_kinds__content_box{
    display: flex;
    height: 5rem;
    border-bottom: 0.1rem solid gray;
}

.income_detail_mid_kinds__contents_box__content{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.income_detail_mid_kinds__contents_box__content:nth-child(2){
    width: 40rem;
}
.income_detail_mid_kinds__contents_box__content:nth-child(5){
    width: 10rem;
}