.searchAreaBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(0 0 0 / 30%);
}

.searchTool {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.searchName {
    font-size: 1.4rem;
    margin-right: 2rem;
    font-weight: normal;
}

.dateSearchBtn {
    margin-left: 1rem;
    background-color: #444;
}





.dashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75rem;
}

.dashboardBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainDataArea {
    height: 34rem;
}

.SubDataArea {
    height: 39rem;
}

.dashboardArticle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(0 0 0 / 30%);
}

.monthData {
    width: 43rem;
}

.yearData {
    width: calc(100% - 45rem);
}

.kategoriData {
    width: 100rem;
}

.otherData {
    width: calc(100% - 102rem);
}

.dashboardHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    background-color: #444;
    padding-left: 1rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    color: white;
}

.dashboardBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 3.6rem);
}

.monthData .dashboardBody {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-sizing: border-box;
}

.yearData .dashboardBody {
    padding: 0 2rem;
    box-sizing: border-box;
}

.kategoriData .dashboardBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
}

.otherData .dashboardBody {
    position: relative;
    display: flex;
    box-sizing: border-box;
}

.totalSalseBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(0 0 0 / 30%);
}

.totalSalsTitle{
    font-size: 2rem;
    color: #828282;
    margin-top: -1rem;
}

.totalSalsValue{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin-top: 1rem;
}

.salseArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9rem;
}

.orderSalseBox,
.regularlySalseBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(50% - 1rem);
    height: 100%;
    padding: 2rem 2rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(0 0 0 / 30%);
}

.SalseTitle{
    font-size: 1.4rem;
    color: #828282;
}

.SalseValue{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.accountsReceivableArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.4rem;
}

.orderAccountsReceivableBox,
.regularlyAccountsReceivableBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(50% - 1rem);
    height: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(0 0 0 / 30%);
}

.accountsReceivableTitle{
    font-size: 1.3rem;
    color: #828282;
}

.accountsReceivableValue{
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
}

.table-list{
    margin-left: 4rem;
}

.table-list tr{
    height: 3.6rem;
}

.table-list td:nth-child(1){
    width: 45%;
}

.table-list td:nth-child(2){
    width: 20%;
}

.table-list td:nth-child(3){
    width: 35%;
}

.dashboardBodyCoulmnCell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.totalPrice{
    position: absolute;
    right: 3%;
    bottom: 3%;
    font-size: 1.4rem;
    color: #666666;
}

.accountsReceivable{
    position: absolute;
    right: 3%;
    bottom: 10%;
    font-size: 1.4rem;
    color: #666666;
}