#InputContainerIncome_create{
  height: 22rem;
}
#inputInputBoxInputHrCreateSelect{
  width: calc(100% - 4rem);
}
#inputCellHeightBriefs{
  height: calc(100%/2);
}
#inputCellHeightBlank{
  height: calc(100%/2);  
}
#inputInputBoxInputTextareaBriefs{
  height: 7rem;
  resize: none;
}
#inputInputBoxInputTextareaBlank{
  height: 7rem;
  resize: none;
}
.inputInputBoxRadioYes{
  font-size: 1.6rem;
}
.inputInputBoxRadioNo{
  font-size: 1.6rem;
}
#contents_box_cell_hr_create{
  height: calc( (1vh*4.13) + 26rem )
}
#income_create_list_contents_list{
  height: calc(100% - (1vh * 4.13 + 2rem));
}
#list_table_cell__income_create_list{
  height: calc(100% - 3.6rem);
}
.income_kinds_create_list_form{
  height: calc(100% - 9rem);
  position: relative;
}
.income_kinds_create_list_create_form{
  position: relative;
}
#create_list_create_enrollment{
  width: 5%;
  height: calc(1vh * 2.6);
  left: 95%;
  top: calc( (1vh * 3.365 + 2rem) * -1 );
}