#income_kinds_serch_tool_label__name{
    width: 9rem;
    padding: 0.3rem 1rem 0.33rem 1rem;
}
.income_kinds_button_tool{
    margin-left: 98rem;
}
.income_kinds_td_check{
    width: calc(( 100vw - 38rem) * 0.06);
}
.income_kinds_td_date{
    width: calc(( 100vw - 38rem) * 0.06);
}
.income_kinds_td_dispatch_information{
    width: calc(( 100vw - 38rem) * 0.22);
}
.income_kinds_td_account{
    width: calc(( 100vw - 38rem) * 0.1);
}
.income_kinds_td_down_payment{
    width: calc(( 100vw - 38rem) * 0.1);
}
.income_kinds_td_deposit_date{
    width: calc(( 100vw - 38rem) * 0.1);
}
.income_kinds_td_collection_status{
    width: calc(( 100vw - 38rem) * 0.08);
}
.income_kinds_td_blank{
    width: calc(( 100vw - 38rem) * 0.28);
}
#enrollmentEdit{
  width: calc( (100% - 2rem) / 2);
  height: calc(1vh * 2.6);
  position: unset;
}
#enrollmentDelet{
  width: calc( (100% - 2rem) / 2);
  height: calc(1vh * 2.6);
  position: unset;
}
#enrollmentEnrollment{
  width: calc( (100% - 4rem) / 3);
  height: calc(1vh * 2.6);
  position: unset;
}
#income_create_list_contents{
  height: 42.8rem;
}
#list_table_cell__income_kinds_list{
  height: 62.6rem;
}
#list_table_cell__income_create_list{
  height: 30.2rem;
}
.income_kinds_list_form{
  position: relative;
}
.income_kinds_button_box{
  position: absolute;
  width: calc(10% + 2rem);
  height: calc(1vh * 2.6);
  display: flex;
  justify-content: space-between;
  left: calc( 100% - (10% + 2rem));
  top: calc((7rem + (1vh*3.365)) * -1);
}