#accountinng_income__main_contents{
    height: calc(100% - (1vh * 4.13));
}
#accountinng_income_create_main_contents{
  height: 26rem;
}
#income_create_input_contents{
  height: 22rem;
}
#income_create_list_contents{
  height: 50rem;
}
#contents_box_header_under{
  margin-top: 2rem;
}
#nav_cell_accounting_income_list{
    border-radius: 0.5rem 0 0 0;
    width: 18rem;
}
#nav_cell_accounting_outlay_list{
    border-radius: 0 0.5rem 0 0;
    width: 18rem;
}
#accountinng_income_serch_tool_label__date{
    width: 5rem;
}
#accountinng_income_serch_tool_select_year{
    width: 13rem;
}
#accountinng_income_serch_tool_select_month{
    width: 9rem;
}
#accountinng_income_table_list_td_date{
    width: calc(( 100vw - 76rem) * 0.19);
}
#accountinng_income_table_list_td_drive{
    width: calc(( 100vw - 76rem) * 0.27);
}
#accountinng_income_table_list_td_regularly{
    width: 27rem;
}
#accountinng_income_table_list_td_other{
    width: calc(( 100vw - 76rem) * 0.27);
}
#accountinng_income_table_list_td_total{
    width: calc(( 100vw - 76rem) * 0.27);
}
.accounting_income_contents_cell{
    display: flex;
    width: 100%;
    height: calc(100% - 7.2rem);
}
.accounting_income_list_box{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc( 100% - 38rem);
}
.accountinng_income_total_cell{
    display: flex;
    flex-direction: column;
    height: calc( (100% - 3.2rem) / 3);
}
.accountinng_income_total_cell_header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: calc( 100% / 4 * 1 );
    background-color: #1E1D31;
    color: white;
    font-size: 1.8rem;
}
.accountinng_income_total_cell_contents{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 2.2rem;
    font-weight: bold;
    color: #09B40F;
    height: calc( 100% / 4 * 3 );
}
.accountinng_income_total_box{
  padding-top: 1.6rem;
    height: calc(100% - 1.6rem);
    margin-left: 3rem;
    width: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#list_table_cell__accountinng_income_list{
    height: 100%;
}
.contents_box__input_cell__dd__radio{
  color: black;
}
#contents_box__input_cell__dd__textarea_income_create{
  width: 29.5rem;
  height: 7rem;
  resize: none;
}
#enrollmentEditCreate{
  top: 48.7rem;
  left: 170rem;
}
#enrollmentDeletCreate{
  top: 48.7rem;
  left: 178.6rem;
}
#enrollmentEnrollmentCreate{
  top: 48.7rem;
  left: 187.2rem;
}