.searchAreaBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(0 0 0 / 30%);
}

.searchTool {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.searchName {
    font-size: 1.4rem;
    margin-right: 2rem;
    font-weight: normal;
}

.dateSearchBtn {
    margin-left: 1rem;
    background-color: #444;
}





.dashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75rem;
}

.dashboardBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mainDataArea {
    height: 30rem;
}

.SubDataArea {
    height: 43rem;
}

.dashboardArticle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(0 0 0 / 30%);
}

.monthData {
    width: 43rem;
}

.yearData {
    width: calc(100% - 45rem);
}

.kategoriData {
    width: 70rem;
}

.otherData {
    width: calc(100% - 72rem);
}

.dashboardHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    background-color: #444;
    padding-left: 1rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    color: white;
}

.dashboardBody {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 3.6rem);
}

.monthData .dashboardBody {
    position: relative;
    padding: 0 2rem;
    box-sizing: border-box;
}

.yearData .dashboardBody {
    padding: 0 2rem;
    box-sizing: border-box;
}

.kategoriData .dashboardBody {
    padding: 2rem;
    box-sizing: border-box;
}

.otherData .dashboardBody {
    position: relative;
    display: flex;
    padding-right: 2rem;
    box-sizing: border-box;
}

.dashboardBodyCoulmnCell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 100%;
}

.chartTitle {
    position: absolute;
    left: 55%;
    font-size: 2.4rem;
    color: #666666;
}

.totalPrice{
    position: absolute;
    right: 3%;
    bottom: 3%;
    font-size: 1.4rem;
    color: #666666;
}

.accountsReceivable{
    position: absolute;
    right: 3%;
    bottom: 10%;
    font-size: 1.4rem;
    color: #666666;
}