.income_kinds_td_kinds{
    width: 50rem;
}
.income_kinds_td_contents{
    width: 70rem;
}
.income_kinds_td_payment{
    width: 20rem;
}
#list_table_cell__outlay_kinds_list{
  height: 62.6rem;
}
.outlay_kinds_td_kinds{
  width: calc(( 100vw - 38rem) * 0.18);
}
.outlay_kinds_td_contents{
  width: calc(( 100vw - 38rem) * 0.58);
}
.outlay_kinds_td_payment{
  width: calc(( 100vw - 38rem) * 0.12);
}