.FilterBox input {
    width: 14rem;
    padding: 0;
    margin-right: 1rem;
}

.searchTool input[type=submit] {
    background-color: #444444;
}

.addSalay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.8rem;
    border-radius: 0.2rem;
    background-color: #444444;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

.tableDataBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.tableDataBox span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 700;
    color: #191919;
    margin-right: 0.6rem;
}

.tableDataBox span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 500;
    color: #191919;
}

.tableDataCell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    margin-right: 2rem;
}

.tableHead {
    width: calc(100% - 0.2rem);
    height: 3.2rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.3rem 0.3rem 0 0;
}

.tableHead thead {
    width: 100%;
    height: 100%;
}

table tr {
    display: flex;
    width: 100%;
    min-height: 3.2rem;
    height: auto;
    border-bottom: 0.1rem solid #CDCDCE;
}

.tableHead tr {
    width: 100%;
    height: 100%;
    align-items: center;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #7A7A7A;
}

table tr:nth-child(odd) {
    background-color: white;
}

table tr:nth-child(even) {
    background-color: #EFEFEF;
}

.tableBody {
    width: calc(100% - 0.2rem);
    height: 60rem;
    border-spacing: 0;
    margin-top: -0.1rem;
    border: 0.1rem solid #CDCDCE;
}

tbody {
    width: 100%;
    height: 100%;
}

.tableBody td {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #191919;
}

td {
    width: calc(52% / 5);
}

.tableBody td:nth-child(12) {
    color: #0069D9;
    cursor: pointer;
}

td:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3%;
}

td:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4%;
    padding-right: 1%;
    box-sizing: border-box;
}

td:nth-child(3) {
    width: 15%;
}

td:nth-child(4) {
    width: 15%;
}

td:nth-child(5) {
    width: 15%;
}

.btnAreaBox input {
    background-color: #444444;
}

.btnAreaBox .btnBox div {
    background-color: #0069D9;
    margin-left: 2rem;
}

.popupContainer {
    position: fixed;
    top: 50%;
    left: calc(50% + 11rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54.5rem;
    height: 42rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 16%);
    transform: translate(-50%, -50%);
}

.PopupTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    border-bottom: 0.1rem solid #191919;
    font-size: 1.6rem;
    font-weight: 500;
}

.PopupDataArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 9.7rem);
    padding: 4.2rem 3rem 0 3rem;
    box-sizing: border-box;
}

.PopupDataCell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 23rem;
    height: 6rem;
}

.PopupDataCell div {
    width: 100%;
}

.PopupDataCell:nth-last-child(1) {
    width: 100%;
}

.PopupData {
    width: 100%;
    padding-bottom: 0.1rem;
    font-size: 1.4rem;
    color: #191919;
    border-bottom: 0.1rem solid #191919;
}

.PopupDataTitle {
    font-size: 1.4rem;
    color: #7A7A7A;
}

.PopupDataInput {
    width: 100%;
    height: 2.6rem;
    padding-left: 0.6rem;
    padding-bottom: 0.1rem;
    font-size: 1.4rem;
    color: #191919;
    border: 0.1rem solid #D2D2D2;
    border-radius: 0.3rem;
    box-sizing: border-box;
    outline: none;
}

.PopupBtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    box-sizing: border-box;
}

.closeBtn {
    background-color: #444444;
    margin: 1rem;
}

.createBtn {
    background-color: #0069D9;
    margin: 1rem;
}

.editBtn {
    background-color: #0069D9;
    margin: 1rem;
}

.detailTotal {
    width: 100%;
    height: 3.6rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.3rem;
    margin-top: 2rem;
    border-spacing: 0;
}

.detailTotal tr {
    border: none;
    min-height: 0;
    height: 100%;
}

.detailTotal td {
    display: flex;
    align-items: center;
    width: calc(52% / 5);
    font-size: 1.6rem;
}

.detailTotal td:nth-child(1) {
    width: 7%;
    background-color: #EFEFEF;
}

.detailTotal td:nth-child(2),
.detailTotal td:nth-child(3),
.detailTotal td:nth-child(4) {
    width: 15%
}