{% load dispatch_custom_tags %}
{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TRP</title>
    <link href="{% static 'css/dispatch/bus_print.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="busPrintContainer">
        <div class="pageTitle">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span>배차지시서 (호수별)</span>
        </div>

        <table class="tableBorder">
            <thead class="headerCell">
                <tr>
                    <th>차량</th>
                    <th>기사</th>
                    <th>출근</th>
                    <th>업무</th>
                    <th>퇴근</th>
                </tr>
            </thead>
            <tbody class="contentsCell">
                {% for vehicle in vehicle_list %}
                <tr>
                    <td>{{ vehicle.vehicle_num }}</td>
                    <td>{{ vehicle.driver.name }}</td>
                    {% with e_connect=e_connect_object|obj:vehicle.id %}
                    {% with connect=connect_object|obj:vehicle.id %}
                    {% with c_connect=c_connect_object|obj:vehicle.id %}
                    <td>
                        {% for con in e_connect %}
                        {% if forloop.counter != 1 %}<br><hr>{% endif %}
                        ({{ con.departure_date|slice:"11:" }}) [{{ con.regularly_id.departure }} ▶ {{ con.regularly_id.arrival }}]
                        {% if con.regularly_id.references %} -- ({{ con.regularly_id.references }}){% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for con in connect %}
                        {% if forloop.counter != 1 %}<br><hr>{% endif %}
                        ({{ con.departure_date|slice:"11:" }}) [{{ con.order_id.departure }} ▶ {{ con.order_id.arrival }}]
                        {% if con.order_id.references %} -- ({{ con.order_id.references }}){% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for con in c_connect %}
                        {% if forloop.counter != 1 %}<br><hr>{% endif %}
                        ({{ con.departure_date|slice:"11:" }}) [{{ con.regularly_id.departure }} ▶ {{ con.regularly_id.arrival }}]
                        {% if con.regularly_id.references %} -- ({{ con.regularly_id.references }}){% endif %}
                        {% endfor %}
                    </td>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

<script src="{% static 'js/dispatch/bus_Print.js' %}"></script>

</html>
