{% load humanize %}
{% load dispatch_custom_tags %}
{% load static %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TRP</title>
    <link href="{% static 'css/dispatch/daily_driving_print.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    {% for datas in connect_data %}
    <!-- 운행일보 개별 페이지 -->
    <div class="containerfor">
        <div class="container">
            <!-- 상단 정보 테이블 -->
            <table class="info-table">
                <tr class="headerTr">
                    <td colspan="4" rowspan="2">
                        <div class="title">운 행 일 보</div>
                    </td>
                    <td class="signLine">담당</td>
                    <td class="signLine">부장</td>
                    <td class="signLine">사장</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>운행일자</th>
                    <td>{{ date|slice:':4' }}.{{ date|slice:'5:7' }}.{{ date|slice:'8:10' }}</td>
                    <th colspan="2">운행기록 (km)</th>
                    <th colspan="2">주유 및 요소수 (ℓ)</th>
                    <th>비고</th>
                </tr>
                <tr class="subTr">
                    <th>차량번호</th>
                    <td>{{ datas.bus_num }}</td>
                    <th>출고시</th>
                    <td><input type="text" value="{{ datas.departure_km|intcomma }}" /></td>
                    <th>주류량</th>
                    <td><input type="text" value="{{ datas.refueling.refueling_amount }}" /></td>
                    <td><input type="text" /></td>
                </tr>
                <tr>
                    <th>승무원명</th>
                    <td>{{ datas.driver }}</td>
                    <th>입고시</th>
                    <td><input type="text" value="{{ datas.arrival_km|intcomma }}" /></td>
                    <th>요소수</th>
                    <td><input type="text" value="{{ datas.refueling.urea_solution }}" /></td>
                    <td><input type="text" /></td>
                </tr>
            </table>

            <!-- 운행 정보 테이블 -->
            <table class="data-table">
                <thead>
                    <tr class="data-tablemainth">
                        <th colspan="3">출 발</th>
                        <th colspan="3">도 착</th>
                        <th rowspan="2">탑 승<br />인 원</th>
                    </tr>
                    <tr class="data-tablesubth">
                        <th>장소</th>
                        <th>시간</th>
                        <th>계기km</th>
                        <th>장소</th>
                        <th>시간</th>
                        <th>계기km</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 11번 반복 -->
                    {% for idx in "12345678901" %}
                    <tr>
                        {% if forloop.counter0 < datas.data|length %}
                        {% with connect=datas.data|index:forloop.counter0 %}
                        <td>{{ connect.departure }}</td>
                        <td><input type="text" value="{{ connect.departure_date|slice:'10:' }}" /></td>
                        <td><input type="text" value="{{ connect.departure_km|intcomma}}"/></td>
                        <td>{{ connect.arrival }}</td>
                        <td><input type="text" value="{{ connect.arrival_date|slice:'10:' }}" /></td>
                        <td><input type="text" value="{{ connect.arrival_km|intcomma}}"/></td>
                        <td><input type="text" value="{{ connect.passenger_num}}" /></td>
                        {% endwith %}
                        {% else %}
                        <td></td>
                        <td><input type="text" value="" /></td>
                        <td><input type="text" value="" /></td>
                        <td></td>
                        <td><input type="text" value="" /></td>
                        <td><input type="text" value="" /></td>
                        <td><input type="text" value="" /></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="references" colspan="7">
                            <p>※ 안전벨트 착용 등 안내방송 실시여부:
                                <textarea></textarea>
                            </p>
                            <p>※ 운행간 특이사항 (사고/정비/고객사항 등):
                                <textarea></textarea>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</body>

<script src="{% static 'js/dispatch/driving_Print.js' %}"></script>
<script>
    console.log("{{connect_data}}")
</script>
</html>
