{% extends 'base.html' %}

{% block content %}
    <h1>일반</h1>
    {% for order in dispatch %}
        <div>
            <p>고객 이름 : {{ order.consumer.name }}</p>
            <p>전화번호 : {{ order.consumer.tel }}</p>
            <p>출발시간 : {{ order.departure_date }}</p>
            <p>도착시간 : {{ order.arrival_date }}</p>
            <p>노선명 : {{ order.route_name }}</p>
            <p>출발지 : {{ order.departure }}</p>
            <p>도착지 : {{ order.arrival }}</p>
            <p>경유지 : {{ order.stopover }}</p>
            <br>
        </div>
    {% endfor %}

    <h3>정기</h3> 
    {% for order in regularly_dispatch %}
        <div>
            <p>고객 이름 : {{ order.order_id.consumer.name }}</p>
            <p>전화번호 : {{ order.order_id.consumer.tel }}</p>
            <p>출발시간 : {{ order.order_id.departure_date }}</p>
            <p>도착시간 : {{ order.order_id.arrival_date }}</p>
            <p>노선명 : {{ order.order_id.route_name }}</p>
            <p>출발지 : {{ order.order_id.departure }}</p>
            <p>도착지 : {{ order.order_id.arrival }}</p>
            <p>경유지 : {{ order.order_id.stopover }}</p>
            <p>버스 : {{ order.bus_id.vehicle_num }}</p>
            <p>기사 : {{ order.driver_id.name }}</p>
            
            <br>
        </div>
    {% endfor %}

    <!-- 페이징 처리 -->
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                tabindex="-1">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">이전</a>
        </li>
        {% endif %}

        {% for page in page_range %}
        <li class="page-item {% if page == page_obj.number %} activate {% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
                href="?page={{ page_obj.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

{% endblock %}