{% load dispatch_custom_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/dispatch/estimate.css' %}" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="page">
      <div class="container">
        <div class="titleHeader">
          <img src="{% static 'images/고성화투어로.png' %}"/>
          <div class="info">견 적 서</div>
        </div>
        <div class="info-section">
          <div>
            <table class="info-MainTable">
              <tr>
                <th>계 약 일</th>
                <td>2 0 2 4 년 0 7 월 2 3 일</td>
              </tr>
              <tr>
                <th>견 적 일</th>
                <td>2 0 2 4 년 0 7 월 3 0 일</td>
              </tr>
              <tr>
                <th>견 약 자</th>
                <td>
                  <div class="contractor-name">
                    <span class="info-name">남 소 정</span>
                    <span class="info-name">귀 중</span>
                  </div>
                </td>
              </tr>
              <tr>
                <th>번 호</th>
                <td>0 1 0 - 0 0 0 0 - 0 0 0 0</td>
              </tr>
            </table>
            <hr />
            <div class="quote-note">아래와 같이 견적합니다.</div>
          </div>
          <div>
            <table class="info-table">
              <tr>
                <th rowspan="5" class="info-TableRow">공 급 자</th>
                <th>등록 번호</th>
                <td colspan="3">135-81-63601</td>
              </tr>
              <tr>
                <th>상 표</th>
                <td colspan="3">
                  수원시 권선구 매송고색로 804번길 224-46(고색동)
                </td>
              </tr>
              <tr>
                <th>상 호</th>
                <td>성화투어</td>
                <th>담 당 자</th>
                <td>이세명</td>
              </tr>
              <tr>
                <th>업 체</th>
                <td>성화투어</td>
                <th>종 목</th>
                <td>국내외여행업</td>
              </tr>
              <tr>
                <th>전화 번호</th>
                <td>031-293-7111</td>
                <th>Fax</th>
                <td>031-295-7151</td>
              </tr>
            </table>
          </div>
        </div>
        <table class="item-table">
          <thead>
            <tr>
              <td class="itme-TalbeFirst">
                합계급액<span class="item-Span">(공급가액+세액)</span>
              </td>
              <td colspan="6" class="item-TableSecond">
                원경<span class="item-Span">(1,006,000)</span>
              </td>
            </tr>
            <tr>
              <th>여행종류</th>
              <th>규격</th>
              <th>수량</th>
              <th>단위</th>
              <th>단가</th>
              <th>금액</th>
              <th>비고</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>화성장안초등학교 → 용인문화예술회관</td>
              <td>31</td>
              <td>2</td>
              <td>대</td>
              <td>530,000</td>
              <td>1,006,000</td>
              <td>비고</td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>-</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>합계</td>
              <td></td>
              <td>2</td>
              <td>대</td>
              <td></td>
              <td>1,006,000</td>
              <td>VAT 포함</td>
            </tr>
            <tr>
              <td colspan="7">내용</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer">
        최신차량<br />
        포함(고속비, 주차료, 봉사료, 부가세 포함)
      </div>
      <div class="sign">
        *견적유효일 : RPA-P에 등록된 출발날짜까지
        <div class="sunghwa">[주]성화투어</div>
      </div>
    </div>
  </body>
</html>
