{% load dispatch_custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>노선별 배차 지시서</title>
    <link href="{% static 'css/dispatch/line_print.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="title">노선별 배차 지시서</div>

        {% for connects in connect_list %}
        {% with cnt=forloop.counter0 %}
        <div class="section-title">{{ cnt|add:1 }}. {{ connects.0.regularly_id__group__name }}</div>
        <table class="section-table">
            <thead>
                <tr>
                    <th>출발시간</th>
                    <th>순번</th>
                    <th>출발지 > 도착지</th>
                    <th>차량</th>
                    <th>기사</th>
                    <th>참조</th>
                </tr>
            </thead>
            <tbody>
                {% for connect in connects %}
                <tr>
                    <td class="lineTime">[{{ connect.regularly_id__departure_time }}]</td>
                    <td>{{ connect.regularly_id__number1 }}-{{ connect.regularly_id__number2 }}</td>
                    <td class="lineRoute">{{ connect.regularly_id__departure }} ▶ {{ connect.regularly_id__arrival }}</td>
                    <td>{{connect.bus_id__vehicle_num}}</td>
                    <td>{{ connect.driver_id__name }}</td>
                    <td>{{ connect.regularly_id__references  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endwith %}
        {% endfor %}

        <!-- <div class="section-title">ㅁ미지정 된 출,퇴근</div>
        <table class="section-subtable">
            <thead>
                <tr>
                    <th>출발지 시간</th>
                    <th>순번</th>
                    <th>출발지 > 도착지</th>
                </tr>
            </thead>
            <tbody>
                {% for r in no_list %}
                <tr>
                    <td>{{ r.departure_time }}</td>
                    <td>{{ r.number1 }}-{{ r.number2 }}</td>
                    <td>{{ r.departure }} ▶ {{ r.arrival }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> -->
    </div>
    <script src="{% static 'js/dispatch/line_print.js' %}"></script>
</body>

</html>
