{% load dispatch_custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>노선별 배차 지시서</title>
    <link href="{% static 'css/dispatch/line_print.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="title">노선별 배차 지시서</div>

        {% for regularly in regularly_list %}
        {% with cnt=forloop.counter0 %}
        <div class="section-title">{{ cnt|add:1 }}. {{ regularly.0.group.name }}</div>
        <table class="section-table">
            <thead>
                <tr>
                    <th>출 발<br>시 간</th>
                    <th>순번</th>
                    <th>출발지 > 도착지</th>
                    <th>차량</th>
                    <th>기사</th>
                    <th>참조</th>
                </tr>
            </thead>
            <tbody>
                {% for r in regularly %}
                <tr>
                    <td class="lineTime">[{{ r.departure_time }}]</td>
                    <td>{{ r.number1 }}-{{ r.number2 }}</td>
                    <td class="lineRoute">{{ r.departure }} ▶ {{ r.arrival }}</td>
                    <td>{% with connects=connect_list|index:cnt %}
                        {% with this_connect=connects|index:forloop.counter0 %}
                        {% for connect in this_connect %}
                        {{ connect.bus_id.vehicle_num }}
                        {% endfor %}
                        {% endwith %}
                        {% endwith %}</td>
                    <td>{% with connects=connect_list|index:cnt %}
                        {% with this_connect=connects|index:forloop.counter0 %}
                        {% for connect in this_connect %}
                        {{ connect.driver_id.name }}
                        {% endfor %}
                        {% endwith %}
                        {% endwith %}</td>
                    <td>{{ r.references  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endwith %}
        {% endfor %}

        <div class="section-title">ㅁ미지정 된 출,퇴근</div>
        <table class="section-subtable">
            <thead>
                <tr>
                    <th>출발지 시간</th>
                    <th>순번</th>
                    <th>출발지 > 도착지</th>
                </tr>
            </thead>
            <tbody>
                {% for r in no_list %}
                <tr>
                    <td>{{ r.departure_time }}</td>
                    <td>{{ r.number1 }}-{{ r.number2 }}</td>
                    <td>{{ r.departure }} ▶ {{ r.arrival }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/dispatch/line_print.js' %}"></script>
</body>

</html>