{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/dispatch/order.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    일반배차
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">노선검색</span>
            <div class="routeFilterBox">
                <input value="{{route_old}}" name="route" type="text" class="inputModules" list="groupFilter" placeholder="노선이름">
                <datalist id="groupFilter">
                    {% for order in order_list %}
                    <option value="{{order.route}}"></option>
                    {% endfor %}
                </datalist>
                <input value="{{customer_old}}" name="customer" type="text" class="inputModules" list="routeFilter" placeholder="예약자">
                <datalist id="routeFilter">
                    {% for order in order_list %}
                    <option value="{{order.customer}}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <div class="dateFilterBox">
                <span>기간</span>
                <input value="{{start_date_old}}" name="start_date" type="date" class="inputModules">~
                <input value="{{end_date_old}}" name="end_date" type="date" class="inputModules">
            </div>
            <input type="submit" value="검색" class="btnModules">
        </div>
    </form>
    <div class="optionBtnBox">
        <div class="createRouteBtn">노선등록</div>
    </div>
</div>




<form class="dispatchListForm" method="post" action="{% url 'dispatch:order_delete' %}">
    {% csrf_token %}
    <div class="contentsAreaBox">
        <div class="tableRowBox">
            <div class="tableCell">
                <table class="tableHead">
                    <thead>
                        <tr class="headerLine">
                            <td>선택</td>
                            <td>운행시간</td>
                            <td>노선이름</td>
                            <td>계약현황</td>
                        </tr>
                    </thead>
                </table>

                <table class="tableBody">
                    <tbody>
                        {% for order in order_list %}
                        <tr class="{{order.id}}">
                            <td>
                                <input type="checkbox" name="id" value="{{order.id}}">
                            </td>
                            <td>
                                <span>{{ departure_date|index:forloop.counter0 }}</span>
                                <span>{% if num_days|index:forloop.counter0 %} {{num_days|index:forloop.counter0}}일 {% endif %}[{{ time|index:forloop.counter0 }}]</span>
                            </td>
                            <td class="orderRote {{forloop.counter0}}">
                                <span>{{order.departure}} ▶</span>
                                <span>{{order.arrival}}</span>
                            </td>
                            <td>{{order.contract_status}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tableCell tableCellScroll">
                <table class="tableHead">
                    <thead>
                        <tr class="headerLine">
                            <td>배차차량</td>
                            <td>차량대수</td>
                            <td>차량종류</td>
                            <td>상여금</td>
                            <td>상여금 선지급</td>
                            <td>계약금액</td>
                            <td>예약정보</td>
                            <td>비용구분</td>
                            <td>운행종류</td>
                            <td>참조사항</td>
                            <td>수금구분</td>
                            <td>입금현황</td>
                            <td>VAT포함여부</td>
                            <td>계산서발행일</td>
                            <td>입금예정일</td>
                        </tr>
                    </thead>
                </table>

                <table class="tableBody">
                    <tbody>
                        {% for order in order_list %}
                        <tr>
                            <td class="orderDispatch">
                                <span>1111{dlehdnf)</span>
                                <span>1111{dlehdnf)</span>
                                <span>1111{dlehdnf)</span>
                                <span>1111{dlehdnf)</span>
                                
                            </td>
                            <td>{{order.bus_cnt}}</td>
                            <td>{{order.bus_type}}</td>
                            <td>{{order.driver_allowance}}</td>
                            <td>{% if order.payment_method == 'y' %} 선지급 {% endif %}</td>
                            <td>{{order.price}}</td>
                            <td>
                                <span>{{order.customer}}</span>
                                <span>{{order.customer_phone}}</span>
                            </td>
                            <td>{{order.cost_type}}</td>
                            <td>{{order.operation_type}}</td>
                            <td>{{order.references}}</td>
                            <td>{{order.collection_type}}</td>
                            <td>{{order.deposit_status}}</td>
                            <td>{% if order.VAT == 'y' %} VAT 포함 {% endif %}</td>
                            <td>{{order.bill_date}}</td>
                            <td>{{order.deposit_date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="btnAreaBox">
            <div class="pagination">
                <!-- 페이징 처리 -->
                {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <div class="page-item page-pre">
                        <a class="page-link"
                            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.previous_page_number }}"
                            tabindex="-1">이전</a>
                    </div>
                    {% else %}
                    <div class="page-item page-pre disabled">
                        <a class="page-link" href="#" tabindex="-1">이전</a>
                    </div>
                    {% endif %}
                    {% for page in page_range %}
                    <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
                        <a class="page-link" href="?top_box_selector={{selector}}&search={{searched}}&page={{ page }}">{{
                            page }}</a>
                    </div>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <div class="page-item">
                        <a class="page-link page-next"
                            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.next_page_number }}">다음</a>
                    </div>
                    {% else %}
                    <div class="page-item page-next disabled">
                        <a class="page-link" href="#">다음</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="btnBox">
                <input type="submit" class="btnModules" value="삭제">
            </div>

        </div>
    </div>
</form>





{% endblock %}





{% block popup %}

<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form class="popupContainer">
        <div class="regularyCreatePopupTitle">배차등록</div>
        <table>
            <thead class="regularyCreatePopupThead">
                <tr>
                    <td>차량</td>
                    <td>
                        <span>출근</span>
                        <span>일반</span>
                        <span>퇴근</span>
                    </td>
                </tr>
            </thead>
        </table>
        <div class="regularyCreatePopupTbodyBoxing">
            <table>
                <tbody class="regularyCreatePopupTbody">
                    <tr>
                        <td>
                            <div class="addDriver" id="0">1111(이도울)</div>
                        </td>
                        <td>
                            <div class="GoToWork">2</div>
                            <div class="work">2</div>
                            <div class="backToHome">2</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="addDriver" id="1">1111(이도울)</div>
                        </td>
                        <td>
                            <div class="GoToWork">2</div>
                            <div class="work">2</div>
                            <div class="backToHome">2</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="regularyCreatePopupResult">
        </div>
        <div class="regularyCreatePopupBtnBox orderDispatchPopupBtnBox">
            <div class="btnModules">닫기</div>
            <input type="submit" class="btnModules" value="등록">
        </div>
    </form>
</div>



<div class="popupAreaModulesOrder">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'dispatch:order_create' %}" class="popupContainerOrder">
        {% csrf_token %}
        <div class="orderPopupTitle">일반주문 등록</div>

        <div class="orderPopupDataArea">
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">출발지</span>
                <input name="departure" type="text" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">차량대수</span>
                <input name="bus_cnt" type="number" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">도착지</span>
                <input name="arrival" type="text" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">차량종류</span>
                <select name="bus_type">
                    <option value="45인승 대형버스">45인승 대형버스</option>
                    <option value="41인승 대형버스">41인승 대형버스</option>
                    <option value="33인승 중형버스">33인승 중형버스</option>
                    <option value="28인승 대형우등버스">28인승 대형우등버스</option>
                    <option value="24인승 미니썬롱">24인승 미니썬롱</option>
                    <option value="24인승 미니버스">24인승 미니버스</option>
                    <option value="21인승 프리미엄버스">21인승 프리미엄버스</option>
                    <option value="21인승 중형우등버스">21인승 중형우등버스</option>
                    <option value="19인승 미니우등버스">19인승 미니우등버스</option>
                    <option value="16인승 미니우등버스">16인승 미니우등버스</option>
                    <option value="14인승 밴">14인승 밴</option>
                    <option value="10인승 밴">10인승 밴</option>
                </select>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">운행종류</span>
                <select name="operation_type">
                    <option value="왕복">왕복</option>
                    <option value="편도">편도</option>
                </select>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">운행시간</span>
                <div class="datetimeCell">
                    <input name="departure_date" type="datetime-local">~
                    <input name="arrival_date" type="datetime-local">
                </div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계약현황</span>
                <input name="contract_status" type="text" class="inputModules" list="contract_status" placeholder="직접입력">
                <datalist id="contract_status">
                    <option value="사무실 입금"></option>
                    <option value="개인"></option>
                </datalist>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">비용구분</span>
                <select name="cost_type">
                    <option value=""></option>
                    <option value="고속별주차별상여포">고속별주차별상여포</option>
                    <option value="고속포주차별상여포">고속포주차별상여포</option>
                    <option value="고속별주차별상여별">고속별주차별상여별</option>
                    <option value="고속포주차별상여별">고속포주차별상여별</option>
                    <option value="고속포주차별상여별">고속포주차별상여별</option>
                    <option value="고속포주차포상여별">고속포주차포상여별</option>
                </select>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">참조사항</span>
                <input name="references" type="text" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">예약자</span>
                <input name="customer" type="text" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">전화번호</span>
                <input name="customer_phone" type="number" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계약금액</span>
                <input name="price" type="text" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">입금현황</span>
                <input name="deposit_status" type="text" class="inputModules" list="deposit_status" placeholder="직접입력">
                <datalist id="deposit_status">
                    <option value="사무실 입금"></option>
                    <option value="개인"></option>
                </datalist>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">입금 예정일</span>
                <input name="deposit_date" type="date" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계산서 발행일</span>
                <input name="bill_date" type="date" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">수금구분</span>
                <input name="collection_type" type="text" class="inputModules" list="collection_type" placeholder="직접입력">
                <datalist id="collection_type">
                    <option value="현지수금"></option>
                    <option value="회사수금"></option>
                </datalist>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">상여금</span>
                <input name="driver_allowance" type="text" class="">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">상여금 선지급</span>
                <div class="checkingCell">
                    <input name="payment_method" type="checkbox" id="bonus" value="y">
                    <label for="bonus">선지급</label>
                </div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">VAT포함</span>
                <div class="checkingCell">
                    <input name="VAT" type="checkbox" value="y" id="vat">
                    <label for="vat">포함</label>
                </div>
            </div>
        </div>
        <div class="regularyCreatePopupBtnBox">
            <div class="btnModules">닫기</div>
            <input type="submit" class="btnModules" value="등록">
        </div>
    </form>
</div>




<div class="popupAreaModulesOrderRoute">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'dispatch:order_edit' %}" class="popupContainerOrder">
        {% csrf_token %}
        <div class="orderPopupTitle">일반주문 상세</div>

        <div class="orderPopupDataArea orderPopupDataAreaDetail">
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">출발지</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">차량대수</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">도착지</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">차량종류</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">운행종류</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">운행시간</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계약현황</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">비용구분</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">참조사항</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">예약자</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">전화번호</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계약금액</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">입금현황</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">입금 예정일</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계산서 발행일</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">수금구분</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">상여금</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">상여금 선지급</span>
                <div class="orderDispatchData"></div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">VAT포함</span>
                <div class="orderDispatchData"></div>
            </div>
        </div>
        
        <div class="orderPopupDataArea orderPopupDataAreaEdit">
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">출발지</span>
                <input name="departure" type="text" class="routeOrderDeparture">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">차량대수</span>
                <input name="bus_cnt" type="number" class="routeOrderBusCnt">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">도착지</span>
                <input name="arrival" type="text" class="routeOrderArrival">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">차량종류</span>
                <select name="bus_type" class="routeOrderBusType">
                    <option value="">차량종류 선택</option>
                    <option value="45인승 대형버스">45인승 대형버스</option>
                    <option value="41인승 대형버스">41인승 대형버스</option>
                    <option value="33인승 중형버스">33인승 중형버스</option>
                    <option value="28인승 대형우등버스">28인승 대형우등버스</option>
                    <option value="24인승 미니썬롱">24인승 미니썬롱</option>
                    <option value="24인승 미니버스">24인승 미니버스</option>
                    <option value="21인승 프리미엄버스">21인승 프리미엄버스</option>
                    <option value="21인승 중형우등버스">21인승 중형우등버스</option>
                    <option value="19인승 미니우등버스">19인승 미니우등버스</option>
                    <option value="16인승 미니우등버스">16인승 미니우등버스</option>
                    <option value="14인승 밴">14인승 밴</option>
                    <option value="10인승 밴">10인승 밴</option>
                </select>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">운행종류</span>
                <select name="operation_type" class="routeOrderOperationType">
                    <option value="왕복">왕복</option>
                    <option value="편도">편도</option>
                </select>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">운행시간</span>
                <div class="datetimeCell routeOrderDepartureDate">
                    <input name="departure_date" type="datetime-local">~
                    <input name="arrival_date" type="datetime-local">
                </div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계약현황</span>
                <input name="contract_status" type="text" class="inputModules routeOrderContactStatus" list="contract_status" placeholder="직접입력">
                <datalist id="contract_status">
                    <option value="사무실 입금"></option>
                    <option value="개인"></option>
                </datalist>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">비용구분</span>
                <select name="cost_type" class="routeOrderCostType">
                    <option value=""></option>
                    <option value="고속별주차별상여포">고속별주차별상여포</option>
                    <option value="고속포주차별상여포">고속포주차별상여포</option>
                    <option value="고속별주차별상여별">고속별주차별상여별</option>
                    <option value="고속포주차별상여별">고속포주차별상여별</option>
                    <option value="고속포주차별상여별">고속포주차별상여별</option>
                    <option value="고속포주차포상여별">고속포주차포상여별</option>
                </select>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">참조사항</span>
                <input name="references" type="text" class="routeOrderReferences">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">예약자</span>
                <input name="customer" type="text" class="routeOrderCustomer">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">전화번호</span>
                <input name="customer_phone" type="number" class="routeOrderCustomerPhone">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계약금액</span>
                <input name="price" type="text" class="routeOrderPrice">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">입금현황</span>
                <input name="deposit_status" type="text" class="inputModules routeOrderDepositStatus" list="deposit_status" placeholder="직접입력">
                <datalist id="deposit_status">
                    <option value="사무실 입금"></option>
                    <option value="개인"></option>
                </datalist>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">입금 예정일</span>
                <input name="deposit_date" type="date" class="routeOrderDepositDate">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">계산서 발행일</span>
                <input name="bill_date" type="date" class="routeOrderBillDate">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">수금구분</span>
                <input name="collection_type" type="text" class="inputModules routeOrderCollectionType" list="collection_type" placeholder="직접입력">
                <datalist id="collection_type">
                    <option value="현지수금"></option>
                    <option value="회사수금"></option>
                </datalist>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">상여금</span>
                <input name="driver_allowance" type="text" class="routeOrderDriverAllowance">
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">상여금 선지급</span>
                <div class="checkingCell routeOrderPaymentMethod">
                    <input name="payment_method" value="y" type="checkbox" id="bonusS">
                    <label for="bonusS">선지급</label>
                </div>
            </div>
            <div class="orderPopupDataCell">
                <span class="orderPopupDataTitle">VAT포함</span>
                <div class="checkingCell routeOrderVat">
                    <input name="VAT" value="y" type="checkbox" id="vatS">
                    <label for="vatS">포함</label>
                </div>
            </div>
            <input type="hidden" value="" name="id" class="sendToHidden">
        </div>

        <div class="orderPopupBtnBox">
            <div class="btnModules">닫기</div>
            <div class="btnModules">수정</div>
            <input type="submit" class="btnModules" value="저장">
        </div>
    </form>
</div>
{% endblock %}






{% block script %}
<script>
    let regDatas = [
        {% for dispatch in order_list %}
          {
            operation_type: "{{dispatch.operation_type}}",
            references: "{{dispatch.references}}",
            departure: "{{dispatch.departure}}",
            arrival: "{{dispatch.arrival}}",
            departure_date: "{{dispatch.departure_date}}",
            arrival_date: "{{dispatch.arrival_date}}",
            bus_type: "{{dispatch.bus_type}}",
            bus_cnt: "{{dispatch.bus_cnt}}",
            price: "{{dispatch.price}}",
            driver_allowance: "{{dispatch.driver_allowance}}",
            contract_status: "{{dispatch.contract_status}}",
            cost_type: "{{dispatch.cost_type}}",
            customer: "{{dispatch.customer}}",
            customer_phone: "{{dispatch.customer_phone}}",
            deposit_status: "{{dispatch.deposit_status}}",
            deposit_date: "{{dispatch.deposit_date}}",
            bill_date: "{{dispatch.bill_date}}",
            collection_type: "{{dispatch.collection_type}}",
            payment_method: "{{dispatch.payment_method}}",
            VAT: "{{dispatch.VAT}}",
            route: "{{dispatch.route}}",
          },
        {% endfor %}      
    ]
  </script>
<script src="{% static 'js/dispatch/orderPopup.js' %}"></script>
{% endblock %}