{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/orderPrint.css' %}" type="text/css" />

{% endblock %}

<div class="print">
    <div class="printTitle">{% if date1 == date2 %} {{date1}} {% else %} {{date1}} ~ {{date2}} {% endif %}배차현황</div>
    <div class="printTable">
        <div class="printTableHead">
            <div class="item">운행시간</div>
            <div class="item">노선</div>
            <div class="item">배차차량</div>
            <div class="item">대수(확정)</div>
            <div class="item">계약현황</div>
            <div class="item">상여금</div>
            <div class="item">계약금액</div>
            <div class="item">유형</div>
            <div class="item">예약정보</div>
            <div class="item">버스옵션</div>
            <div class="item">표찰정보</div>
            <div class="item">비용구분</div>
            <div class="item">참조사항</div>
            <div class="item">수금금액</div>
            <div class="item">미수금</div>
            <div class="item">VAT포함</div>
            <div class="item">계산서 발행처</div>
        </div>
        <div class="prinTableBody">
            {% for order in order_list %}
            <div class="printTableCell page-break">
                <div class="item">
                    {{order.departure_date|slice:'2:'}}<br>
                    {{order.arrival_date|slice:'2:'}}
                </div>
                <div class="item">
                    <div>{% if not order.bus_type and not order.operation_type %} {% else %} [{{order.bus_type}} {{order.operation_type}}] {% endif %}</div>
                    <div>{{order.departure}} ▶</div>
                    {% for waypoint in order.waypoint.all %}
                        <div>{{waypoint.waypoint}}({{waypoint.time}}){% if waypoint.delegate or waypoint.delegate_phone %} - {% endif %}{{waypoint.delegate}}{% if waypoint.delegate_phone %}({{waypoint.delegate_phone}}){% endif %}</div>
                    {% endfor %}
                    <div>{{order.arrival}}</div>
                </div>
                <div class="item">
                    {% for connect in order.info_order.all %}
                    <span>{{connect.bus_id.vehicle_num}}({{connect.driver_id.name}})</span>
                    {% endfor %}
                </div>
                <div class="item">
                    {{order.info_order.count}} ({{order.bus_cnt}})대
                </div>
                <div class="item">
                    {{order.contract_status}}
                </div>
                <div class="item">
                    {{order.driver_allowance}}
                </div>
                <div class="item">
                    {{order.price}}
                </div>
                <div></div>
                <div class="item">
                    <div>{{order.customer}}</div>
                    <div>{% if order.customer_phone %} {{order.customer_phone}} {% endif %}</div>
                </div>
                <div class="item">
                    <span></span>
                </div>
                <div class="item">
                    {{order.ticketing_info}}
                </div>
                <div class="item">
                    {% if order.cost_type and order.cost_type|in_check:'고속' %} 고속 {% endif %}
                    {% if order.cost_type and order.cost_type|in_check:'주차' %} 주차 {% endif %}
                    {% if order.cost_type and order.cost_type|in_check:'상여' %} 상여 {% endif %}
                </div>
                <div class="item">
                    {{order.references}}
                </div>
                <div class="item">
                    {{order.collection_amount}}
                </div>
                <div class="item">
                    {{order.price|sub:order.collection_amount}}
                </div>
                <div class="item">
                    {% if order.VAT == 'y' %} VAT포함 {% endif %}
                </div>
                <div class="item">
                    {{order.bill_place}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% block script %}
<script src="{% static 'js/dispatch/orderPopup.js' %}"></script>
{% endblock %}