{% load static %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/orderPrint.css' %}" type="text/css" />

{% endblock %}

<div class="print">
    <div class="printTitle">~qockwltltj</div>
    <div class="printTable">
        <div class="printTableHead">
            <div class="item">운행시간</div>
            <div class="item">노선</div>
            <div class="item">배차차량</div>
            <div class="item">대수-변경(확정)</div>
            <div class="item">계약현황</div>
            <div class="item">상여금</div>
            <div class="item">계약금액</div>
            <div class="item">예약정보</div>
            <div class="item">표찰정보</div>
            <div class="item">비용구분</div>
            <div class="item">참조사항</div>
            <div class="item">수금금액</div>
            <div class="item">미수금</div>
            <div class="item">수금일자</div>
            <div class="item">입금현황</div>
            <div class="item">VAT포함</div>
            <div class="item">계산서 발행일</div>
            <div class="item">계산서 발행처</div>
        </div>
        <div class="prinTableBody">
            <div class="printTableCell">
                <div class="item">
                    22-09-21 10:00<br>
                    22-09-22 13:00
                </div>
                <div class="item">
                    [45인승 왕복]화성 월문초등학교-9시출발 ▶<br>
                    화성 그린환경센터-12시학교도착
                </div>
                <div class="item">
                    <span>1004(김형주)</span>
                    <span>1357(오준희)</span>
                    <span>1701(강창선)</span>
                    <span>1711(노성중)</span>
                    <span>3057(강중호)</span>
                </div>
                <div class="item">
                    1(3)대
                </div>
                <div class="item">
                    확정
                </div>
                <div class="item">
                    100,000
                </div>
                <div class="item">
                    100,000
                </div>
                <div class="item">
                    행정실<br>
                    T.031-265-7014
                </div>
                <div class="item">
                    표찰정보
                </div>
                <div class="item">
                    고속 주차 상여
                </div>
                <div class="item">
                    
                </div>
                <div class="item">
                    100,000
                </div>
                <div class="item">
                    100,000
                </div>
                <div class="item">
                    2022.09.23
                </div>
                <div class="item">
                    시무실 입금
                </div>
                <div class="item">
                    VAT포함
                </div>
                <div class="item">
                    2022-09-23
                </div>
                <div class="item">
                    홈텍스
                </div>
            </div>
        </div>
    </div>
</div>

{% block script %}
{% endblock %}