{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/dispatchBase.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/dispatch/order.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    일반배차
</div>
{% endblock %}


{% block content %}

<div class="regularly_layout">



    <!-- 스케줄 -->
    <div class="schedule">

        <!-- 스케줄-헤더 -->
        <div class="scheduleHeaderArea">
            <div class="scheduleHeader">2022년 8월 16일 (화)</div>
        </div>

        <!-- 스케줄-바디 -->
        <div class="scheduleBodyArea">
            <div class="hourMarker">
                <div>0</div>
                <div>4</div>
                <div>8</div>
                <div>12</div>
                <div>16</div>
                <div>20</div>
                <div>24</div>
            </div>
            <div class="scheduleTableScroll">
              <div class="scheduleTable">
                <div class="scheduleTableTr">
                  <div class="hourTd"></div>
                  <div class="hourTd"></div>
                  <div class="hourTd"></div>
                  <div class="hourTd"></div>
                  <div class="hourTd"></div>
                  <div class="hourTd"></div>
                  <div class="hourTd"></div>
                  <div class="driverTd">7846(민병기)</div>
                </div>
              </div>
            </div>
        </div>

    </div>





    <div class="main_Layout">



        <!-- 검색창 -->
        <div class="search">

            <div class="searchTitle">노선검색</div>

            <form action="" class="searchForm">

                <!-- 변경영역 -->
                <div class="search_inputArea">
                    <label for="">노선이름</label>
                    <input type="text">
                    <label for="">날짜</label>
                    <input type="date" class="searchDate">~
                    <input type="date" class="searchDate">
                    <div class="dateControllBtnBox">
                        <div class="dateControllBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.6" height="13" viewBox="0 0 8.6 13">
                                <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                                    d="M13.843,12.692l5.692-4.915a.839.839,0,0,0,0-1.312,1.2,1.2,0,0,0-1.523,0l-6.449,5.569a.839.839,0,0,0-.031,1.281l6.475,5.608a1.205,1.205,0,0,0,1.523,0,.839.839,0,0,0,0-1.312Z"
                                    transform="translate(-11.25 -6.194)" fill="#fff" />
                            </svg>
                        </div>
                        <div class="dateControllBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.6" height="13" viewBox="0 0 8.6 13">
                                <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                                    d="M17.258,12.692,11.566,7.777a.839.839,0,0,1,0-1.312,1.2,1.2,0,0,1,1.523,0l6.448,5.569a.839.839,0,0,1,.031,1.281l-6.475,5.608a1.205,1.205,0,0,1-1.523,0,.839.839,0,0,1,0-1.312Z"
                                    transform="translate(-11.25 -6.194)" fill="#fff" />
                            </svg>
                        </div>
                    </div>
                </div>

                <input type="submit" class="btnModules searchBtn" value="검색">

            </form>

        </div>


        <form action="" class="inputDispatchForm">
            <!-- 입력창 -->
            <div class="input">
                <input type="submit" value="저장" class="btnModules inputSave">
                <table>
                    <tr>
                        <td class="InputHeader InputHeaderBordeTopLeft">출발지</td>
                        <td class="InputTd" colspan="3"><input type="text" class="inputText"></td>
                        <td class="InputHeader">계약금액</td>
                        <td class="InputTd"><input type="text" class="inputText inputTextUnit">원</td>
                        <td class="InputHeader">상여금</td>
                        <td class="InputTd"><input type="text" class="inputText inputTextUnit">원</td>
                    </tr>
                    <tr>
                        <td class="InputHeader InputHeaderBordeTopLeft">도착지</td>
                        <td class="InputTd" colspan="3"><input type="text" class="inputText"></td>
                        <td class="InputHeader">입금현황</td>
                        <td class="InputTd">
                            <select name="" id="deposit_status" class="inputSelect">
                                <option value=""></option>
                            </select>
                        </td>
                        <td class="InputHeader">입금 예정일</td>
                        <td class="InputTd"><input type="date" class="inputText"></td>
                    </tr>
                    <tr>
                        <td class="InputHeader InputHeaderBordeTopLeft">운행시간</td>
                        <td class="InputTd" colspan="3">
                            <div class="twiceBox">
                                <div class="quarterBox">
                                    <input type="text" class="inputTextquarter">
                                    <div class="deeperBox">
                                        <input type="text" class="inputTextTwice">
                                        :
                                        <input type="text" class="inputTextTwice">
                                    </div>
                                </div>
                                ~
                                <div class="quarterBox">
                                    <input type="text" class="inputTextquarter">
                                    <div class="deeperBox">
                                        <input type="text" class="inputTextTwice">
                                        :
                                        <input type="text" class="inputTextTwice">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="InputHeader">비용구분</td>
                        <td class="InputTd">
                            <select name="" id="cost_type" class="inputSelect">
                                <option value=""></option>
                            </select>
                        </td>
                        <td class="InputHeader">계산서 발행일</td>
                        <td class="InputTd"><input type="date" class="inputText"></td>
                    </tr>
                    <tr>
                        <td class="InputHeader InputHeaderBordeTopLeft">차량대수</td>
                        <td class="InputTd">
                            <input type="number" class="inputText inputTextUnit inputBusCount">대
                        </td>
                        <td class="InputHeader">차량종류</td>
                        <td class="InputTd">
                            <select name="" id="bus_type" class="inputSelect">
                                <option value=""></option>
                            </select>
                        </td>
                        <td class="InputHeader">수금구분</td>
                        <td class="InputTd" colspan="3">
                            <select name="" id="collection_type" class="inputSelect inputSelectfixedWidth">
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="InputHeader InputHeaderBordeTopLeft">예약자</td>
                        <td class="InputTd"><input type="text" class="inputText"></td>
                        <td class="InputHeader">전화번호</td>
                        <td class="InputTd"><input type="text" class="inputText"></td>
                        <td class="InputHeader">상여금 선지급</td>
                        <td class="InputTd">
                            <input type="checkbox">
                            <label for="">선지급</label>
                        </td>
                        <td class="InputHeader">VAT 포함</td>
                        <td class="InputTd">
                            <input type="checkbox">
                            <label for="">포함</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="InputHeader InputHeaderBordeTopLeft">계약현황</td>
                        <td class="InputTd">
                            <select name="" id="contract_status" class="inputSelect">
                                <option value=""></option>
                            </select>
                        </td>
                        <td class="InputHeader">운행종류</td>
                        <td class="InputTd">
                            <select name="" id="drive_type" class="inputSelect">
                                <option value=""></option>
                            </select>
                        </td>
                        <td class="InputHeader">참조사항</td>
                        <td class="InputTd" colspan="3"><input type="text" class="inputText"></td>
                    </tr>
                </table>
            </div>



            <!-- 일반배차 -->
            <div class="orderDispatch">
                <table class="orderDispatchTable">
                    <thead>
                        <tr>
                            <td>차량번호</td>
                            <td>기사이름</td>
                            <td>용역기사</td>
                            <td>계약금액</td>
                            <td>상여금</td>
                            <td>공제</td>
                            <td>삭제</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <select name="" id="" class="orderDriverSelect inputTextUnit">
                                    <option value=""></option>
                                </select>님
                            </td>
                            <td><input type="text" class="inputText inputTextUnit">님</td>
                            <td><input type="text" class="inputText inputTextUnit">원</td>
                            <td><input type="text" class="inputText inputTextUnit">원</td>
                            <td><input type="text" class="inputText inputTextUnit">원</td>
                            <td>
                                <div class="btnModules orderDispatchDelete">삭제</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </form>



        <!-- 노선목록 -->
        <form class="list">
            <div class="listHeader">
                <span>그룹이름</span>
                <input type="submit" value="엑셀로 내려받기" class="btnModules listExcel">
            </div>
            <table class="listTable">
                <thead>
                    <tr>
                        <td class="ListTableBox">
                            <table>
                                <tr>
                                    <td class="listTableFixedTd1">운행시간</td>
                                    <td class="listTableFixedTd2">차량종류</td>
                                    <td class="listTableFixedTd3">운행종류</td>
                                    <td class="listTableFixedTd4">업무내용</td>
                                    <td class="listTableFixedTd5">계약현황</td>
                                </tr>
                            </table>
                        </td>
                        <td class="scrollListTableBox">
                            <div class="scrollListTableWidth">
                                <table class="scrollListTable">
                                    <tr>
                                        <td>배차차량</td>
                                        <td>차량대수</td>
                                        <td>상여금</td>
                                        <td>계약금액</td>
                                        <td>예약정보</td>
                                        <td>비용구분</td>
                                        <td>참조사항</td>
                                        <td>수금금액</td>
                                        <td>미수금</td>
                                        <td>수금일자</td>
                                        <td>입금현황</td>
                                        <td>VAT포함</td>
                                        <td>계산서 발행일</td>
                                        <td>입금 예정일</td>
                                        <td>입력자</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="listTableScroll">
                <table class="listTable">
                    <tbody>
                        <tr>
                            <td class="ListTableBox">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="listTableFixedTd1"></td>
                                            <td class="listTableFixedTd2"></td>
                                            <td class="listTableFixedTd3"></td>
                                            <td class="listTableFixedTd4"></td>
                                            <td class="listTableFixedTd5"></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td class="scrollListTableBox">
                                <div class="scrollListTableWidth">
                                    <table class="scrollListTable">
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

    </form>




</div>
{% endblock %}



{% block script %}
<script src="{% static 'js/dispatch/bothScroll.js' %}"></script>
<script src="{% static 'js/dispatch/crateDispatch.js' %}"></script>
<script src="{% static 'js/dispatch/orderDispatch.js' %}"></script>
{% endblock %}