{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/dispatchBase.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/dispatch/order.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    일반배차
</div>
{% endblock %}


{% block content %}

<div class="regularly_layout">



    <!-- 스케줄 -->
    <div class="schedule">

        <!-- 스케줄-헤더 -->
        <div class="scheduleHeaderArea">
            <div class="scheduleHeader"></div>
        </div>

        <!-- 스케줄-바디 -->
        <div class="scheduleBodyArea">
            <div class="hourMarker">
                <div>0</div>
                <div>4</div>
                <div>8</div>
                <div>12</div>
                <div>16</div>
                <div>20</div>
                <div>24</div>
            </div>
            <div class="scheduleTableScroll">
                <div class="scheduleTable">
                    {% for v in vehicles %}
                    <div class="scheduleTableTr">
                        <div class="hourTd"></div>
                        <div class="hourTd"></div>
                        <div class="hourTd"></div>
                        <div class="hourTd"></div>
                        <div class="hourTd"></div>
                        <div class="hourTd"></div>
                        <div class="hourTd"></div>
                        <div class="driverTd {{v.id}} d{{v.driver.id}}">{{v.vehicle_num}}({{v.driver_name}})</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>





    <div class="main_Layout">



        <!-- 검색창 -->
        <div class="search">

            <div class="searchTitle">검색</div>

            <form action="" class="searchForm">

                <!-- 변경영역 -->
                <div class="search_inputArea">
                    <label for="">노선</label>
                    <input autocomplete="off"type="text">
                    <label for="">날짜</label>
                    <input autocomplete="off"type="date" name="date1" class="searchDate" max="9999-12-31">~
                    <input autocomplete="off"type="date" name="date2" class="searchDate" max="9999-12-31">
                    <div class="dateControllBtnBox">
                        <div class="dateToday">오늘</div>
                        <div class="dateControllBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.6" height="13" viewBox="0 0 8.6 13">
                                <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                                    d="M13.843,12.692l5.692-4.915a.839.839,0,0,0,0-1.312,1.2,1.2,0,0,0-1.523,0l-6.449,5.569a.839.839,0,0,0-.031,1.281l6.475,5.608a1.205,1.205,0,0,0,1.523,0,.839.839,0,0,0,0-1.312Z"
                                    transform="translate(-11.25 -6.194)" fill="#fff" />
                            </svg>
                        </div>
                        <div class="dateControllBtn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8.6" height="13" viewBox="0 0 8.6 13">
                                <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                                    d="M17.258,12.692,11.566,7.777a.839.839,0,0,1,0-1.312,1.2,1.2,0,0,1,1.523,0l6.448,5.569a.839.839,0,0,1,.031,1.281l-6.475,5.608a1.205,1.205,0,0,1-1.523,0,.839.839,0,0,1,0-1.312Z"
                                    transform="translate(-11.25 -6.194)" fill="#fff" />
                            </svg>
                        </div>
                    </div>
                </div>

                <input autocomplete="off"type="submit" class="btnModules searchBtn" value="검색">

            </form>

        </div>

        {% if detail %}
            <form action="{% url 'dispatch:order_edit' %}" method="post" class="inputDispatchForm">
        {% else %}
            <form action="{% url 'dispatch:order_create' %}" method="post" class="inputDispatchForm">
        {% endif %}
            {% csrf_token %}
            <input autocomplete="off"name="id" type="hidden" value="{{detail.id}}">
            <!-- 입력창 -->
            <div class="input">
                <input autocomplete="off"type="submit" value="저장" class="btnModules inputSave">
                {% if detail %}
                <input autocomplete="off"type="submit" value="삭제" class="btnModules inputDelete">
                <a href="{% url 'dispatch:order' %}" class="newOrderLink">
                    <div class="btnModules newOrder">신규</div>
                </a>
                {% endif %}
                <table>
                    <tr>
                        <td class="inputHeader inputHeaderBordeTopLeft">출발지</td>
                        <td class="inputTd" colspan="3">
                            <input autocomplete="off"value="{{detail.departure}}" name="departure" type="text" class="inputText">
                        </td>
                        <td class="inputHeader">계약금액</td>
                        <td class="inputTd">
                            <input autocomplete="off"value="{{detail.price}}" name="price" type="text" class="inputText inputTextUnit inputTextPrice">원
                        </td>
                        <td class="inputHeader">상여금</td>
                        <td class="inputTd">
                            <input autocomplete="off"value="{{detail.driver_allowance}}" name="driver_allowance" type="text" class="inputText inputTextUnit inputTextDriverAllowance" max="9999-12-31">원
                        </td>
                    </tr>
                    <tr>
                        <td class="inputHeader inputHeaderBordeTopLeft">도착지</td>
                        <td class="inputTd" colspan="3"><input autocomplete="off"value="{{detail.arrival}}" name="arrival" type="text" class="inputText"></td>
                        <td class="inputHeader">입금현황</td>
                        <td class="inputTd">
                            <select name="deposit_status" id="deposit_status" class="inputSelect">
                                <option value=""></option>
                                <option {% if detail.deposit_status == '사무실 입금' %} selected {% endif %} value="사무실 입금">사무실 입금</option>
                                <option value="최정이">최정이</option>
                                <option value="김성태">김성태</option>
                                <option value="국민">국민</option>
                                <option value="농협">농협(161157)</option>
                                <option value="신한">신한</option>
                                <option value="기업">기업</option>
                            </select>
                        </td>
                        <td class="inputHeader">계산서 발행일</td>
                        <td class="inputTd"><input autocomplete="off"value="{{detail.bill_date}}" name="bill_date" type="date" class="inputText"></td>
                    </tr>
                    <tr>
                        <td class="inputHeader inputHeaderBordeTopLeft">운행시간</td>
                        <td class="inputTd" colspan="3">
                            <div class="twiceBox">
                                <div class="quarterBox">
                                    <input autocomplete="off"name="departure_date" type="date" class="inputTextquarter" value="{{detail.departure_date|slice:':10'}}" max="9999-12-31">
                                    <div class="deeperBox">
                                        <input autocomplete="off"value="{{detail.departure_date|slice:'11:13'}}" name="departure_time1" type="text" class="inputTextTwice" maxlength="2">
                                        :
                                        <input autocomplete="off"value="{{detail.departure_date|slice:'14:'}}" name="departure_time2" type="text" class="inputTextTwice" maxlength="2">
                                    </div>
                                </div>
                                ~
                                <div class="quarterBox">
                                    <input autocomplete="off"value="{{detail.arrival_date|slice:':10'}}" name="arrival_date" type="date" class="inputTextquarter" max="9999-12-31">
                                    <div class="deeperBox">
                                        <input autocomplete="off"value="{{detail.arrival_date|slice:'11:13'}}" name="arrival_time1" type="text" class="inputTextTwice" maxlength="2">
                                        :
                                        <input autocomplete="off"value="{{detail.arrival_date|slice:'14:'}}" name="arrival_time2" type="text" class="inputTextTwice" maxlength="2">
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="inputHeader">비용구분</td>
                        <td class="inputTd">
                            <input autocomplete="off"id="highway" type="checkbox" value="y">
                            <label for="highway">고속도로</label>
                            <input autocomplete="off"id="parking" type="checkbox" value="y">
                            <label for="parking">주차</label>
                            <input autocomplete="off"id="payment" type="checkbox" value="y">
                            <label for="payment">상여금</label>
                        </td>
                        <td class="inputHeader">계산서 발행처</td>
                        <td class="inputTd">                            
                            <input autocomplete="off"value="" name="bill_recate" id="bill_recate" type="text" list="billList" class="inputSelect">
                            <datalist id="billList">
                                <option value=""></option>
                                <option value="홈텍스">홈텍스</option>
                                <option value="나라장터">나라장터</option>
                                <option value="학교장터">학교장터</option>
                                <option value="기타-">기타-</option>
                            </datalist>
                        </td>
                    </tr>
                    <tr>
                        <td class="inputHeader inputHeaderBordeTopLeft">차량대수</td>
                        <td class="inputTd">
                            <input autocomplete="off"value="{{detail.bus_cnt}}" name="bus_cnt" type="number" class="inputText inputTextUnit inputBusCount">대
                        </td>
                        <td class="inputHeader">차량종류</td>
                        <td class="inputTd">
                            <input autocomplete="off"value="{{detail.bus_type}}" name="bus_type" id="bus_type" type="text" list="depList" class="inputText">
                            <datalist id="depList">
                                <option value="45인승 대형버스">45인승 대형버스</option>
                                <option value="41인승 대형버스">41인승 대형버스</option>
                                <option value="33인승 중형버스">33인승 중형버스</option>
                                <option value="28인승 대형우등버스">28인승 대형우등버스</option>
                                <option value="24인승 미니썬롱">24인승 미니썬롱</option>
                                <option value="24인승 미니버스">24인승 미니버스</option>
                                <option value="21인승 프리미엄버스">21인승 프리미엄버스</option>
                                <option value="21인승 중형우등버스">21인승 중형우등버스</option>
                                <option value="19인승 미니우등버스">19인승 미니우등버스</option>
                                <option value="16인승 미니우등버스">16인승 미니우등버스</option>
                                <option value="14인승 밴">14인승 밴</option>
                                <option value="10인승 밴">10인승 밴</option>
                            </datalist>
                        </td>
                        <td class="inputHeader">수금구분</td>
                        <td class="inputTd" colspan="3">
                            <select name="collection_type" id="collection_type" class="inputSelect inputSelectfixedWidth">
                                <option value=""></option>
                                <option {% if detail.collection_type == '현지수금(카드기 지참)' %} selected {% endif %} value="현지수금(카드기 지참)">현지수금(카드기 지참)</option>
                                <option {% if detail.collection_type == '회사수금' %} selected {% endif %} value="회사수금">회사수금</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="inputHeader inputHeaderBordeTopLeft">예약자</td>
                        <td class="inputTd"><input autocomplete="off"value="{{detail.customer}}" name="customer" type="text" class="inputText"></td>
                        <td class="inputHeader">전화번호</td>
                        <td class="inputTd">
                            <input autocomplete="off"value="{{detail.customer_phone}}" name="customer_phone" type="text" class="inputText inputTextPhoneNum" maxlength="13">
                        </td>
                        <td class="inputHeader">상여금 선지급</td>
                        <td class="inputTd">
                            <input autocomplete="off"{% if detail.payment_method == 'y' %} checked {% endif %} name="payment_method" value="y" type="checkbox" id="input_payment_method">
                            <label for="input_payment_method">선지급</label>
                        </td>
                        <td class="inputHeader">VAT 포함</td>
                        <td class="inputTd">
                            <input autocomplete="off"{% if detail.VAT == 'y' %} checked {% endif %} name="VAT" value="y" type="checkbox" id="input_VAT">
                            <label for="input_VAT">포함</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="inputHeader inputHeaderBordeTopLeft">계약현황</td>
                        <td class="inputTd">
                            <select name="contract_status" id="contract_status" class="inputSelect">
                                <option value=""></option>
                                <option {% if detail.contract_status == '확정' %} selected {% endif %} value="확정">확정</option>
                                <option {% if detail.contract_status == '보류' %} selected {% endif %} value="보류">보류</option>
                                <option {% if detail.contract_status == '변경' %} selected {% endif %} value="변경">변경</option>
                                <option {% if detail.contract_status == '취소' %} selected {% endif %} value="취소">취소</option>
                            </select>
                        </td>
                        <td class="inputHeader">운행종류</td>
                        <td class="inputTd">
                            <select name="operation_type" id="drive_type" class="inputSelect">
                                <option value=""></option>
                                <option {% if detail.operation_type == '왕복' %} selected {% endif %} value="왕복">왕복</option>
                                <option {% if detail.operation_type == '편도' %} selected {% endif %} value="편도">편도</option>
                            </select>
                        </td>
                        <td class="inputHeader">참조사항</td>
                        <td class="inputTd" colspan="3"><input autocomplete="off"value="{{detail.references}}" name="references" type="text" class="inputText"></td>
                    </tr>
                </table>
            </div>



            <!-- 일반배차 -->
            <div class="orderDispatch">
                <table class="orderDispatchTable">
                    <thead>
                        <tr>
                            <td>차량번호</td>
                            <td>기사이름</td>
                            <td>용역기사</td>
                            <td>계약금액</td>
                            <td>상여금</td>
                            <td>공제</td>
                            <td>삭제</td>
                        </tr>
                    </thead>
                </table>
                <div class="orderDispatchTableBox">
                    <table class="orderDispatchTable">
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <select name="" id="" class="orderDriver inputTextUnit">
                                    </select>님
                                </td>
                                <td><input autocomplete="off"type="text" class="inputText inputTextUnit">님</td>
                                <td><input autocomplete="off"type="text" class="inputText inputTextUnit dispatchPrice">원</td>
                                <td><input autocomplete="off"type="text" class="inputText inputTextUnit dispatchPaymen">원</td>
                                <td><input autocomplete="off"type="text" class="inputText inputTextUnit dispatchDeduction">원</td>
                                <td>
                                    <div class="btnModules orderDispatchDelete">삭제</div>
                                </td>
                                <input autocomplete="off"type="hidden">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </form>



        <!-- 노선목록 -->
        <form class="list">
            <div class="listHeader">
                <span></span>
                <div class="listHeaderBtnBox">
                    <div class="btnModules">서류함</div>
                    <input autocomplete="off"type="submit" value="엑셀로 내려받기" class="btnModules listExcel">
                </div>
            </div>
            <table class="listTable">
                <thead>
                    <tr>
                        <td class="ListTableBox">
                            <table>
                                <tr>
                                    <td class="listTableFixedTd1">운행시간</td>
                                    <td class="listTableFixedTd2">차량종류</td>
                                    <td class="listTableFixedTd3">운행종류</td>
                                    <td class="listTableFixedTd4">노선</td>
                                    <td class="listTableFixedTd5">계약현황</td>
                                </tr>
                            </table>
                        </td>
                        <td class="scrollListTableBox">
                            <div class="scrollListTableWidth">
                                <table class="scrollListTable">
                                    <tr>
                                        <td>배차차량</td>
                                        <td>차량대수</td>
                                        <td>상여금</td>
                                        <td>계약금액</td>
                                        <td>예약정보</td>
                                        <td>비용구분</td>
                                        <td>참조사항</td>
                                        <td>수금금액</td>
                                        <td>미수금</td>
                                        <td>수금일자</td>
                                        <td>입금현황</td>
                                        <td>VAT포함</td>
                                        <td>계산서 발행일</td>
                                        <td>입금 예정일</td>
                                        <td>입력자</td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="listTableScroll">
                <table class="listTable">
                    <tbody>
                        <tr>
                            <td class="ListTableBox">
                                <div>
                                    <table>
                                        {% for order in order_list %}
                                        <tr class="{{order.id}}">
                                            <td class="listTableFixedTd1">{{order.departure_date}}
                                                <br>{{order.arrival_date}}</td>
                                            <td class="listTableFixedTd2">{{order.bus_type}}</td>
                                            <td class="listTableFixedTd3">{{order.operation_type}}</td>
                                            <td class="listTableFixedTd4">
                                                {{order.departure}} ▶ <br>
                                                {{order.arrival}}
                                            </td>
                                            <td class="listTableFixedTd5">{{order.contract_status}}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr></tr>
                                    </table>
                                </div>
                            </td>
                            <td class="scrollListTableBox">
                                <div class="scrollListTableWidth">
                                    <table class="scrollListTable">
                                        {% for order in order_list %}
                                        <tr>
                                            <td></td>
                                            <td>{{order.bus_cnt}}</td>
                                            <td>{{order.driver_allowance}}</td>
                                            <td>{{order.price}}</td>
                                            <td>{{order.customer}} : {{order.customer_phone}}</td>
                                            <td>{{order.cost_type}}</td>
                                            <td>{{order.references}}</td>
                                            <td>{{order.collection_amount}}</td>
                                            <td></td>
                                            <td>{{order.collection_date}}</td>
                                            <td>{{order.deposit_status}}</td>
                                            <td>{{order.VAT}}</td>
                                            <td>{{order.bill_date}}</td>
                                            <td>{{order.deposit_date}}</td>
                                            <td>{{order.creator.name}}</td>
                                        </tr>
                                        {% endfor %}
                                        <tr></tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="routeTableTotal">
                <table class="routeMainTableTotal">
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div class="routeTableTotalScrolBox">
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            </form>
    </div>

    </form>




</div>
{% endblock %}



{% block script %}
<script>
    {% autoescape off %}
    const data = {{ dispatch_list }}
    const driverObj = {{ driver_dict }}
    console.log("DATA", data)
    console.log("driverObj", driverObj)
    console.log("order_list", '{{order_list}}')
    {% endautoescape %}
</script>
<script src="{% static 'js/dispatch/orderAll.js' %}"></script>
<script src="{% static 'js/dispatch/bothScroll.js' %}"></script>
<script src="{% static 'js/dispatch/crateDispatch.js' %}"></script>
<script src="{% static 'js/dispatch/orderDateControll.js' %}"></script>
<script src="{% static 'js/dispatch/orderDispatch.js' %}"></script>
<script src="{% static 'js/dispatch/FullSchedule.js' %}"></script>
<script src="{% static 'js/dispatch/LinkDocument.js' %}"></script>
<script src="{% static 'js/dispatch/orderValidation.js' %}"></script>
<script src="{% static 'js/dispatch/loadRouteinput.js' %}"></script>
{% endblock %}









<div class="weekTable firstWeek">
    <div class="weekTableHeader">
      <div>1주전</div>
      {% for date in date_list1 %}
      <div>{{date|slice:'2:'}}</div>
      {% endfor %}
    </div>
    <div class="weekTableBody">
      <div class="historyItemTitle">
        <div class="historyBus">차량</div>
        <div class="historyDriverTItle">기사</div>
      </div>
      {% for connect in history_list1 %}
      <div class="historyItem {% if block_list1|index:forloop.counter0 %}historyUnable{% elif not connect %}historyUnable{% endif %}">
        <div class="historyBus {{connect.bus_id.id}}">{{connect.bus_id.vehicle_num}}</div><!--차량 아이디-->
        <div class="historyDriver {{connect.driver_id.id}}"><!--기사 아이디-->
          {% if connect.outsourcing == 'n' %}<div class="driverType typeRegular">정</div>{% elif connect.outsourcing == 'y' %}<div class="driverType typeOutsourcing">용</div>{% endif %}
          <span>{{connect.driver_id.name}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="weekTable secondWeek">
    <div class="weekTableHeader">
      <div>2주전</div>
      {% for date in date_list2 %}
      <div>{{date|slice:'2:'}}</div>
      {% endfor %}
    </div>
    <div class="weekTableBody">
      <div class="historyItemTitle">
        <div class="historyBus">차량</div>
        <div class="historyDriverTItle">기사</div>
      </div>
      {% for connect in history_list2 %}
      <div class="historyItem {% if block_list2|index:forloop.counter0 %}historyUnable{% elif not connect %}historyUnable{% endif %}">
        <div class="historyBus {{connect.bus_id.id}}">{{connect.bus_id.vehicle_num}}</div>
        <div class="historyDriver {{connect.driver_id.id}}">
          {% if connect.outsourcing == 'n' %}<div class="driverType typeRegular">정</div>{% elif connect.outsourcing == 'y' %}<div class="driverType typeOutsourcing">용</div>{% endif %}
          <span>{{connect.driver_id.name}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <input autocomplete="off" type="hidden" name="id" class="historyHiddenRoute">
  <input autocomplete="off" type="hidden" name="group" class="historyHiddenGroup">
  <input autocomplete="off" type="hidden" name="date" class="historyHiddenDate">
  <input autocomplete="off" type="hidden" name="outsourcing" class="historyHiddenOutsourcing">
  <input autocomplete="off" type="hidden" name="bus" class="historyHiddenBus">
  <input autocomplete="off" type="hidden" name="driver" class="historyHiddenDriver">