{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/dispatch/regularlyRoute.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    출/퇴근 노선관리
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">노선검색</span>
            <div class="routeFilterBox">
                <input value="{{group_old}}" name="group" type="text" class="inputModules" list="groupFilter"
                    placeholder="그룹이름" autocomplete="off">
                <datalist id="groupFilter">
                    {% for group in group_list %}
                    <option value="{{group.name}}"></option>
                    {% endfor %}
                </datalist>
                <input value="{{route_old}}" name="route" type="text" class="inputModules" list="routeFilter"
                    placeholder="노선이름" autocomplete="off">
                <datalist id="routeFilter">
                    {% for order in order_list %}
                    <option value="{{order.route}}"></option>
                    {% endfor %}
                </datalist>
            </div>
            <input type="submit" value="검색" class="btnModules">
        </div>
    </form>
    <div class="optionBtnBox">
        <div class="gruopManagementBtn">그룹관리</div>
        <div class="createRouteBtn">노선등록</div>
    </div>
</div>





<form class="groupListForm" method="post" action="{% url 'dispatch:regularly_route_delete' %}">
    {% csrf_token %}
    <div class="contentsAreaBox">
        <table class="tableHead">
            <thead>
                <tr class="headerLine">
                    <td>선택</td>
                    <td>그룹</td>
                    <td>순번</td>
                    <td>노선이름</td>
                    <td>운행시간</td>
                    <td>운행요일</td>
                    <td>출/퇴근</td>
                    <td>참조사항</td>
                </tr>
            </thead>
        </table>

        <table class="tableBody">
            <tbody>

                {% for dispatch in order_list %}
                <tr class="{{dispatch.id}}">
                    <td><input type="checkbox" value="{{dispatch.id}}" name="check"></td>
                    <td>{{dispatch.group.name}}</td>
                    <td>{{dispatch.number}}</td>
                    <td class="{{ forloop.counter0 }}">
                        <span>{{dispatch.departure}}▶</span>
                        <span>{{dispatch.arrival}}</span>
                    </td>
                    <td>{{dispatch.departure_time}} ~ {{dispatch.arrival_time}}</td>
                    <td>{{dispatch.week}}</td>
                    <td>{{dispatch.work_type}}</td>
                    <td>{{dispatch.references}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <div class="btnAreaBox">
            <div class="pagination">
                <!-- 페이징 처리 -->
                {% if is_paginated %}
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <div class="page-item page-pre">
                        <a class="page-link"
                            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.previous_page_number }}"
                            tabindex="-1">이전</a>
                    </div>
                    {% else %}
                    <div class="page-item page-pre disabled">
                        <a class="page-link" href="#" tabindex="-1">이전</a>
                    </div>
                    {% endif %}
                    {% for page in page_range %}
                    <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
                        <a class="page-link"
                            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page }}">{{ page }}</a>
                    </div>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <div class="page-item">
                        <a class="page-link page-next"
                            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.next_page_number }}">다음</a>
                    </div>
                    {% else %}
                    <div class="page-item page-next disabled">
                        <a class="page-link" href="#">다음</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="btnBox">
                <input type="submit" value="삭제" class="btnModules">
            </div>

        </div>
    </div>
</form>





{% endblock %}





{% block popup %}
<div class="popupAreaModulesRoute">
    <div class="popupBgModulesRoute"></div>
    <form method="post" action="{% url 'dispatch:regularly_route_edit' %}" class="popupContainerRoute">
        {% csrf_token %}
        <div class="routePopupTitle">노선상세</div>
        <div class="routePopupDataArea">
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">그룹</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">출발지</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">운행시간</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">도착지</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">순번</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">운행요일</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">기사수당</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">버스종류</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">버스대수</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">거래처</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">거래처 전화번호</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">계약금액</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">계약기간</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">출/퇴근</span>
                <div class="routePopupData"></div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">참조사항</span>
                <div class="routePopupData"></div>
            </div>
        </div>
        <div class="routePopupDataArea">
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">그룹</span>
                <select name="group" class="routePopupDataGroup">
                    {% for g in group_list %}
                    <option value="{{g.id}}">{{g.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">출발지</span>
                <input name="departure" type="text" class="routePopupDataRoutName">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">운행시간</span>
                <div class="routePopupDataDriveTime">
                    <input name="departure_time" type="time">~
                    <input name="arrival_time" type="time">
                </div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">도착지</span>
                <input name="arrival" type="text" class="routePopupDataRoutName">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">순번</span>
                <input name="number" type="text" class="routePopupDataDriverNumber">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">운행요일</span>
                <div class="routePopupDataDriveDate">
                    <div>
                        <input id="all" type="checkbox">
                        <label for="all">모두</label>
                    </div>
                    <div class="dateArea">
                      <div class="dateCell">
                        <input name="week" value="월" id="mon" type="checkbox">
                        <label for="mon">월</label>
                      </div>
                      <div class="dateCell">
                        <input name="week" value="화" id="tue" type="checkbox">
                        <label for="tue">화</label>
                      </div>
                        <div class="dateCell">
                        <input name="week" value="수" id="wed" type="checkbox">
                        <label for="wed">수</label>
                      </div>
                        <div class="dateCell">
                        <input name="week" value="목" id="thu" type="checkbox">
                        <label for="thu">목</label>
                      </div>
                        <div class="dateCell">
                        <input name="week" value="금" id="fri" type="checkbox">
                        <label for="fri">금</label>
                      </div>
                        <div class="dateCell">
                        <input name="week" value="토" id="sat" type="checkbox">
                        <label for="sat">토</label>
                      </div>
                        <div class="dateCell">
                        <input name="week" value="일" id="sun" type="checkbox">
                        <label for="sun">일</label>
                      </div>
                    </div>
                </div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">기사수당</span>
                <input name="driver_allowance" type="text" class="routePopupDataDriverPay">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">버스종류</span>
                <select name="bus_type" id="" class="routePopupDataBusKinds">
                    <option value="45인승 대형버스">45인승 대형버스</option>
                    <option value="41인승 대형버스">41인승 대형버스</option>
                    <option value="33인승 중형버스">33인승 중형버스</option>
                    <option value="28인승 대형우등버스">28인승 대형우등버스</option>
                    <option value="24인승 미니썬롱">24인승 미니썬롱</option>
                    <option value="24인승 미니버스">24인승 미니버스</option>
                    <option value="21인승 프리미엄버스">21인승 프리미엄버스</option>
                    <option value="21인승 중형우등버스">21인승 중형우등버스</option>
                    <option value="19인승 미니우등버스">19인승 미니우등버스</option>
                    <option value="16인승 미니우등버스">16인승 미니우등버스</option>
                    <option value="14인승 밴">14인승 밴</option>
                    <option value="10인승 밴">10인승 밴</option>
                </select>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">버스대수</span>
                <input name="bus_cnt" type="text" class="routePopupDataBusCount">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">거래처</span>
                <input name="customer" type="text" class="routePopupDatAaccount">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">거래처 전화번호</span>
                <input name="customer_phone" type="text" class="routePopupPhoneNumber">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">계약금액</span>
                <input name="price" type="text" class="routePopupDataContractAmount">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">계약기간</span>
                <div class="routePopupDataContractPeriod">
                    <input name="contract_start_date" type="date">~
                    <input name="contract_end_date" type="date">
                </div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">출/퇴근</span>
                <div class="routePopupWork">
                    <input value="출근" id="workStart" type="radio" name="work_type">
                    <label for="workStart">출근</label>
                    <input value="퇴근" id="workEnd" type="radio" name="work_type">
                    <label for="workEnd">퇴근</label>
                </div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">참조사항</span>
                <input name="references" type="text" class="routePopupDataReference">
            </div>
            <input type="hidden" value="" name="id" class="sendToHidden">
        </div>
        <div class="routePopupBtnBox">
            <div class="btnModules">닫기</div>
            <div class="btnModules">수정</div>
            <input type="submit" class="btnModules" value="저장">
        </div>
    </form>
</div>

<div class="popupAreaModulesRouteCreate">
    <div class="popupBgModulesRoute"></div>
    <form method="post" action="{% url 'dispatch:regularly_route_create' %}" class="popupContainerRoute">
        {% csrf_token %}
        <div class="routePopupTitle">노선등록</div>
        <div class="routePopupDataArea">
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">그룹</span>
                <select name="group" class="routePopupDataGroup">
                    {% for group in group_list %}
                    <option value="{{group.id}}">{{group.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">출발지</span>
                <input name="departure" type="text" class="routePopupDataRoutName">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">운행시간</span>
                <div class="routePopupDataDriveTime">
                    <input type="time" name="departure_time">~
                    <input type="time" name="arrival_time">
                </div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">도착지</span>
                <input type="text" class="routePopupDataRoutName" name="arrival">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">순번</span>
                <input type="text" class="routePopupDataDriverPay" name="number">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">운행요일</span>
                <div class="routePopupDataDriveDate">
                    <div>
                        <input id="allCreate" type="checkbox">
                        <label for="allCreate">모두</label>
                    </div>
                    <div>
                        <input value="월" id="monCreate" type="checkbox" name="week">
                        <label for="monCreate">월</label>
                        <input value="화" id="tueCreate" type="checkbox" name="week">
                        <label for="tueCreate">화</label>
                        <input value="수" id="wedCreate" type="checkbox" name="week">
                        <label for="wedCreate">수</label>
                        <input value="목" id="thuCreate" type="checkbox" name="week">
                        <label for="thuCreate">목</label>
                        <input value="금" id="friCreate" type="checkbox" name="week">
                        <label for="friCreate">금</label>
                        <input value="토" id="satCreate" type="checkbox" name="week">
                        <label for="satCreate">토</label>
                        <input value="일" id="sunCreate" type="checkbox" name="week">
                        <label for="sunCreate">일</label>
                    </div>
                </div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">기사수당</span>
                <input type="text" class="routePopupDataDriverPay" name="driver_allowance">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">버스종류</span>
                <select name="bus_type" class="routePopupDataBusKinds">
                    <option value=""></option>
                    <option value="45인승 대형버스">45인승 대형버스</option>
                    <option value="41인승 대형버스">41인승 대형버스</option>
                    <option value="33인승 중형버스">33인승 중형버스</option>
                    <option value="28인승 대형우등버스">28인승 대형우등버스</option>
                    <option value="24인승 미니썬롱">24인승 미니썬롱</option>
                    <option value="24인승 미니버스">24인승 미니버스</option>
                    <option value="21인승 프리미엄버스">21인승 프리미엄버스</option>
                    <option value="21인승 중형우등버스">21인승 중형우등버스</option>
                    <option value="19인승 미니우등버스">19인승 미니우등버스</option>
                    <option value="16인승 미니우등버스">16인승 미니우등버스</option>
                    <option value="14인승 밴">14인승 밴</option>
                    <option value="10인승 밴">10인승 밴</option>
                </select>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">버스대수</span>
                <input type="text" class="routePopupDataBusCount" name="bus_cnt">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">거래처</span>
                <input type="text" class="routePopupDatAaccount" name="customer">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">거래처 전화번호</span>
                <input type="text" class="routePopupPhoneNumber" name="customer_phone">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">계약금액</span>
                <input type="text" class="routePopupDataContractAmount" name="price">
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">계약기간</span>
                <div class="routePopupDataContractPeriod">
                    <input type="date" name="contract_start_date">~
                    <input type="date" name="contract_end_date">
                </div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">출/퇴근</span>
                <div class="routePopupWork">
                    <input id="workStartCreate" type="radio" value="출근" name="work_type">
                    <label for="workStartCreate">출근</label>
                    <input id="workEndCreate" type="radio" value="퇴근" name="work_type">
                    <label for="workEndCreate">퇴근</label>
                </div>
            </div>
            <div class="routePopupDataCell">
                <span class="routePopupDataTitle">참조사항</span>
                <input type="text" class="routePopupDataReference" name="references">
            </div>
        </div>
        <div class="routePopupBtnBox">
            <div class="btnModules groupMenagementCloseBtn">닫기</div>
            <input type="submit" class="btnModules groupMenagementCreateBtn" value="등록">
        </div>
    </form>
</div>



<div class="popupAreaModulesGroupCreate">
    <div class="popupBgModulesRoute"></div>

    <div class="popupContainerRoute">
        <div class="routePopupTitle">그룹생성</div>
        <div class="routePopupDataArea createGroupDataArea">
            <form method="post" action="{% url 'dispatch:regularly_group_create' %}">
                {% csrf_token %}
                <div class="createGroupBox">
                    <label for="">그룹이름</label>
                    <input type="text" name="name">
                    <input class="btnModules" type="submit" value="등록">
                </div>
            </form>
            <form action="" method="post">
                {% csrf_token %}
                <div class="groupContainer">
                    {% for group in group_list %}
                    <div class="groupFullBox">
                        <div class="groupBox">
                            <img src="{% static 'images/groupCreateArrow.png' %}" alt="">
                            <input type="text" name="group" class="groupBoxTitle" value="{{group.name}}" disabled>
                            <input type="hidden" name="group_id" class="groupBoxTitle" value="{{group.id}}" disabled>
                            <div class="groupBoxTollCell">
                                <div></div>
                                <input type="submit" value="">
                            </div>
                        </div>
                        <div class="groupDepth2">
                            {% for order in group.regularly_info.all %}
                            <div class="groupDepth2Route">{{order.route}}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="routePopupBtnBox">
                    <div class="btnModules groupCretetCloseBtn">닫기</div>
                    <input type="submit" class="btnModules" value="저장">
                </div>
            </form>
        </div>

    </div>

</div>

{% endblock %}






{% block script %}
<script>
    let regDatas = [
        {% for dispatch in order_list %}
    {
        group: "{{ dispatch.group.name }}",
            references: "{{ dispatch.references }}",
                departure: "{{ dispatch.departure }}",
                    arrival: "{{ dispatch.arrival }}",
                        departure_time: "{{ dispatch.departure_time }}",
                            arrival_time: "{{ dispatch.arrival_time }}",
                                bus_type: "{{ dispatch.bus_type }}",
                                    bus_cnt: "{{ dispatch.bus_cnt }}",
                                        price: "{{ dispatch.price }}",
                                            driver_allowance: "{{ dispatch.driver_allowance }}",
                                                number: "{{ dispatch.number }}",
                                                    week: "{{ dispatch.week }}",
                                                        customer: "{{ dispatch.customer }}",
                                                            customer_phone: "{{ dispatch.customer_phone }}",
                                                                contract_start_date: "{{ dispatch.contract_start_date }}",
                                                                    contract_end_date: "{{ dispatch.contract_end_date }}",
                                                                        work_type: "{{ dispatch.work_type }}",
                                                                            route: "{{ dispatch.route }}",
        },
    {% endfor %}
    ]
</script>
<script src="{% static 'js/dispatch/regularlyRoutePopup.js' %}"></script>
{% endblock %}