{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<!-- <link rel="stylesheet" href="{% static 'css/humanresource/member.css' %}" type="text/css" /> -->
<link rel="stylesheet" href="{% static 'css/dispatch/regularlyStation.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    정류장관리
</div>
{% endblock %}

{% block content %}
<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">정류장검색</span>
            <div class="routeFilterBox">
                <input autocomplete="off" value="{{name}}" name="name" type="text" class="inputModules" list="hrFilter"
                    placeholder="정류장명" autocomplete="off">
            </div>
            <input autocomplete="off" type="submit" value="검색" class="btnModules">
        </div>
    </form>
    <div class="headerFlex">
        <div id="uploadExcelBtn" class="headerBtn">엑셀 업로드</div>
        <div id="downloadExcelBtn" class="headerBtn">엑셀 다운로드</div>
        <div class="headerBtn openPopup backgroundBlue">정류장등록</div>
    </div>
</div>




<form method="post" action="{% url 'dispatch:regularly_station_delete' %}" class="deleteForm">
    {% csrf_token %}
    <div class="contentsAreaBox scrollDiv">
        <table class="tableBody">
            <thead>
                <tr class="headerLine">
                    <td>
                        <input type="checkbox" class="checkAll">
                    </td>
                    <td>번호</td>
                    <td>정류장명</td>
                    <td>주소</td>
                    <td>위도</td>
                    <td>경도</td>
                    <td>참조사항</td>
                    <td>종류</td>
                </tr>
            </thead>
            <tbody>
                {% for station in station_list %}
                <tr class="{{station.id}}">
                    <td>
                        <input name="id" value="{{station.id}}" type="checkbox" class="check">
                    </td>
                    <td>{{forloop.counter}}</td>
                    <td class="detail bluelink">{{station.name}}</td>
                    <td>{{station.address}}</td>
                    <td>{{station.latitude}}</td>
                    <td>{{station.longitude}}</td>
                    <td>{{station.references}}</td>
                    <td>{{station.types}}</td>
                </tr>
                {% endfor %}
                <tr class="blanckTr"></tr>
            </tbody>
        </table>
    </div>
    <div class="btnAreaBox">
        <div class="btnBox">
            <input autocomplete="off" type="submit" value="삭제" class="btnModules">
        </div>
    </div>
</form>





{% endblock %}





{% block popup %}
<div class="popupAreaModules createPopup">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'dispatch:regularly_station_create' %}" class="popupContainer popupContainerDouble popupCreateForm"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle createPopupTitle">정류장등록</div>
        </div>
        <div class="popupBody">
            <div class="popupSection popupSectionEdit">
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>정류장명</label>
                        <input autocomplete="off" name="name" type="text" class="essential popupArticleinput length100 popupName">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>주소</label>
                        <input autocomplete="off" name="address" type="text" class="essential popupArticleinput length100 popupAddress">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>위도</label>
                        <input autocomplete="off" name="latitude" type="text" class="essential popupArticleinput length100 popupLatitude">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>경도</label>
                        <input autocomplete="off" name="longitude" type="text" class="essential popupArticleinput length100 popupLongitude">
                    </div>
                </div>
                <div class="popupArticleBox popupArticleBoxLast">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel">참조사항</label>
                        <input autocomplete="off" name="references" type="text" class="popupArticleinput length100 popupReferences">
                    </div>
                    <div class="popupArticleDoubleDiv">
                        <div class="popupArticleDouble popupArticleDoubleSelectDiv">
                            <label for="" class="popupArticleLabel">종류</label>
                            <select id="multipleSelect" name="references" class="popupArticleinput length100 popupReferences">
                                <option value=""></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                        <div class="selectedTextDiv">
                        </div>
                    </div>
                </div>
                
                <input autocomplete="off" type="hidden" value="" name="id" class="sendToHidden">
            </div>
            <div class="popupFooter popupFooterDetail">
                <div class="btnModules createBtn">등록</div>
                <!-- <input type="submit" value="등록" class="btnModules createBtn"> -->
                <!-- <div class="btnModules editBtn">수정</div> -->
                <div class="btnModules closeBtn popupCloseBtn">닫기</div>
            </div>
        </div>
    </form>
</div>

<div class="popupAreaModules" id="excelPopup">
    <div class="popupBgModules"></div>
    <form method="post" action="" class="popupContainer excelUploadPopupContainer">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">엑셀 업로드</div>
        </div>
        <div class="popupBody">
            <div class="popupSection excelUploadPopupSection">
                <div class="popupArticleFileDouble excelUploadPopupArticleFileDouble popupArticleFileDoubleExcel">
                    <label for="excelUploadFile" class="popupArticleLabel">파일선택</label>
                    <input autocomplete="off" name="" type="file" id="excelUploadFile" class="excelUploadFile">
                    <input autocomplete="off" name="" type="text" class="excelUploadFileText" readonly>
                    <svg class="fileDeleteBtn" xmlns="http://www.w3.org/2000/svg" width="11.314" height="11.314"
                        viewBox="0 0 11.314 11.314">
                        <g id="그룹_1513" data-name="그룹 1513" transform="translate(-442.649 -1001.97) rotate(45)">
                            <line id="선_691" data-name="선 691" y2="12" transform="translate(1029.5 389.5)" fill="none"
                                stroke="#000" stroke-linecap="round" stroke-width="2" />
                            <line id="선_692" data-name="선 692" y2="12" transform="translate(1035.5 395.5) rotate(90)"
                                fill="none" stroke="#000" stroke-linecap="round" stroke-width="2" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="popupFooter excelUploadPopupFooter">
                <div class="popupFooterMinibox">
                    <a href="{% static 'form/정류장관리 엑셀 업로드 양식.xlsx' %}" download>
                        <div class="btnModules backgroundBlack">양식다운</div>
                    </a>
                    <div class="visibleLoadingBox">
                        <div class="visibleLoading">
                            <span>파일이 업로드 중입니다</span>
                            <iframe src="https://giphy.com/embed/sSgvbe1m3n93G" width="18" height="18" frameBorder="0"
                                class="giphy-embed" allowFullScreen></iframe>
                        </div>
                    </div>
                </div>
                <input autocomplete="off" type="submit" class="btnModules uploadCreateBtn backgroundBlue" value="등록">
                <div class="btnModules popupCloseBtn closeBtn">닫기</div>
            </div>
        </div>
    </form>
</div>

{% endblock %}






{% block script %}
<script>
    // {% autoescape off %}
    // const regDatas = {{ data_list }};
    // const fileDatas = {{ file_list }};
    // console.log("DATA", {{ data_list }});
    // console.log("files", {{ file_list }})
    // {% endautoescape %}
    const CREATE_URL = "{% url 'dispatch:regularly_station_create' %}"
    const EDIT_URL = "{% url 'dispatch:regularly_station_edit' %}"
    const DETAIL_URL = "{% url 'dispatch:regularly_station' %}"
    const UPLOAD_URL = "{% url 'dispatch:regularly_station_upload' %}"
    const DOWNLOAD_URL = "{% url 'dispatch:regularly_station_download' %}"

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.5/xlsx.full.min.js"></script>
<script type="module" src="{% static 'js/dispatch/station/station.js' %}"></script>
<script type="module" src="{% static 'js/dispatch/station/excel.js' %}"></script>
{% endblock %}