{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/dispatch/regularly.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
  출/퇴근배차
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
  <form action="">
    <div class="searchTool">
      <span class="searchName">노선검색</span>
      <div class="routeFilterBox">
        <input type="text" class="inputModules" list="groupFilter" placeholder="그룹이름">
        <datalist id="groupFilter">
          <option value="그룹이름"></option>
          <option value="항목1"></option>
        </datalist>
        <input type="text" class="inputModules" list="routeFilter" placeholder="노선이름">
        <datalist id="routeFilter">
          <option value="노선이름"></option>
          <option value="항목1"></option>
        </datalist>
      </div>
      <div class="dateFilterBox">
        <span>기간</span>
        <input type="date" class="inputModules">~
        <input type="date" class="inputModules">
      </div>
      <input type="submit" value="검색" class="btnModules">
    </div>
  </form>
</div>





<div class="contentsAreaBox">
  <table class="tableHead">
    <thead>
      <tr class="headerLine">
        <td>그룹</td>
        <td>순번</td>
        <td>노선이름</td>
        <td>운행시간</td>
        <td>운행요일</td>
        <td>출/퇴근</td>
        <td>배차차량</td>
        <td>참조사항</td>
      </tr>
    </thead>
  </table>

  <table class="tableBody">
    <tbody>
      {% for dispatch in order_list %}
      <tr>
        <td>{{dispatch.group.name}}</td>
        <td></td>
        <td class="{{ forloop.counter0 }}">
          <span>{{dispatch.departure}}▶</span>
          <span>{{dispatch.arrival}}</span>
        </td>
        <td>{{dispatch.departure_time}} ~ {{dispatch.arrival_time}}</td>
        <td>{{dispatch.week}}</td>
        <td>{{dispatch.work_type}}</td>
        <td>
          <span class="regularlyDispatchBtn"></span>
        </td>
        <td>{{dispatch.references}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="btnAreaBox">
    <div class="pagination">
      <!-- 페이징 처리 -->
      {% if is_paginated %}
      <div class="pagination">
        {% if page_obj.has_previous %}
        <div class="page-item page-pre">
          <a class="page-link"
            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.previous_page_number }}"
            tabindex="-1">이전</a>
        </div>
        {% else %}
        <div class="page-item page-pre disabled">
          <a class="page-link" href="#" tabindex="-1">이전</a>
        </div>
        {% endif %}
        {% for page in page_range %}
        <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
          <a class="page-link" href="?top_box_selector={{selector}}&search={{searched}}&page={{ page }}">{{ page }}</a>
        </div>
        {% endfor %}

        {% if page_obj.has_next %}
        <div class="page-item">
          <a class="page-link page-next"
            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.next_page_number }}">다음</a>
        </div>
        {% else %}
        <div class="page-item page-next disabled">
          <a class="page-link" href="#">다음</a>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="btnBox">
    </div>

  </div>
</div>





{% endblock %}





{% block popup %}
<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form class="popupContainer">
    <div class="regularyCreatePopupTitle">배차등록</div>
    <table>
      <thead class="regularyCreatePopupThead">
        <tr>
          <td>차량</td>
          <td>
            <span>출근</span>
            <span>일반</span>
            <span>퇴근</span>
          </td>
        </tr>
      </thead>
    </table>
    <div class="regularyCreatePopupTbodyBoxing">
      <table>
        <tbody class="regularyCreatePopupTbody">
          <tr>
            <td>
              <div class="addDriver" id="0">1111(이도울)</div>
            </td>
            <td>
              <div class="GoToWork">2</div>
              <div class="work">2</div>
              <div class="backToHome">2</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="addDriver" id="1">1111(이도울)</div>
            </td>
            <td>
              <div class="GoToWork">2</div>
              <div class="work">2</div>
              <div class="backToHome">2</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="regularyCreatePopupResult">
    </div>
    <div class="regularyCreatePopupBtnBox">
      <div class="btnModules">닫기</div>
      <input type="submit" class="btnModules" value="등록">
    </div>
  </form>
</div>




<div class="popupAreaModulesRoute">
  <div class="popupBgModulesRoute"></div>
  <form class="popupContainerRoute">
      <div class="routePopupTitle">노선상세</div>
      <div class="routePopupDataArea">
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">그룹</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">출발지</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">운행시간</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">도착지</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">순번</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">운행요일</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">기사수당</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">버스종류</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">버스대수</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">거래처</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">거래처 전화번호</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">계약금액</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">계약기간</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">출/퇴근</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">참조사항</span>
              <div class="routePopupData"></div>
          </div>
      </div>
      <div class="routePopupDataArea">
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">그룹</span>
              <select class="routePopupDataGroup">
                  <option value=""></option>
                  <option value="테스트 그룹 이름">테스트 그룹 이름</option>
                  <option value=""></option>
              </select>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">출발지</span>
              <input type="text" class="routePopupDataRoutName">
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">운행시간</span>
              <div class="routePopupDataDriveTime">
                  <input type="time">~
                  <input type="time">
              </div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">도착지</span>
              <input type="text" class="routePopupDataRoutName">
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">순번</span>
              <input type="text" class="routePopupDataDriverNumber">
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">운행요일</span>
              <div class="routePopupDataDriveDate">
                  <div>
                      <input id="all" type="checkbox">
                      <label for="all">모두</label>
                  </div>
                  <div>
                      <input id="mon" type="checkbox">
                      <label for="mon">월</label>
                      <input id="tue" type="checkbox">
                      <label for="tue">화</label>
                      <input id="wed" type="checkbox">
                      <label for="wed">수</label>
                      <input id="thu" type="checkbox">
                      <label for="thu">목</label>
                      <input id="fri" type="checkbox">
                      <label for="fri">금</label>
                      <input id="sat" type="checkbox">
                      <label for="sat">토</label>
                      <input id="sun" type="checkbox">
                      <label for="sun">일</label>
                  </div>
              </div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">기사수당</span>
              <input type="text" class="routePopupDataDriverPay">
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">버스종류</span>
              <select name="" id="" class="routePopupDataBusKinds">
                  <option value="">45</option>
                  <option value="">41</option>
                  <option value="">1</option>
              </select>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">버스대수</span>
              <input type="text" class="routePopupDataBusCount">
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">거래처</span>
              <input type="text" class="routePopupDatAaccount">
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">거래처 전화번호</span>
              <input type="text" class="routePopupPhoneNumber">
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">계약금액</span>
              <input type="text" class="routePopupDataContractAmount">
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">계약기간</span>
              <div class="routePopupDataContractPeriod">
                  <input type="date">~
                  <input type="date">
              </div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">출/퇴근</span>
              <div class="routePopupWork">
                  <input id="workStart" type="radio" name="work">
                  <label for="workStart">출근</label>
                  <input id="workEnd" type="radio" name="work">
                  <label for="workEnd">퇴근</label>
              </div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">참조사항</span>
              <input type="text" class="routePopupDataReference">
          </div>
      </div>
      <div class="routePopupBtnBox">
          <div class="btnModules">닫기</div>
          <div class="btnModules">수정</div>
          <input type="submit" class="btnModules" value="저장">
      </div>
  </form>
</div>
{% endblock %}






{% block script %}
<script>
  let regDatas = [
      {% for dispatch in order_list %}
        {
          group: "{{ dispatch.group.name }}",
          references: "{{ dispatch.references }}",
          departure: "{{ dispatch.departure }}",
          arrival: "{{ dispatch.arrival }}",
          departure_time: "{{ dispatch.departure_time }}",
          arrival_time: "{{ dispatch.arrival_time }}",
          bus_type: "{{ dispatch.bus_type }}",
          bus_cnt: "{{ dispatch.bus_cnt }}",
          price: "{{ dispatch.price }}",
          driver_allowance: "{{ dispatch.driver_allowance }}",
          number: "{{ dispatch.number }}",
          week: "{{ dispatch.week }}",
          customer: "{{ dispatch.customer }}",
          customer_phone: "{{ dispatch.customer_phone }}",
          contract_start_date: "{{ dispatch.contract_start_date }}",
          contract_end_date: "{{ dispatch.contract_end_date }}",
          work_type: "{{ dispatch.work_type }}",
          route: "{{ dispatch.route }}",
        },
      {% endfor %}      
  ]
</script>
<script src="{% static 'js/dispatch/regularlyCreatePopup.js' %}"></script>
{% endblock %}