{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/dispatchBase.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/dispatch/regularly.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
  출/퇴근 배차
</div>
{% endblock %}


{% block content %}

<div class="regularlyLayout">

  <div class="sideLayout">

    <div class="groupList">
      <div class="groupListHead">
        <span class="groupListTitle">그룹목록</span>
        <div class="groupListHeadBtnBox">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <g id="그룹_1650" data-name="그룹 1650" transform="translate(-21005 -13821)">
              <rect id="사각형_11727" data-name="사각형 11727" width="26" height="26" rx="6"
                transform="translate(21005 13821)" fill="#fff" />
              <g id="그룹_1648" data-name="그룹 1648" transform="translate(12.639 64.5)">
                <path id="패스_331" data-name="패스 331" d="M-4.053,0l-7.086,5.457,7.086,5.358"
                  transform="translate(21008.5 13764.5)" fill="none" stroke="#444" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" />
                <path id="패스_332" data-name="패스 332" d="M0,0V10.814" transform="translate(21009.307 13764.5)"
                  fill="none" stroke="#444" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                <path id="패스_333" data-name="패스 333" d="M0,0V10.814" transform="translate(21013.123 13764.5)"
                  fill="none" stroke="#444" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              </g>
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="26" viewBox="0 0 56 26">
            <g id="그룹_1632" data-name="그룹 1632" transform="translate(-20476 -13790)">
              <rect id="사각형_11727" data-name="사각형 11727" width="56" height="26" rx="6"
                transform="translate(20476 13790)" fill="#fff" />
              <text id="스케줄" transform="translate(20504 13809)" fill="#444" font-size="14"
                font-family="NotoSansCJKkr-Regular, Noto Sans CJK KR">
                <tspan x="-19.32" y="0">스케줄</tspan>
              </text>
            </g>
          </svg>
        </div>
      </div>
      <div class="groupListBody">
        {% for group in group_list %}
        <div class="groupListItemBox">
          <div class="groupListItem">
            <div class="groupOpen">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16.5" viewBox="0 0 22 16.5">
                <path id="Icon_awesome-folder" data-name="Icon awesome-folder"
                  d="M19.938,7.25h-8.25L8.938,4.5H2.063A2.062,2.062,0,0,0,0,6.563V18.938A2.062,2.062,0,0,0,2.063,21H19.938A2.062,2.062,0,0,0,22,18.938V9.313A2.062,2.062,0,0,0,19.938,7.25Z"
                  transform="translate(0 -4.5)" fill="#444" />
              </svg>
            </div>
            <div class="groupName" onclick="location.href='{% url 'dispatch:regularly' %}?group={{group.id}}&date={{date}}'">{{group.name}}</div>
          </div>
          {% for route in group.regularly_info.all %}
          <div class="routeItem {{route.id}}">
            <!--클래스에 노선 아이디 추가-->
            <div class="routeGap"></div>
            <div class="routeNameBox" onclick="location.href='{% url 'dispatch:regularly' %}?id={{route.id}}&group={{group.id}}&date={{date}}'">
              <div class="routeNumber">{{order.number1}}{% if order.number2 %} - {{order.number2}}{% endif %}</div>
              <div class="routeName">{{route.route}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="schedule">

      <!-- 스케줄-헤더 -->
      <div class="scheduleHeaderArea">
        <div class="scheduleHeader">2022.09.16 (화)</div>
        <div class="scheduleHeaderBtnBox">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
            <g id="그룹_1650" data-name="그룹 1650" transform="translate(-21005 -13821)">
              <rect id="사각형_11727" data-name="사각형 11727" width="26" height="26" rx="6"
                transform="translate(21005 13821)" fill="#fff" />
              <g id="그룹_1648" data-name="그룹 1648" transform="translate(12.639 64.5)">
                <path id="패스_331" data-name="패스 331" d="M-4.053,0l-7.086,5.457,7.086,5.358"
                  transform="translate(21008.5 13764.5)" fill="none" stroke="#444" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" />
                <path id="패스_332" data-name="패스 332" d="M0,0V10.814" transform="translate(21009.307 13764.5)"
                  fill="none" stroke="#444" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                <path id="패스_333" data-name="패스 333" d="M0,0V10.814" transform="translate(21013.123 13764.5)"
                  fill="none" stroke="#444" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              </g>
            </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="56" height="26" viewBox="0 0 56 26">
            <g id="그룹_1632" data-name="그룹 1632" transform="translate(-20476 -13790)">
              <rect id="사각형_11727" data-name="사각형 11727" width="56" height="26" rx="6"
                transform="translate(20476 13790)" fill="#fff" />
              <text id="그룹" transform="translate(20504 13809)" fill="#444" font-size="14"
                font-family="NotoSansCJKkr-Regular, Noto Sans CJK KR">
                <tspan x="-12.88" y="0">그룹</tspan>
              </text>
            </g>
          </svg>
        </div>
      </div>

      <!-- 스케줄-바디 -->
      <div class="scheduleBodyArea">
        <div class="hourMarker">
          <div>0</div>
          <div>4</div>
          <div>8</div>
          <div>12</div>
          <div>16</div>
          <div>20</div>
          <div>24</div>
        </div>
        <div class="scheduleTableScroll">
          <div class="scheduleTable">
            {% for v in vehicles %}
            <div class="scheduleTableTr">
              <div class="hourTd"></div>
              <div class="hourTd"></div>
              <div class="hourTd"></div>
              <div class="hourTd"></div>
              <div class="hourTd"></div>
              <div class="hourTd"></div>
              <div class="driverTd {{v.id}} d{{v.driver__id}}" title="{{v.vehicle_num0}} {{v.vehicle_num}} ({{v.model_year}})">
                {{v.vehicle_num}} {% if v.driver__id %}({{v.driver__name}}){% endif %}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="sideLayoutOpenBox">
      <div class="scheduleOpenArea">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46">
          <g id="그룹_1651" data-name="그룹 1651" transform="translate(-20473 -13790)">
            <g id="그룹_1631" data-name="그룹 1631" transform="translate(-3)">
              <rect id="사각형_11727" data-name="사각형 11727" width="46" height="46" rx="10"
                transform="translate(20476 13790)" fill="#444" />
              <text id="스케줄" transform="translate(20499 13812.877)" fill="#fff" font-size="14"
                font-family="NotoSansCJKkr-Regular, Noto Sans CJK KR">
                <tspan x="-19.32" y="0">스케줄</tspan>
              </text>
              <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                d="M15.442,11.44,11.471,7.472a.75.75,0,0,1,1.062-1.059l4.5,4.5a.749.749,0,0,1,.022,1.034L12.536,16.47a.75.75,0,0,1-1.062-1.059Z"
                transform="translate(20484.75 13812.436)" fill="#fff" />
            </g>
          </g>
        </svg>
      </div>
      <div class="GroupOpenArea">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 46 46">
          <g id="그룹_1630" data-name="그룹 1630" transform="translate(-20473 -14312)">
            <rect id="사각형_11728" data-name="사각형 11728" width="46" height="46" rx="10" transform="translate(20473 14312)"
              fill="#444" />
            <text id="그룹" transform="translate(20496 14334.877)" fill="#fff" font-size="14"
              font-family="NotoSansCJKkr-Regular, Noto Sans CJK KR">
              <tspan x="-12.88" y="0">그룹</tspan>
            </text>
            <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
              d="M15.442,11.44,11.471,7.472a.75.75,0,0,1,1.062-1.059l4.5,4.5a.749.749,0,0,1,.022,1.034L12.536,16.47a.75.75,0,0,1-1.062-1.059Z"
              transform="translate(20481.75 14334.436)" fill="#fff" />
          </g>
        </svg>
      </div>
    </div>

  </div>


  <div class="mainLayout">

    <div class="toolbar">
      <input type="text" placeholder="노선명" value="{{search}}" name="search" class="searchInput">
      <input autocomplete="off" type="date" name="date" class="searchDate" max="9999-12-31">
      <div class="dateControllBtnBox">
        <div class="dateToday">오늘</div>
        <div class="dateControllBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="8.6" height="13" viewBox="0 0 8.6 13">
            <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
              d="M13.843,12.692l5.692-4.915a.839.839,0,0,0,0-1.312,1.2,1.2,0,0,0-1.523,0l-6.449,5.569a.839.839,0,0,0-.031,1.281l6.475,5.608a1.205,1.205,0,0,0,1.523,0,.839.839,0,0,0,0-1.312Z"
              transform="translate(-11.25 -6.194)" fill="#fff" />
          </svg>
        </div>
        <div class="dateControllBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="8.6" height="13" viewBox="0 0 8.6 13">
            <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
              d="M17.258,12.692,11.566,7.777a.839.839,0,0,1,0-1.312,1.2,1.2,0,0,1,1.523,0l6.448,5.569a.839.839,0,0,1,.031,1.281l-6.475,5.608a1.205,1.205,0,0,1-1.523,0,.839.839,0,0,1,0-1.312Z"
              transform="translate(-11.25 -6.194)" fill="#fff" />
          </svg>
        </div>
      </div>
      <div class="btnModules searchBtn" onclick="dateSearch()">검색</div>
    </div>


    <div class="routeDataArea">
      <div class="routeDataAreaCover"></div>
      <table class="dispatcTable">
        <colgroup>
          <col style="width: 7%;">
          <col style="width: 18%;">
          <col style="width: 7%;">
          <col style="width: 18%;">
          <col style="width: 7%;">
          <col style="width: 18%;">
          <col style="width: 7%;">
          <col style="width: 18%;">
        </colgroup>
        <tr>
          <td class="tdTypeA">그룹</td>
          <td colspan="3" class="tdTypeB">
            
            <select name="group" class="inputSelect">
              {% for g in group_list %}
              <option value=""></option>
              <option {% if group.id == g.id %} selected {% endif %} value="{{g.id}}">{{g.name}}</option>
              {% endfor %}
            </select>
          </td>
          <td class="tdTypeA">출/퇴근</td>
          <td class="tdTypeC">
            <input autocomplete="off" {% if detail.work_type == '출근' %} checked {% endif %} name="work_type" id="workStart" type="radio">
            <label for="workStart">출근</label>
            <input autocomplete="off" {% if detail.work_type == '퇴근' %} checked {% endif %} name="work_type" id="workEnd" type="radio">
            <label for="workEnd">퇴근</label>
          </td>
          <td class="tdTypeA">위치</td>
          <td class="tdTypeC">
            <input autocomplete="off" value="{{detail.location}}" type="text" class="inputText">
          </td>
        </tr>
        <tr>
          <td class="tdTypeA">노선명</td>
          <td class="tdTypeC">
            <input autocomplete="off" value="{{detail.route}}" name="" type="text" class="inputText">
          </td>
          <td class="tdTypeA">거리km</td>
          <td class="tdTypeC">
            <input autocomplete="off" value="{{detail.distance}}" type="text" class="inputText">
          </td>
          <td class="tdTypeA">운행요일</td>
          <td colspan="3" class="tdTypeB">
            <div class="routeWeek">
              <div>
                <input autocomplete="off" id="all" type="checkbox">
                <label for="all">모두</label>
              </div>
              <div>
                <input autocomplete="off" {% if detail.week and detail.week|in_check:'월' %} checked {% endif %} name="week" value="월" id="mon" type="checkbox">
                <label for="mon">월</label>
                <input autocomplete="off" {% if detail.week and detail.week|in_check:'화' %} checked {% endif %} name="week" value="화" id="tue" type="checkbox">
                <label for="tue">화</label>
                <input autocomplete="off" {% if detail.week and detail.week|in_check:'수' %} checked {% endif %} name="week" value="수" id="wed" type="checkbox">
                <label for="wed">수</label>
                <input autocomplete="off" {% if detail.week and detail.week|in_check:'목' %} checked {% endif %} name="week" value="목" id="thu" type="checkbox">
                <label for="thu">목</label>
                <input autocomplete="off" {% if detail.week and detail.week|in_check:'금' %} checked {% endif %} name="week" value="금" id="fri" type="checkbox">
                <label for="fri">금</label>
                <input autocomplete="off" {% if detail.week and detail.week|in_check:'토' %} checked {% endif %} name="week" value="토" id="sat" type="checkbox">
                <label for="sat">토</label>
                <input autocomplete="off" {% if detail.week and detail.week|in_check:'일' %} checked {% endif %} name="week" value="일" id="sun" type="checkbox">
                <label for="sun">일</label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="tdTypeA">출발지</td>
          <td colspan="3" class="tdTypeB">
            <input autocomplete="off" value="{{detail.departure}}" name="departure" type="text" class="inputText">
          </td>
          <td class="tdTypeA">상세노선</td>
          <td colspan="3" class="tdTypeB">
            <input autocomplete="off" value="{{detail.detailed_route}}" name="" type="text" class="inputText">
          </td>
        </tr>
        <tr>
          <td class="tdTypeA">도착지</td>
          <td colspan="3" class="tdTypeB">
            <input autocomplete="off" value="{{detail.arrival}}" name="arrival" type="text" class="inputText">
          </td>
          <td class="tdTypeA">금액</td>
          <td class="tdTypeC">
            <input autocomplete="off" value="{{detail.price}}" name="price" type="text" class="inputText">
          </td>
          <td class="tdTypeA">수당단가</td>
          <td class="tdTypeC">
            <input autocomplete="off" value="{{detail.driver_allowance}}" name="driver_allowance" type="text" class="inputText">
          </td>
        </tr>
        <tr>
          <td class="tdTypeA">카카오맵</td>
          <td class="tdTypeC">
            <input autocomplete="off" value="{{detail.maplink}}" name="maplink" type="text" class="inputText">
          </td>
          <td class="tdTypeA">운행시간</td>
          <td class="tdTypeC">
            <div class="routeTime">
              <input autocomplete="off" value="{{detail.departure_time|slice:':2'}}" name="departure_time1" type="text" class="inputText">:
              <input autocomplete="off" value="{{detail.departure_time|slice:'3:'}}" name="departure_time2" type="text" class="inputText">~
              <input autocomplete="off" value="{{detail.arrival_time|slice:':2'}}" name="arrival_time1" type="text" class="inputText">:
              <input autocomplete="off" value="{{detail.arrival_time|slice:'3:'}}" name="arrival_time2" type="text" class="inputText">
            </div>
          </td>
          <td class="tdTypeA">기사수당 (변경)</td>
          <td class="tdTypeC">
            <input autocomplete="off" value="{{detail.driver_allowance2}}" name="driver_allowance2" type="text" class="inputText">
          </td>
          <td class="tdTypeA">용역수당</td>
          <td class="tdTypeC">
            <input autocomplete="off" value="{{detail.outsourcing_allowance}}" name="outsourcing_allowance" type="text" class="inputText">
          </td>
        </tr>
        <tr>
          <td class="tdTypeA">거리</td>
          <td class="tdTypeC">
            <div class="routeNumber">
              <input autocomplete="off" value="{{detail.distance}}km" name="" type="text" class="inputText">
            </div>
          </td>
          <td class="tdTypeA">시간</td>
          <td class="tdTypeC">
            <div class="routeTime">
              <input autocomplete="off" value="{{detail.get_hour_minute}}" name="" type="text" class="inputText">:
            </div>
          </td>
          <td class="tdTypeA">참조사항</td>
          <td colspan="3" class="tdTypeB">
            <input autocomplete="off" value="{{detail.references}}" name="references" type="text" class="inputText">
          </td>
        </tr>
      </table>
    </div>


    <form method="post" action="{% url 'dispatch:regularly_connect_create' %}" class="RouteList">
      {% csrf_token %}
      <input autocomplete="off" value="{{detail.group_id}}" name="group" type="hidden">
      <input autocomplete="off" value="{{detail.id}}" name="id" type="hidden">
      <input autocomplete="off" value="{{date}}" name="date" type="hidden">
      <div class="RouteListHead">
        <div class="RouteListHeadBtnBox">
          <div class="last">
            <label for="">지난배차</label>
            <div class="btnModules loadConnectBtn1">1주전</div>
            <div class="btnModules loadConnectBtn2">1일전</div>
            <div class="btnModules dispatchHistory">배차내역</div>
          </div>
          <div class="Tools">
            <div class="btnModules dispatchPrintBtn" onclick="opendispatchPrint('/dispatch/print/regularly')">인쇄</div>
            <div class="btnModules dispatchDeletBtn">배차삭제</div>
            <div class="btnModules dispatchSaveBtn">저장(F2)</div>
          </div>
        </div>
      </div>

      <div class="RouteListHBody">
        <table>
          <thead>
            <tr>
              <td>
                <input autocomplete="off" type="checkbox" class="allChecker">
              </td>
              <td>순번</td>
              <td>노선명</td>
              <td>운행시간</td>
              <td>차량</td>
              <td>운전원</td>
              <td>용역</td>
              <td>출발지 ▶ 도착지</td>
            </tr>
          </thead>
        </table>
      </div>
      <div class="RouteListScrollBody">
        <table>
          <tbody class="RouteListTBody">
            {% for order in order_list %}
            {% with bus=group_bus_list|index:forloop.counter0 %}
            {% with driver=group_driver_list|index:forloop.counter0 %}
            {% with outsourcing=group_outsourcing_list|index:forloop.counter0 %}

            
            <tr class="RouteListHBodyTr {{order.regularly_id.id}} {{forloop.counter}}">
              <td>
                <input autocomplete="off" value="{{order.id}}" name="check" type="checkbox">
              </td>
              <td onclick="location.href='{% url 'dispatch:regularly' %}?id={{order.regularly_id.id}}&group={{order.group.id}}&height={{forloop.counter}}&date={{date}}'">{{order.number1}}{% if order.number2 %} - {{order.number2}}{% endif %}</td>
              <td onclick="location.href='{% url 'dispatch:regularly' %}?id={{order.regularly_id.id}}&group={{order.group.id}}&height={{forloop.counter}}&date={{date}}'">{{order.route}}</td>
              <td onclick="location.href='{% url 'dispatch:regularly' %}?id={{order.regularly_id.id}}&group={{order.group.id}}&height={{forloop.counter}}&date={{date}}'" class="connectTime">
                {% if departure_time_list|index:forloop.counter0 and arrival_time_list|index:forloop.counter0 %}
                {{departure_time_list|index:forloop.counter0}} ~ {{arrival_time_list|index:forloop.counter0}}
                {% else %}
                {{order.departure_time}} ~ {{order.arrival_time}}
                {% endif %}
              </td>
              <td {% if detail.id != order.id %} onclick="location.href='{% url 'dispatch:regularly' %}?id={{order.regularly_id.id}}&group={{order.group.id}}&height={{forloop.counter}}&date={{date}}'"{% endif %}>
                {% if detail.id == order.id %}
                  <input autocomplete="off" value="{{bus.vehicle_num}}" type="text">
                  <input autocomplete="off" value="{{bus.id}}" name="bus" type="hidden">
                {% else %}
                  {{bus.vehicle_num}}
                {% endif %}
              </td>
              <td {% if detail.id != order.id %} onclick="location.href='{% url 'dispatch:regularly' %}?id={{order.regularly_id.id}}&group={{order.group.id}}&height={{forloop.counter}}&date={{date}}'"{% endif %}>
                {% if detail.id == order.id %} 
                  <select name="driver" class="driverSelect">
                    <option value="{{driver.id}}">{{driver.name}}</option>
                  </select>
                {% else %}
                  {{driver.name}}
                {% endif %}
              </td>
              <td {% if detail.id != order.id %} onclick="location.href='{% url 'dispatch:regularly' %}?id={{order.regularly_id.id}}&group={{order.group.id}}&height={{forloop.counter}}&date={{date}}'"{% endif %}>
                {% if detail.id == order.id %}
                <select name="outsourcing" class="outsorcingSelect">
                  <option value="{{outsourcing.id}}">{{outsourcing.name}}</option>
                </select>
                {% else %}
                  {{outsourcing.name}}
                {% endif %}
              </td>
              <td onclick="location.href='{% url 'dispatch:regularly' %}?id={{order.regularly_id.id}}&group={{order.group.id}}&height={{forloop.counter}}&date={{date}}'">{{order.departure}} ▶ {{order.arrival}}</td>
            </tr>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
            <tr class="blanckTr"></tr>
          </tbody>
        </table>
      </div>

    </form>

    <div class="popupAreaModules">
      <div class="popupBgModules"></div>
      <form method="post" action="{% url 'dispatch:regularly_connect_create' %}" class="popupContainer popupContainerDispatchHistory">
        {% csrf_token %}
        <div class="popupHeader">
          <div class="popupTitle">배차내역</div>
        </div>
        <div class="popupBody">
          <div class="popupSection">

            <div class="weekHead">
              <div>일</div>
              <div>월</div>
              <div>화</div>
              <div>수</div>
              <div>목</div>
              <div>금</div>
              <div>토</div>
            </div>
            <div class="historyArticle">
              {% for connect in history_list %}
              <div class="historyDateBox {% if block_list|index:forloop.counter0 == 'y' %}historyUnable{% endif %}">
                <div class="historyDate">{{date_list|index:forloop.counter0|slice:'2:'}}</div>
                <div class="historyBus {{connect.bus_id__id}}">{{connect.bus_id__vehicle_num}}</div>
                {% if connect.outsourcing == 'y' %}
                <div class="historyDriver {{connect.driver_id__id}} typeOutsourcing">{{connect.driver_id__name}}(용역)</div>
                {% else %}
                <div class="historyDriver {{connect.driver_id__id}}">{{connect.driver_id__name}}</div>
                {% endif %}
                
              </div>
              {% endfor %}
            </div>

            <input autocomplete="off" type="hidden" name="id" value="{{detail.id}}" class="historyHiddenRoute">
            <input autocomplete="off" type="hidden" name="group" class="historyHiddenGroup">
            <input autocomplete="off" type="hidden" name="date" class="historyHiddenDate">
            <input autocomplete="off" type="hidden" name="outsourcing" class="historyHiddenOutsourcing">
            <input autocomplete="off" type="hidden" name="bus" class="historyHiddenBus">
            <input autocomplete="off" type="hidden" name="driver" class="historyHiddenDriver">

          </div>
          <div class="popupFooter">
            <div class="btnModules loadHistory">배차</div>
            <div class="btnModules popupCloseBtn">닫기</div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

{% endblock %}

{% block outSide %}
    <div class="loadingBg">
        <div class="loadingBox">
            <img src="{% static 'images/loading.gif' %}" alt="일정 아이콘">
            <span>배차를 불러오고 있습니다.</span>
        </div>
    </div>
{% endblock %}


{% block script %}
<script>
  {% autoescape off %}
  const data = {{ dispatch_list }}
  const driverObj = {{ driver_dict }}
  const outsourcingObj = {{ outsourcing_dict }}
  console.log("DATA", data)
  console.log("driverObj", driverObj)
  console.log("outsourcingObj", outsourcingObj)
  const useVehicle = true
  {% endautoescape %}
 </script>

<script>

  let parms = new URLSearchParams(location.search)
  let targetLink = ""
  let urlDate = "{{date}}"
  let urlGroup = ""
  if(parms.has("group")){
    urlGroup = window.location.search.split("group=")[1].split("&")[0]
  }

  function opendispatchPrint(url){
    if(window.location.search){
    targetLink = `${url}?date=${urlDate}&group=${urlGroup}`
    window.open(targetLink, `${urlDate}배차표`, "width=1640, height=640")
    }else{
      alert("그룹 또는 노선을 선택해 주세요")
    }
  }

 </script>

<script>

  function dateSearch(){
    const search = document.querySelector(".searchInput")
    targetLink = `${window.location.href.split("?")[0]}?search=${search.value}&group=${urlGroup}&date=${searchDate.value}`
    location.href = targetLink
  }

 </script>

<script src="{% static 'js/dispatch/regularly/regularlyOnload.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/regularlyChangeLayout.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/regularlyHistory.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/regularlyDate.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/selectRoute.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/routeChecker.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/FullSchedule.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/regularlyDispatch.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/dispatchDelete.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/afterSelectRoute.js' %}"></script>
<script src="{% static 'js/dispatch/regularly/saveKeyEvent.js' %}"></script>
{% endblock %}