{% load custom_tags %}

<form action='' method="GET">
    <select name='group'>
        <option value=''>전체</option>
        {% for i in group_list %}
            <option value={{i.pk}} {% if group == i.pk %} selected {% endif %}>
                {{i.name}}
                {{i.pk}} 
            </option>
        {% endfor %}
    </select>
    {{ group }}
    <input type="date" name="date" value="{{date}}">
    <input type="date" name="copy">
    <input type="submit" value="조회">
    {% if copy %} <span>{{copy}}에서 불러옴</span> {% endif %}
</form>
<p>그룹명
    노선명
    차량번호
    운전자
    출발시간
    도착시간
</p>

<form action='' method="POST">
    {% csrf_token %}
    {% for i in routes %}
        {% with icnt=forloop.counter0 %}
        <br>
        <span> {{ i.regularly_group.name }}</span>
        <span> {{ i.route_name }}</span>
        <select name=vehicle>
            <option></option>
            {% for b in bus %}
                {% if copy %}
                    <option value="{{b.pk}}" {% if connect_bus_list_copy|index:icnt == b.vehicle_num  %} selected {% endif %}>
                        {{b.vehicle_num}}
                    </option>
                {% else %}
                    <option value="{{b.pk}}" {% if connect_bus_list|index:icnt == b.vehicle_num  %} selected {% endif %}>
                        {{b.vehicle_num}}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        <select name=driver>
            <option></option>
            {% for b in bus %}                
                {% if copy %}
                    <option value="{{b.pk}}" {% if connect_driver_list_copy|index:icnt == b.driver.name  %} selected {% endif %}>
                        {{b.driver.name}}
                    </option>
                {% else %}
                    <option value="{{b.driver.pk}}" {% if connect_driver_list|index:icnt == b.driver.name  %} selected {% endif %}>
                        {{b.driver.name}}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
        <span>{% if connect_bus_list %} 인풋: {{ connect_bus_list | index:forloop.counter0 }} {% endif %}</span> 
        <span>{% if connect_driver_list %} 인풋: {{connect_driver_list | index:forloop.counter0}} {% endif %}</span> 
        <span></span>
        <span> {{ i.departure_date }}</span>
        <span> {{ i.arrival_date }}</span>
        {% endwith %}
    {% endfor %}
    <br>
    <input type="submit" value="저장">
</form>