{% extends 'base.html' %}
{% load static %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/dispatch/schedule.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    운행확인
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">검색종류</span>
            <div class="routeFilterBox">
                <select name="select" id="" class="inputModules">
                    <option></option>
                    <option {% if select == "driver" %} selected {% endif %} value="driver">기사이름</option>
                    <option {% if select == "vehicle" %} selected {% endif %} value="vehicle">차량번호</option>
                </select>
                <input autocomplete="off"value="{{search}}" name="search" type="text" class="inputModules">
            </div>
            <div class="dateFilterBox">
                <span>날짜</span>
                <input autocomplete="off"value="{{date}}" name="date" type="date" class="inputModules">
            </div>
            <input autocomplete="off"type="submit" value="검색" class="btnModules">
        </div>
    </form>
    <div class="optionBtnBox">
    </div>
</div>


<div class="contentsAreaBox">
    <div class="scheduleTableBox">
        <table class="scheduleTableHeader">
            <thead>
                <tr>
                    <td>0</td>
                    <td>02</td>
                    <td>04</td>
                    <td>06</td>
                    <td>08</td>
                    <td>10</td>
                    <td>12</td>
                    <td>14</td>
                    <td>16</td>
                    <td>18</td>
                    <td>20</td>
                    <td>22</td>
                    <td>24</td>
                    <td>기사님</td>
                </tr>
            </thead>
        </table>
        <div class="scheduleTableCell">
            <div class="table">
                <div class="tbody">
                    {% for driver in driver_list %}
                    <div class="tr">
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="tdDriver">
                            <span class="{{forloop.counter0}}">{{driver.name}}</span>
                            <span style="display:none">{{driver.vehicle.vehicle_num}}</span>
                            <span style="display:none">{{driver.phone_num}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>





{% endblock %}





{% block popup %}

<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form class="popupContainer">

        <div class="popupHeader">
            <div class="popupTitle">배차일정</div>
        </div>

        <div class="PopupDataArea">
            <div class="PopupDataBox">
                <div class="PopupDataCell">
                    <span class="PopupDataTitle">이름</span>
                    <div class="driverName"></div>
                </div>
                <div class="PopupDataCell">
                    <span class="PopupDataTitle">차량번호</span>
                    <div class="vehicleNum"></div>
                </div>
                <div class="PopupDataCell">
                    <span class="PopupDataTitle">연락처</span>
                    <div class="driverPhone"></div>
                </div>
            </div>
            <div class="shcedulePopupTableBox">
                <table class="shcedulePopupTableHeader popupTable">
                    <thead>
                        <tr>
                            <td>구분</td>
                            <td>운행차량</td>
                            <td>운행시간</td>
                            <td>노선</td>
                            <td>기상확인</td>
                            <td>운행시작</td>
                            <td>출발지도착</td>
                        </tr>
                    </thead>
                </table>
                <div class="shcedulePopupTableBodyBox">
                    <table class="shcedulePopupTableBody popupTable">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="PopupBtnBox">
            <div class="btnModules">닫기</div>
        </div>

    </form>
</div>


{% endblock %}






{% block script %}
<script>
    {% autoescape off %}
    const data = {{schedule_list}}
    console.log("DATA", data)
    {% endautoescape %}
</script>
<script src="{% static 'js/dispatch/schedulePopup.js' %}"></script>
{% endblock %}