{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/dispatchBase.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/dispatch/regularlyRoute.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/humanresource/team2.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    팀 노선 관리
</div>
{% endblock %}

{% block content %}
<div class="routeLayout">
    <div class="groupLayout">
        <div class="groupList">
            <div class="groupListHead">
                <span class="groupListTitle">팀목록</span>
            </div>
            <div class="groupListBody">
                <div class="groupListItem {% if team == '전체' %}backgroundGray{% endif %}" draggable="true">
                    <div class="groupNum">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16.5" viewBox="0 0 22 16.5">
                            <path id="Icon_awesome-folder" data-name="Icon awesome-folder"
                                d="M19.938,7.25h-8.25L8.938,4.5H2.063A2.062,2.062,0,0,0,0,6.563V18.938A2.062,2.062,0,0,0,2.063,21H19.938A2.062,2.062,0,0,0,22,18.938V9.313A2.062,2.062,0,0,0,19.938,7.25Z"
                                transform="translate(0 -4.5)" fill="#444" />
                        </svg>
                    </div>
                    <div class="groupName" onclick="location.href='{{ request.path }}'">전체</div>
                </div>
                <div class="groupListItem {% if team == '팀없음' %}backgroundGray{% endif %}" draggable="true">
                    
                </div>
                

                
            </div>
        </div>

        
        <form action="" method="post" class="TeamCreates">
            <input autocomplete="off" type="hidden" name="id" value="{{team.id}}">
            {% csrf_token %}

            <div class="groupCreateHead">팀 수정</div>
            <div class="groupCreateBody">
              <div class="groupSelectBody">
                <div class="groupCreateinput">
                    <select name="role" required class="inputTeamJang">
                        <option value="" disabled selected>팀장 선택</option>
                        {% for member in members %}
                            <option value="{{ member.id }}">{{ member.name }}</option>
                        {% endfor %}
                    </select>
                </div>
               
                <div class="groupCreateinput">
                    <input autocomplete="off" value="{{team.name}}" name="name" type="text" placeholder="팀이름" class="groupNameCreate length50">
                </div>

              </div> 
                <div class="groupCreateBtnBox">
                    <input autocomplete="off" type="submit" class="btnModules groupCreateSave groupCreateBtnn" value="신규">
                    <input autocomplete="off" type="submit" class="btnModules groupCreateSave" value="저장">
                    <div class="btnModules groupCreateDelete" onclick="groupCreateDeleteUrl()">삭제</div>
                </div>
            </div>
        </form>


        <div class="foldGroup">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="그룹_1629" data-name="그룹 1629" transform="translate(-13664 -4980)">
                    <rect id="사각형_11725" data-name="사각형 11725" width="30" height="30" rx="15" transform="translate(13664 4980)" fill="#444" />
                    <path id="패스_327" data-name="패스 327" d="M0,0,5.788,7.048,12,0" transform="translate(13681.063 5001) rotate(-90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    <path id="패스_329" data-name="패스 329" d="M0,0H12" transform="translate(13677.063 5001) rotate(-90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    <path id="패스_330" data-name="패스 330" d="M0,0H12" transform="translate(13673.063 5001) rotate(-90)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                </g>
            </svg>
        </div>
    </div> 

    {% comment %} <div class="groupLayout">
        <div class="groupList">
            <div class="groupListHead">
                <span class="groupListTitle">팀목록</span>
            </div>
            <div class="groupListBody">
                {% for team in teams %}
                <div class="groupListItem" draggable="true">
                    <div class="groupNum">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16.5" viewBox="0 0 22 16.5">
                            <path id="Icon_awesome-folder" data-name="Icon awesome-folder"
                                d="M19.938,7.25h-8.25L8.938,4.5H2.063A2.062,2.062,0,0,0,0,6.563V18.938A2.062,2.062,0,0,0,2.063,21H19.938A2.062,2.062,0,0,0,22,18.938V9.313A2.062,2.062,0,0,0,19.938,7.25Z"
                                transform="translate(0 -4.5)" fill="#444" />
                        </svg>
                    </div>
                    <div class="groupName">{{ team.team_name }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <form action="{% url 'dispatch:save_team' %}" method="post" class="TeamCreates">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ team.id|default_if_none:'' }}">
    
            <div class="groupCreateHead">
                {% if team %}팀 수정{% else %}팀 생성{% endif %}
            </div>
            <div class="groupCreateBody">
                <div class="groupSelectBody">
                    <div class="groupCreateinput">
                        <select name="role" required class="inputTeamJang">
                            <option value="" disabled selected>팀장 선택</option>
                            {% for member in members %}
                                <option value="{{ member.id }}" 
                                        {% if team and team.team_leader_id == member.id %}selected{% endif %}>
                                    {{ member.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="groupCreateinput">
                        <input autocomplete="off" value="{{ team.team_name|default_if_none:'' }}" 
                               name="name" type="text" placeholder="팀이름" 
                               class="groupNameCreate length50">
                    </div>
                </div>
    
                <div class="groupCreateBtnBox">
                    <button type="submit" class="btnModules groupCreateSave">저장</button>
                    <form action="{% url 'dispatch:delete_team' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btnModules groupCreateDelete">삭제</button>
                    </form>
                </div>
            </div>
        </form>
    </div> {% endcomment %}

    <div class="mainTeamroute">

        <div class="searchBox">
            <form action="{{ request.path }}" class="routListSearch">
                <span class="searchName">노선 검색</span>
                <input autocomplete="off" name="name" value="{{name}}" type="text" id="routeListsearch">
                <select name="role" class="inputModules">
                    <option {% if role == '출근' %} selected {% endif %} value="출근">출근</option>
                    <option {% if role == '퇴근' %} selected {% endif %} value="퇴근">퇴근</option>
                </select>
                
                <input autocomplete="off" type="submit" class="btnModules routeListSearchBtn" value="검색">
            </form>
        </div>

        <div class="btnModule">
            <input type="submit" value="엑섹 업로드" class="excelUploads">  
            <input type="submit" value="엑셀 다운로드" class="excelDownloads">
            <input type="submit" value="저장" class="routeInputSaves">
            <input type="submit" value="인쇄" class="routeScan">
        </div>

        <div class="mainTeamScroll">
         <form method="post" action="{{ request.path }}" class="RouteListForm teamSaveForm">
            {% csrf_token %}
            <input type="hidden" name="team" value="{{group.id}}">
            <div class="RouteList">
                <div class="RouteListScroll">
                    <table class="RouteListHeader">
                        <thead>
                            <tr class="RoutelistHeaderTr">
                                <td class="routeListHeaderTd"><input type="checkbox" class="선택"></td>
                                <td class="routeListHeaderTd">순번</td>
                                <td class="routeListHeaderTd">노선명</td>
                                <td class="routeListHeaderTd">운전자</td>
                                <td class="routeListHeaderTd">차량</td>
                                <td class="routeListHeaderTd">출발지 &nbsp&nbsp&nbsp&nbsp▶&nbsp&nbsp&nbsp&nbsp도착지</td>
                                <td class="routeListHeaderTd">사업장</td>
                                <td class="routeListHeaderTd">출/퇴근</td>
                                <td class="routeListHeaderTd">운행시간</td>
                                <td class="routeListHeaderTd">팀선택</td>
                            </tr>
                        </thead>
                    </table>       
                               
                    <table class="RouteListBody">
                        <tbody>
                            {% for member in member_list %}
                            <tr class="RouteListBodyTr">
                                <td class="routeListBodyTd"><input type="checkbox"></td>
                                <td class="routeListBodyTd">{{ forloop.counter }}</td>
                                <td class="routeListBodyTd"></td>
                                <td class="routeListBodyTd"></td>
                                <td class="routeListBodyTd"></td>
                                <td class="routeListBodyTd"></td>
                                <td class="routeListBodyTd"></td>
                                <td class="routeListBodyTd"></td>
                                <td class="routeListBodyTd"></td>
                                
                                <td class="{{member.id}} routeListBodyTd">
                                    <select class="tableSelect">
                                        <option value="none"></option>
                                        {% for team in team_list %}
                                        <option {% if member.team == team %} selected {% endif %} value="{{team.id}}">{{team.name}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="blanckTr"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
     </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const newButton = document.querySelector('.groupCreateBtnBox .btnModules[value="신규"]');
        const saveButton = document.querySelector('.groupCreateBtnBox .btnModules[value="저장"]');
        const formTitle = document.querySelector('.groupCreateHead');
        const teamIdInput = document.querySelector('input[name="id"]');
        const teamNameInput = document.querySelector('input[name="name"]');
    
        newButton.addEventListener('click', function(event) {
            event.preventDefault();  // 기본 제출 동작 방지
            formTitle.textContent = '팀 생성';
            teamIdInput.value = '';  // 새 팀이므로 ID 초기화
            teamNameInput.value = '';  // 팀 이름도 초기화
        });
    
        saveButton.addEventListener('click', function(event) {
            if (!teamIdInput.value) {
                alert('기존 팀이 선택되지 않았습니다. 신규 팀을 먼저 등록하세요.');
                event.preventDefault();  // 기존 팀 없으면 저장 금지
            }
        });
    });
</script>
{% endblock %}