{% extends 'base.html' %}
{% load static %}

{% block subPagecss %}
<link rel="stylesheet" href="{% static 'css/homepage/check.css' %}">
{% endblock %}

{% block subPageContent %}

<div class="pageTitle">가입전 확인사항</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">가입문의</div>
  <div class="questionBox">
    <div class="questionCell">
      <img src="{% static 'images/TRPphone.png' %}" alt="">
      <div>전화상담 : 1522-9821</div>
    </div>
    <div class="questionCell">
      <img src="{% static 'images/TRPmessage.png' %}" alt="">
      <div>문자상담 : 010-4902-7111 </div>
    </div>
    <div class="questionCell" id="questionCellEmail">
      <img src="{% static 'images/TRPemail.png' %}" alt="">
      <div>이메일 문의 : kingbus7111@gmail.com</div>
    </div>
  </div>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">TRP가입방법</div>
  <div class="wayToJoinBox">
    <div class="wayToJoinCell">관리자계정<br>생성</div>
    <div class="wayToJoinarrow">
      <div></div>
      <div></div>
    </div>
    <div class="wayToJoinCell">문의하기</div>
    <div class="wayToJoinarrow">
      <div></div>
      <div></div>
    </div>
    <div class="wayToJoinCell">가격책정</div>
    <div class="wayToJoinarrow">
      <div></div>
      <div></div>
    </div>
    <div class="wayToJoinCell">입금</div>
    <div class="wayToJoinarrow">
      <div></div>
      <div></div>
    </div>
    <div class="wayToJoinCell">회사코드<br>발급</div>
    <div class="wayToJoinarrow">
      <div></div>
      <div></div>
    </div>
    <div class="wayToJoinCell">회사코드<br>등록</div>
  </div>
</div>

<div class="subIntroCell" id="gapToTop">
  <div class="subIntroCellTitle">가입전 확인사항</div>
  <div class="checkListBox">
    <div class="checkListCell">
      <div class="checkListCellQ">
        <span>Q</span>
        <div>가입전 확인사항 질문</div>
      </div>
      <div class="checkListCellA">
        <span>A</span>
        <div>가입전 확인사항 답변</div>
      </div>
    </div>
  </div>

  <div class="checkListBox">
    <div class="checkListCell">
      <div class="checkListCellQ">
        <span>Q</span>
        <div>가입전 확인사항 질문</div>
      </div>
      <div class="checkListCellA">
        <span>A</span>
        <div>가입전 확인사항 답변</div>
      </div>
    </div>
  </div>

  <div class="checkListBox">
    <div class="checkListCell">
      <div class="checkListCellQ">
        <span>Q</span>
        <div>가입전 확인사항 질문</div>
      </div>
      <div class="checkListCellA">
        <span>A</span>
        <div>가입전 확인사항 답변</div>
      </div>
    </div>
  </div>

  <div class="checkListBox">
    <div class="checkListCell">
      <div class="checkListCellQ">
        <span>Q</span>
        <div>가입전 확인사항 질문</div>
      </div>
      <div class="checkListCellA">
        <span>A</span>
        <div>가입전 확인사항 답변</div>
      </div>
    </div>
  </div>

  <div class="checkListBox">
    <div class="checkListCell">
      <div class="checkListCellQ">
        <span>Q</span>
        <div>가입전 확인사항 질문</div>
      </div>
      <div class="checkListCellA">
        <span>A</span>
        <div>가입전 확인사항 답변</div>
      </div>
    </div>
  </div>

</div>



{% endblock %}