{% extends 'base.html' %}
{% load static %}

{% block subPagecss %}
<link rel="stylesheet" href="{% static 'css/homepage/custormazing.css' %}">
{% endblock %}

{% block subPageContent %}

<div class="SecondContentsBox">
  <img src="{% static 'images/TRPcustomizing.png' %}">
  <div class="SecondContentsCell">
    <span>고객맞춤</span>
    <span>
      TRP는 배차시스템, 인사관리, 경리시스템, 차량관리, 사고관리등 각각의 기능을<br> 고객님께서 요구하신 사항을 반영하여<br> 최적의 상태로 사용하실 수 있도록 하는 커스터마이징 서비스를
      제공해드리고<br> 있습니다.
    </span>
  </div>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">커스터마이징 지원</div>
  <ul>
    <li class="subIntroCellContents">
      회사의 특성에 맞춘 배차지서, 경리시스템, 차량관리, 사고관리, 인사관리등 최초 가입시 상담을 통해 서비스별로 요구사항을 반영하여 사용하실 수 있습니다.
    </li>
    <li class="subIntroCellContents">
      커스터마이징, 추가서비스등에는 추가요금이 부가되며 상담을 통해 확인하실 수 있습니다.
    </li>
    <li class="subIntroCellContents">
      서비스 이용중 추가로 이용하고 싶은 서비스는 문의하기를 통해 문의하시면 상담을 통해 추가하실 수 있습니다.
    </li>
  </ul>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">자세한 사항은 아래의 '바로가기'를 참고해주세요.</div>
  <div class="subIntroCellQuickMenuForm">
    <div class="subIntroCellInforgraphic" id="subIntroCellInforgraphicTip">
      <img src="{% static 'images/TRPcustomizingQuick.png' %}">
    </div>
    <a href="{% url 'homepage:consulting' %}"><div class="subIntroCellQuickMenuFormBtn">바로가기</div></a>
  </div>

</div>

{% endblock %}