{% extends 'base.html' %}
{% load static %}

{% block subPagecss %}
<link rel="stylesheet" href="{% static 'css/homepage/dispatch.css' %}">
{% endblock %}

{% block subPageContent %}

<div class="SecondContentsBox">
  <img src="{% static 'images/TRPWebdispatch.png' %}">
  <div class="SecondContentsCell">
    <span>배차관리</span>
    <span>전세버스회사에서 이루어지는 배차관련 업무를 제공합니다.
      매일같이 이루어지는 수 많은 배차를 편리하게 관리 할 수 있으며
      직관적이고 익숙한 인터페이스를 사용하여 적응이 빠르고 일에 능률이 올라갑니다.
          
    </span>
  </div>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">배차지시서</div>
  <ul>
    <li class="subIntroCellContents">
      정기주문, 일반주문에서 지정한 배차들이 자동으로 하루단위씩 기입되어 배차관리를 편하게 할 수 있습니다.
    </li>
  </ul>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">정기주문관리</div>
  <ul>
    <li class="subIntroCellContents">
      셔틀, 출퇴근 버스등 정기적으로 이루어지는 배차들을 관리할 수 있습니다.
    </li>
  </ul>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">일반주문관리</div>
  <ul>
    <li class="subIntroCellContents">
      MT, 등산회 등 일회성 주문들을 관리할 수 있으면 킹버스연동시 킹버스에서 받은 배차들도 자동 입력됩니다.
    </li>
  </ul>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">배차스케줄</div>
  <ul>
    <li class="subIntroCellContents">
      배차가 이루어지지 않은 노선들을 파악할 수 있어 배차들을 빠짐없이 관리 할 수 있고 운행가능한 기사님들을 보여주어 기사님들의 스케줄에도 지장이 생기지 않습니다. 
    </li>
  </ul>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">서류함</div>
  <ul>
    <li class="subIntroCellContents">
      운행관련 자료들을 정리할 수 있습니다.
    </li>
  </ul>
</div>

{% endblock %}