{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="TRP" />
  <meta property="og:description" content="배차시스템과 ERP 시스템의 결합 TRP!" />
  <meta property="og:image" content="{% static 'images/TRPLogoNew.png' %}" />
  <link rel="stylesheet" href="{% static 'css/homepage/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/homepage/homeResponsive.css' %}">
  <title>TRP</title>
</head>

<body>

  <!--header -->
  <header>
    <div class="headerBox">

      <div>
        <a href="{% url 'homepage:homepage' %}" class="transparentBoxLoge">
          <img src="{% static 'images/TRPHomeLogoWhite.png' %}" alt="흰색 로고">
        </a>
        <a href="{% url 'homepage:homepage' %}" class="whiteBoxLoge">
          <img src="{% static 'images/TRPHomeLogoBlack.png' %}" alt="검정 로고">
        </a>
      </div>

      <div class="menuBox">
        <ul>
          <li class="menuLi">TRP 주요기능</li>
          <a href="{% url 'homepage:payment' %}">
            <li class="menuLi">가격정책</li>
          </a>
          <a href="{% url 'homepage:question' %}">
            <li class="menuLi">가입문의</li>
          </a>
          <a href="{% url 'homepage:faq' %}">
            <li class="menuLi">FAQ</li>
          </a>
        </ul>
      </div>

    </div>
  </header>





  <!--firstSection-->
  <div class="firstSection">
    <div class="firstSectionArticle">
      <img src="{% static 'images/trpImgGroup.png' %}" alt="trp 그룹 이미지">
      <div class="firstSectionIntroBox">
        <img src="{% static 'images/introTextGroup.png' %}" alt="소개 텍스트 이미지">
        <a href="{% url 'home' %}">
          <div class="ShortcutsBtn">
            TRP 바로가기
          </div>
        </a>
      </div>
    </div>
  </div>








  <!--seconedSection-->
  <div class="seconedSection">
    <div class="seconedSectionIntroBox">
      <span class="seconedSectionTitle">TRP</span>
      <div class="seconedSectionSubTitleRocate">
        <div class="seconedSectionSubTitle">
          전세버스 배차 프로세스와<br>
          ERP 프로그램 기능의 결합으로 탄생한<br>
          교통특화형 자원 관리 시스템
        </div>
      </div>
      <div class="seconedSectionContentsRocate">
        <div class="seconedSectionContents">
          ERP(전사적 자원 관리 소프트웨어)에<br>
          교통(Transportation) 요소를 더해 전세 버스회사의<br>
          배차, 인사, 경리, 차량 등 전세버스 회사 운영에서 필요한<br>
          여러 업무를 인터넷상에서 쉽고빠르게<br>
          처리할 수 있도록 개발된<br>
          배차&자원관리 프로그램입니다..
        </div>
      </div>
    </div>
  </div>







  <!--thirdSection-->
  <div class="thirdSection">

    <div class="thirdSectionBg thirdSectionBg2">
      <img src="{% static 'images/thirdBg2.png' %}" alt="">
    </div>

    <div class="thirdSectionBg thirdSectionBg3">
      <img src="{% static 'images/thirdBg3.png' %}" alt="">
    </div>

    <div class="thirdSectionBg thirdSectionBg4">
      <img src="{% static 'images/thirdBg4.png' %}" alt="">
    </div>

    <div class="thirdSectionBg thirdSectionBg5">
      <img src="{% static 'images/thirdBg5.png' %}" alt="">
    </div>

    <div class="thirdSectionBg thirdSectionBg6">
      <img src="{% static 'images/thirdBg6.png' %}" alt="">
    </div>

    <div class="thirdMainTitle">
      <div class="visibleFirst">
        <span>function of the program</span>
        <span>프로그램의 기능</span>
        <img src="{% static 'images/thirdTItleIcon.png' %}" alt="">
      </div>
      <div class="visibleSecond">
        <div class="visibleSecondTitle">
          <span>dispatch system</span>
          <span>배차 시스템</span>
        </div>
        <div class="visibleSecondContents">
          오랜기간 운영중인 전세버스 회사의 배차 프로세스를<br>
          분석하여 장점만을 프로그램에 녹여 탄생한<br>
          실무에 최적화된 <span>우수한</span> 배차 시스템
        </div>
      </div>
      <div class="visibleThird">
        <div class="visibleThirdTitle">
          <span>vehicle management system</span>
          <span>차량관리 시스템</span>
        </div>
        <div class="visibleThirdContents">
          보유 차량을 등록하여 차량의 관리와 파악을 돕고,<br>
          차량의 정비기록과 사고이력을 저장하여 차량과 관련한<br>
          여러 정보를 <span>효과적으로</span> 관리하는 시스템
        </div>
      </div>
      <div class="visibleFourth">
        <div class="visibleFourthTitle">
          <span>Notice board</span>
          <span>공지사항 게시판</span>
        </div>
        <div class="visibleFourthContents">
          사내의 공지사항이나 확인사항등을 <span>빠르게</span><br>
          전파할 수 있는 공지사항 게시판으로<br>
          공지사항의 작성, 수정과 댓글 기능을 지원합니다.
        </div>
      </div>
      <div class="visibleFifth">
        <div class="visibleFifthTitle">
          <span>HR management system</span>
          <span>인사관리 시스템</span>
        </div>
        <div class="visibleFifthContents">
          회사에 소속된 직원들의 인사 정보를 확인 관리하는 시스템으로<br>
          소속 기사님, 용역 기사님의 급여와 수당을 관리하는 기능을<br>
          추가로 제공하여 까다로운 직원 정보를 <span>간편하게</span> 관리 가능합니다.<br>
        </div>
      </div>
      <div class="visibleSixth">
        <div class="visibleSixthTitle">
          <span>Sales management system</span>
          <span>매출관리 시스템</span>
        </div>
        <div class="visibleSixthContents">
          차량 운행으로 발생하는 수익을 관리하는 시스템으로<br>
          운행의 형태에 따른 수익 관리가 가능하며, 입급내역을<br>
          불러와 수입 대조가 가능하고, 대시보드를 통한 통계를 제공하여<br>
          회사의 매출을 <span>편리하게</span> 관리 가능합니다.
        </div>
      </div>
    </div>

  </div>







  <!--fourthSection-->
  <div class="fourthSection">
    <div class="fourthSectionArticle">
      <div class="fourthSectionTitle">coming soon</div>
      <div class="fourthSectionSubTitle">
        전세버스 예약 플랫폼, 기사 관리 앱과<br>
        배차관리 프로그램을 연계하여<br>
        전세버스 시장에 새로운 비전을 제시합니다.
      </div>
      <div class="fourthSectionContents">
        킹버스의 비전인 전세버스 3축체계로<br>
        고객과 회사를 연결하는 전세버스 예약 플랫폼,<br>
        기사와 회사를 연결하는 기사 과리 앱,<br>
        고객과 기사를 연결하느 배차과리 프로그램으로<br>
        전세버스 시장에 혁신적인 비전을 제시합니다.
      </div>
    </div>
    <img src="{% static 'images/vision.png' %}" alt="">
  </div>








  <!--footerContents-->
  <footer>
    <div>대표자명 : 김형주</div>
    <div>주소 : 수원시 권선구 매송고색로 804번길 190 (1층 킹버스)</div>
    <div>이메일 : kingbus7111@gmail.com</div>
    <div>고객센터 : 1522-9821</div>
    <div>사업자번호 : 287-49-00474</div>
  </footer>

  <script src="{% static 'js/homepage/header.js' %}"></script>
  <script src="{% static 'js/homepage/refreshTop.js' %}"></script>
  <script src="{% static 'js/homepage/secondSectionAnimation.js' %}"></script>
  <script src="{% static 'js/homepage/thirdSectionAnimation.js' %}"></script>
</body>

</html>