{% extends 'base.html' %}
{% load static %}

{% block subPagecss %}
<link rel="stylesheet" href="{% static 'css/homepage/kingbus.css' %}">
{% endblock %}

{% block subPageContent %}

<div class="SecondContentsBox">
  <img src="{% static 'images/kingbusLogo.png' %}">
  <div class="SecondContentsCell">
    <span>킹버스</span>
    <span>
      킹버스는 전세버스대절, 셔틀버스 신청등 전세버스 시장을 인터넷상에서 돌아가도록 하는 플랫폼 서비스입니다. 커뮤니티, 간단한 예약 및 결제 서비스를 도입하여 전세버스 시장을 활성화/확장 시키고, 타 플랫폼
      대비 절반 수준의 저렴한 수수료를 장점으로 전세버스 회사의 부담을 줄이고, 일거리를 늘려주는 서비스입니다.
    </span>
  </div>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">킹버스 차별점</div>
  <ul>
    <li class="subIntroCellContents">
      인터넷상에서 이루어지는 서비스로 무한한 시장의 확장성을 가집니다.
    </li>
    <li class="subIntroCellContents">
      자체 커뮤니티를 보유하여 기사님들이 자유롭게 이용할 수 있도록 하고, 여행관련 정보를 공유하여 제세버스 시장을 활성화 시키는데 기여합니다.
    </li>
    <li class="subIntroCellContents">
      타 플랫폼 대비 절반 수준의 수수료로 전세버스 회사가 가지는 부담을 확 낮추는 기업 친화적 플랫폼입니다.
    </li>
    <li class="subIntroCellContents">
      TRP, 드라이버앱등의 자체 서비스와 연계가능한 편의성과, 실용성을 잡은 미래지향적 시스템입니다.
    </li>
  </ul>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">회사개요</div>
  <table class="subIntroCellTable">
    <tbody>
      <tr class="subIntroCellTr">
        <td class="tableDashedBorder">
          <div class="circleOut">
            <div class="circleIn"></div>
          </div>
        </td>
        <td class="tableDashedBorder">기업명</td>
        <td class="tableDashedBorder">킹버스</td>
      </tr>
      <tr class="subIntroCellTr">
        <td class="tableDashedBorder">
          <div class="circleOut">
            <div class="circleIn"></div>
          </div>
        </td>
        <td class="tableDashedBorder">대표</td>
        <td class="tableDashedBorder">김형주</td>
      </tr>
      <tr class="subIntroCellTr">
        <td class="tableDashedBorder">
          <div class="circleOut">
            <div class="circleIn"></div>
          </div>
        </td>
        <td class="tableDashedBorder">설립일</td>
        <td class="tableDashedBorder">2019.03.28</td>
      </tr>
      <tr class="subIntroCellTr">
        <td class="tableDashedBorder">
          <div class="circleOut">
            <div class="circleIn"></div>
          </div>
        </td>
        <td class="tableDashedBorder">업태</td>
        <td class="tableDashedBorder">서비스업</td>
      </tr>
      <tr class="subIntroCellTr">
        <td class="tableDashedBorder">
          <div class="circleOut">
            <div class="circleIn"></div>
          </div>
        </td>
        <td class="tableDashedBorder">업종</td>
        <td class="tableDashedBorder">전세버스 알선 및 중계</td>
      </tr>
      <tr class="subIntroCellTr">
        <td class="tableDashedBorder">
          <div class="circleOut">
            <div class="circleIn"></div>
          </div>
        </td>
        <td class="tableDashedBorder">연락처</td>
        <td class="tableDashedBorder">1522-9821</td>
      </tr>
      <tr class="subIntroCellTr">
        <td class="tableLast tableLast">
          <div class="circleOut">
            <div class="circleIn"></div>
          </div>
        </td>
        <td class="tableLast">소재지</td>
        <td class="tableLast">수원시 권선구 매송고색로 804번길 190 (1층 킹버스)</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">기업구조</div>
  <div class="companyStructureBox">
    <div class="companyStructureCell">
      <div class="companyStructureTitle">
        <img src="{% static 'images/TRPdocment.png' %}">
        기획팀
      </div>
      <div class="companyStructurecontents">서비스기획</div>
      <div class="companyStructurecontents">사업기획</div>
      <div class="companyStructurecontents">마케팅기힉</div>
      <div class="companyStructurecontents">제휴</div>
      <div class="companyStructureBackLine"></div>
    </div>

    <div class="companyStructureCell">
      <div class="companyStructureTitle">        
        <img src="{% static 'images/TRPtool.png' %}">
        개발팀
      </div>
      <div class="companyStructurecontents">디자인</div>
      <div class="companyStructurecontents">웹프론트개발</div>
      <div class="companyStructurecontents">웹백개발</div>
      <div class="companyStructurecontents">앱개발</div>
      <div class="companyStructurecontents">서버구축/관리</div>
      <div class="companyStructureBackLine"></div>
    </div>

    <div class="companyStructureCell">
      <div class="companyStructureTitle">        
        <img src="{% static 'images/TRPrun.png' %}">
        운용팀
      </div>
      <div class="companyStructurecontents">마케팅</div>
      <div class="companyStructurecontents">서비스관리</div>
      <div class="companyStructurecontents">고객응대</div>
      <div class="companyStructureBackLine"></div>
    </div>
  </div>
</div>

{% endblock %}