{% extends 'base.html' %}
{% load static %}

{% block subPagecss %}
<link rel="stylesheet" href="{% static 'css/homepage/payment.css' %}">
{% endblock %}

{% block subPageContent %}

<div class="pageTitle">가입하기</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">TRP가격</div>
  <div class="joinPriceBox">
    <div>추가기능과 기타 커스터마이징 여부를 <span>상담하여 가격을 책정</span>합니다. </div>
  </div>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">입금계좌</div>

    <div class="joinBox">
      <div>계좌번호 : KB국민은행 000000-00-000000</div>
      <div>받는이 : kingbus</div>
      <div>*입금후 전화/문자로 입금사실을 알려주시면 확인 후 회사코드를 부여해 드리며 약10~20분이 소요됩니다.</div>
      <div>*가입 확정 후 회사코드를 등록하시면 사용이 가능합니다.</div>
      <div>*관리자 계정 생성이 확인되야 입금이 확정됩니다.</div>
    </div>
    <div class="joinBtnBox">
      <a href="{% url 'crudmember:signup_terms' %}"><div class="joinBtn">가입하기</div></a>
    </div>    
  
</div>
{% endblock %}