{% extends 'base.html' %}
{% load static %}

{% block subPagecss %}
<link rel="stylesheet" href="{% static 'css/homepage/servicelink.css' %}">
{% endblock %}

{% block subPageContent %}

<div class="SecondContentsBox">
  <img src="{% static 'images/TRPseviceLink.png' %}">
  <div class="SecondContentsCell">
    <span>연계서비스</span>
    <span>
      TRP는 킹버스, 드라이버앱등<br> kingbus에서 제공하는 여러 서비스와<br> 연동해서 사용이 가능한 서비스 입니다.
      배차/업무관리뿐만 아니라<br> 시장을 확장시키고 기사님들과의 소통을<br> 디지털화 시키는등 전세버스 시장의<br> 미래 시스템의 기틀을<br> 이용해 보실 수 있는 서비스입니다.
    </span>
  </div>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">킹버스와 연동</div>
  <ul>
    <li class="subIntroCellContents">
      회사에 주문이 들어오길 기다리는 것이 아니라. 직접 주문 받으러 가실 수 있습니다!
    </li>
    <li class="subIntroCellContents">
      킹버스에서 확정된 배차를 TRP에서 관리 하실 수 있습니다!
    </li>
    <li class="subIntroCellContents">
      킹버스에서 발생한 수익 지출을 관리할 수 있다.
    </li>
  </ul>
</div>

<div class="subIntroCell">
  <div class="subIntroCellTitle">드라이버앱과 연동</div>
  <ul>
    <li class="subIntroCellContents">
      기사님들께 배정된 배차가 전송되어 일일이 기사님들께서 확인하러 오실 필요 없고 다른 기사님들의 배차를 보지 못합니다.
    </li>
    <li class="subIntroCellContents">
      회사의 공지사항을 기사님들께 전파하여 회사 운영에 도움이 됩니다.
    </li>
    <li class="subIntroCellContents">
      기사님들의 급여(수당)관리가 편리합니다.
    </li>
  </ul>
  <div class="subIntroCellInforgraphic" id="subIntroCellInforgraphicTip">
    <img src="{% static 'images/linkTip.png' %}">
  </div>
</div>

{% endblock %}