{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/dispatch/regularly.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
  출/퇴근배차
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
  <form action="">
    <div class="searchTool">
      <span class="searchName">노선검색</span>
      <div class="routeFilterBox">
        <input autocomplete="off"value="{{group}}" name="group" type="text" class="inputModules" list="groupFilter" placeholder="그룹이름" autocomplete="off">
        <datalist id="groupFilter">
          {% for group in group_list %}
          <option value="{{group.name}}"></option>
          {% endfor %}
        </datalist>
        <input autocomplete="off"value="{{route}}" name="route" type="text" class="inputModules" list="routeFilter" placeholder="노선이름" autocomplete="off">
        <datalist id="routeFilter">
          {% for order in order_list %}
          <option value="{{order.route}}"></option>
          {% endfor %}
        </datalist>
      </div>
      <div class="dateFilterBox">
        <span>날짜</span>
        <input autocomplete="off"value="{{date}}" name='date' type="date" class="inputModules">
      </div>
      <input autocomplete="off"type="submit" value="검색" class="btnModules">
    </div>
  </form>
</div>





<div class="contentsAreaBox">
  <table class="tableHead">
    <thead>
      <tr class="headerLine">
        <td>그룹</td>
        <td>순번</td>
        <td>노선이름</td>
        <td>운행시간</td>
        <td>운행요일</td>
        <td>출/퇴근</td>
        <td>차량대수</td>
        <td>배차차량</td>
        <td>참조사항</td>
      </tr>
    </thead>
  </table>

  <table class="tableBody">
    <tbody>
      {% for dispatch in order_list %}
      <tr class="{{dispatch.id}}">
        <td>{{dispatch.group.name}}</td>
        <td>{{dispatch.number}}</td>
        <td class="{{ forloop.counter0 }}">
          <span>{{dispatch.departure}}▶</span>
          <span>{{dispatch.arrival}}</span>
        </td>
        <td>{{dispatch.departure_time}} ~ {{dispatch.arrival_time}}</td>
        <td>{{dispatch.week}}</td>
        <td>{{dispatch.work_type}}</td>
        <td>{{bus_cnt_list|index:forloop.counter0}}/{{dispatch.bus_cnt}}</td>
        <td class="{{dispatch.id}}">
          <div class="regularlyDispatchBtn">
            {% with connect=connect_list|index:forloop.counter0 %}
              {% for c in connect %}
                {{c.bus_id.vehicle_num}}({{c.driver_id.name}})
              {% endfor %}
            {% endwith %}
          </div>
        </td>
        <td>{{dispatch.references}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="btnAreaBox">
    <div class="pagination">
      <!-- 페이징 처리 -->
      {% if is_paginated %}
      <div class="pagination">
        {% if page_obj.has_previous %}
        <div class="page-item page-pre">
          <a class="page-link"
            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.previous_page_number }}"
            tabindex="-1">이전</a>
        </div>
        {% else %}
        <div class="page-item page-pre disabled">
          <a class="page-link" href="#" tabindex="-1">이전</a>
        </div>
        {% endif %}
        {% for page in page_range %}
        <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
          <a class="page-link" href="?top_box_selector={{selector}}&search={{searched}}&page={{ page }}">{{ page }}</a>
        </div>
        {% endfor %}

        {% if page_obj.has_next %}
        <div class="page-item">
          <a class="page-link page-next"
            href="?top_box_selector={{selector}}&search={{searched}}&page={{ page_obj.next_page_number }}">다음</a>
        </div>
        {% else %}
        <div class="page-item page-next disabled">
          <a class="page-link" href="#">다음</a>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="btnBox">
    </div>

  </div>
</div>





{% endblock %}





{% block popup %}
<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form method="post" action="{% url 'dispatch:regularly_connect_create' %}" class="popupContainer">
    {% csrf_token %}
    <div class="regularyCreatePopupTitle">배차등록</div>
    <table>
      <thead class="regularyCreatePopupThead">
        <tr>
          <td>차량</td>
          <td>
            <span>출근</span>
            <span>일반</span>
            <span>퇴근</span>
          </td>
        </tr>
      </thead>
    </table>
    <div class="regularyCreatePopupTbodyBoxing">
      <table>
        <tbody class="regularyCreatePopupTbody">
          {% for vehicle in vehicle_list %}
          <tr>
            <td class="{{vehicle.id}}">
              <div class="addDriver">{{vehicle.vehicle_num}}({{vehicle.driver_name}})</div>
            </td>
            <td>
              <div class="GoToWork">{{r_enter_cnt|index:forloop.counter0}}</div>
              <div class="work">{{order_cnt|index:forloop.counter0}}</div>
              <div class="backToHome">{{r_leave_cnt|index:forloop.counter0}}</div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="regularyCreatePopupResult">
    </div>
    <div class="regularyCreatePopupBtnBox">
      <div class="btnModules">닫기</div>
      <input autocomplete="off"type="submit" class="btnModules" value="등록">
    </div>
    <input autocomplete="off"type="hidden" name="id" value="" class="dispatchHidden">
    <input autocomplete="off"type="hidden" name="date" value="{{date}}">
  </form>
</div>

<div class="popupAreaModulesRoute">
  <div class="popupBgModulesRoute"></div>
  <form method="post" action="{% url 'dispatch:regularly_route_edit' %}" class="popupContainerRoute">
      {% csrf_token %}
      <div class="routePopupTitle">노선상세</div>
      <div class="routePopupDataArea">
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">그룹</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">출발지</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">운행시간</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">도착지</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">순번</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">운행요일</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">기사수당</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">버스종류</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">버스대수</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">거래처</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">거래처 전화번호</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">계약금액</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">계약기간</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">출/퇴근</span>
              <div class="routePopupData"></div>
          </div>
          <div class="routePopupDataCell">
              <span class="routePopupDataTitle">참조사항</span>
              <div class="routePopupData"></div>
          </div>
      </div>
      <div class="routePopupBtnBox">
          <div class="btnModules">닫기</div>
      </div>
  </form>
</div>
{% endblock %}






{% block script %}
<script>
  let regDatas = [
      {% for dispatch in order_list %}
        {
          group: "{{ dispatch.group.name }}",
          references: "{{ dispatch.references }}",
          departure: "{{ dispatch.departure }}",
          arrival: "{{ dispatch.arrival }}",
          departure_time: "{{ dispatch.departure_time }}",
          arrival_time: "{{ dispatch.arrival_time }}",
          bus_type: "{{ dispatch.bus_type }}",
          bus_cnt: "{{ dispatch.bus_cnt }}",
          price: "{{ dispatch.price }}",
          driver_allowance: "{{ dispatch.driver_allowance }}",
          number: "{{ dispatch.number }}",
          week: "{{ dispatch.week }}",
          customer: "{{ dispatch.customer }}",
          customer_phone: "{{ dispatch.customer_phone }}",
          contract_start_date: "{{ dispatch.contract_start_date }}",
          contract_end_date: "{{ dispatch.contract_end_date }}",
          work_type: "{{ dispatch.work_type }}",
          route: "{{ dispatch.route }}",
        },
      {% endfor %}
  ]
  const connectData = {}
  {% for order in order_list %}
    temp = []
    {% for connect in connect_list|index:forloop.counter0 %}
      temp.push('{{connect.bus_id.id}}')
    {% endfor %}
    connectData[{{order.id}}] = temp
  {% endfor %}

  {% autoescape off %}
    const vehicleConnect = {{vehicle_connect}}
  {% endautoescape %}
  console.log("CONNECT", connectData);
  console.log("vehicleConnect", vehicleConnect)
</script>
<script src="{% static 'js/dispatch/regularlyCreatePopup.js' %}"></script>
{% endblock %}