{% load dispatch_custom_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TRP</title>
    <link href="{% static 'css/dispatch/regularlyPrint.css' %}" rel="stylesheet" type="text/css" />
    <link href="" id="printSizeCss" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="dispatchTable">
        <div class="dispatchTableHeader">
            <div class="tilte">{{date|slice:':4'}}년 {{date|slice:'5:7'}}월 {{date|slice:'8:10'}}일 {{weekday}} - {{group.name}}</div>
            <!-- 2022년 10월 18일 (화요일) - 한국 쓰리엠 출근 배차표 -->
            <div class="adminCheck">
                <div class="checkLable">관리자 확인</div>
                <div class="checkSign">(인)</div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <td>순번</td>
                    <td>차량</td>
                    <td>기사명</td>
                    <td>용역기사</td>
                    <td>연락처</td>
                    <td>시간</td>
                    <td>출근노선</td>
                    <td>점호</td>
                    <td>정문/후문</td>
                    <td>셔틀</td>
                    <td>서명</td>
                    <td>출근시간</td>
                    <td>음주측정</td>
                    <td>체온측정</td>
                    <td>제복</td>
                    <td>비고</td>
                </tr>
            </thead>
            <tbody>
                {% for order in order_list %}
                {% with bus=group_bus_list|index:forloop.counter0 %}
                {% with driver=group_driver_list|index:forloop.counter0 %}
                {% with outsourcing=group_outsourcing_list|index:forloop.counter0 %}
                {% with departure_time=departure_time_list|index:forloop.counter0 %}
                <tr class="listItme">
                    <td>{{order.number1}}{% if order.number2 %}-{{order.number2}} {% endif %}</td>
                    <td>{{bus.vehicle_num}}</td>
                    <td>{{driver.name}}</td>
                    <td>{{outsourcing.name}}</td>
                    <td>{% if not driver %}{{outsourcing.phone_num}}{% else %}{{driver.phone_num}}{% endif %}</td>
                    <td>{% if departure_time %}{{departure_time}}{% else %}{{order.departure_time}}{% endif %}</td>
                    <td>{{order.route}}</td>
                    <td>{{order.departure}}</td>
                    <td>
                        {% if '정문' in order.location %}
                            정문
                        {% elif '후문' in order.location %}
                            후문
                        {% endif %}
                    </td>
                    <td>{% if '셔틀' in order.location %}O{% else %}X{% endif %}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{order.references}}</td>
                </tr>
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endfor %}
                <!-- 1페이지에 25줄 -->
            </tbody>
        </table>
        <div class="page">1/2</div>
    </div>


<script src="{% static 'js/dispatch/regularlyPrint.js' %}"></script>
</body>



</html>