* {
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans CJK KR";
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

textarea {
  resize: none;
}

/* 스크롤바 설정*/
html::-webkit-scrollbar {
  position: absolute;
  width: 1rem;
}

/* 스크롤바 막대 설정*/
html::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #828282;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
html::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}




/*trp*/
.trp {
  display: flex;
  width: 100vw;
  min-width: 102.4rem;
  min-height: 100vh;
  height: auto;
}





/*trp sidemenu*/
.Sidemenu {
  z-index: 10000;
  width: 22rem;
  height: auto;
  min-height: 100vh;
  background-color: #1C1A4E;
}



/*sidemenuLogo*/
.logoBox {
  width: 100%;
  height: 9.2rem;
}

.logoBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logoBox a img {
  width: 12.2rem;
  height: 4.1rem;
}




/*sidemenuNav*/
.sideMenuNav {
  width: 100%;
  height: auto;
}

.sideMenuNav1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0;
}

.nav1Box {
  display: flex;
  flex-direction: column;
  width: calc(100% - 5rem);
  height: auto;
  min-height: 4.2rem;
  padding: 0 2rem 0 3rem;
}

.nav1BoxMenu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.2rem;
  font-size: 1.6rem;
  color: white;
}

.nav1BoxMenuHaveDepth2 {
  cursor: pointer;
}

.nav1BoxMenu img:nth-child(1) {
  margin-right: auto;
}

.nav1BoxMenu img:nth-last-child(1) {
  cursor: pointer;
}

.nav1BoxMenu div {
  display: flex;
  align-items: center;
  width: calc(100% - 4.4rem);
  height: 4.2rem;
}

.nonDepth2Menu {
  display: flex;
  align-items: center;
  width: calc(100% - 3.1rem);
  height: 4.2rem;
}

.sideMenuNav2Box {
  overflow: hidden;
  height: 0;
}

.sideMenuNav2 {
  padding: 1rem 0 1rem 3rem;
  height: auto;
}

.sideMenuNav2 a {
  width: 100%;
}

.sideMenuNav2Link {
  display: flex;
  align-items: center;
  width: calc(100% - 3rem);
  height: 4.2rem;
  font-size: 1.6rem;
  color: white;
}

.sideMenuNav2Link:hover .sideMenuNav2Menu {
  text-decoration: underline;
  text-underline-position: under;
}






/*trpMainContainer*/
.MainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 22rem);
  min-width: 80.4rem;
  height: 100%;
  min-height: 100vh;
}

/*trp header*/
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 6rem);
  height: 5.9rem;
  padding: 0 3rem;
  border-bottom: 0.1rem solid #CFCFCF;
  background-color: white;
}

/*trp header title*/
.HeaderTitle {
  font-size: 2.4rem;
  font-weight: bold;
  color: #191919;
}

.profile {
  position: relative;
  display: flex;
  cursor: pointer;
}

.userName {
  font-weight: 700;
  margin-right: 0.2rem;
}

.profile span {
  font-size: 1.6rem;
  color: #191919;
}

.profileBox {
  position: absolute;
  top: 5.2rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 12.2rem;
  height: 10.2rem;
  padding-left: 1.4rem;
  background-color: white;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.16);
}

.profileMenuCell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.profileMenuCell img {
  margin-right: 1rem;
}

.profileMenuName {
  font-size: 1.2rem;
  color: #191919;
}

.profileMenuCell:hover .profileMenuName {
  text-decoration: underline;
  text-underline-position: under;
}







/*trp contents container*/
.mainContentsCentainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6rem);
  height: calc(100% - 12rem);
  min-height: calc(100vh - 12rem);
  padding: 3rem;
}

.searchAreaBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2rem);
  height: 5.8rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
  background-color: white;
  border: 0.1rem solid #CDCDCE;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}

.searchTool {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searchAreaBox form {
  height: 100%;
}

.searchToolCell {
  display: flex;
  align-items: center;
  height: 100%;
}

.searchName {
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 1rem;
  color: #191919;
}

.searchToolInput {
  height: 2.3rem;
  padding: 0;
  padding-left: 1rem;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  color: #191919;
  margin-right: 1rem;
  outline: none;
}

.searchToolSelect {
  height: 2.5rem;
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #444444;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.contentsAreaBox {
  width: calc(100% - 2rem);
  height: auto;
  padding: 1rem 1rem 0 1rem;
  background-color: white;
  border: 0.1rem solid #CDCDCE;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}

.btnAreaBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6.4rem;
}

.pagination {
  width: 40rem;
  height: 2.5rem;
}

.btnBox {
  position: absolute;
  top: 50%;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 21.5rem;
  height: 2.5rem;
  transform: translate(0, -50%);
}

.deletBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #444444;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #444444;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}

.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 2.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #0069D9;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}


/*modules*/
.inputModules {
  height: 2.5rem;
  padding-left: 1rem;
  background-color: white;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.2rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: #191919;
  outline: none;
}

.btnModules {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 2.5rem;
  padding: 0;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}

.popupAreaModules {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.popupBgModules {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
}

.HomePopupAreaModules {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.HomePopupBgModules {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
}

.HomePopupContainer {
  position: fixed;
  top: 50%;
  left: calc(50% + 11rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42rem;
  height: 32rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 16%);
  transform: translate(-50%, -50%);
}

.HomePopupContainerPw {
  width: 38rem;
  height: 38rem;
}

.HomePopupContainerPw .HomePopupDataCell {
  margin: 0 auto;
}

.HomePopupDataArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 9.7rem);
  padding: 4.2rem 3rem 0 3rem;
  box-sizing: border-box;
}

.HomePopupDataInput {
  width: 100%;
  height: 2.6rem;
  padding-left: 0.6rem;
  padding-bottom: 0.1rem;
  font-size: 1.4rem;
  color: #191919;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.3rem;
  box-sizing: border-box;
  outline: none;
}

.HomePopupDataCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 26rem;
  height: 6rem;
}

.HomePopupDataCell .dateBox {
  width: 100%;
}

.idchecker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 7rem;
  height: 2.6rem;
  margin-top: 3.4rem;
  border-radius: 0.2rem;
  background-color: #444444;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

.HomePopupContainer .editBtn {
  background-color: #0069D9;
}

.homePopupBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  padding: 0 13.4rem;
  box-sizing: border-box;
}
.HomePopupContainerPw .homePopupBtnBox{
  padding: 0 11.4rem;
}
.HomeCloseBtn{
  background-color: #444444;
}
.HomeEditBtn{
  background-color: #0069D9;
}
.homePopupTitle{  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 0.1rem solid #191919;
}
.HomePopupDataTitle{  
  font-size: 1.4rem;
  color: #7A7A7A;
}