.mid_box_create-first_line{
  display: flex;
  position: relative;
}
.mid_box_create-title{
  display: flex;
  width: 15rem;
  height: 4.8rem;
  background-color: #B41515;
  color: white;
  border-top: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  font-size: 2.2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
::placeholder{
  font-size: 2rem;
  color: rgba(10, 10, 10, 0.4);
}

.mid_box_input_title_box{
  padding: 0rem 0rem 0rem 1rem;
  height: 4.8rem;
  width: 89rem;
  border: none;
  border-top: 0.1rem solid #B41515;
  border-bottom: 0.1rem solid #B41515;
  font-size: 2rem;
}

.mid_box_input_select{
  position: absolute;
  right: 0;
  width: 10rem;
  height: 5rem;
  border: 0.1rem solid #B41515;
  border-bottom: 0.1rem solid white;
  border-top: 0.1rem solid white;
  text-align-last: center;
  background-color: #B41515;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
}

.mid_box_select_option{
  background-color: white;
  color: black;
}

.mid_box_second_line{
  display: flex;
  position: relative;
}

.mid_box_input_filebox input[type="file"] {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.mid_box_upload-name {
  display: inline-block;
  padding: 0 0 0 1rem;
  font-size: 2rem;
  line-height: normal;
  vertical-align: middle;
  background-color: white;
  border: none;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgba(10, 10, 10, 0.4);
  width: 80rem;
}

.mid_box_input_filebox label {
  display: inline-block;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: 0.1rem solid #B41515;
  border-bottom: 0.1rem solid white;
  border-top: 0.1rem solid white;
  color: #fff;
  background-color: #B41515;
  
  width: 9.8rem;
  height: 4.8rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
  text-align: center;
  line-height: 4.8rem;
} 

.mid_box_second_line_input{
  display: flex;
  width: 89.9rem;
  border-right: 0.1rem solid #B41515;
  border-bottom: 0.1rem solid #B41515;
  align-items: center;
}



.mid_box_textarea{
  width: 110rem;
  margin-top: 2rem;
}
.mid_box_textarea_input{
  width: 104.8rem;
  height: 40rem;
  padding: 2.5rem;
  font-size: 2.5rem;
  border: 0.1rem solid grey;
  overflow: auto;
  white-space: normal;
  overflow-wrap: break-word;
}

.mid_box_submit{
  width: 110rem;
  position: relative;
}

.notice_create_upload{
  width: 15rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  background-color: #B41515;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

