@import "notice_create.css";
@import "notice_kinds.css";
@import "notice_detail.css";
@import "notice_edit.css";

.top_box{
    display: flex;
    height: 6rem;
    width: 110rem;
    align-items: flex-end;
    margin-bottom: 2rem;
}
  
.top_box_title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 40rem;
}
.notice_section_box{
    width: 110rem;
}
  
.mid_box{
    margin-top: 1rem;
  }

.bottom_box{
    height: 20rem;
}