.vehicle_detail_head_line_modyfi_button{
    width:80px;
    height: 30px;
    margin-left: 750px;
    background-color: white;
    color: #B41515;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px grey;
    }
    .vehicle_detail_head_line_save_button{
    width:80px;
    height: 30px;
    margin-left: 40px;
    background-color: white;
    color: #B41515;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px grey;
    }
    .vehicle_detail_cover{
      width: 1106px;
      height: 561px;
      background-color: rgba(255,255,255,0);
      position: absolute;
    }