/* MARK: contents 전체 Div Box */
.all-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.efficiency-div {
    box-sizing: border-box;
}

/* MARK: 검색 관련 CSS: search- */
.search-container {
    width: 100%;
    height: 72.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.search-form {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MARK: 노선명 검색: dispatch-path  */
.search-dispatch-path-box {
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-dispatch-path {
    width: 26.4rem;
    height: 2.5rem;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    background-color: rgb(197,197,197,0.25);
    border: none;
}

.search-dispatch-path-date {
    width: 26.4rem;
    height: 2.5rem;
    margin-left: 1rem;
}

.dispatch-path-today-button {
    border: none;
    border-radius: 5px;
    width: 5rem;
    height: 3rem;
    background-color: #444444;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;

    margin-left: 1rem;
}

.dispatch-path-today-button:active {
    color: gray;
}

.day-before-button {
    border: none;
    background: url("/static/images/dayBeforeButton.png") no-repeat;
    width: 35px;
    height: 35px;
    margin-left: 1.5rem;
}

.day-after-button {
    border: none;
    background: url("/static/images/dayAfterButton.png") no-repeat;
    width: 35px;
    height: 35px;

    margin-left: 1rem;
}

.dispatch-path-search-button {
    border: none;
    border-radius: 8px;

    width: 5rem;
    height: 3rem;
    background-color: #444444;

    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;

    margin-left: 1.5rem;
}

.dispatch-path-search-button:active {
    color: gray;
}

/* MARK: 필터: filter  */
.search-filter-box {
    width: 100%;
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.search-filter-button {
    border: none;
    border-radius: 8px;

    width: 5rem;
    height: 3rem;
    background-color: #444444;

    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}

.search-filter-button:active {
    color: gray;
}

#estimate-button {
    width: 12.5rem;
    height: 3rem;
    background-color: #0069D9;
    border-radius: 17px;
    
    margin-left: 3rem;
}

#complete-button {
    width: 5rem;
    height: 3rem;
    background-color: #4000A8;
    border-radius: 17px;

    margin-left: 1rem;
}

#close-button {
    width: 5rem;
    height: 3rem;
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 17px;

    margin-left: 1rem;
}

#delete-button {
    margin-left: 1.8rem;
}

#register-button {
    background-color: #1C1A4E;
    margin-left: 0.5rem;
}

/* MARK: 표: table */
.search-table-box {
    width: 100%;
    height: 65rem;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-list_head-tr {
    border-radius: 17px;
}

.accident-detail-button {
    border: none;
    background-color: white;
    color: #0069D9;
}

/* MARK: Paging */
.paging{
    text-align: center;
}
.paging a{
    display: inline-block;  
}
.paging .first,.paging .last{
    color: #7D7D7D;
    font-size: 1.8rem;
}
.paging .first{
    margin-right: 27px;
}
.paging .first:hover img{
    transform: translateX(-2px);
    transition: all .1s;
}
.paging .last{
    margin-left: 27px;
}
.paging .last img{
    transform: rotateY(180deg);
}
.paging .last:hover img{
    transform: translateX(2px) rotateY(180deg);
    transition: all .1s;
}
.paging .prev,.paging .next{
    color: #7D7D7D;
    font-size: 1.8rem;
}
.paging .prev:hover,.paging .next:hover{
    color: #7D7D7D;
    transition: all .2s;
}
.paging span{
    display: inline-block;
}
.paging span p{
    font-size: 1.8rem;
    font-weight: bold;
    color: #7D7D7D;
    margin: 0 22px;
}

/* MARK: Pop Up */
.pop-up-bg-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top:0;
    left: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pop-up-container {
    width: 90%;
    height: 90%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pop-up-container .title-container {
    width: 95%;
    height: 6%;
    background-color: white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #838383;
    margin-bottom: 1rem;
}

.title-div #title-first-child {
    font-weight: 400;
    font-size: 1.8rem;
}

.title-div #title-second-child {
    font-weight: 500;
    font-size: 2.5rem;
    margin-left: 0.5rem;
}

.button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pop-up-container .content-container {
    width: 95%;
    height: 85%;
    /* background-color: antiquewhite; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-span {
    font-size: 2rem;
    font-weight: 500;
}

.content-first-container {
    width: 100%;
    height: 80%;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* MARK: 상세정보 */
.accident-detail-info-div {
    width: 32%;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accident-detail-info-content-div {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 17px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.accident-detail-header {
    width: 95%;
    height: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.accident-detail-header span {
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;
}

.accident-detail-body {
    width: 98%;
    height: 84%;
    background-color: white;
    border-radius: 17px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accident-detail-content{
    width: 95%;
    height: 16.6%;
    border-bottom: 1px solid #F1F1F1;

    font-size: 1.5rem;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first > .content-div {
    width: 50%;
}

.second{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.third{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fourth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fourth > .content-div {
    width: 50%;
}

.fifth{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fifth > .content-div {
    width: 50%;
    /* padding-right: 8rem; */
}

.sixth{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* MARK: 사고 사진 */
.accident-photo-div {
    width: 30%;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accident-photo-content-div {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 17px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.accident-photo-content-header {
    width: 90%;
    height: 15%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.coverage-div {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.coverage-div input {
    width: 2rem;
    height: 2rem;
}

.coverage-div label {
    font-size: 2rem;
    font-weight: 500;
    color: #686868;
}

.liability-div {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.liability-div input {
    width: 2rem;
    height: 2rem;
}

.liability-div label {
    font-size: 2rem;
    font-weight: 500;
    color: #686868;
}

.accident-photo-content-body {
    width: 98%;
    height: 84%;
    background-color: white;
    border-radius: 17px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.accident-photo-content {
    width: 100%;
    height: 25%;
    
    display: flex;
    flex-direction: row;
}

.accident-photo-title-div {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accident-photo-title-div span {
    font-size: 1.5rem;
    font-weight: 500;
    color: #a4a4a4;
}

.accident-photo-file-div {
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.photo-preview-div {
    width: 6rem;
    height: 6rem;
    background-color: #ededed;
    border-radius: 11px;

    margin-left: 1rem;
}



/* MARK: 사고 파일 */
.accident-file-div {
    width: 32%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accident-file-content-div {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    border-radius: 17px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accident-file-body {
    width: 98%;
    height: 98%;
    background-color: white;
    border-radius: 17px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accident-file-content {
    width: 98%;
    height: 12%;
    border-bottom: 1px solid #f1f1f1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.no-border {
    border-bottom: 0px;
}

.accident-file-content span {
    width: 20%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #a4a4a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-div {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.accident-file-content .upload-name {
    display: inline-block;
    height: 2.5rem;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 70%;
    color: #999999;
}

.accident-file-content label {
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: #a4a4a4;
    cursor: pointer;
    width: 6rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.accident-file-content input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* MARK: 과실 - 상세 */
.content-second-container {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;
}

.report-div {
    width: 100%;
    height: 90%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accident-report-div {
    width: 49%;
    height: 100%;
    background-color: #F1F1F1;
    border-radius: 5px; 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.negligence-percentage-table {
    width: 40%;
    height: 80%;
    background-color: white;
    border-radius: 10px;

    border-collapse: collapse;
    text-align: center;
}

.negligence-percentage-table tr th,td {
    font-size: 1.5rem;
    font-weight: 500;
    color: #a4a4a4;
    border: 1.5px solid #f1f1f1;
}

.accident-details-div {
    width: 50%;
    height: 80%;

    display: flex;
    flex-direction: row;
}

.accident-details-title-div {
    width: 23%;
    height: 100%;
}

.accident-details-title-div span {
    font-size: 2rem;
    font-weight: 600;
    color: #a4a4a4;
}

.accident-details-text-div {
    width: 78%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.driver-report-div {
    width: 49%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.driver-report-title-div {
    width: 20%;
    height: 90%;
    background-color: #f1f1f1;
    border-radius: 5px;

    padding-left: 1rem;
    padding-top: 1rem;
}

.driver-report-title {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
}

.driver-report-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000000;
}

.driver-report-text-div {
    width: 75%;
    height: 90%;
    background-color: white;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
}

/* 설아 */
/* MARK: Estimate Pop Up */
.estimate-pop-up-bg-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    top:0;
    left: 0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.estimate-pop-up-container {
    width: 80%;
    height: 70%;
    background-color: white;
}