* {
    -webkit-print-color-adjust: exact !important;
}

html{
    font-size: 62.5%;
}

body {
    margin: 0;
}

@page {
    margin: 0;
}

@media print {
    .addStemp {
        display: none !important;
    }
}

.stempBox {
    position: relative;
    width: 21cm;
    height: auto;
}

.addStemp {
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    padding: 0.4rem 0.3rem;
    background-color: rgb(155, 151, 151);
    font-size: 1.4rem;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
}

.stemp {
    position: absolute;
    left: 37%;
    top: 12.4rem;
    display: block;
    width: 69px;
    transform: translate(-50%, 0);
}

table {
    width: 90%;
    border-spacing: 0;
    margin: 0;
    margin-top: 3rem;
    padding: 0;
}

table tr:nth-child(1) td {
    border-top: 0.13rem solid black;
}

table tr td:nth-child(1) {
    border-left: 0.13rem solid black;
}

table td {
    border-right: 0.13rem solid black;
    border-bottom: 0.13rem solid black;
}

.print {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 21cm;
    height: 29.7cm;
}

.title {
    font-size: 3.3rem;
    font-weight: 700;
    margin-top: 2rem;
}

.companyTable tr {
    height: 4.2rem;
}

.companyTable td:nth-child(1) {
    width: 20%;
    font-size: 1.86rem;
    font-weight: 700;
    text-align: center;
}

.companyTable td:nth-child(2) {
    width: 80%;
    text-align: left;
    font-size: 1.6rem;
    padding-left: 2rem;
    box-sizing: border-box;
}

.companyTable td span {
    font-weight: 700;
}




.busTable tr {
    font-size: 1.6rem;
    height: 3.6rem;
}

.busTable thead {
    font-weight: 700;
}

.busTable tbody tr:nth-child(1) td {
    border-top: none;
}

.busTable td {
    text-align: center;
}

.busTable td:nth-child(1) {
    width: 10%;
}

.busTable td:nth-child(2) {
    width: 22%;
}

.busTable td:nth-child(3) {
    width: 28%;
}

.busTable td:nth-child(4) {
    width: 22%;
}

.busTable td:nth-child(5) {
    width: 18%;
}

.busTable input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px
}

.report {
    position: absolute;
    bottom: 20rem;
    left: 50%;
    text-align: center;
    letter-spacing: 0.1rem;
    font-family: "굴림";
    margin: 3rem 0;
    line-height: 2.2rem;
    transform: translate(-50%, 0);
    font-size: 1.6rem;
}

.date {
    position: absolute;
    bottom: 12rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.6rem;
    font-weight: 700;
}

.sent {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0);
}

.sent input {
    text-align: center;
    font-size: 2.66rem;
    font-weight: 700;
    border: none;
    outline: none;
}

.schoolName {
    padding: 0;
    font-size: 1.6rem;
    height: 2rem;
    border: none;
    outline: none;
}