* {
    -webkit-print-color-adjust: exact !important;
}

body {
    width: 1587;
    height: 1122px;
    margin: 0;
}

@media print {
    body {
        width: 1587;
        height: 1122px;
        margin: 0;
    }

    .print {
        width: 1587;
        height: 1122px;
    }

    .makeText{
        display: none !important;
    }
}

@page {
    width: 1587;
    height: 1122px;
    size: A3 landscape;
    margin: 0;
}

input{
    outline: none;
}

.print {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1587;
    height: 1122px;
    padding-top: 4rem;
    box-sizing: border-box;
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
}

.printText{
    margin-bottom: 2rem;
}

.first{
    font-size: 10rem;
}

.makeText{
    position: absolute;
    top: 32%;
    left: 17%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    height: 14rem;
    padding: 1rem;
    box-sizing: border-box;
    transform: translate(0, -50%);
    background-color: white;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 16%);
}

.makeText input{
    height: 2rem;
    font-size: 1.3rem;
}

.makeTextTitle{
    font-size: 1.4rem;
    font-weight: 700;
}