{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/dispatchBase.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/humanresource/team.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/education/completionastatus.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    교육 현황
</div>
{% endblock %}


{% block content %}

<form class="routeLayout searchForm">
  <div class="groupLayout">
    <div class="groupList">
      <div class="groupListBox">
        <div class="groupListHead">
          <div class="groupListTitle">당일 필수 교육</div>
        </div>
        <div class="groupListBody">
          <div class="groupListHeaderText">오늘의 학습 인원</div>
          <div class="groupMember">
            <span class="groupMemberSpan">21</span> / 25 명
          </div>
          <div class="groupListFooterText"><input type="button" value="미이수 명단 확인하기 >" class="groupListButton" onclick="openPopup()"></div>

          <div class="groupListHeaderText">오늘의 교육 내역</div>
          <div class="groupListFooterText">
            버스 운행 중, 중대 교통사고가 났을 때 대응법
          </div>
          <div class="groupListFooterText">
            버스 운행 중, 차량 화재가 났을 때 대응법
          </div>
          <div class="groupListFooterText">
            버스 운행 중, 응급 상황 시 비상 대응법
          </div>
        </div>
      </div>
    </div>

    <div class="groupList">
      <div class="groupListBox">
        <div class="groupListHead">
          <span class="groupListTitle">교육 이수 현황 비교</span>
        </div>
        <div class="groupGraphBody">
          <div class="EdChartMainHeader">
            <span class="EdChartMainSpan">유정노</span> 기사님의 이슈 현황
          </div>
          <div class="chart-container">
            <canvas class="myChart" id="myChart"></canvas>
          </div>

          <div class="GraphFooter">
            <div class="GraphMainFooter">
              <div class="GraphFooterHeader">평균 이수 현황</div>
              <div class="GraphFooterBody">
                이수 <span class="completeSpan">42</span>
              </div>
              <div class="GraphFooterBody">
                미이수 <span class="incompleteSpan">42</span>
              </div>
              <div class="GraphFooterBody">
                지연 이수 <span class="delayedCompletionSpan">42</span>
              </div>
            </div>
            <div class="GraphMainFooter">
              <div class="GraphFooterHeader">개인 이수 현황</div>
              <div class="GraphFooterBody">
                이수 <span class="completeSpan">42</span>
              </div>
              <div class="GraphFooterBody">
                미이수 <span class="incompleteSpan">42</span>
              </div>
              <div class="GraphFooterBody">
                지연 이수 <span class="delayedCompletionSpan">42</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mainLayout">
    <div class="searchBox">
      <div class="routListSearch">
        <div>
          <span class="SearchName">검색 종류</span>
          <select name="type">
            <option value="이름">이름</option>
            <option value="차량번호">차량번호</option>
            <option value="기사명">기사명</option>
          </select>
        </div>
        <input
          type="text"
          placeholder="노선명을 입력해주세요."
          value="{{search}}"
          name="search"
          class="searchInput"
        />
        <input
          autocomplete="off"
          type="submit"
          class="btnModules searchBtn"
          value="검색"
        />
      </div>
    </div>

    <div class="subSearch">
      <div class="subSearchHeader">
        <span ="subSearchSpan">학습 현황</span>
      </div>
      <div class="subSearchBody">
        <input type="checkbox" class="subSearchCheckbox" />이수
        <input type="checkbox" class="subSearchCheckbox" />미이수
        <input type="checkbox" class="subSearchCheckbox" />지연이수
        </div>
      <div class="subSearchHeader">
        <span ="subSearchSpan">날짜</span>
      </div>
      <div class="subSearchBody">
        <input type="date" /> ~
        <input type="date" />
        <input type="radio" name="dateOption" value="전체" />전체
        <input type="radio" name="dateOption" value="당일" />당일
      </div>
    </div>

    <div class="RouteListForm teamSaveForm">
      <div class="RouteList">
        <div class="RouteListHeadScroll">
          <table class="RouteListHeader">
            <thead>
              <tr>
                <td><input type="checkbox" /></td>
                <td>번호</td>
                <td>이름</td>
                <td>교육 제목</td>
                <td>필수 이수일</td>
                <td>실제 이수일</td>
                <td>진행 상태</td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="RouteListScroll">
          <table class="RouteListBody">
            <tbody>
              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="RouteListBodyTr">
                <td><input type="checkbox" /></td>
                <td>1</td>
                <td>유정노</td>
                <td>버스 운행 중 중대교통사고가 났을 때 대응법</td>
                <td>2024 - 07 - 09</td>
                <td>2024 - 07 - 10</td>
                <td>지연 이수</td>
              </tr>

              <tr class="bl anckTr"></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>


{% endblock %}



{% block popup %}
<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form
    method="post"
    enctype="multipart/form-data"
    class="popupeducationalContainer"
  >
    <input
      type="hidden"
      name="csrfmiddlewaretoken"
      value="EyL29BbSCVMLttjaZm3ueufxXe1noxGcR5J47lDU6pjO9R3OQeSIir3gmURDbOZZ"
    />
    <div class="popupHeaderTitle">
      <div class="popupTitle">
        <div class="popupTitleList">오늘의 학습 인원 <span class="popupTitleSpan">미이수 명단</span></div>
        <div><input type="button" value="X" class="OutButton" onClick="closePopup()"></div>
      </div>
    </div>
        <div class="popupButtonBody">
        <div class="popupBodyHeader">ㅁ오늘의 학습 인원<div class="popupBodyNumber"><span class="groupMemberSpan">21</span> / 25 명</div>
    </div>
      <div class="popupBodySubHeader">ㅁ미이수 명단</div>
      <div class="popupBodyBody">
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
        <div class="popupBodyList">김원탁 <div><input type="button" value="학습 알림 보내기" class="popupBodyListButton"></div></div>
      </div>
      <div class="popupFooterButton"><input type="button" value="전체 학습 알림 보내기" class="popupBodyListButton"></div>
    </div>
  </form>
</div>

{% endblock %}



{% block script %}
<script>
    {% autoescape off %}
    const businessGroupData = {{business_group_data}}
    const businessData = 
    {
        {% for business in business_list %}
        "{{business.id}}" : {
            "name" : "{{business.name}}",
            "number" : "{{business.number}}",
        },
        {% endfor %}
    }
    const searchGroupList = {{search_group_list}}
    const searchTeamList = {{search_team_list}}
    const searchTimeList = {{search_time_list}}
    {% endautoescape %}
    console.log("search", searchGroupList, searchTeamList, searchTimeList)
    console.log(businessGroupData)
    console.log(businessData)
    
    function opendispatchPrint(url){
        if (window.location.search){
            targetLink = `${url}${window.location.search}`
            window.open(targetLink, `{{date}}배차표`, "width=1640, height=640")
        } else{
            alert("그룹 또는 노선을 선택해 주세요")
        }
    }
</script>

<script>
function openPopup() {
    document.querySelector('.popupAreaModules').style.display = 'block';
}
</script>

<script src="{% static 'js/dispatch/regularly/regularlyConnectSearch.js' %}"></script>
<script type="module" src="{% static 'js/dispatch/regularly/regularlyConnectPopup.js' %}"></script>
</script>

<script>
function openPopup() {
    document.querySelector('.popupAreaModules').style.display = 'block';
}

function closePopup() {
    document.querySelector('.popupAreaModules').style.display = 'none';
}

function savePopup() {
    alert("저장되었습니다.");
}

document.querySelector('.createBtn').addEventListener('click', savePopup);
document.querySelector('.closeBtn').addEventListener('click', closePopup);
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      var ctx = document.getElementById("myChart").getContext("2d");
      var myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: ["이수", "미이수", "지연 이수"],
          datasets: [
            {
              label: "", // 레이블을 비워둠
              data: [42, 27, 25],
              backgroundColor: "#BFBFBF",
              borderWidth: 1, // 테두리 두께를 1로 설정
              borderRadius: 10, // 막대 모서리 둥글게
            },
            {
              label: "", // 레이블을 비워둠
              data: [50, 10, 25],
              backgroundColor: ["#1C1A4E", "#CB0000", "#808080"],
              borderWidth: 1, // 테두리 두께를 1로 설정
              borderRadius: 10, // 막대 모서리 둥글게
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
              min: 0,
              max: 60,
            },
          },
          plugins: {
            legend: {
              display: false, // 레전드(범례)를 표시하지 않음
            },
          },
        },
      });
    </script>
{% endblock %}