{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notice/notice_create.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
  공지사항 작성
</div>
{% endblock %}


{% block content %}

<div class="contentsAreaBox">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="creteHeader">
      <div class="inputCell">
        <span class="inputName">제목</span>
        <input autocomplete="off" type="text" name="title" required>
      </div>
      <div class="inputCell">
        <span class="inputName">구분</span>
        <div class="radiobox">
          <input autocomplete="off" type="radio" id="driver" value="driver" name="kinds" {% if kinds == "driver" %}checked{% endif %}>
          <label for="driver">기사님</label>
          <input autocomplete="off" type="radio" id="office" value="office" name="kinds" {% if kinds == "office" %}checked{% endif %}>
          <label for="office">사무실</label>
        </div>
      </div>
      <div class="inputCell inputCellFile">
        <span class="inputName">첨부파일</span>
        <input autocomplete="off" type="file" name="file" multiple>
      </div>
    </div>
    <textarea name="content" required class="noticeTextarea"></textarea>
    <div class="createBtnBox">
      <input autocomplete="off" type="submit" value="등록" class="createBtn">
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/notice/textAreaDrag.js' %}"></script>
{% endblock %}