{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/notice/notice_detail.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/notice/notice_create.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<!--trp HeaderTitle-->
<div class="HeaderTitle">
  {% if notice.kinds == 'driver' %}기사님 공지사항 {% else %} 사무실 공지사항 {% endif %}
</div>
{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data" class="basic_container notice_container">
  {% csrf_token %}
  <div class="notice_title_box">
    <div class="notice_title_box_kinds">
      <div class="notice_title_label">구 분</div>
      <select class="basic_select kinds_select" name="kinds">
        <option value="driver" id="driver">기사님</option>
        <option value="office" id="office">사무실</option>
      </select>
    </div>
    <input type="submit" class="create_btn notice_create_btn" value="등록">
  </div>
  <div class="notice_title_box">
    <div class="notice_title_label">제 목</div>
    <input type="text" class="basic_input notice_input_title" name="title" required>
  </div>
  <div class="notice_file_box">
    <div class="notice_title_label notice_title_label_file">첨 부 파 일</div>
    <div class="notice_create_file_box">
      <div class="basic_file_box notice_create_file_input">
        <label for="notice_create_file">파일선택</label>
        <input name="file" type="file" class="basic_file-list" id="notice_create_file" multiple>
      </div>
      <div class="notice_create_file_list"></div>
    </div>
  </div>
  <div class="notice_contents_box">
    <div class="notice_contents_box_title">내용</div>
    <textarea name="content" class="notice_contents_area" required></textarea>
  </div>
</form>

{% endblock %}

{% block script %}
<script src="{% static 'js/notice/file.js' %}"></script>
{% endblock %}