{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/notice/notice_detail.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<!--trp HeaderTitle-->
<div class="HeaderTitle">
  공지사항
</div>
{% endblock %}

{% block content %}

<div class="contentsAreaBox">
  <div class="creteHeader">
    <div class="inputCell">
      <span class="inputName" required>제목</span>
      <div class="noticeTitle">{{ notice.title }}</div>
    </div>
    <div class="inputCell">
      <span class="inputName">구분</span>
      <div class="radiobox">
        <div class="noticeTitle">{% if notice.kinds == "driver" %}기사님{% elif notice.kinds == "office" %}사무실{% endif %}</div>
        
      </div>
    </div>
    <div class="inputCell inputCellFile">
      <span class="inputName">첨부파일</span>
      <div class="fileBox">
        {% for file in notice_files %}
        <a href="{% url 'notice:download' notice.kinds notice.id file.id %}" class="fileLink">{{file.filename}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="noticeTextarea">{{notice.content}}</div>
    {% if notice.creator.id == request.session.user %}
    <div class="createBtnBox">
      <form action="{% url 'notice:delete' notice.kinds notice.id %}" class="deleteForm">
        <input type="submit" value="삭제" class="deleteBtn">
      </form>
      <form action="{% url 'notice:edit' notice.kinds notice.id %}" class="noticeDetailEdit">
        <input type="submit" value="수정" class="editBtn">
      </form>
    </div>
    {% endif %}
</div>

<div class="commentArea">
  <div class="commentTitle">댓글<span>{{notice_comments | length}}</span></div>

  {% for comment in notice_comments %}
  <div class="commentBox">
    <div class="commentUserDataCell">
      <span class="commentUserTitle">{{comment.creator}}</span>
      <span class="commentCreateDate">{{comment.pub_date | date:'Y.m.d H:i:s'}}</span>
      {% if request.session.user == comment.creator.id %}
      <a class="commentDeleteBtn" href="{% url 'notice:comment_del' notice.kinds notice.id comment.id %}">삭제</a>
      {% endif %}
    </div>
    <div class="commentContents">{{comment.content}}</div>
  </div>
  {% endfor %}
</div>

<div class="commentCreateArea">
  <form action="" method="post" class="notice_detail_chat_Box_create_form">
    {% csrf_token %}
    <div class="commentCreateTitle">댓글쓰기</div>
    <div class="commentCreateBox">
      <div class="commentCreateGuide">댓글</div>
      <textarea name="content"></textarea>
    </div>
    <div class="commentCreateBtnCell">
      <input type="submit" value="등록" class="createBtn">
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/deletAlert.js' %}"></script>
{% endblock %}