{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notice/notice.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="main_box">
    <aside>
        <div class="aside_box">
            <div class="aside_title">
                <div class="aside_title_font">공지사항</div>
            </div>
            <div class="aside_contents">
                <a href="{% url 'notice:kinds' 'driver' %}" class="aside_contents_link">기사님 공지사항</a>
            </div>
            
            <div class="aside_contents">
                <a href="{% url 'notice:kinds' 'office' %}" class="aside_contents_link">사무실 공지사항</a>
            </div>

            <div class="aside_contents">
                <a href="{% url 'notice:create' %}" class="aside_contents_link">공지사항 작성</a>
            </div>
    </aside>

    <section class="main_section">
        <div class="notice_section_box">
            <div class="top_box">
                <div class="top_box_title">
                    {% if notice.kinds == 'office' %} 사무실 {% elif notice.kinds == 'driver' %} 기사님 {% endif %} 공지사항
                </div>
            </div>

            <div class="mid_box">

                <div class="mid_box_create-first_line">
                    <div class="mid_box_create-title detail_mid_box">제목</div>
                    <div class="detail_mid_box-title_box">
                        {{notice.title}}
                    </div>
                </div>
                <div class="detail_mid_box_mid">
                    <div class="mid_box_create-title detail_mid_box">작성자</div>
                    <div class="detail_mid_box_mid-text">{{notice.creator}}</div>
                    <div class="mid_box_create-title detail_mid_box">작성시간</div>
                    <div class="detail_mid_box_mid-text">{{notice.pub_date | date:'Y.m.d. H:i:s'}}</div>
                    <div class="mid_box_create-title detail_mid_box">조회수</div>
                    <div class="detail_mid_box_mid-text">{{notice.view_cnt}}</div>
                    
                </div>
                <div class="mid_box_second_line">
                    <div class="mid_box_create-title detail_mid_box">첨부파일</div>
                    <div class="detail_filebox">
                        {% for this_file in notice_files %}
                                <a href="{% url 'notice:download' notice.kinds notice.id this_file.id %}">{{ this_file.filename }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="mid_box_textarea">
                    <div class="mid_box_textarea_input">{{notice.content}}</div>
                </div>
                <div class="detail_edit_box">
                    {% if request.session.user == notice.creator.id %}
                        <div class="detail_bottom-button">
                            <a href="{% url 'notice:edit' notice.kinds notice.id %}">수정</a>    
                        </div>
                        <div class="detail_bottom-button">                            
                            <a href="{% url 'notice:delete' notice.kinds notice.id %}">삭제</a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="detail_bottom_box">
                <div class="detail_bottom-comment">
                    
                    <div class="detail_bottom-comment_title">댓글</div>
                        {% for comment in notice_comments %}
                            <div class="detail_bottom-comment_box">
                                <div class="detail_bottom-comment_box_creator">{{ comment.creator }}</div>
                                <div class="detail_bottom-comment_box_content">{{ comment.content }}</div>
                                <div class="detail_bottom-comment_box_bottom">
                                    <div class="detail_bottom-comment_box_date">{{ comment.pub_date | date:'Y.m.d H:i:s' }}</div>
                                        {% if request.session.user == comment.creator.id %}
                                            <a href="{% url 'notice:comment_del' notice.kinds notice.id comment.id %}">삭제</a>
                                        {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    
                    <div class="detail_bottom-comment_create">
                        <div class="detail_bottom-comment_name">{{ request.session.name }}</div>
                        <form method="POST" action="{% url 'notice:detail' notice.kinds notice.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea class="detail_bottom-comment_input" name="content" required="required" placeholder="댓글을 입력하세요"></textarea>
                            <input class="detail_bottom-comment_submit" type="submit" value="등록" required>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
{% endblock %}