{% extends 'base.html' %}

{% block content %}
    <h1>조회수:{{ view_cnt }}</h1>
    <p>제목:{{ notice.title }}</p>
    <p>내용:{{ notice.content }}</p>
    <p>작성자:{{ notice.creator }}</p>
    <p>작성날짜:{{ notice.pub_date }}</p>
    <br>
    {% if logged_user == notice.creator.id %}
        <a href="{% url 'notice:delete' notice.kinds notice.id %}">삭제</a>
    {% endif %}

    <h2>댓글</h2>
    {% for comment in notice_comments %}
        <p>댓글작성자:{{ comment.creator }}</p>
        <p>댓글내용:{{ comment.content }}</p>
        <p>작성날짜:{{ comment.pub_date | date:'Y.m.d. H:i:s' }}</p>
        <br>
        {% if logged_user == comment.creator.id %}
            <a href="{% url 'notice:comment_del' notice.kinds notice.id comment.id %}">삭제</a>
        {% endif %}
    {% endfor %}

    <h2>파일</h2>
    {% for this_file in notice_files %}
        <p>{{ this_file.filename }} <a href="{% url 'notice:download' notice.kinds notice.id this_file.id %}">다운로드</a></p>
    {% endfor %}

    <form method="POST" action="{% url 'notice:detail' notice.kinds notice.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>내용:</p>
        <textarea name="content" required="required"></textarea>
        <input type="submit" value="등록">
    <a href="{% url 'notice:kinds' notice.kinds %}">목록으로</a>
    <a href="{% url 'notice:edit' notice.kinds notice.id %}">수정하기</a>
        <h1>{{ notice.kinds }}</h1>
    {% endblock %}