{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notice/notice_edit.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
  공지사항
</div>
{% endblock %}
{% block content %}

<div class="contentsAreaBox">
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="creteHeader">
      <div class="inputCell">
        <span class="inputName" required>제목</span>
        <input type="text" name="title" value="{{ notice.title }}">
      </div>
      <div class="inputCell">
        <span class="inputName">구분</span>
        <div class="radiobox">
          <input type="radio" id="driver" value="driver" name="kinds" checked>
          <label for="driver">기사님</label>
          <input type="radio" id="office" value="office" name="kinds">
          <label for="office">사무실</label>
        </div>
      </div>
      <div class="inputCell inputCellFile">
        <span class="inputName">첨부파일</span>
        <div class="fileEditer">
          <input type="file" name="file" value={{file.filename}} multiple>
          <div class="createdFileBox">
            {% for file in notice_files %}
            <span>{{file.filename}}</span>
            {% if request.session.user == notice.creator.id %}<a
              href="{% url 'notice:file_del' notice.kinds notice.id file.id %}">삭제</a> {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <textarea name="content" required></textarea>
    <div class="createBtnBox">
      <input type="submit" value="등록" class="createBtn">
    </div>
  </form>
</div>
{% endblock %}