{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/notice/notice_kinds.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/pagination.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
  {% if kinds == 'driver' %}기사님 공지사항 {% else %} 사무실 공지사항 {% endif %}
</div>
{% endblock %}

{% block content %}

<div class="basic_container notice_search">
  <form class="notice_search_box">
    <select name="top_box_selector" class="basic_select notice_search_select">
      <option value="title">제목</option>
      <option value="creator">작성자</option>
    </select>
    <input type="text" class="basic_input search_input notice_search_input" name="search" value="{{search}}">
    <div class="basic_btn">검색</div>
  </form>
  {% if kinds == "office" %}
  <a href="{% url 'notice:create' %}?kinds=office">
    {% else %}
    <a href="{% url 'notice:create' %}?kinds=driver">
      {% endif %}
      <div class="create_btn">등록</div>
    </a>
</div>

<div class="basic_container notice_list">

  <table class="basic_fixed_table notice_fixed_table">
    <thead>
      <tr class="basic_fixed_table_head">
        <td>번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>등록일</td>
        <td>조회수</td>
      </tr>
    </thead>
    <tbody>
      {% for notice in notices %}
      <tr class="basic_fixed_table_body">
        <td>{{start_num|sub:forloop.counter0}}</td>
        <td>
          <a href="{% url 'notice:detail' kinds notice.id %}">
            <span class="notice_title_link">{{notice.title}}</span>
          </a>
        </td>
        <td>{{notice.creator.name}}</td>
        <td>{{notice.pub_date | date:'Y.m.d H:i'}}</td>
        <td>{{notice.view_cnt}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagenation_box">
    <div class="pagination">
      <!-- 페이징 처리 -->
      {% if is_paginated %}
      <div class="pagination">
        {% if page_obj.has_previous %}
        <div class="page-item page-pre">
          <a class="page-link"
            href="?top_box_selector={{selector}}&search={{search}}&page={{ page_obj.previous_page_number }}"
            tabindex="-1">이전</a>
        </div>
        {% else %}
        <div class="page-item page-pre disabled">
          <a class="page-link" href="#" tabindex="-1">이전</a>
        </div>
        {% endif %}
        <div class="pagenation_number_box">
          {% for page in page_range %}
          <div class="page-item {% if page == page_obj.number %} page-activate {% endif %}">
            <a class="page-link" href="?top_box_selector={{selector}}&search={{search}}&page={{ page }}">{{ page }}</a>
          </div>
          {% endfor %}
        </div>  
        {% if page_obj.has_next %}
        <div class="page-item">
          <a class="page-link page-next"
            href="?top_box_selector={{selector}}&search={{search}}&page={{ page_obj.next_page_number }}">다음</a>
        </div>
        {% else %}
        <div class="page-item page-next disabled">
          <a class="page-link" href="#">다음</a>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

</div>

{% endblock %}


{% block script %}
<script src="{% static 'js/length.js' %}"></script>
<script src="{% static 'js/authorityNotice.js' %}"></script>
{% endblock %}