{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/kinds.css' %}" type="text/css" />
{% endblock %}


{% block content %}

<div class="flex">
    <aside class="aside">
        <div class="asideBorder">
            <div class="asideTitle">공지사항</div>

            <div>
                {% with kinds_office="office" %}
                <li class="asideLi"><a href="{% url 'notice:kinds' kinds_office %}" class="notice">사무실공지사항</a></li>
                {% endwith %}
                {% with kinds_driver="driver" %}
                <li class="asideLi"><a href="{% url 'notice:kinds' kinds_driver %}" class="notice">기사님공지사항</a></li>
                {% endwith %}
            </div>
        </div>
    </aside>
    <section class="section">
        <h2>{{ kinds }} 공지사항</h2>
        <div class="dataTbl1">
            <table summary="공지사항 목록">
                <caption>공지사항</caption>
                <colgroup>
                    <col width="8%" />
                    <col width="*" />
                    <col width="5%" />
                    <col width="5%" />
                    <col width="5%" />
                    <col width="5%" />
                </colgroup>
                <thead>
                    <th scope="번호" class="th-num">번호</th>
                    <th scope="제목" class="th-title">제목</th>
                    <th scope="작성자" class="th-writer">작성자</th>
                    <th scope="등록일" class="th-date">등록일</th>
                    <th scope="조회" class="th-visitor">조회</th>
                </thead>


                <tbody>
                    {% for notice in notices %}
                    <tr>
                        <td class="num">{{ forloop.counter }}</td>
                        <td class="notice-title"><a href="{% url 'notice:detail'  kinds notice.pk %}">{{ notice.title }}</a></td>
                        <td class="notice-writer"> {{ notice.creator }}</td>
                        <td class="date"> {{ notice.pub_date | date:'Y.m.d' }}</td>
                        <td class="visitor-num"> </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <form>
                <select class="select">
                    <option value="none" selected="selected">선택</option>
                    <option value="제목">제목</option>
                    <option value="작성자">작성자</option>
                </select>
                <input type="text" style="width:350px;">
                <div class="button-box">
                    <button>검색</button>
                </div>
                <div class="wirte">
                    <button><a href="{% url 'notice:create' %}">글쓰기</a></button>
            </form>
        </div>
</div>


{% endblock %}