
  <body>
  <div class="main_box">
    <aside>
      <div class="aside_box">
      <div class="aside_title">
        <div class="aside_title_font">배차시스템</div>
      </div>
      <div id="aside_contents" class="aside_contents_thispage"><a href="notice_driver.html" class="aside_contents_link">-배차지시서</a></div>
      <div id="aside_contents"><a href="notice_driver.html" class="aside_contents_link">-배차스케줄</a></div>
      <div id="aside_contents"><a href="notice_driver.html" class="aside_contents_link">-배차관리</a></div>
    </div>
    </aside>

    <section class="section">
      <div class="accounting_outlay_page_title">지출관리</div>
      <div class="accounting_outlay_top_select">
        <form action="" class="accounting_outlay_search_form">
          <input type="text" class="accounting_outlay_search_year">
          <select name="" id="" class="accounting_outlay_search_month">
            <option>1월</option>
            <option>2월</option>
            <option>3월</option>
            <option>4월</option>
            <option>5월</option>
            <option>6월</option>
            <option>7월</option>
            <option>8월</option>
            <option>9월</option>
            <option>10월</option>
            <option>11월</option>
            <option>12월</option>
          </select>
          <input type="button" class="accounting_outlay_search_button">
        </form>
        <a href="accounting_outlay_information_create_welfare.html"><div class="accounting_outlay_create_button">추가하기</div></a>
      </div>

      <div class="accounting_outlay_information_main_form">
        <div class="accounting_outlay_information_head_line">
          <div class="accounting_outlay_information_head_line_categori">
            <div class="accounting_outlay_information_head_line_categori_title">급여</div>
            <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
          </div>

          <div class="accounting_outlay_information_head_line_categori">
            <div class="accounting_outlay_information_head_line_categori_title">복지관련지출</div>
            <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
          </div>

          <div class="accounting_outlay_information_head_line_categori">
            <div class="accounting_outlay_information_head_line_categori_title">차량관련지출</div>
            <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
          </div>

          <div class="accounting_outlay_information_head_line_categori">
            <div class="accounting_outlay_information_head_line_categori_title">운영관련지출</div>
            <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
          </div>

          <div class="accounting_outlay_information_head_line_categori">
            <div class="accounting_outlay_information_head_line_categori_title_total">총 지출</div>
            <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
          </div>
        </div>
        
        <div class="accounting_outlay_information_main_information_box">
          <div class="accounting_outlay_information_main_information_categori_section">
            <div class="accounting_outlay_information_main_information_day">날짜
            </div>
            <div class="accounting_outlay_information_main_information_categori">복지관련지출</div>
            <div class="accounting_outlay_information_main_information_categori">차량관련지출</div>
            <div class="accounting_outlay_information_main_information_categori">운영관련지출</div>
            <div class="accounting_outlay_information_main_information_categori">총 지출</div>
            <div class="accounting_outlay_information_main_information_black_box"></div>
          </div>
          <div class="accounting_outlay_information_main_information_information_form">
            <div class="accounting_outlay_information_main_information_information_box">
              <div class="accounting_outlay_information_main_information_information_day">1일</div>
              <div class="accounting_outlay_information_main_information_information_value">+250,000,000</div>
              <div class="accounting_outlay_information_main_information_information_value">+250,000,000</div>
              <div class="accounting_outlay_information_main_information_information_value">+250,000,000</div>
              <div class="accounting_outlay_information_main_information_information_value_total">+250,000,000</div>
            </div> 
          </div>
        </div>
      </div>

      <a href="accounting_outlay_information_welfare.html"><div class="accounting_outlay_information_detail_button">상세보기</div></a>
    </section>
    <a href="accounting_outlay_information_day.html"><div>skfWKquf</div></a>
  </div>

    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="accounting_outlay_information_modify.js"></script>
  </body>
</html>