{% extends 'base.html' %}
{% load static %}
{% load accounting_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/accounting/collect.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    일반 수금관리
</div>
{% endblock %}

{% block content %}



<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <label class="searchName">입금일 : </label>
            <input value="{{date1}}" autocomplete="off" name="date1" type="date" class="inputModules">
            <span>~</span>
            <input value="{{date2}}" autocomplete="off" name="date2" type="date" class="inputModules">
            <label class="searchName reservationName">예약자명 : </label>
            <input autocomplete="off" value="{{search}}" name="search" type="text" class="inputModules">
            <input autocomplete="off"type="submit" value="검색" class="btnModules dateSearchBtn">
        </div>
    </form>
</div>



<form method="post" action="" class="collectForm">
    <div class="btnModules loadDepositBtn">입금내역 불러오기</div>
    {% csrf_token %}
    <div class="collectHead">
        <div class="selectDate">2022년 09월</div>
        <div class="visibelOption">
            <input autocomplete="off" type="checkbox" id="collectUnprocessed" checked>
            <label for="collectUnprocessed">미처리 보기</label>
            <input autocomplete="off" type="checkbox" id="collectprocessed" checked>
            <label for="collectprocessed">완료 보기</label>
        </div>
    </div>
    <div class="collectBody">
        <table class="collectTableHead">
            <thead>
                <tr>
                    <td>
                        <input autocomplete="off" type="checkbox" name="loadPrice" class="routeSelectAll">
                    </td>
                    <td>운행시간</td>
                    <td>노선</td>
                    <td>예약자 정보</td>
                    <td>계산서 발행처</td>
                    <td>결재방법</td>
                    <td>계약금액</td>
                    <td>VAT포함</td>
                    <td>공급가액</td>
                    <td>부가세</td>
                    <td>추가입력</td>
                    <td>합계</td>
                    <td>전표번호</td>
                    <td>상태</td>
                    <td>미수금</td>
                </tr>
            </thead>
        </table>
        <div class="collectScrollBox">
            <table class="collectTable">
                {% for order in dispatch_list %}
                <tr class="collectDateBox {{order.id}}">
                    <td>
                        <input autocomplete="off" type="checkbox" name="loadPrice" class="routeSelect">
                    </td>
                    <td>
                        {% if order.departure_date|slice:':10' == order.arrival_date|slice:':10' %}
                        {{order.departure_date|slice:'2:10'}}<br>
                        {{order.departure_date|slice:'11:'}}~{{order.arrival_date|slice:'11:'}}
                        {% else %}
                        {{order.departure_date|slice:'2:'}}<br>
                        {{order.arrival_date|slice:'2:'}}
                        {% endif %}
                    </td>
                    <td>
                        <div>{{order.departure}} ▶ </div>
                        <div>{{order.arrival}}</div>
                    </td>
                    <td>
                        <div>{{order.customer}}</div>
                        <div class="phoneNum">{{order.customer_phone}}</div>
                    </td>
                    <td>{{order.bill_place}}</td>
                    <td>{{order.payment_method}}</td>
                    <td>{{order.price|multiple:order.bus_cnt}}</td>
                    <td>{% if order.VAT == 'y' %}포함{% else %}미포함{% endif %}</td>
                    <td class="SupplyPrice">{{value_list|index:forloop.counter0}}</td>
                    <td class="Vat">{{VAT_list|index:forloop.counter0}}</td>
                    <td class="add">{{additional_total_list|index:forloop.counter0}}</td>
                    <td class="Collect">{{total_list|index:forloop.counter0}}</td>
                    <td>
                        <span class="chit">
                            
                            {% with income=income_list|index:forloop.counter0 %}
                            {% for i in income %}
                            <div>[{{forloop.counter}}] {{i.serial}}</div>
                            {% endfor %}
                            {% endwith %}
                            <!-- [1] 22/09/12-01 -->
                        </span>
                    </td>
                    {% if state_list|index:forloop.counter0 == '완료' %}
                    <td class="processed">{{state_list|index:forloop.counter0}}</td>
                    {% else %}
                    <td class="unprocessed">{{state_list|index:forloop.counter0}}</td>
                    {% endif %}
                    <td>{{outstanding_list|index:forloop.counter0}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <table class="selectTotal">
        <tbody>
            <tr>
                <td colspan="6" class="tatalCount"></td>
                <td class="downPayment"></td>
                <td colspan="2" class="tatalSupplyPrice"></td>
                <td class="tatalVat"></td>
                <td class="tatalAdd"></td>
                <td class="tatalCollect"></td>
                <td colspan="2" class="depositState"></td>
                <td class="uaccountsReceivablen"></td>
            </tr>
        </tbody>
    </table>
</form>



{% endblock %}




{% block popup %}
<div class="popupAreaModules collectingPopupAreaModules">
    <div class="popupBgModules popupBgModulesCollect"></div>
    <form method="post" action="{% url 'accounting:collect_create' %}" class="popupContainer collectingPopupContainer">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">입금내역 불러오기</div>
        </div>
        <div class="popupBody">
            <div class="popupSection">
                <div class="popupSearch">
                    <label for="">입금인 : </label>
                    <input autocomplete="off" type="date" class="inputModules">~
                    <input autocomplete="off" type="date" class="inputModules">
                    <label for="" class="reservationLabel">입금자명 : </label>
                    <input autocomplete="off" type="text" class="inputModules depositorInput">
                    <div class="btnModules collectingSearch">검색</div>
                </div>
                <div class="popupArticle popupArticleCollectiong">
                    <table class="collectingPopupHeader">
                        <tr>
                            <td>선택</td>
                            <td>전표번호</td>
                            <td>거래일시</td>
                            <td>지급방식</td>
                            <td>입금액</td>
                            <td>입금자명</td>
                            <td>잔액</td>
                        </tr>
                    </table>
                    <div class="collectingPopupScrollBox">
                        <table>
                        </table>
                    </div>
                </div>
            </div>
            <div class="popupFooter">
                <div class="btnModules collectPopupRegistrationBtn">등록</div>
                <div class="btnModules collectPopupCloseBtn">닫기</div>
            </div>
        </div>
    </form>
  </div>

  
<div class="popupAreaModules historyPopupAreaModules">
    <div class="popupBgModules popupBgModulesHistory"></div>
    <form method="post" action="{% url 'accounting:collect_delete' %}" class="popupContainer">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">전표목록</div>
        </div>
        <div class="popupBody">
            <div class="popupSection">
                <div class="popupArticle popupArticleHistory">
                    <table class="historyingPopupHeader">
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>순서</td>
                            <td>전표번호</td>
                            <td>거래일시</td>
                            <td>입금자명</td>
                            <td>지급방식</td>
                            <td>은행명</td>
                            <td>가맹점수수료</td>
                            <td>입금액</td>
                            <td>처리된 금액</td>
                            <td>상태</td>
                        </tr>
                    </table>
                    <div class="historyingPopupScrollBox">
                        <table>
                        </table>
                    </div>
                </div>
            </div>
            <div class="popupFooter">
                <input autocomplete="off" type="submit" class="btnModules deleteChitBtn" value="삭제">
                <div class="btnModules historyPopupCloseBtn">닫기</div>
            </div>
        </div>
    </form>
  </div>

  
    <div class="popupAreaModules additionalPopup">
        <div class="popupBgModules popupBgModulesAdd"></div>
        <div class="popupContainer popupContainerDouble">
            <div class="popupHeader">
                <div class="popupTitle">추가 입력사항</div>
            </div>
            <div class="popupBody">
                <div class="popupSection">
                    <form method="post" action="{% url 'accounting:additional_collect_create' %}">
                        {% csrf_token %}
                        <div class="popupArticleCategori">추가입력사항</div> 
                        <div class="popupArticleBox">
                            <div class="popupArticleDouble">
                                <label for="" class="popupArticleLabel">항목</label>
                                <input autocomplete="off" name="category" type="text" class="popupArticleinput">
                            </div>
                            <div class="popupArticleDouble">
                                <label for="" class="popupArticleLabel">공급가액</label>
                                <input autocomplete="off" name="value" type="text" class="popupArticleinput">
                            </div>
                        </div>
                        <div class="popupArticleBox">
                            <div class="popupArticleDouble">
                                <label for="" class="popupArticleLabel">부가세</label>
                                <input autocomplete="off" name="VAT" type="text" class="popupArticleinput">
                            </div>
                            <div class="popupArticleDouble">
                                <label for="" class="popupArticleLabel">비고</label>
                                <input autocomplete="off" name="note" type="text" class="popupArticleinput">
                            </div>
                        </div>
                        <div class="popupArticleBox">
                            <input type="submit" class="btnModules addBtn" value="추가">
                        </div>
                        <input type="hidden" name="id" class="addMoreHidden">
                    </form>
                    <form method="post" action="{% url 'accounting:additional_collect_delete' %}" class="addDeleteForm">
                        {% csrf_token %}
                        <div class="popupArticleCategori">추가입력 목록</div>                
                        <div class="popupArticleBoxTable">
                            <div class="scrolling_table-list_header addTable">
                                <table class="table-list">
                                <thead>
                                    <tr class="table-list_head-tr">
                                        <td class="table-list_head-tr_td">
                                            <input type="checkbox" class="addListAllCheck">
                                        </td>
                                        <td class="table-list_head-tr_td">번호</td>
                                        <td class="table-list_head-tr_td">항목</td>
                                        <td class="table-list_head-tr_td">공급가액</td>
                                        <td class="table-list_head-tr_td">부가세</td>
                                        <td class="table-list_head-tr_td">합계</td>
                                        <td class="table-list_head-tr_td">비고</td>
                                    </tr>
                                </thead>
                                </table>
                            </div>
                            <div class="scrolling_table-list_body addTable">
                                <table class="table-list">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <table class="addTotalTable">
                                <tr>
                                    <td colspan="3">합계</td>
                                    <td class="addTotalPrice"></td>
                                    <td class="addTotalVat"></td>
                                    <td class="addTotalTotal"></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <input type="hidden" name="order_id" class="deleteAddHidden">
                    </form>
                </div>
                <div class="popupFooter">
                    <div class="btnModules addDeleteBtn">삭제</div>
                    <div class="btnModules addCloseBtn">닫기</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




{% block script %}
<script>
    {% autoescape off %}
    const incomeList = {{income_list}};
    console.log("incomeList", incomeList);
    const additionalList = {{additional_list}};
    console.log("additionalList", additionalList);
    
    {% endautoescape %}
</script>
<script src="{% static 'js/accounting/total.js' %}"></script>
<script src="{% static 'js/accounting/collecting.js' %}"></script>
<script src="{% static 'js/accounting/collectOption.js' %}"></script>
<script src="{% static 'js/accounting/history.js' %}"></script>
<script src="{% static 'js/accounting/add.js' %}"></script>
<script src="{% static 'js/accounting/deleteLetter.js' %}"></script>
{% endblock %}