{% extends 'base.html' %}
{% load static %}
{% load accounting_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/accounting/deposit.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    입금관리
</div>
{% endblock %}

{% block content %}

<div class="searchAreaBox">
    <form method="get" action="" class="searchForm">
        <div class="searchTool">
            <label class="searchName">입금일 : </label>
            <input value="{{date1}}" autocomplete="off" name="date1" type="date" class="inputModules">~
            <input value="{{date2}}" autocomplete="off" name="date2" type="date" class="inputModules">
            <select name="select" class="searchType">
                <option {% if select == 'depositor' %} selected {% endif %} value="depositor">입금자명</option>
                <option {% if select == 'bank' %} selected {% endif %} value="bank">은행명</option>
                <option {% if select == 'acc_income' %} selected {% endif %} value="acc_income">입금액</option>
            </select>
            <input autocomplete="off" value="{{search}}" name="search" type="text" class="inputModules">
            <label class="searchName">지급방식 : </label>
            <select name="payment" class="pymentType">
                <option value=""></option>
                <option {% if payment == '카드' %} selected {% endif %} value="카드">카드</option>
                <option {% if payment == '계좌' %} selected {% endif %} value="계좌">계좌</option>
                <option {% if payment == '현금' %} selected {% endif %} value="현금">현금</option>
            </select>
            <input autocomplete="off"type="submit" value="검색" class="btnModules dateSearchBtn">
        </div>
    </form>
    <div class="depositBtnBox">
        <div class="btnModules depositRegistrationBtn">등록</div>
        <div class="btnModules depositLoadBtn">불러오기</div>
    </div>
</div>



<form method="post" action="{% url 'accounting:deposit_hide' %}" class="depositForm">
    {% csrf_token %}
    <input type="submit" value="삭제" class="btnModules depositDeleteBtn">
    <div class="depositHead">
        <span>상태 : </span>
        <input autocomplete="off"type="checkbox" id="unprocessed" checked>
        <label for="unprocessed">미처리</label>
        <input autocomplete="off"type="checkbox" id="processed" checked>
        <label for="processed">완료</label>
        <input autocomplete="off"type="checkbox" id="delete">
        <label for="delete">삭제</label>
    </div>
    <div class="depositBody">
        <table class="depositTableHead">
            <thead>
                <tr>
                    <td>
                        <input type="checkbox" class="allChecker">
                    </td>
                    <td>전표번호</td>
                    <td>거래일시</td>
                    <td>입금자명</td>
                    <td>지급방식</td>
                    <td>은행명</td>
                    <td>가맹점수수료</td>
                    <td>입금액</td>
                    <td>처리된 금액</td>
                    <td>상태</td>
                </tr>
            </thead>
        </table>
        <div class="depositScrollBox">
            <table class="deposiTable">
                <tr class="depositDateBox">
                    <td>
                        <table class="depositDateTable">
                            <colgroup>
                                <col style="width: 4%">
                                <col style="width: 10%">
                                <col style="width: 14%">
                                <col style="width: 16%">
                                <col style="width: 8%">
                                <col style="width: 12%">
                                <col style="width: 9%">
                                <col style="width: 9%">
                                <col style="width: 9%">
                                <col style="width: 9%">
                            </colgroup>
                            <tbody class="depositTbody">
                                {% for income in income_list %}
                                <tr class="depositCell depositProcessedCell {% if income.state == '삭제' %}stateDelete{% endif %}">
                                    <td>
                                        <input type="checkbox" name="check" value="{{income.id}}" class="checker">
                                    </td>
                                    <td>{{income.serial}}</td>
                                    <td>{{income.date}}</td>
                                    <td>{{income.depositor}}</td>
                                    <td>{{income.payment_method}}</td>
                                    <td>{{income.bank}}</td>
                                    <td>{{income.commission}}</td>
                                    <td>{{income.acc_income}}</td>
                                    <td>{{income.used_price}}</td>
                                    <td>{{income.state}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

<div class="checkTotalContainer">
    <table class="checkTotalTable">
        <tbody>
            <tr>
                <td colspan="6">선택합계</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}



{% block popup %}

<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form method="post" action="{% url 'accounting:deposit_create' %}" class="popupContainer popupContainerDouble creteForm" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="popupHeader">
          <div class="popupTitle">입금내역 등록</div>
      </div>
      <div class="popupBody">
          <div class="popupSection">
              <div class="popupArticleBox">
                  <div class="popupArticleDouble">
                      <label for="" class="popupArticleLabel"><span class="importantStar">*</span>거래일시</label>
                      <input autocomplete="off" name="date" type="date" class="popupArticleinput essential">
                  </div>
                  <div class="popupArticleDouble">
                      <label for="" class="popupArticleLabel"><span class="importantStar">*</span>지급방식</label>
                      <select name="payment_method" id="" class="popupArticleinput">
                        <option value="카드">카드</option>
                        <option value="계좌">계좌</option>
                        <option value="현금">현금</option>
                      </select>
                  </div>
              </div>
              <div class="popupArticleBox">
                  <div class="popupArticleDouble">
                      <label for="" class="popupArticleLabel"><span class="importantStar">*</span>은행명</label>
                      <input autocomplete="off" name="bank" type="text" class="popupArticleinput length100 essential">
                  </div>
                  <div class="popupArticleDouble">
                      <label for="" class="popupArticleLabel"><span class="importantStar">*</span>가맹점 수수료</label>
                      <input autocomplete="off" name="commission" type="text" class="popupArticleinput length100 essential numberOnly" placeholder="수수료가 없으면 '0'으로 기입해 주세요">
                  </div>
              </div>
              <div class="popupArticleBox">
                  <div class="popupArticleDouble">
                      <label for="" class="popupArticleLabel"><span class="importantStar">*</span>입금액</label>
                      <input autocomplete="off" name="acc_income" type="text" class="popupArticleinput length100 essential numberOnly">
                  </div>
                  <div class="popupArticleDouble">
                      <label for="" class="popupArticleLabel"><span class="importantStar">*</span>입금자명</label>
                      <input autocomplete="off" name="depositor" type="text" class="popupArticleinput length100 essential">
                  </div>
              </div>
          </div>
          <div class="popupFooter">
                <div class="btnModules btnModulesCreate">등록</div>
                <div class="btnModules popupCloseBtn">취소</div>
          </div>
      </div>
  </form>
</div>

<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <div class="popupContainer popupContainerDouble amountProcessedForm">
        <div class="popupHeader">
            <div class="popupTitle amountProcessedTitle">[전표번호]처리내역</div>
        </div>
        <div class="popupBody">
            <div class="popupSection">
                <div class="amountProcessedPopupArticleBox">
                    <div class="scrolling_table-list_header">
                        <table class="table-list">
                          <thead>
                            <tr class="table-list_head-tr">
                              <td class="table-list_head-tr_td">순서</td>
                              <td class="table-list_head-tr_td">구분</td>
                              <td class="table-list_head-tr_td">이름</td>
                              <td class="table-list_head-tr_td">운행기간</td>
                              <td class="table-list_head-tr_td">계약금액</td>
                              <td class="table-list_head-tr_td">처리된 금액</td>
                            </tr>
                          </thead>
                        </table>
                      </div>
                      <div class="scrolling_table-list_body">
                        <table class="table-list">
                          <tbody>
                          </tbody>
                        </table>
                      </div>
                </div>
            </div>
            <div class="popupFooter">
                <div class="btnModules amountProcessedCloseBtn">닫기</div>
            </div>
        </div>
    </div>
  </div>

  <div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'accounting:deposit_edit' %}" class="popupContainer popupContainerDouble editForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="popupHeader">
            <div class="popupTitle">입금내역 수정</div>
        </div>
        <div class="popupBody">
            <div class="popupSection">
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>거래일시</label>
                        <input autocomplete="off" name="date" type="date" class="popupArticleinput essentialEdit editDate">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>지급방식</label>
                        <select name="payment_method" id="editPayment_method" class="popupArticleinput editDepositType">
                          <option value="카드">카드</option>
                          <option value="계좌">계좌</option>
                          <option value="현금">현금</option>
                        </select>
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>은행명</label>
                        <input autocomplete="off" name="bank" type="text" class="popupArticleinput essentialEdit length100 editBankName">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>가맹점 수수료</label>
                        <input autocomplete="off" name="commission" type="text" class="popupArticleinput essentialEdit length100 editVat numberOnly">
                    </div>
                </div>
                <div class="popupArticleBox">
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>입금액</label>
                        <input autocomplete="off" name="acc_income" type="text" class="popupArticleinput essentialEdit length100 editDepositPrice numberOnly">
                    </div>
                    <div class="popupArticleDouble">
                        <label for="" class="popupArticleLabel"><span class="importantStar">*</span>입금자명</label>
                        <input autocomplete="off" name="depositor" type="text" class="popupArticleinput essentialEdit length100 editDepositorName">
                    </div>
                </div>
            </div>
            <div class="popupFooter">
                <div class="btnModules btnModulesEdit">수정</div>
                <div class="btnModules popupCloseBtn editPopupCloseBtn">취소</div>
            </div>
        </div>
        <input type="hidden" name="id" class="editHidden">
    </form>
  </div>

{% endblock %}

{% block outSide %}
    <div class="loadingBg">
        <div class="loadingBox">
            <img src="{% static 'images/loading.gif' %}" alt="일정 아이콘">
            <span>입금내역을 불러오고 있습니다.</span>
        </div>
    </div>
{% endblock %}


{% block script %}
<script>
    {% autoescape off %}
    const dataList = {{data_list}};
    console.log("dataList", dataList);
    const collectList = {{collect_list}};
    console.log("collectList", collectList);
    {% endautoescape %}
</script>
<script src="{% static 'js/accounting/dateSeparate.js' %}"></script>
<script src="{% static 'js/accounting/dateTotal.js' %}"></script>
<script src="{% static 'js/accounting/option.js' %}"></script>
<script src="{% static 'js/accounting/checker.js' %}"></script>
<script src="{% static 'js/accounting/selectTotal.js' %}"></script>
<script src="{% static 'js/accounting/popup.js' %}"></script>
<script src="{% static 'js/accounting/amountProcessed.js' %}"></script>
<script src="{% static 'js/accounting/load.js' %}"></script>
<script src="{% static 'js/accounting/edit.js' %}"></script>
<script src="{% static 'js/accounting/essential.js' %}"></script>
<script src="{% static 'js/onlyNumber.js' %}"></script>
{% endblock %}