{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/accounting/income.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    수입현황
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">날짜검색</span>
            <div class="FilterBox">
                <input name="month" type="month" value="{{month}}" class="inputModules">
            </div>
            <input type="submit" value="검색" class="btnModules">
        </div>
    </form>
</div>




<form method="post" action="{% url 'accounting:remark_edit' %}" class="salaryForm">
    {% csrf_token %}
    <div class="contentsAreaBox">
        <table class="tableHead">
            <thead>
                <tr class="headerLine">
                    <td>날짜</td>
                    <td>출근</td>
                    <td>퇴근</td>
                    <td>일반주문</td>
                    <td>수금액</td>
                    <td>미수금액</td>
                    <td>합계</td>
                </tr>
            </thead>
        </table>
        <div class="tableScrollBox">
            <table class="tableBody">
                <tbody>
                    {% for i in "x"|rjust:last_day %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{% if e_order_list|index:forloop.counter0 != 0 %} {{e_order_list|index:forloop.counter0}} {% endif %}</td>
                        <td>{% if c_order_list|index:forloop.counter0 != 0 %} {{c_order_list|index:forloop.counter0}} {% endif %}</td>
                        <td>{% if order_list|index:forloop.counter0 != 0 %} {{order_list|index:forloop.counter0}} {% endif %}</td>
                        <td>{% if collect_list|index:forloop.counter0 != 0 %} {{collect_list|index:forloop.counter0}} {% endif %}</td>
                        <td>{% if n_collect_list|index:forloop.counter0 != 0 %} {{n_collect_list|index:forloop.counter0}} {% endif %}</td>
                        {% with e=e_order_list|index:forloop.counter0 %}
                        {% with c=c_order_list|index:forloop.counter0 %}
                        {% with o=order_list|index:forloop.counter0 %}
                        <td>{{e|add:c|add:o}}</td>
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}

                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

        <div class="btnAreaBox">
            <table class="totalTable">
                <thead>
                    <tr>
                        <td>합계</td>
                        <td>{{ e_order_list_total }}</td>
                        <td>{{ c_order_list_total }}</td>
                        <td>{{ order_list_total }}</td>
                        <td>{{ collect_list_total }}</td>
                        <td>{{ n_collect_list_total }}</td>
                        <td>{{ e_order_list_total|add:c_order_list_total|add:order_list_total }}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</form>


{% endblock %}




{% block script %}
<script src="{% static 'js/accounting/income.js' %}"></script>
{% endblock %}