{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/accounting/income.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    매출현황
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">날짜검색</span>
            <div class="FilterBox">
                <input autocomplete="off"name="month" type="month" value="{{month}}" class="inputModules">
            </div>
            <input autocomplete="off"type="submit" value="검색" class="btnModules dateSearchBtn">
        </div>
    </form>
</div>

<div class="dashboardContainer">
    <div class="dashboardBox mainDataArea">
        <div class="dashboardArticle monthData">
            <div class="dashboardHeader">~월 매출</div>
            <div class="dashboardBody">
                <canvas id="monthChart" width="360" height="360"></canvas>
                <div class="accountsReceivable">미수금  5,000,000</div>
                <div class="totalPrice">총 매출  25,000,000</div>
            </div>
        </div>
        <div class="dashboardArticle yearData">
            <div class="dashboardHeader"></div>
            <div class="dashboardBody">
                <canvas id="yearChart" width="1000" height="220"></canvas>
            </div>
        </div>
    </div>
    <div class="dashboardBox SubDataArea">
        <div class="dashboardArticle kategoriData">
            <div class="dashboardHeader">일반매출 이용 유형</div>
            <div class="dashboardBody">
                <canvas id="kategoriChart" width="700" height="390"></canvas>
            </div>
        </div>
        <div class="dashboardArticle otherData">
            <div class="dashboardHeader">유형별 비율</div>
            <div class="dashboardBody">
                <div class="dashboardBodyCoulmnCell">
                    <canvas id="otherChartWay" width="260" height="180"></canvas>
                    <canvas id="otherChartPayment" width="260" height="180"></canvas>
                </div>
                <canvas id="otherChartBus" width="580" height="340"></canvas>
                <div class="chartTitle">버스 종류</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="{% static 'js/accounting/chart.js' %}"></script>
<script src="{% static 'js/accounting/monthAndYear.js' %}"></script>
{% endblock %}