{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/accounting/accounting.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="main_box">
    <aside>
        <div class="aside_box">
            <div class="aside_title">
                <div class="aside_title_font">경리</div>
            </div>
            <div class="aside_contents">
                <a href="notice_driver.html">수입관리</a>
            </div>
            <div class="aside_contents aside_contents_thispage">
                <a href="notice_driver.html">지출관리</a>
            </div>
        </div>
    </aside>

    <section class="main_section">
        <div class="top_box">
            <div class="top_box_title">{{month}}월 지출현황</div>
            <div class="accounting_top_select">
                <form action="" class="accounting_outlay_search_form">
                    <select name="year" class="accounting_outlay_search_date">
                        {% for i in option_year %}
                            <option value="{{i}}" {% if i == year %} selected {% endif %}>{{i}}년</option>
                        {% endfor %}
                    </select>
                    <select name="month" class="accounting_outlay_search_date">
                        {% for i in "x"|rjust:"12" %}
                            <option value="{{forloop.counter}}" {% if forloop.counter == month %} selected {% endif %}>{{forloop.counter}}월</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="accounting_outlay_search_button" value="">
                </form>
            </div>
        </div>
        <div class="mid_box">
            <div class="outlay_list__mid_box_head">
                <div class="outlay_list__mid_box_head__box">
                    <div class="outlay_list__mid_box_head__box_title">급여</div>
                    <div class="outlay_list__mid_box_head__box_value">{{salary}}</div>
                </div>
                <div class="outlay_list__mid_box_head__box">
                    <div class="outlay_list__mid_box_head__box_title">차량</div>
                    <div class="outlay_list__mid_box_head__box_value">{{car}}</div>
                </div>
                <div class="outlay_list__mid_box_head__box">
                    <div class="outlay_list__mid_box_head__box_title">복리후생</div>
                    <div class="outlay_list__mid_box_head__box_value">{{welfare}}</div>
                </div>
                <div class="outlay_list__mid_box_head__box">
                    <div class="outlay_list__mid_box_head__box_title">운영</div>
                    <div class="outlay_list__mid_box_head__box_value">{{company}}</div>
                </div>
                <div class="outlay_list__mid_box_head__box">
                    <div class="outlay_list__mid_box_head__box_title">기타</div>
                    <div class="outlay_list__mid_box_head__box_value">{{other}}</div>
                </div>
                <div class="outlay_list__mid_box_head__box">
                    <div class="outlay_list__mid_box_head__box_title">총 지출</div>
                    <div class="outlay_list__mid_box_head__box_value">{{total}}</div>
                </div>
            </div>
        </div>
        
        <div class="mid_box-table_header">
            <div class="mid_box_table">날짜</div>
            <div class="mid_box_table">차량</div>
            <div class="mid_box_table">복리후생</div>
            <div class="mid_box_table">운영</div>
            <div class="mid_box_table">기타</div>
            <div class="mid_box_table">총 지출</div>
        </div>
        {% for outlay in outlay_list %}
            <div class="mid_box-table_content">
                <div class="mid_box_table">{{ outlay.outlay_date }}</div>
                <div class="mid_box_table">{% if outlay.kinds == "차량" %} {{outlay.price}} {% endif %}</div>
                <div class="mid_box_table">{% if outlay.kinds == "복리후생" %} {{outlay.price}} {% endif %}</div>
                <div class="mid_box_table">{% if outlay.kinds == "운영" %} {{outlay.price}} {% endif %}</div>
                <div class="mid_box_table">{% if outlay.kinds == "기타" %} {{outlay.price}} {% endif %}</div>
                <div class="mid_box_table"></div>
            </div>
        {% endfor %}
    </section>


<!--*********************************        
        <div class="accounting_outlay_top_select">
            <form action="" class="accounting_outlay_search_form">
                <input type="text" class="accounting_outlay_search_year">
                <select name="" id="" class="accounting_outlay_search_month">
                    <option>1월</option>
                    <option>2월</option>
                    <option>3월</option>
                    <option>4월</option>
                    <option>5월</option>
                    <option>6월</option>
                    <option>7월</option>
                    <option>8월</option>
                    <option>9월</option>
                    <option>10월</option>
                    <option>11월</option>
                    <option>12월</option>
                </select>
                <input type="button" class="accounting_outlay_search_button">
            </form>
            <a href="accounting_outlay_information_create_welfare.html">
                <div class="accounting_outlay_create_button">추가하기</div>
            </a>
        </div>

        <div class="accounting_outlay_information_main_form">
            <div class="accounting_outlay_information_head_line">
                <div class="accounting_outlay_information_head_line_categori">
                    <div class="accounting_outlay_information_head_line_categori_title">급여</div>
                    <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
                </div>

                <div class="accounting_outlay_information_head_line_categori">
                    <div class="accounting_outlay_information_head_line_categori_title">복지관련지출</div>
                    <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
                </div>

                <div class="accounting_outlay_information_head_line_categori">
                    <div class="accounting_outlay_information_head_line_categori_title">차량관련지출</div>
                    <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
                </div>

                <div class="accounting_outlay_information_head_line_categori">
                    <div class="accounting_outlay_information_head_line_categori_title">운영관련지출</div>
                    <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
                </div>

                <div class="accounting_outlay_information_head_line_categori">
                    <div class="accounting_outlay_information_head_line_categori_title_total">총 지출</div>
                    <div class="accounting_outlay_information_head_line_categori_value">+250,000,000</div>
                </div>
            </div>

            <div class="accounting_outlay_information_main_information_box">
                <div class="accounting_outlay_information_main_information_categori_section">
                    <div class="accounting_outlay_information_main_information_day">날짜
                    </div>
                    <div class="accounting_outlay_information_main_information_categori">복지관련지출</div>
                    <div class="accounting_outlay_information_main_information_categori">차량관련지출</div>
                    <div class="accounting_outlay_information_main_information_categori">운영관련지출</div>
                    <div class="accounting_outlay_information_main_information_categori">총 지출</div>
                    <div class="accounting_outlay_information_main_information_black_box"></div>
                </div>
                <div class="accounting_outlay_information_main_information_information_form">
                    <div class="accounting_outlay_information_main_information_information_box">
                        <div class="accounting_outlay_information_main_information_information_day">1일</div>
                        <div class="accounting_outlay_information_main_information_information_value">+250,000,000</div>
                        <div class="accounting_outlay_information_main_information_information_value">+250,000,000</div>
                        <div class="accounting_outlay_information_main_information_information_value">+250,000,000</div>
                        <div class="accounting_outlay_information_main_information_information_value_total">+250,000,000
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="accounting_outlay_information_welfare.html">
            <div class="accounting_outlay_information_detail_button">상세보기</div>
        </a>
    </section>
    <a href="accounting_outlay_information_day.html">
        <div>skfWKquf</div>
    </a>
</div>
-->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
<script src="{% static 'js/accounting_outlay_information_modify.js' %}"></script>

{% for outlay in outlay_list %}
<p>{{ outlay.kinds }}</p>
<p>{{ outlay.salary_id }}</p>
<p>{{ outlay.brief }}</p>
<p>지출금액 : {{ outlay.price }}</p>
<p>지출일 : {{ outlay.outlay_date }}</p>
<p>{{ outlay.creator }}</p>
<p>{{ outlay.pub_date }}</p>
<br>
{% endfor %}

<p>급여 : {{ salary }}</p>
<p>차량비용 : {{ car }}</p>
<p>복리후생 : {{ welfare }}</p>
<p>운영비용 : {{ company }}</p>
<p>기타 : {{ other }}</p>
<p>총합 : {{ total }}</p>

{% endblock %}