<p>salary create</p>

<form action="" method="GET">
    <input type="text" class="datefield" name="date" value="{{ date }}">
    <input type="submit" value="등록">
</form>

<form action='', method='POST'>
    {% csrf_token %}
    {% for form in daily_form %}
        <span>번호 : {{ form.instance.monthly_salary.member_id.pk }}</span>
        <span>이름 : {{ form.instance.monthly_salary.member_id.name }}</span>
        {{ form }}
        <br>
    {% endfor %}
    <!--form 을 여러개 추가 할 수 있어야됨 지금은 하나밖에 안됨-->
    <!--자바스크립트로 추가하기-->

    <input type="submit" value="등록">
</form>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
    window.addEventListener("DOMContentLoaded", function () {
        flatpickr(".datefield", {
            enableTime: false,
            dateFormat: "Y-m-d",
        });
    });
</script>