{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/accounting/salay.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    급여관리
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <span class="searchName">날짜검색</span>
            <div class="FilterBox">
                <input type="month" min="2022-07" value="2022-07" class="inputModules">
            </div>
            <input type="submit" value="검색" class="btnModules">
        </div>
    </form>
    <div class="addSalay">급여등록</div>
</div>




<form method="post" action="{% url 'vehicle:vehicle_delete' %}" class="salaryForm">
    {% csrf_token %}
    <div class="contentsAreaBox">
        <table class="tableHead">
            <thead>
                <tr class="headerLine">
                    <td>선택</td>
                    <td>날짜</td>
                    <td>출근운행</td>
                    <td>퇴근운행</td>
                    <td>일반운행</td>
                    <td>출근상여</td>
                    <td>출근요금</td>
                    <td>퇴근상여</td>
                    <td>퇴근요금</td>
                    <td>일반주문상여</td>
                    <td>일반주문요금</td>
                    <td>기타</td>
                    <td>일일 합계</td>
                </tr>
            </thead>
        </table>
        <div class="tableScrollBox">
            <table class="tableBody">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="btnAreaBox">
            <div class="btnBox">
                <input type="submit" value="저장" class="btnModules">
            </div>

        </div>
    </div>
</form>





{% endblock %}





{% block popup %}
<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'vehicle:vehicle_create' %}" class="popupContainer"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="PopupTitle">급여등록</div>
        <div class="PopupDataArea">
            <div class="PopupDataCell">
                <span class="PopupDataTitle">이름</span>
                <div class="salayNameBox">
                    <select name="" id="" class="PopupDataInput">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">입사일자</span>
                <div class="enteringDateBox">
                    <div name="" type="text" class="PopupData"></div>
                </div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">날짜</span>
                <div class="dateBox">
                    <input name="" type="date" class="PopupDataInput">
                </div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">금액</span>
                <div class="priceBox">
                    <input name="" type="text" class="PopupDataInput">
                </div>
            </div>
            <div class="PopupDataCell">
                <span class="PopupDataTitle">비고</span>
                <div class="blanckBox">
                    <input name="" type="text" class="PopupDataInput">
                </div>
            </div>
        </div>
        <div class="PopupBtnBox">
            <div class="btnModules closeBtn">닫기</div>
            <input type="submit" class="btnModules createBtn" value="등록">
        </div>
    </form>
</div>

{% endblock %}






{% block script %}
<script src="{% static 'js/accounting/salay.js' %}"></script>
{% endblock %}