{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/dispatch/dispatchBase.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/humanresource/team.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/rollcall/management.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    점호 관리
</div>
{% endblock %}


{% block content %}

<form class="routeLayout searchForm">
    <div class="groupLayout">
        <div class="groupList">
            <div class="groupListBox">
                <div class="groupListHead">
                    <span class="groupListTitle">팀목록</span>
                </div>
                <div class="groupListBody">
                    <div class="groupListItem">
                        <div></div>
                        <div class="groupNum groupOpen">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16.5" viewBox="0 0 22 16.5">
                                <path id="Icon_awesome-folder" data-name="Icon awesome-folder"
                                    d="M19.938,7.25h-8.25L8.938,4.5H2.063A2.062,2.062,0,0,0,0,6.563V18.938A2.062,2.062,0,0,0,2.063,21H19.938A2.062,2.062,0,0,0,22,18.938V9.313A2.062,2.062,0,0,0,19.938,7.25Z"
                                    transform="translate(0 -4.5)" fill="#444" />
                            </svg>
                        </div>
                        <div class="groupName groupOpen">
                            <span class="{{business.id}}">{{business.name}}</span>
                            <svg class="businessGroupEditBtn pointer" xmlns="http://www.w3.org/2000/svg" width="15" height="15.12" viewBox="0 0 15 15.12">
                                <g id="그룹_1652" data-name="그룹 1652" transform="translate(-683.5 -772.38)">
                                  <g id="Icon_feather-edit" data-name="Icon feather-edit" transform="translate(684 773)">
                                    <path id="패스_339" data-name="패스 339" d="M9.262,6H4.392A1.392,1.392,0,0,0,3,7.392v9.741a1.392,1.392,0,0,0,1.392,1.392h9.741a1.392,1.392,0,0,0,1.392-1.392v-4.87" transform="translate(-3 -4.524)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
                                    <path id="패스_340" data-name="패스 340" d="M19.306,3.25a1.476,1.476,0,0,1,2.087,2.087l-6.61,6.61-2.783.7.7-2.783Z" transform="translate(-7.825 -2.818)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"></path>
                                  </g>
                                </g>
                            </svg>
                        </div>
                        
                    </div>
                    <div class="detailItemBox">
                        <div class="detailItem {{route.id}}">
                            <!--클래스에 노선 아이디 추가-->
                            <div class="groupNum routeGap">
                                <input class="groupCheckbox" id="businessGroup{{group.id}}" value="{{group.id}}" name="group_id" type="checkbox">
                            </div>
                            <label for="businessGroup{{group.id}}" class="routeNameBox">
                                <div class="routeNumber">{{group.name}}</div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="groupListBox">
                <div class="groupListHead">
                    <span class="groupListTitle">시간</span>
                </div>
                <div class="groupListBody">
                    <div class="groupListItem">
                        <div class="groupNum">
                            <input id="timeCheckAll" type="checkbox">
                        </div>
                        <label for="timeCheckAll" class="groupName">전체</label>
                    </div>
                    {% for time in time_list %}
                    <div class="groupListItem">
                        <div></div>
                        <div class="groupNum">
                            <input name="time" value="{{time}}" id="timeCheckbox{{time}}" class="timeCheckbox" type="checkbox">
                        </div>
                        <label for="timeCheckbox{{time}}" class="groupName">{{time}}:00 ~ {{time}}:59</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="foldGroup">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                <g id="그룹_1629" data-name="그룹 1629" transform="translate(-13664 -4980)">
                    <rect id="사각형_11725" data-name="사각형 11725" width="30" height="30" rx="15"
                        transform="translate(13664 4980)" fill="#444" />
                    <path id="패스_327" data-name="패스 327" d="M0,0,5.788,7.048,12,0"
                        transform="translate(13681.063 5001) rotate(-90)" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    <path id="패스_329" data-name="패스 329" d="M0,0H12"
                        transform="translate(13677.063 5001) rotate(-90)" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                    <path id="패스_330" data-name="패스 330" d="M0,0H12"
                        transform="translate(13673.063 5001) rotate(-90)" fill="none" stroke="#fff"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="3" />
                </g>
            </svg>
        </div>
    </div>

    <div class="mainLayout">


    <div class="searchBox">
            <div class="routListSearch">
                <div> 
                    
                    <span class="SearchName">분류</span>
                    <select name="type">
                    <option  value="노선명">노선명</option>
                    <option  value="운전원">운전원</option>
                    </select>
                </div>
                <input type="text" placeholder="노선명을 입력해주세요." value="{{search}}" name="search" class="searchInput">
                <input value="{{date}}" autocomplete="off" type="date" name="date" class="searchDate" max="9999-12-31">
                <input autocomplete="off" type="submit" class="btnModules searchBtn" value="검색">
            </div>
        </div>

        <div class="RouteListForm teamSaveForm">
            <div class="btnModules routeInputSave">저장</div>
            <div type="submit" class="btnModules routeInputScan" onClick="opendispatchPrint('/dispatch/print/regularly/connect')">인쇄</div>
            <div class="RouteList">

        <div class="RouteListForm teamSaveForm">
            <div class="RouteList">
                <div class="RouteListHeadScroll">
                    <table class="RouteListHeader">
                        <thead>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>순번</td>
                                <td>차량</td>
                                <td>기사명</td>
                                <td>용역명</td>
                                <td>연락처</td>
                                <td>시간</td>
                                <td>노선명</td>
                                <td>출발지 위치</td>
                                <td>지각</td>
                                <td>제목</td>
                                <td>음주</td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="RouteListScroll">
                    <table class="RouteListBody">
                        <tbody>
                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="RouteListBodyTr">
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>7555</td>
                                <td>전민철</td>
                                <td></td>
                                <td>010-8884-7074</td>
                                <td>07:30</td>
                                <td>출근 수원역 1</td>
                                <td>수원역-롯데몰</td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                                <td> 
                                    <select class="RouteListCheckbox" name="type">
                                    <option  value="-">-</option>
                                    </select>
                                </td>
                            </tr>

                            <tr class="bl anckTr"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}



{% block popup %}
<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form action="{% url 'dispatch:business_edit' %}"  method="post">
        {% csrf_token %}
        <div class="popupContainer popupContainerDouble">
            <div class="popupHeader">
                <div class="popupTitle">사업장 편집</div>
            </div>
            <div class="popupBody">
                <div class="popupSection">
                    <div class="popupArticleCategory">사업장 정보</div> 
                    <input type="hidden" name="business_id" id="popupInputId">
                    <div class="popupArticleBox">
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel">순번</label>
                            <input id="popupInputNumber" name="business_number" type="number" class="popupArticleinput" placeholder="숫자만 입력해 주세요">
                        </div>
                    </div>
                    <div class="popupArticleBox">
                        <div class="popupArticleDouble">
                            <label for="" class="popupArticleLabel">사업장</label>
                            <input id="popupInputName" name="business_name" type="text" class="popupArticleinput">
                        </div>
                    </div>
                    <div class="popupArticleCategory">출/퇴근 그룹 목록</div>                
                    <div class="popupArticleBoxTable">
                        <div class="scrolling_table-list_header">
                            <table class="table-list">
                            <thead>
                                <tr class="table-list_head-tr">
                                <td class="table-list_head-tr_td">선택</td>
                                <td class="table-list_head-tr_td">그룹</td>
                                </tr>
                            </thead>
                            </table>
                        </div>
                        <div class="scrolling_table-list_body">
                            <table class="table-list waypointTable">
                            <tbody>
                                {% for group in group_list %}
                                <tr class="table-list_body-tr">
                                    <td class="table-list_body-tr_td">
                                        <input class="businessPopupGroupId" id="group_{{group.id}}" name="group_id" value="{{group.id}}" type="checkbox">
                                    </td>
                                    <td class="table-list_body-tr_td">
                                        <label class="tableLabel pointer" for="group_{{group.id}}">{{group.name}}</label>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="popupFooter">
                    <input class="btnModules addtionalBtn" value="저장" type="submit"/>
                    <div class="btnModules businessPopupCloseBtn waypointCloseBtn">닫기</div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}



{% block script %}
<script>
    {% autoescape off %}
    const businessGroupData = {{business_group_data}}
    const businessData = 
    {
        {% for business in business_list %}
        "{{business.id}}" : {
            "name" : "{{business.name}}",
            "number" : "{{business.number}}",
        },
        {% endfor %}
    }
    const searchGroupList = {{search_group_list}}
    const searchTeamList = {{search_team_list}}
    const searchTimeList = {{search_time_list}}
    {% endautoescape %}
    console.log("search", searchGroupList, searchTeamList, searchTimeList)
    console.log(businessGroupData)
    console.log(businessData)
    
    function opendispatchPrint(url){
        if (window.location.search){
            targetLink = `${url}${window.location.search}`
            window.open(targetLink, `{{date}}배차표`, "width=1640, height=640")
        } else{
            alert("그룹 또는 노선을 선택해 주세요")
        }
    }
</script>
<script src="{% static 'js/dispatch/regularly/regularlyConnectSearch.js' %}"></script>
<script type="module" src="{% static 'js/dispatch/regularly/regularlyConnectPopup.js' %}"></script>
{% endblock %}