{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/complaint/inspection.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    상담일지
</div>
{% endblock %}


{% block content %}
<div class="search-Container">
    <form action="" class="search-Form">
        <select name="select" class="search-Form_input search-Form-Select">
            <option value="이름">이름</option>
            <option value="담당 팀장">담당 팀장</option>
        </select>
        <input name="search" value="{{search}}" autocomplete="off" type="text" class="search-Form_input">
        <select name="select" class="search-Form_input search-Form-Select">
            <option value="대면 상담">대면 상담</option>
            <option value="전화 상담">전화 상담</option>
        </select>
        <input name="date" type="date" class="searchDateInput"> ~ 
        <input name="date" type="date" class="searchDateInput">
        <input type="submit" class="search-Form_search-btn" value="검색">
        <input type="radio" class="inspectionlogradio" name="dateOption"> <span class="inspectionlogradioText">상담 전<span>
        <input type="radio" class="inspectionlogradio" name="dateOption"> <span class="inspectionlogradioText">상담 완료<span>
    </form>
</div>

<div class="main-layout_container">
    <form method="post" class="clientTableForm clientDeleteForm">
        <div class="scrolling_table-list_header">
            <table class="table-list">
                <thead>
                    <tr class="table-list_head-tr">
                        <td class="table-list_head-tr_td">
                            <input type="checkbox" class="deleteAllChecker">
                        </td>
                        <td class="table-list_head-tr_td">번호</td>
                        <td class="table-list_head-tr_td">이름</td>
                        <td class="table-list_head-tr_td">직책</td>
                        <td class="table-list_head-tr_td">상담 일자</td>
                        <td class="table-list_head-tr_td">담당 팀장</td>
                        <td class="table-list_head-tr_td">팀</td>
                        <td class="table-list_head-tr_td">상담 방식</td>
                        <td class="table-list_head-tr_td">일지 제목</td>
                        <td class="table-list_head-tr_td">이미지</td>
                        <td class="table-list_head-tr_td">상담 현황</td>
                    </tr>
                </thead>
            </table>
        </div>
        
        <div class="scrolling_table-list_body">
            <table class="table-list">
                <tbody>
                    <tr class="table-list_body-tr accountTr">
                        <td class="table-list_body-tr_td">
                            <input type="checkbox" class="deleteChecker" name="check" value="{{client.id}}">
                        </td>
                        <td class="table-list_body-tr_td">1</td>
                        <td class="table-list_body-tr_td">유정노</td>
                        <td class="table-list_body-tr_td">승무원</td>
                        <td class="table-list_body-tr_td">2024 - 07 - 22</td>
                        <td class="table-list_body-tr_td">전민철</td>
                        <td class="table-list_body-tr_td">팀 A</td>
                        <td class="table-list_body-tr_td">대면 상담</td>
                        <td class="table-list_body-tr_td">일지 제목</td>
                        <td class="table-list_body-tr_td"><img src="path_to_your_image.jpg" alt="-.jpg" class="thumbnail"></td>
                        <td class="table-list_body-tr_td Popupbutton">상담 완료</td>
                    </tr>

                    <tr class="table-list_body-tr accountTr">
                        <td class="table-list_body-tr_td">
                            <input type="checkbox" class="deleteChecker" name="check" value="{{client.id}}">
                        </td>
                        <td class="table-list_body-tr_td">1</td>
                        <td class="table-list_body-tr_td">유정노</td>
                        <td class="table-list_body-tr_td">승무원</td>
                        <td class="table-list_body-tr_td">2024 - 07 - 22</td>
                        <td class="table-list_body-tr_td">전민철</td>
                        <td class="table-list_body-tr_td">팀 A</td>
                        <td class="table-list_body-tr_td">대면 상담</td>
                        <td class="table-list_body-tr_td">일지 제목</td>
                        <td class="table-list_body-tr_td"><img srx="#" value="12345.jpg"></td>
                        <td class="table-list_body-tr_td Popupbutton">상담 완료</td>
                    </tr>

                    <tr class="table-list_body-tr accountTr">
                        <td class="table-list_body-tr_td">
                            <input type="checkbox" class="deleteChecker" name="check" value="{{client.id}}">
                        </td>
                        <td class="table-list_body-tr_td">1</td>
                        <td class="table-list_body-tr_td">유정노</td>
                        <td class="table-list_body-tr_td">승무원</td>
                        <td class="table-list_body-tr_td">2024 - 07 - 22</td>
                        <td class="table-list_body-tr_td">전민철</td>
                        <td class="table-list_body-tr_td">팀 A</td>
                        <td class="table-list_body-tr_td">대면 상담</td>
                        <td class="table-list_body-tr_td">일지 제목</td>
                        <td class="table-list_body-tr_td"><img srx="#" value="12345.jpg"></td>
                        <td class="table-list_body-tr_td Popupbutton">상담 완료</td>
                    </tr>

                    <tr class="table-list_body-tr accountTr">
                        <td class="table-list_body-tr_td">
                            <input type="checkbox" class="deleteChecker" name="check" value="{{client.id}}">
                        </td>
                        <td class="table-list_body-tr_td">1</td>
                        <td class="table-list_body-tr_td">유정노</td>
                        <td class="table-list_body-tr_td">승무원</td>
                        <td class="table-list_body-tr_td">2024 - 07 - 22</td>
                        <td class="table-list_body-tr_td">전민철</td>
                        <td class="table-list_body-tr_td">팀 A</td>
                        <td class="table-list_body-tr_td">대면 상담</td>
                        <td class="table-list_body-tr_td">일지 제목</td>
                        <td class="table-list_body-tr_td"><img srx="#" value="12345.jpg"></td>
                        <td class="table-list_body-tr_td Popupbutton">상담 완료</td>
                    </tr>

                    <tr class="table-list_body-tr accountTr">
                        <td class="table-list_body-tr_td">
                            <input type="checkbox" class="deleteChecker" name="check" value="{{client.id}}">
                        </td>
                        <td class="table-list_body-tr_td">1</td>
                        <td class="table-list_body-tr_td">유정노</td>
                        <td class="table-list_body-tr_td">승무원</td>
                        <td class="table-list_body-tr_td">2024 - 07 - 22</td>
                        <td class="table-list_body-tr_td">전민철</td>
                        <td class="table-list_body-tr_td">팀 A</td>
                        <td class="table-list_body-tr_td">대면 상담</td>
                        <td class="table-list_body-tr_td">일지 제목</td>
                        <td class="table-list_body-tr_td"><img srx="#" value="12345.jpg"></td>
                        <td class="table-list_body-tr_td Popupbutton">상담 완료</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endblock %}


{% block popup %}
<div class="popupAreaModules">
    <div class="popupBgModules"></div>
    <form method="post" class="popupContainer popupInspectionlogSize clientCreteForm">
        <div class="popupHeader">
            <div class="popupTitle">상담 내용</div>
        </div>
        <div class="popupBody">
            <div class="popupArticleCategori">기본정보</div>
            <div class="popupMainInspectionlogSection">
                <div class="popupFirstArticleBox">
                    <div class="popupMainInspectionlogDouble">
                        <label for="" class="popupArticleLabel">상담자</label>
                        <input autocomplete="off" name="business_num" type="text" class="popupMainInspectionlogDoubleText length100">
                    </div>
                    <div class="popupMainInspectionlogDouble">
                        <label for="" class="popupLastArticleLabel">직책</label>
                        <input autocomplete="off" name="name" type="text" class="popupMainInspectionlogDoubleText length100 essential">
                    </div>
                </div>
                <div class="popupSecondArticleBox">
                    <div class="popupMainInspectionlogDouble">
                        <label for="" class="popupArticleLabel">상담일</label>
                        <input autocomplete="off" name="representative" type="text" class="popupMainInspectionlogDoubleText length20">
                    </div>
                    <div class="popupMainInspectionlogDouble">
                        <label for="" class="popupLastArticleLabel">상담 방식</label>
                        <input autocomplete="off" name="phone" type="text" class="popupMainInspectionlogDoubleText length100">
                    </div>
                </div>
                <div class="popupSecondArticleBox">
                    <div class="popupMainInspectionlogDouble">
                        <label for="" class="popupArticleLabel">담당 팀장</label>
                        <input autocomplete="off" name="representative" type="text" class="popupMainInspectionlogDoubleText length20">
                    </div>
                </div>
            </div>

        <div class="popupArticleCategori">일지 제목</div>

        <div class="popupInspectionlogMainSection">
          <input type="text" name="일지제목" class="MainSectionText" maxlength=5000>
        </div>

        <div class="popupArticleCategori">일지 내용</div>

        <div class="popupInspectionlogMainSection">
          <input type="text" name="일지내용" class="SubSectionText" maxlength=5000>
        </div>


            <div class="popupCheckFooter">
                <div class="btnModules popupCloseBtn">닫기</div>
            </div>
        </div>
    </form>
</div>

<div id="imagePopup" class="popupAreaModules">
    <div class="popupBgModules"></div>
    <div class="popupContainer">
        <img id="popupImage" src="" alt="팝업 이미지" class="popupImage">
        <div class="popupCloseBtn">닫기</div>
    </div>
</div>
{% endblock %}





{% block script %}
<script>
    {% autoescape off %}
    const dataList = {{data_list}};
    console.log("dataList", dataList);
    
    {% endautoescape %}
</script>
<script src="{% static 'js/crudmember/clientCreate.js' %}"></script>
<script src="{% static 'js/crudmember/deleteChecker.js' %}"></script>
<script src="{% static 'js/crudmember/deleteAlert.js' %}"></script>
<script src="{% static 'js/crudmember/createEssential.js' %}"></script>
<script src="{% static 'js/phoneNumberForm.js' %}"></script>

<script>
  // 팝업 열기 버튼 클릭 이벤트를 모든 Popupbutton 요소에 추가
  document.querySelectorAll('.Popupbutton').forEach(function(button) {
    button.addEventListener('click', function() {
      document.querySelector('.popupAreaModules').style.display = 'block';
    });
  });

  // 팝업 닫기 버튼 클릭 이벤트
  document.querySelector('.popupCloseBtn').addEventListener('click', function() {
    document.querySelector('.popupAreaModules').style.display = 'none';
  });
</script>


<script>
    document.querySelectorAll('.thumbnail').forEach(function(img) {
    img.addEventListener('click', function() {
        const src = img.getAttribute('src');
        const popupImage = document.getElementById('popupImage');
        popupImage.setAttribute('src', src);
        document.getElementById('imagePopup').style.display = 'flex';
    });
});

document.querySelector('.popupCloseBtn').addEventListener('click', function() {
    document.getElementById('imagePopup').style.display = 'none';
});

document.querySelector('.popupBgModules').addEventListener('click', function() {
    document.getElementById('imagePopup').style.display = 'none';
});
</script>
{% endblock %}