{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/salary/routeTime.css' %}" type="text/css" />

{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    노선시간관리
</div>
{% endblock %}

{% block content %}
<div class="excelContainer">
    <input type="button" value="엑셀 업로드" class="upload searchFormSearchBtn"></input>
    <input type="button" value="엑셀 다운로드" class="download searchFormSearchBtn"></input>
</div>
<div class="tableScrollBox">
    <div class="tableContainer table">
        <div class="thead flex">
            <div class="theadTh th personalFlex">연번</div>
            <div class="theadTh th personalFlex">노선명</div>
            <div class="theadTh th personalFlex">차고지 도착</div>
            <div class="theadTh th personalFlex">사전 준비 시간</div>
            <div class="theadTh th personalFlex">출발 시간</div>
            <div class="theadTh th personalFlex">도착 시간</div>
            <div class="theadTh th personalFlex">차량 입고</div>
            <div class="theadTh th personalFlex">뒷정리 완료</div>
            <div class="theadTh th">
                <div class="theadThTh th personalFlex">운행 요일</div>
                <div class="theadThTh th flex">
                    <div class="theadThThTh th day personalFlex">월</div>
                    <div class="theadThThTh th day personalFlex">화</div>
                    <div class="theadThThTh th day personalFlex">수</div>
                    <div class="theadThThTh th day personalFlex">목</div>
                    <div class="theadThThTh th day personalFlex">금</div>
                    <div class="theadThThTh th day personalFlex">토</div>
                    <div class="theadThThTh th day last personalFlex">일</div>
                </div>

            </div>
            <div class="theadTh th personalFlex">구분</div>
            <div class="theadTh th personalFlex">비고</div>

        </div>
        <div class="tbody">
            <div class="route flex">
                <div class="tbodyTd td personalFlex">1</div>
                <div class="tbodyTd td personalFlex">수원1</div>
                <div class="tbodyTd td personalFlex">07:00</div>
                <div class="tbodyTd td personalFlex">07:10</div>
                <div class="tbodyTd td personalFlex">07:20</div>
                <div class="tbodyTd td personalFlex">09:30</div>
                <div class="tbodyTd td personalFlex">09:40</div>
                <div class="tbodyTd td personalFlex">09:50</div>
                <div class="tbodyTd td personalFlex">O</div>
                <div class="tbodyTd td personalFlex">O</div>
                <div class="tbodyTd td personalFlex">X</div>
                <div class="tbodyTd td personalFlex">X</div>
                <div class="tbodyTd td personalFlex">O</div>
                <div class="tbodyTd td personalFlex">O</div>
                <div class="tbodyTd td personalFlex">X</div>
                <div class="tbodyTd td personalFlex">출근</div>
                <div class="tbodyTd td personalFlex">-</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}