{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/salary/Salary_Distribution.css' %}" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    급여 분포도2
</div>
{% endblock %}

{% block content %}
<div class="flexBox">
    <div class="firstSection">
        <div class="indicator">
            <div class="salaryIndicatorHeader personalFlex">6월급여</div>
            <div class="salaryIndicator">
                <div class="salarySum">
                    <div class="salarySumTitle personalFlex">급여 총합</div>
                    <div class="salarySumPrice personalFlex">280,000,000 원</div>
                </div>
                <div class="salaryAvg">
                    <div class="salaryAvgTitle personalFlex">급여 평균</div>
                    <div class="salaryAvgPrice personalFlex">2,450,428 원</div>
                </div>
                <div class="salaryEvaluation flex">
                    <div class="salaryMin">
                        <div class="salaryMinTitle personalFlex">최소 급여</div>
                        <div class="salaryMinPrice personalFlex">2,450,428 원</div>
                        <div class="salaryMinLast personalFlex">고경근</div>
                    </div>
                    <div class="salaryMax">
                        <div class="salaryMaxTitle personalFlex">최대 급여</div>
                        <div class="salaryMaxPrice personalFlex">4,200,200 원</div>
                        <div class="salaryMaxLast personalFlex">전민철</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="indicatorTable">
            <div class="indicatorTableHeader personalFlex">급여 분포 표</div>
            <table class="indicatorTableContent">
                <thead class="indicatorTableContentThead">
                    <tr>
                        <td>급여</td>
                        <td>총 110명</td>
                    </tr>
                </thead>
                <tbody class="indicatorTableContentTbody">
                    <tr>
                        <td>0</td>
                        <td>1명</td>
                    </tr>
                    <tr>
                        <td>0 ~ 50</td>
                        <td>35명</td>
                    </tr>
                    <tr>
                        <td>50 ~ 100</td>
                        <td>15명</td>
                    </tr>
                    <tr>
                        <td>100 ~ 150</td>
                        <td>8명</td>
                    </tr>
                    <tr>
                        <td>150 ~ 200</td>
                        <td>2명</td>
                    </tr>
                    <tr>
                        <td>200 ~ 250</td>
                        <td>6명</td>
                    </tr>
                    <tr>
                        <td>250 ~ 300</td>
                        <td>12명</td>
                    </tr>
                    <tr>
                        <td>300 ~ 350</td>
                        <td>6명</td>
                    </tr>
                    <tr>
                        <td>350 ~ 400</td>
                        <td>6명</td>
                    </tr>
                    <tr>
                        <td>400 ~ 450</td>
                        <td>6명</td>
                    </tr>
                    <tr>
                        <td>450 ~ 500</td>
                        <td>6명</td>
                    </tr>
                    <tr>
                        <td>500 ~ 550</td>
                        <td>6명</td>
                    </tr>
                    <tr>
                        <td>550 ~ 600</td>
                        <td>0명</td>
                    </tr>
                    <tr>
                        <td>600 ~ 650</td>
                        <td>6명</td>
                    </tr>
                    <tr>
                        <td>650 ~ 700</td>
                        <td>6명</td>
                    </tr>
                    <tr>
                        <td>700 ~ 750</td>
                        <td>6명</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="SecondSection">
        <!--검색창-->
        <div class="searchContainer">
            <!--검색폼-->
            <form action="" class="searchForm">
                <label for="" class="searchFormLabel">날짜 :</label>
                <input type="month" name="month" value="{{month}}" class="searchFormInput searchFormInputMonth">
                <input type="submit" class="searchFormSearchBtn" value="검색">
            </form>
            <!--검색폼 done-->
        </div>
        <!--검색창 끝-->

        <div class="graphContainer">
            <div class="graphHeader personalFlex">급여 분포 그래프</div>
            <div class="graphContent">
                <canvas id="histogramChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const ctx = document.getElementById('histogramChart').getContext('2d');
        const data = {
            labels: ['0', '0 ~ 50', '50 ~ 100', '100 ~ 150', '150 ~ 200', '200 ~ 250', '250 ~ 300', '300 ~ 350', '350 ~ 400', '400 ~ 450', '450 ~ 500', '500 ~ 550', '550 ~ 600', '600 ~ 650', '650~700', '700~750'],
            datasets: [{
                label: 'People Count',
                data: [1, 35, 15, 8, 2, 6, 12, 6, 6, 6, 6, 6, 0, 6, 4, 1],
                backgroundColor: 'blue',
                borderColor: 'blue',
                borderWidth: 1
            }]
        };
        const options = {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 10
                        
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.raw + '명';
                        }
                    }
                }
            }
        };
        const histogramChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: options
        });
    });

    
</script>
{% endblock %}