{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}
{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/salary/table3.css' %}" type="text/css" />


{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    임금테이블3
</div>
{% endblock %}

{% block content %}
<!--검색창-->
<div class="searchContainer">

    <!--검색폼-->
    <form action="" class="searchForm">
        <label for="" class="searchFormLabel">날짜</label>
        <input type="month" name="month" value="{{month}}" class="searchFormInput searchFormInputMonth">
        <label for="" class="searchFormLabel">이름</label>
        <input name="name" value="{{name}}" type="text" class="searchFormInput">
        <select name="type" id="type" class="searchFormInput searchFormInputSelect">
            <option {% if type == '전체' %}selected{% endif %} value="전체">전체</option>
            <option {% if type == '정규직' %}selected{% endif %} value="정규직">정규직</option>
            <option {% if type == '일당직' %}selected{% endif %} value="일당직">일당직</option>
        </select>
        <input type="submit" class="searchFormSearchBtn" value="검색">
    </form>
    <!--검색폼 done-->

    <!--급여현황-->
    <div class="popupAreaBox">

        <div class="btnModules popupAreaBoxBtn blue" id="hourlyRateEditPopupBtn">
            시급수정
        </div>
        <div class="btnModules popupAreaBoxBtn">
            근무현황
        </div>
        <div class="btnModules popupAreaBoxBtn">
            급여명세서
        </div>
    </div>
    <!--급여현황 done-->
</div>
<!--검색창 끝-->

<!--임금테이블-->
<div class="contentsAreaBox scrollDiv">

    <!--왼쪽고정테이블-->
    <div class="orderListMain">
        <!--고정헤더-->
        <div class="orderListTableHead">
            <div class="orderListMainContents orderListMain0"><input type="checkbox"></div>
            <div class="orderListMainContents orderListMain1">번호</div>
            <div class="orderListMainContents orderListMain2">이름</div>
            <div class="orderListMainContents orderListMain2 orderListMain3">직책</div>
        </div>
        <!--고정헤더 done-->

        <div class="orderListSubScroll">

            <div class="orderListScrollBox">
                <!--고정요소-->
                {% for data in datas %}
                {% with current_data=datas|obj:data %}
                <div class="orderListItem">
                    <div class="orderListMainContents orderListMain0"><input type="checkbox"></div>
                    <div class="orderListMainContents orderListMain1">{{forloop.counter}}</div>
                    <div class="orderListMainContents orderListMain2">{{current_data.member__name}}</div>
                    <div class="orderListMainContents orderListMain2 orderListMain3">{{current_data.member__role}}</div>
                </div>
                {% endwith %}
                {% endfor %}
                <!--고정요소 done-->
            </div>
        </div>


    </div>
    <!--왼쪽고정테이블 done-->

    <!--데이터테이블-->
    <div class="orderListSub orderListScrollBox orderListScrollYBox">

        <div class="tableBody table">

            <!--thead-->
            <div class="thead">
                <div class="theadDate">입사일자</div>
                <div class="theadWorkTime">근무시간</div>
                <div class="theadBasic">기본시급</div>
                <!-- <div class="theadBasic">기본시급<br>(2)<br>30시간초과</div> -->
                <div class="theadNormal">통상시급</div>


                <div class="theadCountTime">
                    <div class="theadCountTimeTitle personalFlex">산정시간</div>
                    <div class="theadCountTimeData">
                        <div class="theadCountTimeTh personalFlex th">소정근로</div>
                        <div class="theadCountTimeThDouble th">
                            <div class="theadCountTimeThTitle personalFlex">연장근로</div>
                            <div class="theadCountTimeThContent th flex">
                                <div class="theadCountTimeThTh personalFlex th">법내</div>
                                <div class="theadCountTimeThTh personalFlex th last">법외</div>
                            </div>
                        </div>
                        <div class="theadCountTimeTh personalFlex">야간</div>
                        <div class="theadCountTimeThDouble">
                            <div class="theadCountTimeThTitle personalFlex">휴일근로</div>
                            <div class="theadCountTimeThContent flex">
                                <div class="theadCountTimeThTh personalFlex ">8시간이하</div>
                                <div class="theadCountTimeThTh personalFlex  last">8시간초과</div>
                            </div>
                        </div>
                    </div>
                </div>


                <!--통상급여-->
                <div class="theadOrdinarySalary">
                    <div class="theadOrdinarySalaryTitle">통상급여</div>
                    <div class="theadOrdinarySalaryContent">
                        <div>임금</div>
                        <div>근속수당</div>
                        <div class="theadOrdinarySalaryContentLast">계</div>
                    </div>
                </div>
                <!--통상급여 done-->

                <!--법정수당-->
                <div class="theadLegalAllowance">
                    <div class="theadLegalAllowanceTitle">각종수당</div>
                    <div class="theadLegalAllowanceContent">
                        <div>주휴수당</div>
                        <div>법정휴일</div>
                        <div class="theadLegalAllowanceContentOne">
                            <div class="theadLegalAllowanceContentOneTitle">법내연장</div>
                            <div class="theadLegalAllowanceContentOneContent">기본임금</div>
                        </div>
                        <div class="theadLegalAllowanceContentDouble theadDouble">
                            <div class="theadLegalAllowanceContentDoubleTitle theadWeeklyExtension">주 연장</div>
                            <div class="theadLegalAllowanceContentDoubleContent theadWeeklyExtension">
                                <div class="theadLegalAllowanceContentDoubleContentFirst theadAnother">기본임금</div>
                                <div>가산임금</div>
                            </div>
                        </div>
                        <div>야간근로<br>가산임금</div>
                        <div class="theadLegalAllowanceContentDouble">
                            <div class="theadLegalAllowanceContentDoubleTitle">휴일근로</div>
                            <div class="theadLegalAllowanceContentDoubleContent">
                                <div class="theadLegalAllowanceContentDoubleContentFirst">휴일기본임금</div>
                                <div class="theadLegalAllowanceContentDoubleContentFirst">휴일50%가산임금</div>
                                <div class="theadLegalAllowanceContentDoubleContentFirst">휴일100%가산임금</div>
                            </div>
                        </div>
                        
                        <div class="theadLegalAllowanceContentDouble">
                            <div class="theadLegalAllowanceContentDoubleTitle">팀장수당</div>
                            <div class="theadLegalAllowanceContentDoubleContent">
                                <div class="theadLegalAllowanceContentDoubleContentFirst">점호관리</div>
                                <div class="theadLegalAllowanceContentDoubleContentFirst">차량관리</div>
                                <div class="theadLegalAllowanceContentDoubleContentFirst">업무관리</div>
                            </div>
                        </div>
                        <div>성실수당</div>
                        <div>만근수당</div>
                        <div>무사고수당</div>
                        <div>연차수당</div>
                        <div class="theadLegalAllowanceContentLast">소계</div>
                    </div>
                </div>
                <!--법정수당 done-->
                <div class="theadInsurance">
                    <div class="theadInsuranceTitle">복리후생</div>
                    <div class="theadInsuranceContent">
                        <div class="theadInsuranceContentFirst">식대</div>
                        <div>유류비</div>
                    </div>
                </div>
                <div class="theadSum">합계</div>
                <!--복리후생비-->
                <!--보험료산정기준-->
                <div class="theadInsurance">
                    <div class="theadInsuranceTitle">보험료산정기준</div>
                    <div class="theadInsuranceContent">
                        <div class="theadInsuranceContentFirst">건강보험</div>
                        <div>국민연금</div>
                    </div>
                </div>
                <!--보험료산정기준 done-->

                <!--공제내역-->
                <div class="theadDeductionDetails">
                    <div class="theadDeductionDetailsTitle">공제 내역</div>
                    <div class="theadDeductionDetailsContent">
                        <div>갑근세</div>
                        <div>주민세</div>
                        <div>고용보험</div>
                        <div>건강보험</div>
                        <div>장기요양</div>
                        <div>국민연금</div>
                        <div>기타</div>
                        <div class="theadDeductionDetailsContentLast">공제합계</div>
                    </div>
                </div>
                <!--공제내역 done-->
                <div class="theadAdditionalAllowance">추가수당</div>
                <div class="theadSum theadThLast">합계</div>
            </div>
            <!--thead done-->

            <!--tbody-->
            <div class="tbody">

                {% for data in datas %}
                {% with current_data=datas|obj:data %}
                <div class="tbodyItemTr">
                    <!-- 입사일자 -->
                    <div class="addCommaToInnerText tbodyDate">{{current_data.member__entering_date}}</div>
                    <!-- 근무시간 -->
                    <div class="addCommaToInnerText tbodyWorkTime">{{current_data.total_work_hour_minute}}</div>
                    <!-- 기본시급1 -->
                    <div class="addCommaToInnerText tbodyBasic">{{current_data.hourly_wage1}}</div>
                    <!-- 기본시급2 -->
                    <!-- <div class="addCommaToInnerText tbodyBasic">{{current_data.hourly_wage2}}</div> -->
                    <!-- 통상시급 -->
                    <div class="addCommaToInnerText tbodyNormal">{{current_data.ordinary_hourly_wage}}</div>
                    <!--산정시간-->
                    <div class="tbodyCountTime flex">
                        <div class="tbodyCountTimeTd td personalFlex">{{current_data.total_weekly_hour_minute}}</div>
                        <div class="tbodyCountTimeTd td personalFlex">{{current_data.total_within_law_extension_hour_minute}}</div>
                        <div class="tbodyCountTimeTd td personalFlex">{{current_data.total_outside_law_extension_hour_minute}}</div>
                        <div class="tbodyCountTimeTd td personalFlex">{{current_data.total_night_shift_hour_minute}}</div>
                        <div class="tbodyCountTimeTd td personalFlex">{{current_data.holiday_hour_minute}}</div>
                        <div class="tbodyCountTimeTd td personalFlex">{{current_data.additional_holiday_hour_minute}}</div>
                    </div>

                    <div class="tbodyOrdinarySalary" style="display: flex;">
                        <!-- 임금 -->
                        <div class="addCommaToInnerText">{{current_data.wage}}</div>
                        <!-- 근속수당 -->
                        <div class="addCommaToInnerText">{{current_data.service_allowance}}</div>
                        <!-- 계 -->
                        <div class="addCommaToInnerText">{{current_data.ordinary_salary}}</div>
                    </div>
                    <div class="tbodyLegalAllowance" style="display: flex;">
                        <!-- 주휴수당 -->
                        <div class="addCommaToInnerText">{{current_data.weekly_holiday_allowance}}</div>
                        <!-- 법정휴일 -->
                        <div class="addCommaToInnerText">{{current_data.legal_holiday_allowance}}</div>
                        <!-- 법내연장 기본임금 -->
                        <div class="addCommaToInnerText">{{current_data.weekly_within_law_extension_wage}}</div>
                        <!-- 주연장 기본임금 -->
                        <div class="addCommaToInnerText">{{current_data.weekly_outside_law_extension_wage}}</div>
                        <!-- 주연장 가산임금 -->
                        <div class="addCommaToInnerText">{{current_data.weekly_extension_additional_wage}}</div>
                        <!-- 야간근로 -->
                        <div class="addCommaToInnerText">{{current_data.night_shift_wage}}</div>
                        <!-- 휴일 기본임금 -->
                        <div class="addCommaToInnerText">{{current_data.holiday_work_wage}}</div>
                        <!-- 휴일 50%임금 -->
                        <div class="addCommaToInnerText">{{current_data.additional_holiday_work_wage_half}}</div>
                        <!-- 휴일 100%임금 -->
                        <div class="addCommaToInnerText">{{current_data.additional_holiday_work_wage}}</div>
                        <!--팀장점호관리수당-->
                        <div class="addCommaToInnerText">{{current_data.team_leader_allowance_roll_call}}</div>
                        <!--팀장차량관리수당-->
                        <div class="addCommaToInnerText">{{current_data.team_leader_allowance_vehicle_management}}</div>
                        <!--팀장입고관리수당-->
                        <div class="addCommaToInnerText">{{current_data.team_leader_allowance_task_management}}</div>
                        <!--성실수당-->
                        <div class="addCommaToInnerText">{{current_data.diligence_allowance}}</div>
                        <!--만근수당-->
                        <div class="addCommaToInnerText">{{current_data.full_attendance_allowance}}</div>
                        <!-- 무사고수당 -->
                        <div class="addCommaToInnerText">{{current_data.accident_free_allowance}}</div>
                        <!-- 연차수당 -->
                        <div class="addCommaToInnerText">{{current_data.new_annual_allowance}}</div>
                        <!-- 계 -->
                        <div class="addCommaToInnerText">{{current_data.statutory_allowance}}</div>
                    </div>
                    <div class="tbodyInsurance" style="display: flex;">
                        <div class="addCommaToInnerText">{{current_data.meal}}</div>
                        <div class="addCommaToInnerText">{{current_data.welfare_fuel_allowance}}</div>
                    </div>
                    <div class="tbodySum addCommaToInnerText">{{current_data.sum_ordinary_salary_and_statutory_allowance}}</div>
                    <div class="tbodyInsurance" style="display: flex;">
                        <div class="addCommaToInnerText"></div>
                        <div class="addCommaToInnerText"></div>
                    </div>
                    
                    <div class="tbodyDeductionDetails" style="display: flex;">
                        <div class="addCommaToInnerText"></div>
                        <div class="addCommaToInnerText"></div>
                        <div class="addCommaToInnerText"></div>
                        <div class="addCommaToInnerText"></div>
                        <div class="addCommaToInnerText"></div>
                        <div class="addCommaToInnerText"></div>
                        
                        <div class="tableEdit addCommaToInnerText"></div>
                        <div class="addCommaToInnerText">{{current_data.deduction}}</div>

                    </div>
                    <div class="tbodyAdditionalAllowance tableEdit addCommaToInnerText">{{current_data.additional}}</div>
                    <div class="tbodySum tbodySumLast addCommaToInnerText">{{current_data.total}}</div>
                </div>
                {% endwith %}
                {% endfor %}

            </div>
            <!--tbody done-->
        </div>
    </div>
    <!--데이터테이블 done-->
</div>
<!--임금테이블 done-->

<!--합계-->
<div class="sumAreaBox">
    <div class="orderSumAreaBox">합계</div>
    <div class="orderListSub orderListScrollBox subScroll">
        <div class="sumBodyTable">
            <div class="sumItemTr">
                <div class="sumDate"></div>
                <div class="total_work_minute sumWorkTime"></div>
                <div class="hourly_wage sumBasic"></div>
                <!-- <div class="hourly_wage sumBasic"></div> -->
                <div class="ordinary_hourly_wage sumNormal"></div>
                <div class="countTimeSum">
                    <div class="countTimeSumTd"></div>
                    <div class="countTimeSumTd"></div>
                    <div class="countTimeSumTd"></div>
                    <div class="countTimeSumTd"></div>
                    <div class="countTimeSumTd"></div>
                    <div class="countTimeSumTd"></div>
                </div>
                <div class="sumOrdinarySalary" style="display: flex;">
                    <div class="wage">임금</div>
                    <div class="service_allowance">근속수당</div>
                    <div class="ordinary_salary">계</div>
                </div>
                <div class="sumLegalAllowance" style="display: flex;">
                    <div class="weekly_holiday_allowance">주휴수당</div>
                    <div class="legal_holiday_allowance">법정휴일</div>
                    <div class="weekly_within_law_extension_wage">주연장 법내 기본임금</div>
                    <div class="weekly_outside_law_extension_wage">주연장 법외 기본임금</div>
                    <div class="weekly_extension_additional_wage">주 연장 가산임금</div>
                    <div class="night_shift_wage">야간근로 가산임금</div>
                    
                    
                    <div class="holiday_work_wage">휴일기본</div>
                    <div class="additional_holiday_work_wage_half">휴일50%</div>
                    <div class="additional_holiday_work_wage">휴일100%</div>
                    <div class="team_leader_allowance_roll_call">점호관리</div>
                    <div class="team_leader_allowance_vehicle_management">차량관리</div>
                    <div class="team_leader_allowance_task_management">업무관리</div>
                    <div class="diligence_allowance">성실수당</div>
                    <div class="full_attendance_allowance">만근수당</div>
                    <div class="accident_free_allowance">무사고수당</div>
                    <div class="annual_allowance">연차수당</div>
                    <div class="statutory_allowance">소계</div>
                    
                </div>
                <div class="sumInsurance" style="display: flex;">
                    <div class="welfare_meal_allowance">식대</div>
                    <div class="welfare_fuel_allowance">유류비</div>
                </div>
                <div class="sum_ordinary_salary_and_statutory_allowance sumSum">합계</div>
                <div class="sumInsurance" style="display: flex;">
                    <div></div>
                    <div></div>
                </div>
                <div class="sumDeductionDetails" style="display: flex;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="tableEdit"></div>
                    <div class="sumSumLast deduction">공제합계</div>
                </div>
                <div class="sumAdditionalAllowance tableEdit additional">추가수당</div>
                <div class="sumSum sumSumLast total">합계</div>
            </div>
        </div>
    </div>
</div>
<!--합계 done-->



{% endblock %}



{% block popup %}

<div class="popupAreaModules" id="hourlyRateEditPopup">
    <div class="popupBgModules"></div>
    <form method="post" action="{% url 'salary:hourly_wage_save' %}" class="popupContainer hourlyWageForm">
        {% csrf_token %}
        <input type="hidden" name="month" value="{{month}}">
        <div class="popupHeader">
            <div class="popupTitle">시급 수정</div>
        </div>
        <div class="popupBody">
            <div class="popupSection">
                <div class="popupArticle">
                    <label for="" class="popupArticleLabel">
                        <span class="importantStar">*</span>
                        기본시급
                    </label>
                    <input required autocomplete="off" name="wage1" type="text"
                        class="popupPrice inputText inputComma essential length100"
                        value="{{hourly_wage.wage1}}">
                </div>
                <!-- <div class="popupArticle">
                    <label for="" class="popupArticleLabel">
                        <span class="importantStar">*</span>
                        기본시급2 (주 30시간 초과)
                    </label>
                    <input required autocomplete="off" name="wage2" type="text"
                        class="popupPrice inputText essential inputComma length100"
                        value="{{hourly_wage.wage2}}">
                </div> -->
            </div>
            <div class="popupFooter">
                <input class="btnModules hourlyRateEditBtn blue" type="submit" value="확인">
                <div class="btnModules popupCloseBtn">취소</div>
            </div>
        </div>
    </form>
</div>
{% endblock %}





{% block script %}
<script>
    {% autoescape off %}
    console.log("TEST", {{datas}})
    const DATAS = {{datas}}
    {% endautoescape %}
</script>
<script type="module" src="{% static 'js/salary/table.js' %}"></script>
{% endblock %}