{% extends 'base.html' %}
{% load static %}
{% load dispatch_custom_tags %}
{% block head %}
    <meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/main-container.css"> -->
    <link rel="stylesheet" href="{% static 'css/salary/weekly_status.css' %}" type="text/css" />
    {% comment %} <link rel="stylesheet" href="{% static 'css/salary/global.css' %}" type="text/css" /> {% endcomment %}
    <title>DEV</title>
  {% endblock %}
  {% block content-header %}
  <div class="HeaderTitle">
      주간근무현황
  </div>
  {% endblock %}
    {% block content %}
    <div class="trp">

      {% comment %} <!--sidemenu-->
      <div class="Sidemenu">
        <!--sidemenuLogo-->
        <div class="logoBox">
          <a href="/service" style="color: white; font-size: 5rem">
            DEV
            <!--<img src="/static/images/TRPlogo.png?v=0.1236" alt="">-->
          </a>
        </div>
        <!--sideMenuNav-->
        <div class="sideMenuNav">
          <ul class="sideMenuNav1">
            <div class="nav1Box" style="background-color: rgb(28, 26, 78)">
              <li class="nav1BoxMenu">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/calendar.png?v=0.1236"
                  alt="일정 아이콘"
                />
                <a href="/service" class="nonDepth2Menu">일정</a>
              </li>
            </div>
            <div class="nav1Box" style="background-color: rgb(28, 26, 78)">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/notice.png?v=0.1236"
                  alt="공지사항 아이콘"
                />
                <div>공지사항</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  <a href="/notice/driver" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">기사님 공지사항</li>
                  </a>
                  <a href="/notice/office" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">사무실 공지사항</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="nav1Box" style="background-color: rgb(28, 26, 78)">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/dispatchSystem.png?v=0.1236"
                  alt="배차시스템 아이콘"
                />
                <div>배차관리</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  <a href="/dispatch/order" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">일반배차</li>
                  </a>
                  <a href="/dispatch/regularly" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">출/퇴근배차</li>
                  </a>
                  <a href="/dispatch/regularly/route" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">출/퇴근 노선관리</li>
                  </a>
                  <a
                    href="/dispatch/regularly/route/know"
                    class="sideMenuNav2Link"
                  >
                    <li class="sideMenuNav2Menu">출/퇴근 노선숙지</li>
                  </a>
                  <a href="/dispatch/schedule" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">운행/배차확인</li>
                  </a>
                  <a href="/dispatch/refusal" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">배차거부관리</li>
                  </a>
                  <a href="/dispatch/driving" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">운행일보</li>
                  </a>
                  <a href="/dispatch/regularly/connect" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">출/퇴근 배차표</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="nav1Box" style="background-color: rgb(28, 26, 78)">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <svg
                  class="nav1BoxMenuImg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                  <line x1="16" y1="2" x2="16" y2="6"></line>
                  <line x1="8" y1="2" x2="8" y2="6"></line>
                  <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                <div>업무관리</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  <a href="/assignment/temporary" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">일반업무관리</li>
                  </a>
                  <a href="/assignment/" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">고정업무배정</li>
                  </a>
                  <a href="/assignment/data" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">고정업무관리</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="nav1Box" style="background-color: rgb(28, 26, 78)">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/HRManagement.png?v=0.1236"
                  alt="인사관리 아이콘"
                />
                <div>인사관리</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  <a href="/HR/member" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">직원관리</li>
                  </a>
                  <a href="/HR/salary" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">인사위원회</li>
                  </a>
                  <a href="/HR/salary/change" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">팀원관리</li>
                  </a>
                  <a href="/HR/salary/outsourcing" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">인당효율</li>
                  </a>
                  <a href="/HR/team" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">팀관리</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="nav1Box" style="background-color: rgb(28, 26, 78)">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/HRManagement.png?v=0.1236"
                  alt="인사관리 아이콘"
                />
                <div>급여관리</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  
                  <!-- <a href="/salary/salary_name.html" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">사원명부</li>
                  </a> -->
                  <a href="/salary/work_status.html" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">근무현황</li>
                  </a>
                  <a href="/salary/salary_table.html" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">급여관리(현재)</li>
                  </a>
                  <a href="/HR/salary/outsourcing" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">급여관리(변경)</li> <!--전이사, 최고관리자만-->
                  </a>
                  <a href="/HR/team" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">급여관리(용역)</li>
                  </a>
                  <a href="/HR/team" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">급여관리(관리자)</li>
                  </a>
                  
                </ul>
              </div>
            </div>
            <div class="nav1Box">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/accountingSystem.png?v=0.1236"
                  alt="경리시스템 아이콘"
                />
                <div>매출관리</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  <a href="/accounting/sales" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">매출현황</li>
                  </a>
                  <a href="/accounting/deposit" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">입금관리</li>
                  </a>
                  <a href="/accounting/collect" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">일반 수금관리</li>
                  </a>
                  <a
                    href="/accounting/regularly/collect"
                    class="sideMenuNav2Link"
                  >
                    <li class="sideMenuNav2Menu">출/퇴근 수금관리</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="nav1Box">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/vehicleManagement.png?v=0.1236"
                  alt="차량관리 아이콘"
                />
                <div>차량관리</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  <a href="/vehicle/list" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">차량관리</li>
                  </a>
                  <a href="/vehicle/refueling" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">주유관리</li>
                  </a>
                  <a href="/vehicle/dailychecklist" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">일일점검</li>
                  </a>
                  <a href="/vehicle/weeklychecklist" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">주간점검</li>
                  </a>
                  <a href="/vehicle/equipmentchecklist" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">비품점검</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="nav1Box">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/document.png?v=0.1236"
                  alt="공지사항 아이콘"
                />
                <div>서류관리</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  <a href="/document/company" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">회사서류</li>
                  </a>
                  <a href="/document/dispatch" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">운행서류</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="nav1Box">
              <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/document.png?v=0.1236"
                  alt="공지사항 아이콘"
                />
                <div>민원관리</div>
                <svg
                  class="sideMenuArrow"
                  xmlns="http://www.w3.org/2000/svg"
                  width="18.228"
                  height="11.84"
                  viewBox="0 0 18.228 11.84"
                >
                  <path
                    id="패스_256"
                    data-name="패스 256"
                    d="M0,0,6.753,8.223,14,0"
                    transform="translate(2.111 2.117)"
                    fill="none"
                    stroke="#fff"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="3"
                  ></path>
                </svg>
              </li>
              <div class="sideMenuNav2Box">
                <ul class="sideMenuNav2">
                  <a href="/complaint/consulting" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">상담신청관리</li>
                  </a>
                  <a href="/complaint/inspection" class="sideMenuNav2Link">
                    <li class="sideMenuNav2Menu">차량정비신청관리</li>
                  </a>
                </ul>
              </div>
            </div>
            <div class="nav1Box">
              <li class="nav1BoxMenu">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/calendar.png?v=0.1236"
                  alt="일정 아이콘"
                />
                <a href="/member/setting/client" class="nonDepth2Menu"
                  >거래처 관리</a
                >
              </li>
            </div>
            <div class="nav1Box">
              <li class="nav1BoxMenu">
                <img
                  class="nav1BoxMenuImg"
                  src="/kingbus/salary/images/calendar.png?v=0.1236"
                  alt="일정 아이콘"
                />
                <a href="/member/setting" class="nonDepth2Menu">항목 관리</a>
              </li>
            </div>
          </ul>
        </div>
        <!-- Manual -->
        <div class="manualArea">
          <a href="../templates/test.pdf" download="trpManual.pdf">
            <div>메뉴얼</div>
          </a>
          <a href="http://kingbuserp.link/">
            <div>FAQ</div>
          </a>
        </div>
      </div>
      <!--sidemenu done--> {% endcomment %}


      <!--maincontainer-->
      <div class="MainContainer weeklyStatus">

        {% comment %} <!--header-->
        <div class="Header">
          <div class="HeaderTitle">
            <!-- 페이지별 Title 변경 -->
            주간 근무현황
          </div>
          <!--trp HeaderProfile-->
          <div class="profile">
            <span class="userName">관리자</span>
            <div>
              <span>님</span>
              <img
                src="/kingbus/salary/images/profileArrow.png?v=0.1236"
                alt="아래 화살표 아이콘"
              />
            </div>
          </div>

          <div class="profileBox" style="display: none">
            <div class="profilesMenuCell">
              <img
                src="/kingbus/salary/images/createUserIcon.png?v=0.1236"
                alt="설정 아이콘"
              />
              <span class="profileMenuName">아이디 변경</span>
            </div>
            <div class="profileMenuCell">
              <img
                src="/kingbus/salary/images/passwordIcon.png?v=0.1236"
                alt="비밀번호 변경"
              />
              <span class="profileMenuName">비밀번호 변경</span>
            </div>
            <div class="profileMenuCell">
              <a href="/member/logout">
                <img
                  src="/kingbus/salary/images/logoutIcon.png?v=0.1236"
                  alt="로그아웃"
                />
                <span class="profileMenuName">로그아웃</span>
              </a>
            </div>
          </div>
          <!--trp HeaderTitle-->
        </div>
        <!--header done--> {% endcomment %}


        <div class="MainContentsContainer">

          <!-- 검색창 -->
          <div class="searchContainer">
            <!-- 검색폼 -->
            <form action="" class="searchForm">
                <label for="" class="searchFormLabel">날짜 :</label>
                <input type="week" name="month" class="searchFormInput searchFormInputWeek">
                <input type="submit" class="searchFormSearchBtn" value="검색">
            </form>
            <!-- 검색폼 done-->
          </div>
          <!-- 검색창 끝-->

          <div class="tableScrollBox">
            <div class="tableContainer table">

              <div class="thead flex">
                <div class="theadTh th">번호</div>
                <div class="theadTh th">이름</div>
                <div class="theadTh th">구분</div>
                <div class="theadTh tableCalender">
                  <div class="tableDate th flex">
                    <div class="date th">1</div>
                    <div class="date th">2</div>
                    <div class="date th">3</div>
                    <div class="date th">4</div>
                    <div class="date th">5</div>
                    <div class="date th">6</div>
                    <div class="date th">7</div>
                  </div>
                  <div class="tableWeek th flex">
                    <div class="week th">월</div>
                    <div class="week th">화</div>
                    <div class="week th">수</div>
                    <div class="week th">목</div>
                    <div class="week th">금</div>
                    <div class="week th">토</div>
                    <div class="week th">일</div>
                  </div>
                </div>
                <div class="theadTh th">합계</div>
                <div class="theadTh th"></div>

              </div>

              <div class="tbody">

                <div class="tbodyDiv">

                  <div class="tbodyDivTd  tbodyInformationElement personalFlex">
                    <input type="checkbox" name="" id="">
                  </div>
                  <div class="tbodyDivTd  tbodyInformationElement personalFlex">1</div>
                  <div class="tbodyDivTd  tbodyInformationElement flex">
                    <div class="tr flex"><div class="td">김원탁</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td">운전원</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td">F팀</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td"></div></div>
                  </div>
                  <div class="tbodyDivTd  tbodyInformationElement flex">
                    <div class="tr"><div class="td personalFlex">출근시간</div></div>
                    <div class="tr"><div class="td personalFlex">퇴근시간</div></div>
                    <div class="tr"><div class="td personalFlex">총근로시간</div></div>
                    <div class="tr"><div class="td personalFlex">휴게시간</div></div>
                    <div class="tr"><div class="td personalFlex">휴일근로</div></div>
                    <div class="tr"><div class="td personalFlex">야간근로</div></div>
                    <div class="tr"><div class="td personalFlex">&nbsp;주휴일<br>근로시간</div></div>
                  </div>

                  <div class="tbodyDivTd tableCalender tbodyTableCalender">

                    <!--출근시간-->
                    <div class="tr flex">
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td"></div>
                      <div class="td">05:30</div>
                    </div>

                    <!--퇴근시간-->
                    <div class="tr flex">
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td"></div>
                      <div class="td">19:30</div>
                    </div>

                    <!--총근로시간-->
                    <div class="tr flex">
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td">07:30</div>
                    </div>

                    <!--휴게시간-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--휴일근로-->
                    <div class="tr flex">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                    </div>
                    
                    <!--야간근로-->
                    <div class="tr flex">
                      <div class="td">00:20</div>
                      <div class="td">00:20</div>
                      <div class="td">00:20</div>
                      <div class="td">00:20</div>
                      <div class="td">00:20</div>
                      <div class="td"></div>
                      <div class="td">00:20</div>
                    </div>
                    
                    <!--주휴일 근로시간-->
                    <div class="tr flex lastTr">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                  </div>

                  <div class="tbodyDivTd personalFlex">
                    <div class="tr flex"><div class="td">0:00</div></div>
                    <div class="tr flex"><div class="td">0:00</div></div>
                    <div class="tr flex"><div class="td">45:30</div></div>
                    <div class="tr flex"><div class="td">35:20</div></div>
                    <div class="tr flex"><div class="td">08:00</div></div>
                    <div class="tr flex"><div class="td">06:00</div></div>
                    <div class="tr flex"><div class="td">07:30</div></div>
                  </div>
                    
                  <div class="tbodyDivTd flex">
                    <div class="tr flex">
                      <div class="td">총지급액</div>
                      <div class="td"></div>
                      <div class="td">연장기본</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">기본급</div>
                      <div class="td"></div>
                      <div class="td">연장가산</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일기본</div>
                      <div class="td"></div>
                      <div class="td">법내연장기본</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일 50% 가산</div>
                      <div class="td"></div>
                      <div class="td">야간가산</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일 100% 가산</div>
                      <div class="td"></div>
                      <div class="td">주휴수당</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                    </div>
                  </div>
                                      
                    
                </div>
                
                <div class="tbodyDiv">

                  <div class="tbodyDivTd  tbodyInformationElement personalFlex">
                    <input type="checkbox" name="" id="">
                  </div>
                  <div class="tbodyDivTd  tbodyInformationElement personalFlex">1</div>
                  <div class="tbodyDivTd  tbodyInformationElement flex">
                    <div class="tr flex"><div class="td">김원탁</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td">운전원</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td">F팀</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td"></div></div>
                  </div>
                  <div class="tbodyDivTd  tbodyInformationElement flex">
                    <div class="tr"><div class="td personalFlex">출근시간</div></div>
                    <div class="tr"><div class="td personalFlex">퇴근시간</div></div>
                    <div class="tr"><div class="td personalFlex">총근로시간</div></div>
                    <div class="tr"><div class="td personalFlex">대기시간</div></div>
                    <div class="tr"><div class="td personalFlex">휴일근로</div></div>
                    <div class="tr"><div class="td personalFlex">야간근로</div></div>
                    <div class="tr"><div class="td personalFlex">&nbsp;주휴일<br>근로시간</div></div>
                  </div>

                  <div class="tbodyDivTd tableCalender tbodyTableCalender">

                    <!--출근시간-->
                    <div class="tr flex">
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td"></div>
                      <div class="td">05:30</div>
                    </div>

                    <!--퇴근시간-->
                    <div class="tr flex">
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td"></div>
                      <div class="td">19:30</div>
                    </div>

                    <!--총근로시간-->
                    <div class="tr flex">
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td">07:30</div>
                    </div>

                    <!--휴게시간-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--휴일근로-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--야간근로-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--주휴일 근로시간-->
                    <div class="tr flex lastTr">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                  </div>

                  <div class="tbodyDivTd personalFlex">
                    <div class="tr flex"><div class="td">0:00</div></div>
                    <div class="tr flex"><div class="td">0:00</div></div>
                    <div class="tr flex"><div class="td">45:30</div></div>
                    <div class="tr flex"><div class="td">35:20</div></div>
                    <div class="tr flex"><div class="td">08:00</div></div>
                    <div class="tr flex"><div class="td">06:00</div></div>
                    <div class="tr flex"><div class="td">07:30</div></div>
                  </div>
                    
                  <div class="tbodyDivTd flex">
                    <div class="tr flex">
                      <div class="td">총지급액</div>
                      <div class="td"></div>
                      <div class="td">연장기본</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">기본급</div>
                      <div class="td"></div>
                      <div class="td">연장가산</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일기본</div>
                      <div class="td"></div>
                      <div class="td">법내연장기본</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일 50% 가산</div>
                      <div class="td"></div>
                      <div class="td">야간가산</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일 100% 가산</div>
                      <div class="td"></div>
                      <div class="td">주휴수당</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                    </div>
                  </div>
                                      
                    
                </div>

                <div class="tbodyDiv">

                  <div class="tbodyDivTd  tbodyInformationElement personalFlex">
                    <input type="checkbox" name="" id="">
                  </div>
                  <div class="tbodyDivTd  tbodyInformationElement personalFlex">1</div>
                  <div class="tbodyDivTd  tbodyInformationElement flex">
                    <div class="tr flex"><div class="td">김원탁</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td">운전원</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td">F팀</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td"></div></div>
                  </div>
                  <div class="tbodyDivTd  tbodyInformationElement flex">
                    <div class="tr"><div class="td personalFlex">출근시간</div></div>
                    <div class="tr"><div class="td personalFlex">퇴근시간</div></div>
                    <div class="tr"><div class="td personalFlex">총근로시간</div></div>
                    <div class="tr"><div class="td personalFlex">대기시간</div></div>
                    <div class="tr"><div class="td personalFlex">휴일근로</div></div>
                    <div class="tr"><div class="td personalFlex">야간근로</div></div>
                    <div class="tr"><div class="td personalFlex">&nbsp;주휴일<br>근로시간</div></div>
                  </div>

                  <div class="tbodyDivTd tableCalender tbodyTableCalender">

                    <!--출근시간-->
                    <div class="tr flex">
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td"></div>
                      <div class="td">05:30</div>
                    </div>

                    <!--퇴근시간-->
                    <div class="tr flex">
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td"></div>
                      <div class="td">19:30</div>
                    </div>

                    <!--총근로시간-->
                    <div class="tr flex">
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td">07:30</div>
                    </div>

                    <!--휴게시간-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--휴일근로-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--야간근로-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--주휴일 근로시간-->
                    <div class="tr flex lastTr">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                  </div>

                  <div class="tbodyDivTd personalFlex">
                    <div class="tr flex"><div class="td">0:00</div></div>
                    <div class="tr flex"><div class="td">0:00</div></div>
                    <div class="tr flex"><div class="td">45:30</div></div>
                    <div class="tr flex"><div class="td">35:20</div></div>
                    <div class="tr flex"><div class="td">08:00</div></div>
                    <div class="tr flex"><div class="td">06:00</div></div>
                    <div class="tr flex"><div class="td">07:30</div></div>
                  </div>
                    
                  <div class="tbodyDivTd flex">
                    <div class="tr flex">
                      <div class="td">총지급액</div>
                      <div class="td"></div>
                      <div class="td">연장기본</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">기본급</div>
                      <div class="td"></div>
                      <div class="td">연장가산</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일기본</div>
                      <div class="td"></div>
                      <div class="td">법내연장기본</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일 50% 가산</div>
                      <div class="td"></div>
                      <div class="td">야간가산</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일 100% 가산</div>
                      <div class="td"></div>
                      <div class="td">주휴수당</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                    </div>
                  </div>
                                      
                    
                </div>

                <div class="tbodyDiv">

                  <div class="tbodyDivTd  tbodyInformationElement personalFlex">
                    <input type="checkbox" name="" id="">
                  </div>
                  <div class="tbodyDivTd  tbodyInformationElement personalFlex">1</div>
                  <div class="tbodyDivTd  tbodyInformationElement flex">
                    <div class="tr flex"><div class="td">김원탁</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td">운전원</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td">F팀</div></div>
                    <div class="tr flex"><div class="td"></div></div>
                    <div class="tr flex"><div class="td"></div></div>
                  </div>
                  <div class="tbodyDivTd  tbodyInformationElement flex">
                    <div class="tr"><div class="td personalFlex">출근시간</div></div>
                    <div class="tr"><div class="td personalFlex">퇴근시간</div></div>
                    <div class="tr"><div class="td personalFlex">총근로시간</div></div>
                    <div class="tr"><div class="td personalFlex">대기시간</div></div>
                    <div class="tr"><div class="td personalFlex">휴일근로</div></div>
                    <div class="tr"><div class="td personalFlex">야간근로</div></div>
                    <div class="tr"><div class="td personalFlex">&nbsp;주휴일<br>근로시간</div></div>
                  </div>

                  <div class="tbodyDivTd tableCalender tbodyTableCalender">

                    <!--출근시간-->
                    <div class="tr flex">
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td">05:30</div>
                      <div class="td"></div>
                      <div class="td">05:30</div>
                    </div>

                    <!--퇴근시간-->
                    <div class="tr flex">
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td">19:30</div>
                      <div class="td"></div>
                      <div class="td">19:30</div>
                    </div>

                    <!--총근로시간-->
                    <div class="tr flex">
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td">07:30</div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td">07:30</div>
                    </div>

                    <!--휴게시간-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--휴일근로-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--야간근로-->
                    <div class="tr flex">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                    
                    <!--주휴일 근로시간-->
                    <div class="tr flex lastTr">
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td">06:30</div>
                      <div class="td"></div>
                      <div class="td">06:30</div>
                    </div>
                  </div>

                  <div class="tbodyDivTd personalFlex">
                    <div class="tr flex"><div class="td">0:00</div></div>
                    <div class="tr flex"><div class="td">0:00</div></div>
                    <div class="tr flex"><div class="td">45:30</div></div>
                    <div class="tr flex"><div class="td">35:20</div></div>
                    <div class="tr flex"><div class="td">08:00</div></div>
                    <div class="tr flex"><div class="td">06:00</div></div>
                    <div class="tr flex"><div class="td">07:30</div></div>
                  </div>
                    
                  <div class="tbodyDivTd flex">
                    <div class="tr flex">
                      <div class="td">총지급액</div>
                      <div class="td"></div>
                      <div class="td">연장기본</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">기본급</div>
                      <div class="td"></div>
                      <div class="td">연장가산</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일기본</div>
                      <div class="td"></div>
                      <div class="td">법내연장기본</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일 50% 가산</div>
                      <div class="td"></div>
                      <div class="td">야간가산</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td">휴일 100% 가산</div>
                      <div class="td"></div>
                      <div class="td">주휴수당</div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                      <div class="td"></div>
                    </div>
                    <div class="tr flex">
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                        <div class="td"></div>
                    </div>
                  </div>
                                      
                    
                </div>


                


              </div>

          </div>

          </div>
          </div>
      </div>
    
    </div>
    {% endblock %}
    <!--maincontainer done-->



    </div>
    <script src="/kingbus/salary/js/global.js"></script>
    <script src="/kingbus/salary/js/sidebar.js"></script>
</html>
