{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <!-- <meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate"> -->
  <title>TRP</title>
  <link href="{% static 'css/setting/setting.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="{% static 'images/tilteIcon.png' %}">
  {% block head %}
  {% endblock %}
</head>

<body>

  <div class="trp">


    <!--sidemenu-->
    <div class="Sidemenu">



      <!--sidemenuLogo-->
      <div class="logoBox">
        <a href="{% url 'home' %}">
          <img src="{% static 'images/TRPlogo.png' %}" alt="">
        </a>
      </div>





      <!--sideMenuNav-->
      <div class="sideMenuNav">
        <ul class="sideMenuNav1">
          <div class="nav1Box">
            <li class="nav1BoxMenu">
              <img src="{% static 'images/calendar.png' %}" alt="일정 아이콘">
              <a href="{% url 'home' %}" class="nonDepth2Menu">일정</a>
            </li>
          </div>
          <div class="nav1Box">
            <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
              <img src="{% static 'images/notice.png' %}" alt="공지사항 아이콘">
              <div>공지사항</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18.228" height="11.84" viewBox="0 0 18.228 11.84">
                <path id="패스_256" data-name="패스 256" d="M0,0,6.753,8.223,14,0" transform="translate(2.111 2.117)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              </svg>        
            </li>
            <div class="sideMenuNav2Box">
              <ul class="sideMenuNav2">
                <a href="{% url 'notice:kinds' 'driver' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">기사님 공지사항</li>
                </a>
                <a href="{% url 'notice:kinds' 'office' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">사무실 공지사항</li>
                </a>
              </ul>
            </div>
          </div>
          <div class="nav1Box">
            <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
              <img src="{% static 'images/dispatchSystem.png' %}" alt="배차시스템 아이콘">
              <div>배차시스템</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18.228" height="11.84" viewBox="0 0 18.228 11.84">
                <path id="패스_256" data-name="패스 256" d="M0,0,6.753,8.223,14,0" transform="translate(2.111 2.117)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              </svg>            
            </li>
            <div class="sideMenuNav2Box">
              <ul class="sideMenuNav2">
                <a href="{% url 'dispatch:regularly' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">출/퇴근배차</li>
                </a>
                <a href="{% url 'dispatch:regularly_route' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">출/퇴근 노선관리</li>
                </a>
                <a href="{% url 'dispatch:order' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">일반배차</li>
                </a>
              </ul>
            </div>
          </div>
          <div class="nav1Box">
            <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
              <img src="{% static 'images/HRManagement.png' %}" alt="인사관리 아이콘">
              <div>인사관리</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18.228" height="11.84" viewBox="0 0 18.228 11.84">
                <path id="패스_256" data-name="패스 256" d="M0,0,6.753,8.223,14,0" transform="translate(2.111 2.117)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              </svg>        
            </li>
            <div class="sideMenuNav2Box">
              <ul class="sideMenuNav2">
                <a href="{% url 'HR:member' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">직원관리</li>
                </a>
              </ul>
            </div>
          </div>
          <div class="nav1Box">
            <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
              <img src="{% static 'images/accountingSystem.png' %}" alt="경리시스템 아이콘">
              <div>매출관리</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18.228" height="11.84" viewBox="0 0 18.228 11.84">
                <path id="패스_256" data-name="패스 256" d="M0,0,6.753,8.223,14,0" transform="translate(2.111 2.117)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              </svg>        
            </li>
            <div class="sideMenuNav2Box">
              <ul class="sideMenuNav2">
                <!-- <a href="{% url 'accounting:salary' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">급여관리</li>
                </a> -->
                <a href="{% url 'accounting:income' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">매출현황</li>
                </a>
                <a href="{% url 'accounting:deposit' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">입금관리</li>
                </a>
                <a href="{% url 'accounting:collect' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">일반 수금관리</li>
                </a>
                <a href="{% url 'accounting:regularly_collect' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">출/퇴근 수금관리</li>
                </a>
              </ul>
            </div>
          </div>
          <div class="nav1Box">
            <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
              <img src="{% static 'images/vehicleManagement.png' %}" alt="차량관리 아이콘">
              <div>차량관리</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18.228" height="11.84" viewBox="0 0 18.228 11.84">
                <path id="패스_256" data-name="패스 256" d="M0,0,6.753,8.223,14,0" transform="translate(2.111 2.117)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              </svg>        
            </li>
            <div class="sideMenuNav2Box">
              <ul class="sideMenuNav2">
                <a href="{% url 'vehicle:list' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">차량목록</li>
                </a>
                <a href="{% url 'vehicle:maintenance' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">정비관리</li>
                </a>
                <a href="{% url 'vehicle:accident' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">사고관리</li>
                </a>
              </ul>
            </div>
          </div>
          <div class="nav1Box">
            <li class="nav1BoxMenu nav1BoxMenuHaveDepth2">
              <img src="{% static 'images/document.png' %}" alt="공지사항 아이콘">
              <div>서류관리</div>
              <svg xmlns="http://www.w3.org/2000/svg" width="18.228" height="11.84" viewBox="0 0 18.228 11.84">
                <path id="패스_256" data-name="패스 256" d="M0,0,6.753,8.223,14,0" transform="translate(2.111 2.117)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
              </svg>        
            </li>
            <div class="sideMenuNav2Box">
              <ul class="sideMenuNav2">
                <a href="{% url 'document:company' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">회사서류</li>
                </a>
                <a href="{% url 'document:dispatch' %}" class="sideMenuNav2Link">
                  <li class="sideMenuNav2Menu">운행서류</li>
                </a>
              </ul>
            </div>
          </div>
        </ul>
      </div>



      <!-- Manual -->
      <div class="manualArea">
        <a href="../templates/test.pdf" download="trpManual.pdf">
          <div>메뉴얼</div>
        </a>
        <a href="http://kingbuserp.link/">
        <div>FAQ</div>
        </a>
      </div>

    </div>


    <!--trp main container-->
    <div class="MainContainer">


      <!--trp header-->
      <div class="Header">

        <!--trp HeaderTitle-->
        {% block content-header %}{% endblock %}

        <!--trp HeaderProfile-->
        <div class="profile">
          <span class="userName">{{ request.session.name }}</span>
          <div>
            <span>님</span>
            <img src="{% static 'images/profileArrow.png' %}" alt="아래 화살표 아이콘">
          </div>
        </div>

        <div class="profileBox">
          <div class="profileMenuCell">
            <img src="{% static 'images/createUserIcon.png' %}" alt="설정 아이콘">
            <span class="profileMenuName">아이디 변경</span>
          </div>
          <div class="profileMenuCell">
            <img src="{% static 'images/passwordIcon.png' %}" alt="비밀번호 변경">
            <span class="profileMenuName">비밀번호 변경</span>
          </div>
          <div class="profileMenuCell">
            <a href="{% url 'crudmember:logout' %}">
              <img src="{% static 'images/logoutIcon.png' %}" alt="로그아웃">
              <span class="profileMenuName">로그아웃</span>
            </a>
          </div>
        </div>




      </div>


      <!--trp contents container-->
      <div class="mainContentsCentainer">
        {% block content %}
        {% endblock %}
      </div>

      {% block popup %}
      {% endblock %}

      <div class="HomePopupAreaModules">
        <div class="HomePopupBgModules"></div>
          <div class="popupContainer HomePopupContainer">
            {% csrf_token %}
            <div class="popupHeader">
                <div class="popupTitle">아이디 변경</div>
            </div>
            <div class="popupBody">
                <div class="popupSection">
                    <div class="popupArticle">
                        <label for="" class="popupArticleLabel">비밀번호</label>
                        <input autocomplete="off" name="password" type="password" class="popupArticleinput PopupDataInputPwCheckerId">
                    </div>
                    <div class="popupArticle">
                        <label for="" class="popupArticleLabel">새 아이디</label>
                        <div class="idBox">
                          <input autocomplete="off" type="text" check_result="fail" name="user_id" id="id" class="popupArticleinput username_input" placeholder="새 아이디를 입력해 주세요.">
                          <div class="idchecker" onClick="id_overlap_check()">중복확인</div>
                        </div>
                    </div>
                </div>
                <div class="popupFooter">
                    <input autocomplete="off" type="submit" class="btnModules HomeEditBtn" value="저장">
                    <div class="btnModules HomeCloseBtn">닫기</div>
                </div>
              </div>
            </div>
          </div>
      </div>



      <div class="HomePopupAreaModules">
        <div class="HomePopupBgModules"></div>
        <div class="HomePopupContainer HomePopupContainerPw">
            {% csrf_token %}
            <div class="popupHeader">
                <div class="popupTitle">비밀번호 변경</div>
            </div>
            <div class="popupBody">
                <div class="popupSection">
                    <div class="popupArticle">
                        <label for="" class="popupArticleLabel">비밀번호</label>
                        <input autocomplete="off"name="cur_password" type="password" class="popupArticleinput PopupDataInputPwCheckerPw">
                    </div>
                    <div class="popupArticle">
                        <label for="" class="popupArticleLabel">새 비밀번호</label>
                        <input autocomplete="off"name="password1" type="password" class="popupArticleinput PopupDataInputNewPw">
                    </div>
                    <div class="popupArticle">
                        <label for="" class="popupArticleLabel">비밀번호 확인</label>
                        <input autocomplete="off"name="password2" type="password" class="popupArticleinput PopupDataInputOverlap">
                    </div>
                </div>
                <div class="popupFooter">
                    <input autocomplete="off"type="submit" class="btnModules HomeEditBtn" value="저장">
                    <div class="btnModules HomeCloseBtn">닫기</div>
                </div>
            </div>
        </div>
      </div>

      <!-- 검색모듈 -->
      <!-- 
        <div class="search-Container">
          <form method="post" action="" class="search-Form">
            <label for="" class="search-Form_label">검색라벨</label>
            <input autocomplete="off" type="text" class="search-Form_input">
            <input type="submit" class="search-Form_search-btn" value="검색">
          </form>
          <div class="popup-area-box">
            <div class="popup-area-box_btn">팝업이름</div>
          </div>
        </div>
       -->



      <!-- 일반 테이블리스트 -->
      <!-- 
        <table class="table-list">
          <thead>
            <tr class="table-list_head-tr">
              <td class="table-list_head-tr_td"></td>
            </tr>
          </thead>
          <tbody>
            <tr class="table-list_body-tr">
              <td class="table-list_body-tr_td"></td>
            </tr>
            <tr class="table-list_body-tr">
              <td class="table-list_body-tr_td"></td>
            </tr>
            <tr class="table-list_body-tr">
              <td class="table-list_body-tr_td"></td>
            </tr>
            <tr class="table-list_body-tr">
              <td class="table-list_body-tr_td"></td>
            </tr>
          </tbody>
        </table>
       -->

       


      <!-- 스크롤 테이블리스트 -->
      <!-- 
        <div class="scrolling_table-list_header">
          <table class="table-list">
            <thead>
              <tr class="table-list_head-tr">
                <td class="table-list_head-tr_td"></td>
              </tr>
            </thead>
          </table>
        </div>
        <div class="scrolling_table-list_body">
          <table class="table-list">
            <tbody>
              <tr class="table-list_body-tr">
                <td class="table-list_body-tr_td"></td>
              </tr>
              <tr class="table-list_body-tr">
                <td class="table-list_body-tr_td"></td>
              </tr>
              <tr class="table-list_body-tr">
                <td class="table-list_body-tr_td"></td>
              </tr>
              <tr class="table-list_body-tr">
                <td class="table-list_body-tr_td"></td>
              </tr>
            </tbody>
          </table>
        </div>
       -->

       


      <!-- 버튼 모듈 -->
      <!-- 
        <div class="btnModules"></div>
       -->
      

      
<!--  -->
<!-- <div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form method="post" action="" class="popupContainer popupContainerDouble">
      {% csrf_token %}
      <div class="popupHeader">
          <div class="popupTitle">팝업이름</div>
      </div>
      <div class="popupBody">
          <div class="popupSection">
              <div class="popupArticleBox">
                  <div class="popupArticleDouble">
                      <label for="" class="popupArticleLabel">항목이름</label>
                      <input autocomplete="off"type="text" class="popupArticleinput">
                  </div>
                  <div class="popupArticleDouble">
                      <label for="" class="popupArticleLabel">항목이름</label>
                      <input autocomplete="off"type="text" class="popupArticleinput">
                  </div>
              </div>
          </div>
          <div class="popupFooter">
              <input autocomplete="off"type="submit" class="btnModules" value="등록">
              <div class="btnModules">닫기</div>
          </div>
      </div>
  </form>
</div>

<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form method="post" action="" class="popupContainer">
      {% csrf_token %}
      <div class="popupHeader">
          <div class="popupTitle">팝업이름</div>
      </div>
      <div class="popupBody">
          <div class="popupSection">
              <div class="popupArticle">
                  <label for="" class="popupArticleLabel">항목이름</label>
                  <input autocomplete="off"type="text" class="popupArticleinput">
              </div>
          </div>
          <div class="popupFooter">
              <input autocomplete="off"type="submit" class="btnModules" value="등록">
              <div class="btnModules">닫기</div>
          </div>
      </div>
  </form>
</div> -->

<!--  -->

    </div>

  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{% static 'js/sideNavMenu.js' %}"></script>
  <script src="{% static 'js/profile.js' %}"></script>
  <script src="{% static 'js/accountPopup.js' %}"></script>
  {% block script %}{% endblock %}
</body>

</html>