body {
  font-family: Arial, sans-serif;

  background-color: #f4f4f4;
}

.popup {
  background-color: white;
  padding: 2rem;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paystub-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.paystub-table,
.paystub-table th,
.paystub-table td {
  border: 0.1rem solid #000;
}

.paystub-table th,
.paystub-table td {
  padding: 0.8rem;
  text-align: left;
}

/* MARK: contents 전체 Div Box */
.all-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.efficiency-div {
  box-sizing: border-box;
}

/* MARK: 검색 관련 CSS: search- */
.search-container {
  width: 100%;
  height: 72.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MARK: 노선명 검색: dispatch-path  */
.search-dispatch-path-box {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search-dispatch-path {
  width: 26.4rem;
  height: 2.5rem;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  background-color: rgb(197, 197, 197, 0.25);
  border: none;
}

.search-dispatch-path-date {
  width: 26.4rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.dispatch-path-today-button {
  border: none;
  border-radius: 0.5rem;
  width: 5rem;
  height: 3rem;
  background-color: #444444;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;

  margin-left: 1rem;
}

.dispatch-path-today-button:active {
  color: gray;
}

.day-before-button {
  border: none;
  background: url("/static/images/dayBeforeButton.png") no-repeat;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1.5rem;
}

.day-after-button {
  border: none;
  background: url("/static/images/dayAfterButton.png") no-repeat;
  width: 3.5rem;
  height: 3.5rem;

  margin-left: 1rem;
}

.dispatch-path-search-button {
  border: none;
  border-radius: 0.8rem;

  width: 5rem;
  height: 3rem;
  background-color: #444444;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;

  margin-left: 1.5rem;
}

.dispatch-path-search-button:active {
  color: gray;
}

/* MARK: 필터: filter  */
.search-filter-box {
  width: 100%;
  height: 4rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.search-filter-button {
  border: none;
  border-radius: 0.8rem;

  width: 5rem;
  height: 3rem;
  background-color: #444444;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.search-filter-button:active {
  color: gray;
}

#estimate-button {
  width: 12.5rem;
  height: 3rem;
  background-color: #0069d9;
  border-radius: 1.7rem;

  margin-left: 3rem;
}

#complete-button {
  width: 5rem;
  height: 3rem;
  background-color: #4000a8;
  border-radius: 1.7rem;

  margin-left: 1rem;
}

#close-button {
  width: 5rem;
  height: 3rem;
  background-color: white;
  color: #000000;
  border: 0.1rem solid #000000;
  border-radius: 17px;

  margin-left: 1rem;
}

#delete-button {
  margin-left: 1.8rem;
}

#register-button {
  background-color: #1c1a4e;
  margin-left: 0.5rem;
}

/* MARK: 표: table */
.search-table-box {
  width: 100%;
  height: 65rem;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-list_head-tr {
  border-radius: 17px;
}

.accident-detail-button {
  border: none;
  background-color: white;
  color: #0069d9;
}

/* MARK: Paging */
.paging {
  text-align: center;
}
.paging a {
  display: inline-block;
}
.paging .first,
.paging .last {
  color: #7d7d7d;
  font-size: 1.8rem;
}
.paging .first {
  margin-right: 27px;
}
.paging .first:hover img {
  transform: translateX(-2px);
  transition: all 0.1s;
}
.paging .last {
  margin-left: 27px;
}
.paging .last img {
  transform: rotateY(180deg);
}
.paging .last:hover img {
  transform: translateX(2px) rotateY(180deg);
  transition: all 0.1s;
}
.paging .prev,
.paging .next {
  color: #7d7d7d;
  font-size: 1.8rem;
}
.paging .prev:hover,
.paging .next:hover {
  color: #7d7d7d;
  transition: all 0.2s;
}
.paging span {
  display: inline-block;
}
.paging span p {
  font-size: 1.8rem;
  font-weight: bold;
  color: #7d7d7d;
  margin: 0 22px;
}

/* MARK: Pop Up */
.pop-up-bg-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pop-up-container {
  width: 90%;
  height: 90%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop-up-container .title-container {
  width: 95%;
  height: 6%;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #838383;
  margin-bottom: 1rem;
}

.title-div #title-first-child {
  font-weight: 400;
  font-size: 1.8rem;
}

.title-div #title-second-child {
  font-weight: 500;
  font-size: 2.5rem;
  margin-left: 0.5rem;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pop-up-container .content-container {
  width: 95%;
  height: 85%;
  /* background-color: antiquewhite; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-span {
  font-size: 2rem;
  font-weight: 500;
}

.content-first-container {
  width: 100%;
  height: 80%;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* MARK: 상세정보 */
.accident-detail-info-div {
  width: 32%;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accident-detail-info-content-div {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 17px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.accident-detail-header {
  width: 95%;
  height: 15%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.accident-detail-header span {
  font-weight: 500;
  font-size: 1.5rem;
  color: #000000;
}

.accident-detail-body {
  width: 98%;
  height: 84%;
  background-color: white;
  border-radius: 17px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accident-detail-content {
  width: 95%;
  height: 16.6%;
  border-bottom: 1px solid #f1f1f1;

  font-size: 1.5rem;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.first > .content-div {
  width: 50%;
}

.second {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.third {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fourth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fourth > .content-div {
  width: 50%;
}

.fifth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fifth > .content-div {
  width: 50%;
  /* padding-right: 8rem; */
}

.sixth {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* MARK: 사고 사진 */
.accident-photo-div {
  width: 30%;
  height: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accident-photo-content-div {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 17px;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.accident-photo-content-header {
  width: 90%;
  height: 15%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.coverage-div {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.coverage-div input {
  width: 2rem;
  height: 2rem;
}

.coverage-div label {
  font-size: 2rem;
  font-weight: 500;
  color: #686868;
}

.liability-div {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.liability-div input {
  width: 2rem;
  height: 2rem;
}

.liability-div label {
  font-size: 2rem;
  font-weight: 500;
  color: #686868;
}

.accident-photo-content-body {
  width: 98%;
  height: 84%;
  background-color: white;
  border-radius: 17px;
}

.accident-photo-form {
  width: 98%;
  height: 84%;
  background-color: white;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accident-photo-content {
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: row;
}

.accident-photo-title-div {
  width: 30%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accident-photo-title-div span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #a4a4a4;
}

.accident-photo-file-div {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.photo-preview-div {
  width: 6rem;
  height: 6rem;
  background-color: #ededed;
  border-radius: 11px;

  margin-left: 1rem;
}

/* MARK: 사고 파일 */
.accident-file-div {
  width: 32%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accident-file-content-div {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 17px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accident-file-body {
  width: 98%;
  height: 98%;
  background-color: white;
  border-radius: 17px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accident-file-content {
  width: 98%;
  height: 12%;
  border-bottom: 1px solid #f1f1f1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.no-border {
  border-bottom: 0px;
}

.accident-file-content span {
  width: 20%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #a4a4a4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-div {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.accident-file-content .upload-name {
  display: inline-block;
  height: 2.5rem;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 70%;
  color: #999999;
}

.accident-file-content label {
  display: inline-block;
  color: #fff;
  text-align: center;
  background-color: #a4a4a4;
  cursor: pointer;
  width: 6rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.accident-file-content input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

/* MARK: 과실 - 상세 */
.content-second-container {
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: column;
}

.report-div {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accident-report-div {
  width: 49%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.negligence-percentage-table {
  width: 40%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  border-collapse: collapse;
  text-align: center;
}

.negligence-percentage-table tr th {
  font-size: 1.5rem;
  font-weight: 500;
  color: #a4a4a4;
  border: 1.5px solid #f1f1f1;
}

.negligence-percentage-table td {
  font-size: 1.5rem;
}

.accident-details-div {
  width: 50%;
  height: 80%;

  display: flex;
  flex-direction: row;
}

.accident-details-title-div {
  width: 23%;
  height: 100%;
}

.accident-details-title-div span {
  font-size: 2rem;
  font-weight: 600;
  color: #a4a4a4;
}

.accident-details-text-div {
  width: 78%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}

.driver-report-div {
  width: 49%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.driver-report-title-div {
  width: 20%;
  height: 90%;
  background-color: #f1f1f1;
  border-radius: 5px;

  padding-left: 1rem;
  padding-top: 1rem;
}

.driver-report-title {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
}

.driver-report-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}

.driver-report-text-div {
  width: 75%;
  height: 90%;
  background-color: white;
  border: 2px solid #c6c6c6;
  border-radius: 5px;
}

.estimate-pop-up-bg-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.estimate-pop-up-container {
  width: 80%;
  height: 80%;
  background-color: white;
}

.aheHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 1.8rem;
}

.aheHeaderText {
  font-size: 2.1rem;
  margin-left: 3.1rem;
}

.aheHeaderButton {
  height: 2.832rem;
  width: 2.94rem;
  margin-right: 3rem;
}

.aheBodyButton {
  margin-top: 1.7rem;
}

.HeaderButton {
  width: 2.94rem;
  height: 2.832rem;
  margin-bottom: 1.868rem;
  margin-right: 1rem;
  background-color: transparent;
  border: none;
  font-size: 3rem;
}

.BodyButton {
  width: 11.679rem;
  height: 4.2rem;
  font-size: 2.5rem;
  color: white;
  background-color: #4000ab;
  border-radius: 2.477rem;
}

.aheHeaderTextSub {
  font-size: 2.723rem;
}

.aheBodyHeader {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  margin-left: 9.6rem;
  align-items: center;
}

.aheBodyEstimate {
  font-size: 2.2rem;
}

.aheBodyEstimate {
  width: 114.6rem;
  height: 37.4rem;
  margin-top: 1.3rem;
  margin-left: 6.2rem;
  border: 5px solid #f1f1f1;
  padding: 3.3rem;
  border-radius: 1.7rem;
}

.aheBodyEstimate hr {
  width: 50.5rem;
  margin-right: 9rem;
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5 {
  display: flex;
  width: 50.5rem;
  height: 5.3rem;
  text-align: center;
  margin-top: 1.9rem;
}

.menu1 {
  margin-top: 0;
}

.AmountText,
.AmountLastText {
  width: 11.043rem;
  height: 3.713rem;
  font-size: 1.7rem;
  color: white;
  background-color: #575757;
}

.AmountText {
  display: flex;
  align-items: center;
  border-top-right-radius: 0.5rem; /* 오른쪽 상단 */
  border-bottom-right-radius: 0.5rem; /* 오른쪽 하단 */
}

.subText {
  display: flex;
  width: 48.363rem;
  justify-content: space-between;
}

.amountDiv {
  display: flex;
}

.Amount {
  width: 20rem;
  height: 3.113rem;
  border-top-left-radius: 0.5rem; /* 오른쪽 상단 */
  border-bottom-left-radius: 0.5rem; /* 오른쪽 하단 */
}

.bottom {
  margin-left: 8.4rem;
  margin-top: 2.7rem;
  font-size: 2.2rem;
}

.bottomSpan {
  margin-left: 2.8rem;
}

.bottomSpanText {
  height: 5.182rem;
  width: 25.478rem;
  border-radius: 0.5rem;
}

.dropdown {
  display: flex;
}

.content-Text {
  border: none;
  width: 11.5rem;
  font-size: 1.4rem;
}

.content-TimeText {
  border: none;
  width: 2rem;
  font-size: 1.4rem;
  text-align: right;
}

.content-KmText {
  border: none;
  width: 2rem;
  font-size: 1.4rem;
  text-align: right;
}

.content-InjuredText {
  border: none;
  width: 2rem;
  font-size: 1.4rem;
  text-align: right;
}

.content-FruitText {
  font-size: 1.5rem;
  width: 3rem;
  color: #a4a4a4;
  border: 1.5px solid #f1f1f1;
  text-align: center;
  border: none;
}

.fault-radio {
  width: 1.4rem;
  height: 1.4rem;
}

.searchType {
  font-size: 1.5rem;
  width: 10rem;
  height: 2rem;
}

.accident-photo-slider {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 버튼이 양쪽에 고정되도록 변경 */
  position: relative;
  width: 52%;
  overflow: hidden;
}

.accident-photo-file-div {
  display: flex;
  width: 60%; /* 슬라이더 안의 사진 영역 */
}

.photo-preview-div {
  flex: 0 0 8rem; /* 사진 하나의 크기 */
  margin-right: 0.5rem;
  background-color: #ccc; /* 임시 배경색 */
  transition: transform 0.3s ease;
}

.prev-button,
.next-button {
  border: none;
  cursor: pointer;
  z-index: 1; /* 버튼이 사진 위에 고정되도록 */
  font-size: 4rem;
  background-color: white;
}

.photo-preview-div {
  position: relative;
  width: 8rem;
  height: 8rem;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.upload-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.photo-preview-div img {
  width: 100%;
  height: auto;
  display: block;
}

.delete-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.content-OverviewText {
  width: 99%;
  height: 97%;
  border: none;
  font-size: 1.5rem;
  resize: none; /* 사용자가 크기를 조절할 수 없도록 설정 */
  overflow-wrap: break-word; /* 단어가 너무 길면 줄 바꿈 처리 */
  white-space: pre-wrap; /* 공백과 줄 바꿈을 유지하고, 줄이 길어지면 자동으로 줄 바꿈 처리 */
}
