.searchName{
    margin-right: 1rem;
}
.searchAreaBox .btnModules{
    background-color: #444444;
    margin-left: 2rem;
}



/*tableHead*/
.tableHead {
    width: calc(100% - 0.2rem);
    height: 4.8rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.5rem 0.5rem 0 0;
}

.tableHead thead {
    width: 100%;
    height: 100%;
}

.tableHead tr {
    width: 100%;
    height: 100%;
    align-items: center;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #7A7A7A;
}

.tableBody {
    width: calc(100% - 0.2rem);
    height: 64em;
    margin-top: -0.1rem;
    border: 0.1rem solid #CDCDCE
}

.tableBody::-webkit-scrollbar {
    width: 0.6rem;
}

.tableBody::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: grey;
    border-radius: 10px;
}

.tableBody::-webkit-scrollbar-track {
    background-color: #dbdada;
}

tbody {
    width: 100%;
    height: 100%;
}

table tr {
    display: flex;
    width: 100%;
    height: 6.4rem;
    border-bottom: 0.1rem solid #CDCDCE;
}


table tr:nth-child(odd) {
    background-color: white;
}

table tr:nth-child(even) {
    background-color: #EFEFEF;
}

.tableBody td {
    font-size: 1.4rem;
    color: #191919;
}


td:nth-child(1) {
    display: flex;
    justify-content: center;
    width: 4%;
}

td:nth-child(2) {
    width: 10%;
}

td:nth-child(3) {
    width: 12%;
}

td:nth-child(4) {
    width: 10%;
}

td:nth-child(5) {
    width: 15%;
}

td:nth-child(6) {
    width: 15%;
}

td:nth-child(7) {
    width: 10%;
}

td:nth-child(8) {
    width: 24%;
}

.btnBox div{
    background-color: #444444;
}

.btnBox input{
    background-color: #444444;
}