.searchName {
    margin-right: 1rem;
}

.searchAreaBox .btnModules {
    background-color: #444444;
    margin-left: 2rem;
}

.addState {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3.8rem;
    border-radius: 0.2rem;
    background-color: #444444;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}



/*tableHead*/
.tableHead {
    width: calc(100% - 0.2rem);
    height: 4.8rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.5rem 0.5rem 0 0;
}

.tableHead thead {
    width: 100%;
    height: 100%;
}

.tableHead tr {
    width: 100%;
    height: 100%;
    align-items: center;
    border: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #7A7A7A;
}

.tableBody {
    width: calc(100% - 0.2rem);
    height: 64em;
    margin-top: -0.1rem;
    border: 0.1rem solid #CDCDCE
}

.tableBody::-webkit-scrollbar {
    width: 0.6rem;
}

.tableBody::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: grey;
    border-radius: 10px;
}

.tableBody::-webkit-scrollbar-track {
    background-color: #dbdada;
}

tbody {
    width: 100%;
    height: 100%;
}

table tr {
    display: flex;
    width: 100%;
    height: 6.4rem;
    border-bottom: 0.1rem solid #CDCDCE;
}


table tr:nth-child(odd) {
    background-color: white;
}

table tr:nth-child(even) {
    background-color: #EFEFEF;
}

.tableBody td {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #191919;
}




td:nth-child(1) {
    display: flex;
    justify-content: center;
    width: 4%;
}

.tableBody td:nth-child(2) {
    font-size: 1.4rem;
    color: #0069D9;
    cursor: pointer;
}

td:nth-child(2) {
    width: 6%;
}

td:nth-child(3) {
    width: 14%;
}

td:nth-child(4) {
    width: 12%;
}

td:nth-child(5) {
    width: 6%;
}

td:nth-child(6) {
    width: 12%;
}

td:nth-child(7) {
    width: 12%;
}

td:nth-child(8) {
    width: 26%;
}

td:nth-child(9) {
    width: 6%;
}

td:nth-child(10) {
    width: 6%;
}

.btnBox div {
    background-color: #444444;
}

.btnBox input{
    background-color: #444444;
    outline: none;
    box-sizing: border-box;
    text-align: center;
}






/*popup*/
.popupContainer,
.detailPopupContainer {
    position: fixed;
    top: 50%;
    left: calc(50% + 11rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80rem;
    height: 58rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 16%);
    transform: translate(-50%, -50%);
}

.detailPopupContainer {
    height: 66rem;
}

.PopupTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    border-bottom: 0.1rem solid #191919;
    font-size: 1.6rem;
    font-weight: 500;
}

.PopupDataArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 9.7rem);
    padding: 4.2rem 3rem 0 3rem;
    box-sizing: border-box;
}

.PopupDataCell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 23rem;
    height: 6rem;
}

.PopupDataArea .PopupDataCell:nth-child(10) {
    width: 100%;
}

.PopupDataTitle {
    font-size: 1.4rem;
    color: #7A7A7A;
}

.PopupData {
    width: 100%;
    padding-bottom: 0.1rem;
    font-size: 1.4rem;
    color: #191919;
    border-bottom: 0.1rem solid #191919;
}

.PopupDatainput{
    width: 100%;
    height: 2.6rem;
    padding-left: 0.6rem;
    padding-bottom: 0.1rem;
    font-size: 1.4rem;
    color: #191919;
    border: 0.1rem solid #D2D2D2;
    border-radius: 0.3rem;
    box-sizing: border-box;
    outline: none;
}

.managementDetailTable {
    width: 100%;
    height: 33.6rem;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.3rem;
    overflow: hidden;
    box-sizing: border-box;
}

.managementDetailTable table {
    width: 100%;
    border-spacing: 0;
}

.managementDetailTable table:nth-child(1) {
    height: 3.6rem;
}

.managementDetailTableHeader {
    width: 100%;
    height: 3.6rem;
    padding-right: 0.6rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #7A7A7A;
    box-sizing: border-box;
}

.managementDetailTableDataBox table {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    color: #191919;
}

.managementDetailTableDataBox {
    height: 30rem;
    overflow-y: scroll;
}

.managementDetailTableDataBox::-webkit-scrollbar {
    width: 0.6rem;
}

.managementDetailTableDataBox::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #828282;
    border-radius: 10px;
}

.managementDetailTableDataBox::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.managementDetailTable table tr {
    height: 3.6rem;
}

.managementDetailTable td {
    display: flex;
    align-items: center;
}

.managementDetailTable td:nth-child(1) {
    width: 10%;
}

.managementDetailTable td:nth-child(2) {
    width: 20%;
}

.managementDetailTable td:nth-child(3) {
    width: 20%;
}

.managementDetailTable td:nth-child(4) {
    width: 34%;
}

.managementDetailTable td:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
}

.managementDetailTable td:nth-child(6) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
}

.managementDetailTableDataBox td svg {
    cursor: pointer;
}

.managementDetailTableDataBox td input[type=date],
.managementDetailTableDataBox td input[type=text] {
    background-color: white;
    border: none;
    outline: none;
    height: 2.2rem;
}

.managementDetailTableDataBox input[type=submit] {
    background-image: url("../../images/deleteIcon.png");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-color: white;
    border: none;
}

.PopupBtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    box-sizing: border-box;
}

.PopupBtnBox div {
    background-color: #444444;
    margin: 0 1rem;
}

.PopupBtnBox input:nth-child(2) {
    background-color: #0069D9;
    margin: 0 1rem;
}