.table-list_head-tr_td_teamjang td:nth-child(1), .table-list_body-tr_td_teamjang:nth-child(1),
.table-list_head-tr_td_teamjang td:nth-child(2), .table-list_body-tr_td_teamjang:nth-child(2){
    width: 3% !important;
}

.table-list_head-tr_td_teamjang td:nth-child(3), .table-list_body-tr_td_teamjang:nth-child(3), 
.table-list_head-tr_td_teamjang td:nth-child(4), .table-list_body-tr_td_teamjang:nth-child(4), 
.table-list_head-tr_td_teamjang td:nth-child(5), .table-list_body-tr_td_teamjang:nth-child(5),
.table-list_head-tr_td_teamjang td:nth-child(6), .table-list_body-tr_td_teamjang:nth-child(6),
.table-list_head-tr_td_teamjang td:nth-child(7), .table-list_body-tr_td_teamjang:nth-child(7),
.table-list_head-tr_td_teamjang td:nth-child(8), .table-list_body-tr_td_teamjang:nth-child(8),
.table-list_head-tr_td_teamjang td:nth-child(9), .table-list_body-tr_td_teamjang:nth-child(9),
.table-list_head-tr_td_teamjang td:nth-child(10), .table-list_body-tr_td_teamjang:nth-child(10),
.table-list_head-tr_td_teamjang td:nth-child(11), .table-list_body-tr_td_teamjang:nth-child(11),
.table-list_head-tr_td_teamjang td:nth-child(12), .table-list_body-tr_td_teamjang:nth-child(12),
.table-list_head-tr_td_teamjang td:nth-child(13), .table-list_body-tr_td_teamjang:nth-child(13),
.table-list_head-tr_td_teamjang td:nth-child(14), .table-list_body-tr_td_teamjang:nth-child(14),
.table-list_head-tr_td_teamjang td:nth-child(15), .table-list_body-tr_td_teamjang:nth-child(15),
.table-list_head-tr_td_teamjang td:nth-child(16), .table-list_body-tr_td_teamjang:nth-child(16),
.table-list_head-tr_td_teamjang td:nth-child(17), .table-list_body-tr_td_teamjang:nth-child(17){
    width: 5% !important;
}

.table-list_head-tr_td_teamjang td:nth-child(18), .table-list_body-tr_td_teamjang:nth-child(18),
.table-list_head-tr_td_teamjang td:nth-child(19), .table-list_body-tr_td_teamjang:nth-child(19)
{
    width: 7% !important; 
}

.teamjang_height{
    height: 5.2rem;
}

.teamjangStatusTheadTr td:nth-child(1), .teamjangStatusTbodyTr td:nth-child(1), .totalAdd td:nth-child(1) {width: 9%;}
.teamjangStatusTheadTr td:nth-child(2), .teamjangStatusTbodyTr td:nth-child(2), .totalAdd td:nth-child(2) {width: 13%;}
.teamjangStatusTheadTr td:nth-child(3), .teamjangStatusTbodyTr td:nth-child(3), .totalAdd td:nth-child(3) {width: 13%;}
.teamjangStatusTheadTr td:nth-child(4), .teamjangStatusTbodyTr td:nth-child(4), .totalAdd td:nth-child(4) {width: 13%;}
.teamjangStatusTheadTr td:nth-child(5), .teamjangStatusTbodyTr td:nth-child(5), .totalAdd td:nth-child(5) {width: 13%;}
.teamjangStatusTheadTr td:nth-child(6), .teamjangStatusTbodyTr td:nth-child(6), .totalAdd td:nth-child(6) {width: 13%;}
.teamjangStatusTheadTr td:nth-child(7), .teamjangStatusTbodyTr td:nth-child(7), .totalAdd td:nth-child(7) {width: 13%;}

.totalAdd *{
    border-right: 0.1rem solid white;
}

.center * {
    text-align: center !important;
}

.popupContainerDoubleStatus{
    width: 105rem;
}

.scrolling_table-list_header{
    height: 4.5rem;
}

.menu{
    background-color: #444444;
    right: 27rem
}

.teamjangMenuFooter{
    width: calc(100% - 3rem);
}

.popupArticleBoxTable img{width: 100%;}

.teamjangTime{
    right: 38rem;
    background-color: #444444;
}

.teamjangTimeConfig{
    width: 60rem;
    height: 73.6rem; 
}

.popupArticleBoxTeamjang{
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.popupArticleBoxTimeConfig{
    justify-content: space-around;
}

.configTime{
    margin-right: 3rem;
    width: 15rem !important;

}

.popupArticleLabelTime{
    width: 7rem !important;
}
.number{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTimeBtn{
    width: 5rem;
    margin-bottom: 1rem;
    background-color: #444444;
}

.addBtn{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;

}

#time-rows{
    height: 45rem;
}

.time-row div:nth-child(1){width: 10% !important;}
.time-row div:nth-child(2){width: 40% !important;}
.time-row div:nth-child(3){width: 40% !important;}
.time-row button{width: 10% !important;}

