.salaryContainer td:nth-child(6),
.salaryContainer td:nth-child(7) {
    width: 6%;
}

.salaryContainer td:nth-child(8),
.salaryContainer td:nth-child(9),
.salaryContainer td:nth-child(10),
.salaryContainer td:nth-child(11),
.salaryContainer td:nth-child(12),
.salaryContainer td:nth-child(13) {
    width: 5%;
}

.salaryContainer td:nth-child(14) {
    width: 7%;
}

.salaryTotalContainer td:nth-child(2),
.salaryTotalContainer td:nth-child(3) {
    width: 6%;
}

.salaryTotalContainer td:nth-child(4),
.salaryTotalContainer td:nth-child(5),
.salaryTotalContainer td:nth-child(6),
.salaryTotalContainer td:nth-child(7),
.salaryTotalContainer td:nth-child(8),
.salaryTotalContainer td:nth-child(9) {
    width: 5%;
}

.salaryTotalContainer td:nth-child(10) {
    width: 7%;
}
