.routeInputDelete {
    top: -3rem;
    right: 1rem;
}

.RouteListForm {
    height: 100%;
}

.RouteListHeader {
    width: 100%;
}

.RouteListBody {
    width: 100%;
}

#routeListsearch {
    height: 2.5rem;
    width: 13rem;
}

.routListSearch select {
    height: 2.5rem;
    margin-right: 2rem;
}

.searchBox {
    height: 3.6rem;
    width: 100%;
}

.RouteListHeadScroll {
    overflow-x: hidden;
}

.RouteListScroll {
    overflow-x: hidden;
}


.RouteListBodyTr:hover {
    background-color: #CDCDCE;
    cursor: auto;
}

.tableSelect {
    width: 60%;
    text-align: center;
    outline: none;
}

.routeInputDelete {
    background-color: #0069D9;
}

.backgroundGray {
    background-color: #CDCDCE;
}

.TeamCreates{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
    height: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.groupSelectBody{
    display:flex;
}

.routeScan{
    border: none;
}

.routeInputSaves{
    border: none;
}

.excelUploads{
    border: none;
}

.excelDownloads{
    border: none;
}


/* 선택,순번,출근/퇴근,차량,출/퇴근 */
.routeListHeaderTd:nth-child(1), .routeListBodyTd:nth-child(1),
.routeListHeaderTd:nth-child(2), .routeListBodyTd:nth-child(2),
.routeListHeaderTd:nth-child(4), .routeListBodyTd:nth-child(4),
.routeListHeaderTd:nth-child(5), .routeListBodyTd:nth-child(5),
.routeListHeaderTd:nth-child(8), .routeListBodyTd:nth-child(8){
    width : 6% !important
}

.routeListHeaderTd:nth-child(3), .routeListBodyTd:nth-child(3),
.routeListHeaderTd:nth-child(10), .routeListBodyTd:nth-child(10){
    width : 8% !important
}

.routeListHeaderTd:nth-child(6), .routeListBodyTd:nth-child(6){
    width : 28% !important
}

.routeListHeaderTd:nth-child(7), .routeListBodyTd:nth-child(7){
    width : 12% !important
}

.routeListHeaderTd:nth-child(9), .routeListBodyTd:nth-child(9){
    width : 14% !important
}

.RouteHeaderScroll{
    height: 3.6rem;
}

.RouteHeaderScroll{
    margin: 0.6rem;
}

.RouteListScroll::-webkit-scrollbar {
    width: 0.6rem;
    height: 1rem;
  }
  
  .RouteListScroll::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 1rem;
  }
  
  .RouteListScroll::-webkit-scrollbar-track {
    background-color: #D2D2D2;
  }
.RouteListHeader{
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

.groupList{
    height: calc(100% - 20rem);
}

.groupCreateBtnn{
    margin-right: auto;
}