/* 검색창 */
.searchContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.1rem 0.4rem rgb(0 0 0 / 30%);
    background-color: white;
}

.searchFormLabel{
    font-size: 1.4rem;
    margin-right: 2rem;
}

.searchFormInput{
    width: 18rem;
    height: 2.6rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border: 0.1rem solid #D2D2D2;
    border-radius: 0.2rem;
    outline: none;
    font-family: "Noto Sans CJK KR";
    font-size: 1.4rem;
}

.searchFormInputDate{
    width: 14rem;
    margin-right: 2rem;
}

.searchFormSearchBtn{
    height: 2.6rem;
    margin-left: 2rem;
    padding: 0 1.8rem;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    color: white;
    background-color: #444444;
    cursor: pointer;
}

.searchFormInputSelect{
    margin-left: 2rem;
}

/* 검색창 끝 */

/* 테이블 */
.tableScrollBox{
    display: flex;
    flex-direction: column;
    height: 77.5rem;

}

.tableContainer{
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0rem 0.1rem 0.4rem rgb(0 0 0 / 30%);
}

.thead{
    display: flex;
    width: 100%;
    height: 5.2em;
    border-spacing: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    color: white;
}

.tbody {
    width: 100%;
    height: calc(100% - 7rem);
}

.th, .td {
    background-color: #444444;
    border-right: 0.1rem solid #CDCDCE;
    border-bottom: 0.1rem solid #CDCDCE;
    padding: 0;
    box-sizing: border-box;
    text-align: center; /* 수평 가운데 정렬 */
    vertical-align: middle; /* 수직 가운데 정렬 */
    
}

.td{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.theadTh:nth-child(1),.tbodyDivTd:nth-child(1){width: 3%;}
.theadTh:nth-child(2),.tbodyDivTd:nth-child(2){width: 4%;}
.theadTh:nth-child(3),.tbodyDivTd:nth-child(3){width: 5%;}
.theadTh:nth-child(4),.tbodyDivTd:nth-child(4){width: 5%;}
.theadTh:nth-child(5),.tbodyDivTd:nth-child(5){width: 82%;}
.theadTh:nth-child(6),.tbodyDivTd:nth-child(6){width: 6%;}

.theadThTh {
    width: 7.5%;
    height: 100%;
}

.theadThThImformation:nth-child(1),.tbodyDivTdTdInformation:nth-child(1){width: 4.5%;}
.theadThThImformation:nth-child(2),.tbodyDivTdTdInformation:nth-child(2){width: 10%;}
.theadThThImformation:nth-child(3),.tbodyDivTdTdInformation:nth-child(3){width: 4.5%;}


.theadThDetails{
    flex-direction: column;
    width: 36%;
}

.theadThContent{
    width: 100%;
    height: 50%;
}

.theadThContents{
    width: 20%;
    border-right: 0.1rem solid #CDCDCE;
    height: 100%;
}

.theadThTitle{
    width: 100%;
    height: 50%;
    border-bottom: 0.1rem solid #CDCDCE;
}

.theadThContentsLast {
    border-right: none;
}

.tbodyTdTime, .T{
    flex-direction: column;
}

.tbodyDivTdTdTime, .tbodyDivTdTdSum{
    width: 100%;
    height: 3rem;
}

.tbodyDivTdTdTimeValue{
    width: 7.5%;
}

.tbodyDivTdTdTime > *,
.tbodyDivTdTdSum > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbodyDivTdTdSum > *{
    border-bottom: none;
}


.none{
    width: 59.5%
}


.tbodyDiv{
    height: 12rem;
    min-height: 6rem;
}

.tbodyDiv > *,
.tbodyDivTdTdTime,
.tbodyDivTdTdSum {
    height: 100%;
}



.tbodyInformationElement{
    min-height: 6rem;
}

.tbodyDivTdTdTime > *,
.tbodyDivTdTdSum > *{
    height: 100%;
}

.sumTime{
    width: 7.2%;
}

.flex > *, .personalFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}