body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.section {
  background-color: white;
  padding: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sub-content {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
}

.main-vehicles,
.main-personnel {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 49%;
}

.card {
  background-color: #efefef;
  border-radius: 8px;
  text-align: center;
  flex: auto;
}

.card.large {
  font-size: 1.7rem;
}

.card.small {
  font-size: 1.6rem;
}

.card.red {
  background-color: #ffcccc;
  color: #a00;
}

.sub-card {
  background-color: #efefef;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  flex: 1;
  margin: 5px;
  font-size: 1.4rem;
}

.vehicle-status,
.double {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.distance-status,
.tonnage-distribution {
  width: 49%;
}

.main-body {
  display: flex;
}

.dashboardHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3.6rem;
  background-color: #444;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: white;
}

.dashboardsub {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3.6rem;
  padding-left: 1rem;
  font-size: 1.4rem;
  color: black;
}
