* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Noto Sans CJK KR", sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: white;
}

/* 페이지 제목 스타일 */
.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 0.1rem solid black;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}


/* 테이블 스타일 */
.tableBorder {
    width: 99%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1.1rem;
}

.tableBorder thead {
    background-color: #ddd;
    font-weight: bold;
}

.tableBorder th,
.tableBorder td {
    border: 0.1rem solid black;
}

.tableBorder td:nth-child(1){
    width:4%;
    text-align: center;
}

.tableBorder td:nth-child(2){
    width:5%;
    text-align: center;
}

.tableBorder td:nth-child(3){
    width:30%;
}

.tableBorder td:nth-child(4){
    width:30%;
}

.tableBorder td:nth-child(5){
    width:30%;
}

@media print {
    .tableBorder thead {
        background-color: #ddd !important;
        -webkit-print-color-adjust: exact;
    }
}
