* {
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    font-family: "Noto Sans CJK KR";
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: white;
}


.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    border-bottom: 0.1rem solid black;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
}

.pageTitle span {
    margin: 0 0.4rem;
}

.headerCell {
    display: flex;
    width: 100%;
    height: 2.4rem;
    background-color: #ddd;
    border: 0.1rem solid black;
}

.headerCell div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.headerCell div:nth-child(1),
.headerCell div:nth-child(2) {
    width: 8%;
    border-right: 0.1rem solid black;
}

.headerCell div:nth-child(3) {
    width: 28%;
    border-right: 0.1rem solid black;
}

.headerCell div:nth-child(4) {
    width: 28%;
    border-right: 0.1rem solid black;
}

.headerCell div:nth-child(5) {
    width: 28%;
}

.contentsCell {
    width: 100%;
    height: auto;
    border: 0.1rem solid black;
    border-bottom: none;
    border-top: none;
}

.contentsCell div {
    height: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.contentsCell div:nth-child(1),
.contentsCell div:nth-child(2) {
    text-align: center;
    padding: 0.1rem;
    width: 8%;
    border-right: 0.1rem solid black;
}

.contentsCell div:nth-child(3) {
    padding: 0.1rem;
    width: 28%;
    border-right: 0.1rem solid black;
}

.contentsCell div:nth-child(4) {
    padding: 0.1rem;
    width: 28%;
    border-right: 0.1rem solid black;
}

.contentsCell div:nth-child(5) {
    padding: 0.1rem;
    width: 28%;
}


.tableBorder{
    width: calc(100% + 0.2rem);
    box-sizing: border-box;
}
.contentsCell {
    width: 100%;
    min-height: 2.4rem;
    height: auto;
    border-spacing: 0;
}

.contentsCell tbody{
    width: 100%;
}
.contentsCell tr{
    width: 100%;
}

.contentsCell td {
    height: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    border-bottom: 0.1rem solid black;
    border-right: 0.1rem solid black;
}
.contentsCell td:nth-child(1),
.contentsCell td:nth-child(2) {
    text-align: center;
    padding: 0.1rem;
    width: 8%;
}

.contentsCell td:nth-child(3) {
    padding: 0.1rem;
    width: 28%;
}

.contentsCell td:nth-child(4) {
    padding: 0.1rem;
    width: 28%;
}

.contentsCell td:nth-child(5) {
    padding: 0.1rem;
    width: 28%;
    border-right: none;
}

@media print {
    .headerCell {
        background-color: #ddd !important;
        -webkit-print-color-adjust: exact;
    }
}