* {
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans CJK KR";
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans CJK KR", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
}

.containerfor{
  page-break-after: always;
}

.container {
  width: 100%;
  max-width: 210mm;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 0.8rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  height: 5rem;
  line-height: 2.5;
}

.info-table,
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.info-table{
  height: 20rem;
}

.data-table{
  height: 60rem;
}

.data-table{
  height:1rem;
}


.info-table th,
.info-table td,
.data-table th,
.data-table td {
  border: 0.1rem solid #000;
  text-align: center;
  padding: 0.6rem;
}

.data-table td{
      height: 5rem;
    font-size: 1.5rem;
}

.info-table th {
  background-color: #f2f2f2;
}

.notes {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.notes p {
  margin: 0.5rem 0;
}

input {
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  padding: 0.4rem;
  box-sizing: border-box;
}

.references textarea {
  width: 100%;
  border: 0.1rem solid #000;
  text-align: left;
  font-size: 1.4rem;
  padding: 0.4rem;
  box-sizing: border-box;
  height: 5rem;
  margin-top: 1rem;
}

.signLine {
  font-weight: bold;
  height: 1rem;
  width: 1rem;
}

.headerTr td:nth-child(1) {
  width: 50%;
}

.headerTr td:nth-child(2),
.headerTr td:nth-child(3),
.headerTr td:nth-child(4) {
  width: 16%;
}

.subTr td:nth-child(1),
.subTr td:nth-child(2),
.subTr td:nth-child(3),
.subTr td:nth-child(4) {
  width: 12.5%;
}

.data-table td p {
  text-align: left;
}

.data-table .references {
  height: 10rem;
  vertical-align: top;
  margin-bottom: 1rem;
}


.data-tablemainth th:nth-child(1),
.data-tablemainth th:nth-child(2){
    width: 45%;
}

.data-tablemainth th:nth-child(3){
    width: 10%;
}

.data-tablesubth th:nth-child(1),
.data-tablesubth th:nth-child(4){
    width: 23%
}

.data-tablesubth th:nth-child(3),
.data-tablesubth th:nth-child(6){
    width: 12%;
}

.data-tablesubth th:nth-child(2),
.data-tablesubth th:nth-child(5){
    width: 10%;
}


@page {
  size: A4;
  margin: 0;
}
