#dispatchListSearchToolSelectYear{
  width: 12rem;
  margin-left: 2rem;
}
#dispatchListSearchToolSelectMonth{
  width: 12rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
#contentsBoxCellDispatchList{
  height: 100%;
}




#dispatch_list__main_contents{
    height: calc(100% - (1vh * 4.13));
}
#nav_cell_dispatch_list{
    width: 18rem;
    border-radius: 0.5rem 0 0 0.5rem;
}
#nav_cell_dispatch_regularly{
    width: 18rem;
}
#nav_cell_dispatch_order{
    width: 18rem;
}
#nav_cell_dispatch_schedule{
    width: 18rem;
}
#nav_cell_dispatch_document{
  width: 18rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
#dispatch_list_serch_tool_input__year{
    width: 10rem;
}
#dispatch_list_serch_tool_input__month{
    width: 8rem;
}
.dispatch_list_td_y-m{
    width: calc( (100vw - 4rem) * 0.18 );
}
.dispatch_list_td_date{
  width: calc( (100vw - 4rem) * 0.18 );
}
.dispatch_list_td_route{
  width: calc( (100vw - 4rem) * 0.32 );
}
.dispatch_list_td_nember{
  width: calc( (100vw - 4rem) * 0.32 );
}
.dispatch_list_td_checker1{
  width: calc( (100vw - 4rem) * 0.08 );
}
.dispatch_list_td_checker2{
  width: calc( (100vw - 4rem) * 0.08 );
}

#dispatchListTableAutoBox{
  max-height: calc( 100% - 3.6rem);
}