#contentsBoxCellreguarlyOrderList{
  height: 100%;
}
#reguarlyOrderListButton{
  margin-left: 2rem;
}
#reguarlyOrderListSearchToolSelect{
  width: 12rem;
  margin-left: 2rem;
}





#nav_cell_dispatch_list{
    width: 18rem;
    border-radius: 0.5rem 0 0 0.5rem;
}
#nav_cell_dispatch_regularly{
    width: 18rem;
}
#nav_cell_dispatch_order{
    width: 18rem;
}
#nav_cell_dispatch_schedule{
    width: 18rem;
}
#nav_cell_dispatch_document{
  width: 18rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
#dispatch_regularly_order_serch_tool_input{
    width: 20rem;
    text-align: center;
}
.dispatch_regularly_order_td_num{
    width: calc( (100vw - 4rem) * 0.08 );
}
.dispatch_regularly_order_td_grupname{
    width: calc( (100vw - 4rem) * 0.24 );
}
.dispatch_regularly_order_td_title{
    width: calc( (100vw - 4rem) * 0.52 );
}
.dispatch_regularly_order_td_driver-vehicle{
    width: calc( (100vw - 4rem) * 0.16 );
}
#dispatch_list__main_contents{
  height: calc(100% - (1vh*4.13));
}
#list_table_cell__dispatch_regularly_list{
  height: 23.3rem;
}
#dispatchRegularlyOrderListTableAutoBox{
  height: calc( 100% - 3.6rem);
}

#regularlyGroupSearchInput{
  width: 26rem;
}
.regularlyCreateListForm{
  position: relative;
}
#dispatchRegularlyOrderCreateButtonDelet{
  position: absolute;
  top: -4.9rem;
  right: 2rem;
}
#dispatchOrderSearchToolSelectGetHourAt{
  width: 10rem;
  margin-left: 2rem;
  margin-right: 1rem;
  -ms-overflow-style: none;  
}
#dispatchOrderSearchToolSelectGetHourAt::-webkit-scrollbar{
  display:none; 
}
#dispatchOrderSearchToolSelectGetHourUntil{
  width: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  -ms-overflow-style: none;
}
#dispatchOrderSearchToolSelectGetHourUntil::-webkit-scrollbar{
  display:none; 
}