#contents_box__input_cell__dd__input__regularly_order_create_checking_date_all{
    width: 2rem;
}
#contents_box__input_cell__dd__input_regularly_order_create_timeA{
    width: 12.6rem;
    margin-right: 1rem;
}
#contents_box__input_cell__dd__input_regularly_order_create_timeB{
    width: 12.6rem;
}
#dispatch_regularly_order_create_contents_box__input_box{
    height: 30.6rem;
}
#contents_box__input_cell__dd__input_regularly_order_create_select{
    width: 30rem;
}
.contents_box__input_cell__dd__textarea{
    resize: none;
    padding: 1rem;
    width: 28rem;
    height: 4rem;
}
#regularly_order_create_serch_tool_button{
    margin-left: 40.3rem;
}
#dispatch_regularly_order_create__main_contents{
    height: calc(100% - 4rem);
}
#contents_box_header_regularly_order_create{
    margin-top: 2rem;
}
.dispatch_regularly_order_create__main_contentsFrom{
  height: 100%;
}
#regularly_order_create_list__main_contents{
    height: calc(100% - (1vh*8.26) - 35.2rem);
}
#regularly_order_create_serch_tool_label__name{
    width: 5rem;
}
#regularly_order_create_serch_tool_label__work{
    width: 5rem;
}
#regularly_order_create_serch_tool_input__name{
    width: 60rem;
}
#regularly_order_create_serch_tool_input__work{
    width: 20rem;
    text-align: center;
}
.dispatch_regularly_order_create_td_check{
    width: 6vw;
}
.dispatch_regularly_order_create_td_num{
    width: 6vw;
}
.dispatch_regularly_order_create_td_group{
  width: 18vw;
}
.dispatch_regularly_order_create_td_routename{
    width: 30vw;
}
.dispatch_regularly_order_create_td_date{
    width: 10vw;
}
.dispatch_regularly_order_create_td_drivingtime{
    width: 20vw;
}
.dispatch_regularly_order_create_td_moreinformation{
    width: 10vw;
}
#contents_box__input_cell__dt_chekingdate{
  margin-bottom: 1rem;
}
#contents_box__input_cell__dd_chekingdate{
  margin-bottom: 1rem;
}
#InputContainerREguarlyOrderCreate{
  height: 31rem;
}
.inputInputBoxInputSelect{
  width: calc(100% - 4rem);
  height: 2.6rem;
  background-color: #D6D6D6;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding-left: 1rem;
}
.inputInputBoxInputTwice{
  width: calc(50% - 3.75rem);
  height: 2.6rem;
  background-color: #D6D6D6;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding-left: 1rem;
}
#InputContainerREguarlyOrderCreate>.inputBox>.inputCell{
  height: calc(100%/6);
}
#InputContainerREguarlyOrderCreate>.inputBoxLast>.inputCell{
  height: calc(100%/6);
}
#inputCellHeightFYI{
  height: calc(100%/3);
}
#inputCellHeightFYI>.inputInputBox{
  height: 100%;
  display: flex;
  align-items: center;
}
#inputCellHeightFYI>.inputInputBox>.inputInputBoxInput{
  height: 80%;
  resize: none;
}
.inputInputBoxCheckboxDate{
  width: calc( 100% - 5rem);
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputInputBoxCheckboxDate>label{
  font-size: 1.4rem;
}
.inputInputBoxCheckboxDateCheckbox{
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}
.inputInputBoxCheckboxDateCheckbox+label{
  cursor: pointer;
}
.serch_tool_button_box_edit_delet{
  width: 22rem;
  margin-left: calc(100% - 131.4rem);
}
.inputInputBoxInputSelectRound{
  width: calc(100% - 4rem);
  height: 2.6rem;
  background-color: #D6D6D6;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding-left: 1rem;
}
#inputInputBoxTwice1{
  width: calc((100% - 15rem)/3*2); 
}
#inputInputBoxTwice2{
  width: calc((100% - 15rem)/3); 
}
#contentsBoxCellDispatchRegularlyOrderCreate{
  height: 42rem;
}
#contentsBoxCellDispatchRegularlyOrderCreateList{
  margin-top: 2rem;
  height: calc(100% - 44rem);
}
#contents_boxDispatchRegularlyOrderCreate{
  height: 38rem;
}
#dispatchRegularlOrderCreateSearchTool{
  margin-top: 2rem;
}
#dispatchRegularlyOrderCreterTableAutoBox{
  height: calc(100% - 5.6rem);
}
#dispatchRegularlyOrderCreatebutton{
  position: absolute;
  right: 2rem;
}
#dispatchRegularlyOrderCreateSearchToolSelect{
  width: 18rem;
  margin-left: 2rem;
}
#dispatchRegularlyOrderCreateButtonSearch{
  margin-left: 2rem;
}
#dispatchRegularlyOrderCreateButtonDelet{
  margin-left: 2rem;
}
.regularlyCreateListDetail{
  position: relative;
}
#regularlyCreateListDetail{
  position: absolute;
  top: -4.9rem;
  right: 2rem;
}
#searchToolSelectGetHourAt{
  width: 10rem;
  margin-left: 2rem;
  margin-right: 1rem;
  -ms-overflow-style: none;
}
#searchToolSelectGetHourAt::-webkit-scrollbar{
  display:none; 
}
#searchToolSelectGetHourUntil{
  width: 10rem;
  margin-left: 1rem;
  -ms-overflow-style: none;
}
#searchToolSelectGetHourUntil::-webkit-scrollbar{
  display:none; 
}
.regularlyCreateListForm{
  height: calc(100% - 7.2rem);
}
#inputTimeCustomizingPosition{
  position: relative;
}
#rocateLeft{
  left: 0;
}
#regularly_order_create_list_table_cell__dispatch_list{
  width: 100%;
}