* {
    list-style: none;
    text-decoration: none;
  }
  
  html {
    font-size: 62.5%;
    font-family: "Noto Sans CJK KR";
    overflow-x: hidden;
  }
  
  body {
    font-family: "Noto Sans CJK KR", sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 210mm; /* A4 width */
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0 auto;
    border-bottom: 0.2rem solid #000;
    padding-bottom: 0.5rem;
    width: 30rem;
    margin-bottom: 1rem;
  }
  
  
  .section-title {
    font-size: 2.4rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
      margin-bottom: 0.6rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
  }
  
  th,
  td {
    border: 0.1rem solid #ddd;
    padding: 0.8rem;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .lineTime,
  .lineRoute {
      font-size: 1.4rem;
      font-weight: bold;
      word-wrap: break-word;
      word-break: break-all;
  }
  
  .lineTime {
      color: blue;
  }
  
  
  
  .important {
    color: red;
    font-weight: bold;
  }
  
  .notes {
    font-size: 1.2rem;
    color: #555;
  }
  
  @page {
    size: A4; /* Set the page size to A4 */
    margin: 0rem; /* Set the margin for printing */
  }
  
  .section-table td:nth-child(1){
      width: 10%;
  }
  
  .section-table td:nth-child(2){
      width: 8%;
  }
  
  .section-table td:nth-child(3){
      width: 36%;
  }
  
  .section-table td:nth-child(4){
      width: 13%;
  }
  
  .section-table td:nth-child(5){
      width: 9%;
  }
  
  .section-table td:nth-child(6){
      width: 24%;
  }
  
  
  
  
  .section-subtable td:nth-child(1){
      width: 10%;
  }
  .section-subtable td:nth-child(2){
      width: 10%;
  }
  .section-subtable td:nth-child(3){
      width: 60%;
  }