/* 검색창 변경영역 */
.dateControllBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5.6rem;
  margin-left: 1.2rem;
}

.dateControllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  background-color: #444;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}

.searchDate:nth-child(1) {
  margin-right: 0.6rem;
}

.searchDate:nth-child(2) {
  margin-left: 0.6rem;
}





/* 입력 배차 form */
.inputDispatchForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 26rem;
}





/* 입력창 */
.input {
  position: relative;
  height: 18rem;
}

.inputSave {
  position: absolute;
  top: -5.8rem;
  right: 1rem;
  background-color: #0069D9;
}

.InputHeader {
  width: 10rem;
}

.quarterBox {
  justify-content: space-between;
}

.inputTextquarter {
  width: 55%;
  height: 1.8rem;
  margin: 0 0.8rem;
  outline: none;
}

.deeperBox {
  width: 40%;
}





/* 일반배차 */
.orderDispatch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 6rem;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.orderDispatchTable {
  width: 100%;
  border-spacing: 0;
  font-size: 1.4rem;
  text-align: center;
}

.orderDispatchTable tr {
  height: 3rem;
}

.orderDispatchTable thead tr {
  background-color: #444;
  color: white;
}

.orderDispatchTable td {
  width: calc((100%/13)*2);
  border-right: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
}

.orderDispatchTable tbody tr:nth-last-child(1) td {
  border-bottom: none;
}

.orderDispatchTable td:nth-last-child(1) {
  width: calc(100%/13);
  border-right: none;
}

.orderDispatchDelete {
  margin: 0 auto;
  background-color: #444;
}

.orderDispatchTable tbody td:nth-child(1) {
  cursor: pointer;
}

.orderDriverSelect {
  height: 2.4rem;
  margin: 0 0.8rem;
  outline: none;
}





/* 노선목록 */
.list {
  height: calc(100% - 35.2rem);
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.2rem;
}

.listHeader span {
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

.listExcel {
  width: 12rem;
  margin-right: 0.8rem;
  background-color: #444;
}

.listTable {
  width: 100%;
  height: 2.8rem;
}

.listTableScroll {
  height: 39.5rem;
  overflow-y: hidden;
}

.ListTableBox {
  width: 56%;
  padding: 0;
}

.listTableScroll .listTable {
  height: 100%;
}

.listTableScroll .ListTableBox {
  display: flex;
  width: 100%;
  height: 36.8rem;
  overflow-y: scroll;
}

.listTableScroll .ListTableBox::-webkit-scrollbar {
  display: none;
}

.listTableScroll .ListTableBox::-webkit-scrollbar-thumb {
  display: none;
}

.listTableScroll .ListTableBox::-webkit-scrollbar-track {
  display: none;
}

.listTableScroll .ListTableBox table {
  table-layout: fixed;
}

.ListTableBox table {
  width: 100%;
  border-spacing: 0;
}

.listTableFixedTd1 {
  width: 19%;
}

.listTableFixedTd2,
.listTableFixedTd3,
.listTableFixedTd5 {
  width: 11%;
}

.listTableFixedTd4 {
  width: 48%;
}

.listTableFixedTd5 {
  border-right: 0.1rem solid white;
}

.scrollListTableBox {
  width: 44%;
  padding: 0;
}

.scrollListTableWidth {
  width: 100%;
  overflow: scroll;
}

.listTable thead .scrollListTableWidth {
  width: 100%;
  padding-right: 1rem;
  box-sizing: border-box;
  overflow: scroll;
}

.listTableScroll .scrollListTableWidth {
  height: 39.5rem;
  overflow: scroll;
}

.scrollListTableBox table {
  width: 500%;
  border-spacing: 0;
}

.listTable thead .scrollListTableBox table {
  width: 500%;
}

.listTable thead .scrollListTableWidth::-webkit-scrollbar {
  display: none;
}

.listTable thead .scrollListTableWidth::-webkit-scrollbar-thumb {
  display: none;
}

.listTable thead .scrollListTableWidth::-webkit-scrollbar-track {
  display: none;
}

.scrollListTableWidth::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

.scrollListTableWidth::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #444444;
  border-radius: 10px;
}

.scrollListTableWidth::-webkit-scrollbar-track {
  background-color: #D2D2D2;
}

.listTable tbody .ListTableBox td,
.listTable tbody .scrollListTable td {
  border-right: 0.1rem solid black;
  border-bottom: 0.1rem solid black;
}

.listTable tbody .ListTableBox {
  padding-bottom: 1.7rem;
}

.scrollListTable td:nth-child(2),
.scrollListTable td:nth-child(3),
.scrollListTable td:nth-child(4),
.scrollListTable td:nth-child(6),
.scrollListTable td:nth-child(8),
.scrollListTable td:nth-child(9),
.scrollListTable td:nth-child(10),
.scrollListTable td:nth-child(11),
.scrollListTable td:nth-child(12),
.scrollListTable td:nth-child(13),
.scrollListTable td:nth-child(14),
.scrollListTable td:nth-child(15) {
  width: calc(100% / 23);
}

.scrollListTable td:nth-child(5) {
  width: calc(200% / 23);
}

.scrollListTable td:nth-child(1),
.scrollListTable td:nth-child(7) {
  width: calc(400% / 23);
}






/* 스케줄 */
.driverTd {
  width: calc(100% - 25.2rem);
}