body {
    display: flex;
    justify-content: center;
    width: 138.6rem;
    margin: 0;
}

.print {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 138.6rem;
    height: auto;
}

.printTitle {
    position: absolute;
    top: 1.2rem;
    left: 50%;
    font-size: 2rem;
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.printTable {
    width: 130.8rem;
    height: auto;
    margin-top: 3.2rem;
    border-top: 0.1rem solid black;
}

.printTableHead {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.8rem;
}

.prinTableBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.printTableCell {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 2.8rem;
    height: auto;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 0.1rem solid black;
    border-right: 0.1rem solid black;
}

.item:nth-child(1){
    border-left: 0.1rem solid black;
}

.printTableHead .item {
    font-weight: 700;
    font-size: 0.9rem;
    box-sizing: border-box;
}

.printTableCell .item {
    font-size: 0.8rem;
    overflow: hidden;
    padding: 0.3rem 0;
    box-sizing: border-box;
}

.item:nth-child(1) {
    width: 6.4rem;
}

.item:nth-child(2) {
    width: 19rem;
}

.item:nth-child(3) {
    width: 16rem;
}

.item:nth-child(5),
.item:nth-child(15) {
    width: 4rem;
}

.item:nth-child(4),
.item:nth-child(6),
.item:nth-child(7),
.item:nth-child(13),
.item:nth-child(14) {
    width: 5rem;
}

.item:nth-child(8),
.item:nth-child(9),
.item:nth-child(10){
    width: 10rem;
}

.item:nth-child(11),
.item:nth-child(16) {
    width: 6rem;
}

.item:nth-child(12) {
    width: 15.4rem;
}



.printTableCell .item:nth-child(2) {
    justify-content: flex-start;
    padding-left: 0.3rem;
}

.printTableCell .item:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 0.3rem;
}

.printTableCell .item:nth-child(8) {
    justify-content: flex-start;
    padding-left: 0.3rem;
}

.printTableCell .item:nth-child(9) {
    justify-content: flex-start;
    padding-left: 0.3rem;
}

.printTableCell .item:nth-child(11) {
    justify-content: flex-start;
    padding-left: 0.3rem;
}

@media print {
    @page {

        width: 297mm;
        height: 420mm;
        margin: 0
    }

    body {
        margin: 1.6cm;
    }

}