body {
    display: flex;
    justify-content: center;
    width: 138.6rem;
    margin: 0;
}

.print {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 138.6rem;
    height: auto;
    box-sizing: border-box;
}

.printTitle {
    position: absolute;
    top: 1.2rem;
    left: 50%;
    font-size: 2rem;
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.printTable {
    width: 130.8rem;
    height: auto;
    margin-top: 3.2rem;
    border-top: 0.1rem solid black;
}

.printTableHead {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.8rem;
}

.prinTableBody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.printTableCell {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 2.8rem;
    height: auto;
}

.printTableHead .item {
    height: 2.8rem;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.1rem solid black;
    border-right: 0.1rem solid black;
    box-sizing: border-box;
}

.item:nth-child(1) {
    border-left: 0.1rem solid black;
}

.printTableHead .item {
    font-weight: 700;
    font-size: 0.9rem;
}

.printTableCell .item {
    font-size: 0.8rem;
    overflow: hidden;
    padding: 0.3rem 0;
    box-sizing: border-box;
}

.item:nth-child(1) {
    width: 10.6rem;
}

.item:nth-child(9) {
    width: 13rem;
    padding: 0 0.6rem;
}

.item:nth-child(10) {
    width: 15rem;
}

.item:nth-child(11) {
    width: 15rem;
    padding: 0 0.3rem;
}

.item:nth-child(4) {
    width: 7.4rem;
}

.item:nth-child(5),
.item:nth-child(6),
.item:nth-child(7),
.item:nth-child(14),
.item:nth-child(15),
.item:nth-child(16) {
    width: 7rem;
}

.item:nth-child(8) {
    width: 10rem;
    padding: 0 0.3rem;
}

.item:nth-child(12),
.item:nth-child(17) {
    width: 10rem;
}

.item:nth-child(2) {
    width: 27.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.item:nth-child(3) {
    width: 24.5rem;
    padding: 0 0.3rem;
}

.item:nth-child(13) {
    width: 24.5rem;
}

.printTableCell .item:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    word-break: keep-all;
}

.printTableCell .item:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.printTableCell .item:nth-child(8) {
    justify-content: flex-start;
}

.printTableCell .item:nth-child(9) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.printTableCell .item:nth-child(11) {
    justify-content: flex-start;
}

.pageBreak {
    page-break-before: always;
}

.pageNumber{
    position: absolute;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
}

@media print {
    @page {
        width: 297mm;
        height: 420mm;
        margin: 0
    }

    body {
        margin: 15mm;
    }

}