.busPrintContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 165.5rem;
    min-height: 74rem;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
}

@page {
    size:297mm 420mm ;
    margin: 0;
}