/* ALL */
input[type=date] {
    font-family: "Noto Sans CJK KR";
  }
  
  /* 검색창 변경영역 */
  .dateControllBtnBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    margin-left: 1.2rem;
  }
  
  .dateToday {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;
    height: 2.4rem;
    background-color: #444;
    color: white;
    font-size: 1.4rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }
  
  .dateControllBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    background-color: #444;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
  }
  
  .dateControllBtn svg{
    width: 40%;
  }
  
  .search_inputArea input:nth-child(4) {
    margin-right: 0.6rem;
  }
  
  .search_inputArea input:nth-child(5) {
    margin-left: 0.6rem;
  }
  
  
  
  
  
  
  
  /* 입력 배차 form */
  .inputDispatchForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 26rem;
  }
  
  
  
  
  
  /* 입력창 */
  .input {
    position: relative;
    height: 18rem;
  }
  
  .inputSave {
    position: absolute;
    top: -5.8rem;
    right: 1rem;
    background-color: #0069D9;
  }
  
  .inputDelete {
    position: absolute;
    top: -5.8rem;
    right: 8rem;
    background-color: #444444;
  }
  
  .newOrderLink {
    position: absolute;
    top: -5.8rem;
    right: 15rem;
  }
  
  .newOrder {
    background-color: #0069D9;
  }
  
  .InputHeader {
    width: 11rem;
  }
  
  .quarterBox {
    justify-content: space-between;
  }
  
  .inputTextquarter {
    width: 55%;
    height: 1.8rem;
    margin: 0 0.8rem;
    outline: none;
  }
  
  .deeperBox {
    width: 40%;
  }
  
  .input label {
    cursor: pointer;
  }
  
  
  
  
  
  /* 일반배차 */
  .orderDispatch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 6rem;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
  }
  
  .orderDispatchTable {
    width: calc(100% - 0.6rem);
    border-spacing: 0;
    font-size: 1.4rem;
    text-align: center;
    border-spacing: 0;
  }
  
  .orderDispatchTable tr {
    height: 3rem;
  }
  
  .orderDispatchTable thead tr {
    background-color: #444;
    color: white;
  }
  
  .orderDispatchTable td {
    width: calc((100%/13)*2);
  }
  
  .orderDispatchTableBox .orderDispatchTable td {
    width: calc((100%/13)*2);
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
  }
  
  .orderDispatchTable tbody tr:nth-last-child(1) td {
    border-bottom: none;
  }
  
  .orderDispatchTable td:nth-last-child(1) {
    width: calc(100%/13);
    border-right: none;
  }
  
  .orderDispatchDelete {
    margin: 0 auto;
    background-color: #444;
  }
  
  
  .orderDriverSelect {
    height: 2.4rem;
    margin: 0 0.8rem;
    outline: none;
  }
  
  .orderDispatchTableBox {
    width: 100%;
    height: auto;
    max-height: 30rem;
    overflow-y: scroll;
  }
  
  .orderDispatchTableBox table {
    width: 100%;
  }
  
  
  /* 스크롤바 설정*/
  .orderDispatchTableBox::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  /* 스크롤바 막대 설정*/
  .orderDispatchTableBox::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 1rem;
  }
  
  /* 스크롤바 뒷 배경 설정*/
  .orderDispatchTableBox::-webkit-scrollbar-track {
    background-color: #D2D2D2;
  }
  
  .orderDispatchTable tbody td:nth-last-child() td {
    width: calc((100%/13)*2 - 0.6rem);
  }
  
  
  
  
  
  /* 노선목록 */
  .list {
    position: relative;
    height: calc(100% - 35.2rem);
  }
  
  .listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.2rem;
  }
  
  .listHeader span {
    font-size: 1.6rem;
    margin-left: 0.8rem;
  }
  
  .listHeaderBtnBox {
    display: flex;
    justify-content: space-between;
    width: 20.5rem;
  }
  
  .listHeaderBtnBox .btnModules:nth-child(1) {
    background-color: #444;
  }
  
  .listExcel {
    width: 12rem;
    margin-right: 0.8rem;
    background-color: #444;
  }
  
  .listTable {
    width: 100%;
    height: 2.8rem;
  }
  
  .listTableScroll {
    height: 39.5rem;
    overflow-y: hidden;
  }
  
  .ListTableBox {
    width: 62%;
    padding: 0;
  }
  
  tbody .ListTableBox tr {
    cursor: pointer;
  }
  
  .listTableScroll .listTable tr {
    height: 100%;
    height: 4.6rem;
  }
  
  .listTableScroll .scrollListTableBox tr {
    height: 100%;
    height: 4.6rem;
  }
  
  .listTableScroll .ListTableBox {
    display: flex;
    width: 100%;
    height: 31.2rem;
    padding: 0;
    overflow-y: hidden;
  }
  
  .listTableScroll .ListTableBox::-webkit-scrollbar {
    display: none;
  }
  
  .listTableScroll .ListTableBox::-webkit-scrollbar-thumb {
    display: none;
  }
  
  .listTableScroll .ListTableBox::-webkit-scrollbar-track {
    display: none;
  }
  
  .listTableScroll .ListTableBox table {
    table-layout: fixed;
  }
  
  .ListTableBox table {
    width: 100%;
    border-spacing: 0;
  }
  
  .listTableFixedTd1 {
    width: 17%;
    box-sizing: border-box;
  }
  
  .listTableFixedTd2 {
    width: 10%;
    box-sizing: border-box;
  }
  
  .listTableFixedTd3,
  .listTableFixedTd5 {
    width: 8%;
    box-sizing: border-box;
  }
  
  .listTableFixedTd4 {
    width: 57%;
  }
  
  .listTableScroll .listTableFixedTd4 {
    text-align: left;
    padding-left: 1rem;
    box-sizing: border-box;
  }
  
  .listTableFixedTd5 {
    border-right: 0.1rem solid white;
  }
  
  .scrollListTableBox {
    width: 38%;
    padding: 0;
  }
  
  .scrollListTableWidth {
    width: 100%;
    overflow: scroll;
  }
  
  .listTable thead .scrollListTableWidth {
    width: 100%;
    padding-right: 1rem;
    box-sizing: border-box;
    overflow: scroll;
  }
  
  .listTableScroll .scrollListTableWidth {
    height: 38.8rem;
    padding-bottom: 0.8rem;
    overflow: scroll;
  }
  
  .scrollListTableBox table {
    width: 500%;
    border-spacing: 0;
  }
  
  .listTable thead .scrollListTableBox table {
    width: 500%;
  }
  
  .listTable thead .scrollListTableWidth::-webkit-scrollbar {
    display: none;
  }
  
  .listTable thead .scrollListTableWidth::-webkit-scrollbar-thumb {
    display: none;
  }
  
  .listTable thead .scrollListTableWidth::-webkit-scrollbar-track {
    display: none;
  }
  
  .scrollListTableWidth::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }
  
  .scrollListTableWidth::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #444444;
    border-radius: 10px;
  }
  
  .scrollListTableWidth::-webkit-scrollbar-track {
    background-color: #D2D2D2;
  }
  
  .listTable tbody .ListTableBox td,
  .listTable tbody .scrollListTable td {
    border-right: 0.1rem solid #D4D4D4;
    border-bottom: 0.1rem solid #D4D4D4;
  }
  
  .listTable tbody .ListTableBox {
    padding-bottom: 1.7rem;
  }
  
  .scrollListTable td:nth-child(2),
  .scrollListTable td:nth-child(3),
  .scrollListTable td:nth-child(4),
  .scrollListTable td:nth-child(6),
  .scrollListTable td:nth-child(8),
  .scrollListTable td:nth-child(9),
  .scrollListTable td:nth-child(10),
  .scrollListTable td:nth-child(11),
  .scrollListTable td:nth-child(12),
  .scrollListTable td:nth-child(13),
  .scrollListTable td:nth-child(14),
  .scrollListTable td:nth-child(15) {
    width: calc(100% / 22);
  }
  
  .scrollListTable td:nth-child(5) {
    width: calc(200% / 22);
  }
  
  .scrollListTable td:nth-child(7) {
    width: calc(400% / 22);
  }
  
  .scrollListTable td:nth-child(1) {
    width: calc(300% / 22);
  }
  
  .routeTableTotal {
    position: absolute;
    display: flex;
    bottom: 0.5rem;
    width: calc(100% - 1rem);
    height: 5rem;
    overflow: hidden;
    background-color: white;
  }
  
  .routeMainTableTotal {
    width: 57%;
  }
  
  .routeMainTableTotal td:nth-child(1) {
    width: 19%;
  }
  
  .routeMainTableTotal td:nth-child(2) {
    width: 11%;
  }
  
  .routeMainTableTotal td:nth-child(3) {
    width: 9%;
  }
  
  .routeMainTableTotal td:nth-child(4) {
    width: 52%;
  }
  
  .routeMainTableTotal td:nth-child(5) {
    width: 9%;
  }
  
  .routeTableTotalScrolBox table {
    width: 500%;
  }
  
  .routeTableTotal table {
    height: 100%;
    border-spacing: 0;
  }
  
  .routeTableTotal tr {
    background-color: #EFEFEF;
  }
  
  .routeTableTotal td {
    border-right: 0.1rem solid #D4D4D4;
    border-top: 0.1rem solid #444;
    border-bottom: 0.1rem solid #444;
  }
  
  .routeTableTotalScrolBox {
    width: 44%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .routeTableTotalScrolBox::-webkit-scrollbar {
    display: none;
  }
  
  .routeTableTotalScrolBox td:nth-child(2),
  .routeTableTotalScrolBox td:nth-child(3),
  .routeTableTotalScrolBox td:nth-child(4),
  .routeTableTotalScrolBox td:nth-child(6),
  .routeTableTotalScrolBox td:nth-child(8),
  .routeTableTotalScrolBox td:nth-child(9),
  .routeTableTotalScrolBox td:nth-child(10),
  .routeTableTotalScrolBox td:nth-child(11),
  .routeTableTotalScrolBox td:nth-child(12),
  .routeTableTotalScrolBox td:nth-child(13),
  .routeTableTotalScrolBox td:nth-child(14),
  .routeTableTotalScrolBox td:nth-child(15) {
    width: calc(100% / 22);
  }
  
  .routeTableTotalScrolBox td:nth-child(5) {
    width: calc(200% / 22);
  }
  
  .routeTableTotalScrolBox td:nth-child(7) {
    width: calc(400% / 22);
  }
  
  .routeTableTotalScrolBox td:nth-child(1) {
    width: calc(300% / 22);
  }
  
  
  
  
  
  
  /* 스케줄 */
  .driverTd {
    width: calc(100% - 23.184rem);
  }