/* 검색창 변경영역 */
.dateControllBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5.6rem;
  margin-left: 1.2rem;
}

.dateControllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  background-color: #444;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
.dateControllBtn svg{
  width: 40%;
}






/* 입력창 */
.input{
  height: 12rem;
}

.inputSave {
  background-color: #0069D9;
}

.listHeaderBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 21rem;
}

.inputinput[type=text],
.inputinput[type=number] {
  border: 0.1rem solid #e2e2e2;
}

.inputselect {
  border: 0.1rem solid #CDCDCE;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}





/* 노선목록 */
.list {
  height: calc(100% - 21.2rem);
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.2rem;
}

.listHeader span {
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

.listExcel {
  width: 12rem;
  margin-right: 0.8rem;
  background-color: #444;
}

.listTable tr td:nth-child(1) {
  width: 4%;
}

.listTable tr td:nth-child(2),
.listTable tr td:nth-child(3),
.listTable tr td:nth-child(4),
.listTable tr td:nth-child(5) {
  width: 7%;
}

.listTable tr td:nth-child(6),
.listTable tr td:nth-child(7) {
  width: 10%;
}

.listTable tr td:nth-child(8),
.listTable tr td:nth-child(9) {
  width: 24%;
}

.listTable tbody td:nth-child(1) {
  border-left: 0.1rem solid #D4D4D4;
}

.listTable tbody td {
  border-right: 0.1rem solid #D4D4D4;
  border-bottom: 0.1rem solid #D4D4D4;
}


.listTable tbody tr:nth-child(odd):hover,
.listTable tbody tr:nth-child(even):hover {
  background-color: #b4b4b4;
}

.listTable tbody tr {
  cursor: pointer;
}

.orderDriver,
.orderSpareDriver {
  display: none;
  width: 96%;
  height: 2.5rem;
  margin: 0 auto;
  outline: none;
  box-sizing: border-box;
}





/* 스케줄 */
.driverTd {
  width: calc(100% - 23.184rem);
}





@media all and (min-width:1460px) and (max-width: 1600px) {
}

@media all and (min-width:1024px) and (max-width: 1460px) {
}