.searchTool {
  width: 96rem;
}

.routeFilterBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38rem;
  height: 100%;
  margin-left: 2rem;
  margin-right: 4rem;
}

.routeFilterBox input {
  width: 18rem;
}

.dateFilterBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37rem;
  height: 100%;
  margin-right: 2rem;
}

.dateFilterBox span {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.dateFilterBox input {
  width: 15rem;
}

.searchTool input[type=submit] {
  background-color: #444444;
}

.optionBtnBox {
  display: flex;
  justify-content: space-between;
  width: 22rem;
}

.optionBtnBox div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3.8rem;
  border-radius: 0.2rem;
  background-color: #444444;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}





/*tableHead*/
.tableHead {
  width: calc(100% - 0.2rem);
  height: 4.8rem;
  border: 0.1rem solid #CDCDCE;
  border-radius: 0.5rem 0.5rem 0 0;
}

.tableHead thead {
  width: 100%;
  height: 100%;
}

.tableHead tr {
  width: 100%;
  height: 100%;
  align-items: center;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #7A7A7A;
}

.tableBody {
  width: calc(100% - 0.2rem);
  height: 64em;
  margin-top: -0.1rem;
  border: 0.1rem solid #CDCDCE
}

.tableBody::-webkit-scrollbar {
  width: 0.6rem;
}

.tableBody::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: grey;
  border-radius: 10px;
}

.tableBody::-webkit-scrollbar-track {
  background-color: #dbdada;
}

tbody {
  width: 100%;
  height: 100%;
}

table tr {
  display: flex;
  width: 100%;
  height: 6.4rem;
  border-bottom: 0.1rem solid #CDCDCE;
}

table tr:nth-child(10) {
  border-bottom: none;
}

table tr:nth-child(odd) {
  background-color: white;
}

table tr:nth-child(even) {
  background-color: #EFEFEF;
}

table td {
  display: flex;
  align-items: center;
}

table a {
  color: #0069D9;
}

.regularlyDispatchBtn {
  padding: 0.3rem 1.6rem;
  background-color: #0069D9;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

.tableBody td {
  font-size: 1.4rem;
  color: #191919;
}

td:nth-child(1) {
  width: 3%;
  padding-left: 1%;
}

tbody td input {
  width: 1.6rem;
  height: 1.6rem;
}

td:nth-child(2) {
  width: 16%;
  word-break: keep-all;
}

td:nth-child(3) {
  width: 5%;
}

td:nth-child(4) {
  width: 30%;
}

tbody td:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #0069D9;
  cursor: pointer;
}

td:nth-child(5) {
  width: 10%;
}

td:nth-child(6) {
  width: 10%;
}

td:nth-child(7) {
  display: flex;
  justify-content: center;
  width: 5%;
}

td:nth-child(8) {
  width: 20%;
  padding-right: 1%;
  word-break: keep-all;
}

.checkbox {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.btnBox input {
  background-color: #444444;
}






.popupContainer {
  position: fixed;
  top: 50%;
  right: 3rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 36rem;
  height: 90vh;
  align-items: center;
  background-color: white;
  border-radius: 0.3rem;
  transform: translate(0, -50%);
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
}

.regularyCreatePopupTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  border-bottom: 0.1rem solid #191919;
  font-size: 1.6rem;
  font-weight: 500;
}

.popupContainer table {
  width: 100%;
  border-spacing: 0;
}

.regularyCreatePopupThead tr {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 0.6rem);
  height: 4.8rem;
  padding: 0 1.8rem;
  border-bottom: 0.1rem solid #191919;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 500;
}

.regularyCreatePopupThead tr td {
  display: flex;
  justify-content: center;
  width: calc((100% - 1.8rem)/2);
}

.popupContainer table tr td span {
  display: flex;
  justify-content: center;
  width: calc(100%/3);
}

.regularyCreatePopupTbodyBoxing {
  width: 100%;
  height: calc(100% - 27.7rem);
  border-bottom: 0.1rem solid #191919;
  overflow-y: scroll;
}

.regularyCreatePopupTbodyBoxing::-webkit-scrollbar {
  width: 0.6rem;
}

.regularyCreatePopupTbodyBoxing::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #828282;
  border-radius: 10px;
}

.regularyCreatePopupTbodyBoxing::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.regularyCreatePopupTbody tr:nth-child(odd) {
  background-color: white;
}

.regularyCreatePopupTbody tr:nth-child(even) {
  background-color: white;
}

.regularyCreatePopupTbody tr {
  display: flex;
  justify-content: space-between;
  height: 3.6rem;
  padding: 0 1.2rem;
  box-sizing: border-box;
  border: none;
}

.regularyCreatePopupTbody tr td {
  display: flex;
  justify-content: space-between;
  width: calc((100% - 1.2rem)/2);
}

.regularyCreatePopupTbody tr td:nth-child(1) div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.2rem;
  box-sizing: border-box;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: white;
}

.regularyCreatePopupTbody tr td:nth-child(2) div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 0.4rem)/3);
  height: 3rem;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.3rem;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.GoToWork {
  background-color: #a7a7a7;
  color: white;
}

.work {
  background-color: #ff3b30;
  color: white;
}

.backToHome {
  background-color: #5856d6;
  color: white;
}

.regularyCreatePopupResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12rem;
  padding: 0 1.8rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #191919;
  box-sizing: border-box;
  overflow-y: scroll;
}

.regularyCreatePopupResult::-webkit-scrollbar {
  width: 0.6rem;
}

.regularyCreatePopupResult::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #828282;
  border-radius: 10px;
}

.regularyCreatePopupResult::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.regularyCreatePopupResult div:nth-child(1) {
  margin-top: 0.6rem;
}

.regularyCreatePopupResult div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.6rem;
  text-align: center;
  padding: 0.4rem 0;
  border-radius: 0.2rem;
  background-color: #0069D9;
  box-sizing: border-box;
  font-size: 1.4rem;
  color: white;
  margin-bottom: 0.6rem;
  outline: none;
  border: none;
}


.regularyCreatePopupBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  padding: 0 10.5rem;
  box-sizing: border-box;
}

.regularyCreatePopupBtnBox div:nth-child(1) {
  background-color: #444444;
}

.regularyCreatePopupBtnBox div:nth-child(2) {
  background-color: #0069D9;
}





.popupAreaModulesRoute {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.popupAreaModulesRouteCreate {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.popupAreaModulesGroupCreate {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
  height: 100%;
}

.popupBgModulesRoute {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
}

.popupContainerRoute {
  position: fixed;
  top: 50%;
  left: calc(50% + 11rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80rem;
  height: 58rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
  transform: translate(-50%, -50%);
}

.routePopupTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom: 0.1rem solid #191919;
}

.routePopupDataArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 9.7rem);
  padding: 4.2rem 3rem 3rem 3rem;
  box-sizing: border-box;
}

.createGroupDataArea{
  flex-wrap: nowrap;
  height: calc(100% - 4.9rem);
}
.routePopupDataArea form{
  width: 100%;
}
.createGroupDataArea .routePopupBtnBox{
  padding: 0 29.5rem;
}

.popupAreaModulesRoute .popupContainerRoute .routePopupDataArea:nth-child(3) {
  display: flex;
}

.popupAreaModulesRoute .popupContainerRoute .routePopupDataArea:nth-child(4) {
  display: none;
}

.routePopupDataCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 6rem;
}

.routePopupDataTitle {
  font-size: 1.4rem;
  color: #7A7A7A;
}

.routePopupDataCell {
  width: 23rem;

}

.routePopupDataArea .routePopupDataCell:nth-child(2),
.routePopupDataArea .routePopupDataCell:nth-child(4),
.routePopupDataArea .routePopupDataCell:nth-child(15) {
  width: 48.8rem;
}

.routePopupData {
  width: 100%;
  padding-bottom: 0.1rem;
  font-size: 1.4rem;
  color: #191919;
  border-bottom: 0.1rem solid #191919;
}

.routePopupBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  padding: 0 32.5rem;
  box-sizing: border-box;
}

.popupAreaModulesGroupCreate .routePopupBtnBox {
  justify-content: center;
}

.routePopupBtnBox div:nth-child(1) {
  background-color: #444444;
}

.routePopupBtnBox div:nth-child(2) {
  background-color: #0069D9;
}

.routePopupBtnBox input {
  background-color: #0069D9;
}
.routePopupBtnBox input:nth-child(3){
  display: none;
  background-color: #0069D9;
}

.routePopupDataCell input[type=text],
.routePopupDataCell input[type=date],
.routePopupDataCell input[type=time],
.routePopupDataCell select {
  height: 2.6rem;
  border: 0.1rem solid #D2D2D2;
  background-color: white;
  border-radius: 0.2rem;
  outline: none;
  font-size: 1.4rem;
  color: #191919;
}

.routePopupDataDriveTime,
.routePopupDataContractPeriod {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routePopupDataDriveTime input,
.routePopupDataContractPeriod input {
  width: 10.8rem;
}

.routePopupDataRoutName,
.routePopupDataReference {
  width: 48.8rem;
}

.routePopupDataGroup,
.routePopupDataDriveTime,
.routePopupDataDriveTime,
.routePopupDataDriveTime,
.routePopupDataDriverNumber,
.routePopupDataDriverPay,
.routePopupDataBusKinds,
.routePopupDataBusCount,
.routePopupDatAaccount,
.routePopupPhoneNumber,
.routePopupDataContractAmount,
.routePopupDataContractPeriod,
.routePopupWork {
  width: 23rem;
}

.routePopupDataDriveDate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-bottom: 0.1rem solid #191919;
}

.routePopupDataDriveDate input[type=checkbox] {
  margin: 0;
}

.routePopupDataDriveDate label {
  font-size: 1.4rem;
  cursor: pointer;
}

.routePopupWork {
  font-size: 1.4rem;
  border-bottom: 0.1rem solid #191919;
}

.routePopupWork label {
  cursor: pointer;
}





.popupAreaModulesGroupCreate .routePopupDataArea {
  display: flex;
  flex-direction: column;
}

.createGroupBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 5.2rem;
  border-bottom: 0.1rem solid #191919;
}

.createGroupBox label {
  font-size: 1.4rem;
}

.createGroupBox input[type=text] {
  width: 58rem;
  height: 2.5rem;
  margin-left: 2rem;
  box-sizing: border-box;
  outline: none;
}

.createGroupBox input[type=submit] {
  background-color: #0069D9;
  margin-left: 2rem;
}

.groupContainer {
  height: 35.7rem;
  overflow-y: scroll;
  border-bottom: 0.1rem solid #191919;
}

.groupContainer::-webkit-scrollbar {
  width: 6px;
}

.groupContainer::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #828282;
  border-radius: 10px;
}

.groupContainer::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.groupFullBox {
  width: 100%;
  height: auto;
}

.groupBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 3.2rem;
  padding-right: 0.6rem;
  border-bottom: 0.1rem solid #191919;
  box-sizing: border-box;
  cursor: pointer;
}

.groupBox img {
  width: 1.4rem;
  height: 0.8rem;
  padding: 1rem;
  cursor: pointer;
}

.groupBoxTitle {
  width: 63.5rem;
  border: none;
  font-family: 'Noto Sans CJK KR';
  font-weight: normal;
  color: #191919;
  margin-left: 2rem;
  background-color: white;
}

.groupBoxTollCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4rem;
  margin-left: 2rem;
}

.groupDepth2 {
  width: 100%;
  height: 0;
  padding-left: 4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.groupDepth2Route {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.6rem;
  border-bottom: 0.1rem solid #CDCDCE;
  font-size: 1.4rem;
  font-weight: normal;
  color: #676767;
}


.groupBoxTollCell div:nth-child(1) {
  background-image: url("../../images/editIcon.png");
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
}

.groupBoxTollCell input:nth-child(2) {
  background-image: url("../../images/deleteIcon.png");
  width: 1.4rem;
  height: 1.4rem;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: cover;
  cursor: pointer;
}
.groupCretetCloseBtn {
  background-color: #444444;
  margin-right: 2rem;
}
