.group_layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36rem;
  height: 100%;
}






/* 그룹등록 */
.createGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 9rem;
  margin-top: 2.8rem;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.createGroupHeadre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2.8rem;
  padding-left: 2rem;
  background-color: #444;
  border-radius: 0.2rem 0.2rem 0 0;
  font-size: 1.5rem;
  color: white;
  box-sizing: border-box;
}

.createGroupForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.2rem;
  padding: 0 1rem;
  background-color: #E4E4E4;
  box-sizing: border-box;
}

.createGroupForm input:nth-child(2),
.createGroupForm input:nth-child(3) {
  height: 2.5rem;
  box-sizing: border-box;
  outline: none;
}

.createGroupForm input:nth-child(2) {
  width: 4.2rem;
}

.createGroupForm input:nth-child(3) {
  width: 20rem;
}

.createGroupForm input:nth-child(4) {
  background-color: #0069D9;
}





/* 그룹목록 */
.groupList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.groupListHeadre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 2.8rem;
  padding-left: 1.2rem;
  background-color: #444;
  border-radius: 0.2rem 0.2rem 0 0;
  font-size: 1.5rem;
  color: white;
  box-sizing: border-box;
}

.groupListForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100% - 8rem);
  overflow-y: scroll;
}

/* 스크롤바 설정*/
.groupListForm::-webkit-scrollbar {
  width: 0.6rem;
}

.groupListForm::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #444444;
  border-radius: 10px;
}

.groupListForm::-webkit-scrollbar-track {
  background-color: #D2D2D2;
}

.groupListBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: auto;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  box-sizing: border-box;
}

.groupListCell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-top: 0.1rem solid black;
}

.groupListCellOpenArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  height: 100%;
  cursor: pointer;
}

.groupListOpenBtn {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 1rem;
}

.groupNum{
  display: none;
  width: 4.2rem;
  height: 2.5rem;
  box-sizing: border-box;
  outline: none;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  background-color: white;
}

.groupName {
  width: 24rem;
  height: 2.5rem;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
}

.groupListBtnBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 6.5rem;
  margin: 0 1rem;
}

.groupListBtnBox div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  background-size: contain;
  background-image: url("../../images/editIcon.png");
  cursor: pointer;
}

.groupListBtnBox input:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("../../images/deleteIcon.png");
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;
}

.groupListBtnBox input:nth-child(3) {
  display: none;
  background-color: #0069D9;
}

.routeListBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-end; */
  width: 90%;
  height: 0;
  font-size: 1.4rem;
  overflow: hidden;
}

.routeListCell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

.routeListNumber {
  margin: 0 1rem 0 0.4rem;
}






/* 입력창 */
.input {
  flex-direction: column;
  justify-content: flex-start;
  height: 16.2rem;
}

.inputHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.2rem;
}

.inputHeader span {
  font-size: 1.6rem;
  margin-left: 0.8rem;
}

.inputBtnBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 23rem;
  height: 100%;
}

.inputNew {
  background-color: #0069D9;
}

.inputSave {
  background-color: #0069D9;
}

.inputDelete {
  background-color: #444;
}

.input table tr:nth-child(1) td {
  border-top: 0.1rem solid black;
}






/* 고정배차 */
.fixedDispatch {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10rem;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

.fixedDispatchHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4.2rem;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.fixedDispatchHeaderBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
}

.fixedDispatchSave {
  background-color: #0069D9;
}

.fixedDispatchDelete {
  background-color: #444;
}

.fixedDispatchTable {
  width: 100%;
  border-spacing: 0;
}

.fixedDispatchTable thead {
  background-color: #444;
}

.fixedDispatchTable tr {
  height: 3rem;
}

.fixedDispatchTable td {
  width: calc(100% / 7);
  text-align: center;
  font-size: 1.4rem;
  color: white;
}

.fixedDispatchTable tbody td {
  color: black;
  border-right: 0.1rem solid black;
}

.fixedDispatchTable tbody td:nth-last-child(1) {
  border-right: none;
}

.fixedDispatchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fixedDispatchSelect {
  display: none;
  width: 58%;
  height: 2.4rem;
  margin-right: 1%;
  outline: none;
}

.fixedDispatchSelect option{
  color: black;
}

.fixedDispatchText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.8rem;
  box-sizing: border-box;
  cursor: pointer;
}






/* 스케줄 */
.mainSchedule {
  width: 100%;
  height: calc(100% - 30.2rem);
}

.scheduleHeaderArea {
  justify-content: space-between;
  height: 4.2rem;
  padding: 0 1rem;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.scheduleHeaderFilterBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.scheduleHeaderFilterBox input {
  cursor: pointer;
}

.scheduleHeaderFilterBox label {
  margin-right: 1rem;
  cursor: pointer;
}

.scheduleHeaderFilter {
  width: 14rem;
  height: 1.8rem;
}

.hourMarker {
  width: 106.56rem;
}

.scheduleTableTrAble {
  order: 1;
}

.scheduleTableTrDisable {
  order: 2;
}

.hourTd {
  width: 8.88rem;
}

.scheduleBodyArea {
  height: calc(100% - 4.2rem);
}

.driverTd {
  width: calc(100% - 106.56rem);
}

.ableToDispatch{
  background-color: #0069D9;
}