{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}

<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">

<link rel="stylesheet" href="{% static 'css/document/document.css' %}" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
    운행서류
</div>
{% endblock %}

{% block content %}




<div class="searchAreaBox">
    <form action="">
        <div class="searchTool">
            <div class="searchTitle">노선검색</div>
            <label for="">노선이름</label>
            <input autocomplete="off" name="route" value="{{route}}" type="text">
            <label for="">기간</label>
            <div class="searchDataBox">
                <input autocomplete="off" name="date1" type="date" class="inputModules" value="{{date1}}">
                ~
                <input autocomplete="off" name="date2" type="date" class="inputModules" value="{{date2}}">
            </div>
            <div class="dateControllBtnBox">
                <div class="dateToday">오늘</div>
                <div class="dateControllBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.6" height="13" viewBox="0 0 8.6 13">
                        <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                            d="M13.843,12.692l5.692-4.915a.839.839,0,0,0,0-1.312,1.2,1.2,0,0,0-1.523,0l-6.449,5.569a.839.839,0,0,0-.031,1.281l6.475,5.608a1.205,1.205,0,0,0,1.523,0,.839.839,0,0,0,0-1.312Z"
                            transform="translate(-11.25 -6.194)" fill="#fff" />
                    </svg>
                </div>
                <div class="dateControllBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.6" height="13" viewBox="0 0 8.6 13">
                        <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
                            d="M17.258,12.692,11.566,7.777a.839.839,0,0,1,0-1.312,1.2,1.2,0,0,1,1.523,0l6.448,5.569a.839.839,0,0,1,.031,1.281l-6.475,5.608a1.205,1.205,0,0,1-1.523,0,.839.839,0,0,1,0-1.312Z"
                            transform="translate(-11.25 -6.194)" fill="#fff" />
                    </svg>
                </div>
            </div>
            <input autocomplete="off" type="submit" value="검색" class="btnModules">
        </div>
    </form>
</div>




<div class="documentArea">
    <span class="documentType">출력문서 :</span>

    <span class="printingBtn" onclick="openVehicleRegistrationPrint('/document/print/vehicle')">차량등록증</span>

    <span class="printingBtn" onclick="openPledgePrint('/document/print/commitment')">확약서</span>

    <span class="printingBtn" onclick="openBuscheckPrint('/document/print/safety')" >차량안전 점검표</span>

    <span class="printingBtn" onclick="openSchoolPrint('/document/print/school')">표찰</span>

    <span class="printingBtn" onclick="openDrinkingPrint('/document/print/drinking')">자가 음주측정 보고서</span>

    <span class="documentType documentTypeLocation">사이트로 이동 :</span>
    <!-- 전세버스 공제조합 -->
    <a href="https://nmcb.org/cooperative/user/main.do" target="_blank">
        <span class="btnModules" title="전세버스 공제조합 사이트로 이동">보험가입 증명서</span>
    </a>
    <!-- 전세버스 교통안전정보 공시 시스템 -->
    <a href="https://www.kotsa.or.kr/safeinfo/mng/auth/loginCertificate.do" target="_blank">
        <span class="btnModules" title="전세버스 교통안전정보 공시 시스템 사이트로 이동">교통안전조회 결과 통보서</span>
    </a>
    <!-- 전세버스 교통안전정보 공시 시스템 -->
    <a href="http://www.ktbus24.com/home/main.do" target="_blank">
        <span class="btnModules" title="전세버스 운행기록증 발급 시스템 사이트로 이동">운행기록증</span>
    </a>
</div>





<div class="contentsAreaBox">
    <div class="documentTableBox">
        <table class="documentThead">
            <thead>
                <tr>
                    <td>선택</td>
                    <td>운행시간</td>
                    <td>노선이름</td>
                    <td>배차차량</td>
                    <td>차량종류</td>
                    <td>차량대수</td>
                    <td>예약자명</td>
                    <td>예약자 전화번호</td>
                </tr>
            </thead>
        </table>
        <div class="documentTbodyBox">
            <table class="documentTbody">
                <tbody>
                    {% for order in order_list %}
                    <tr>
                        <td>
                            <input autocomplete="off" type="radio" name="route" class="routeRadio {{order.id}}">
                        </td>
                        <td>
                            {{order.departure_date}}<br>
                            {{order.arrival_date}}
                        </td>
                        <td>
                            {{order.departure}}▶<br>
                            {{order.arrival}}
                        </td>
                        <td>
                            <div class="documentDispatch">
                                {% with connect=connect_list|index:forloop.counter0 %}
                                {% for c in connect %}
                                <span>{{c.driver_id.name}}({{c.bus_id.vehicle_num}})</span>

                                {% endfor %}
                                {% endwith %}
                            </div>
                        </td>
                        <td></td>
                        <td>{{order.info_order.count}} ({{order.bus_cnt}})대</td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>





{% endblock %}







{% block script %}
<script>
    const routeRadio = document.querySelectorAll(".routeRadio")

    let routeId = ""
        
    let targetLink = ""

    function openVehicleRegistrationPrint(url){
        for(i=0; i<routeRadio.length; i++){
            if(routeRadio[i].checked){
                routeId = routeRadio[i].classList[1];
                targetLink = `${url}?id=${routeId}`
                window.open(targetLink, `차량등록증`, "width=800, height=860")
                return
            }
            if(i+1 == routeRadio.length){
                alert("노선을 선택해 주세요!")
            }
        }
    }

    function openPledgePrint(url){
        for(i=0; i<routeRadio.length; i++){
            if(routeRadio[i].checked){
                routeId = routeRadio[i].classList[1];
                targetLink = `${url}?id=${routeId}`
                window.open(targetLink, `확약서`, "width=800, height=860")
                return
            }
            if(i+1 == routeRadio.length){
                alert("노선을 선택해 주세요!")
            }
        }
    }

    function openBuscheckPrint(url){
        for(i=0; i<routeRadio.length; i++){
            if(routeRadio[i].checked){
                routeId = routeRadio[i].classList[1];
                targetLink = `${url}?id=${routeId}`
                window.open(targetLink, `차량안전 점검표`, "width=800, height=860")
                return
            }
            if(i+1 == routeRadio.length){
                alert("노선을 선택해 주세요!")
            }
        }
    }

    function openSchoolPrint(url){
        for(i=0; i<routeRadio.length; i++){
            if(routeRadio[i].checked){
                routeId = routeRadio[i].classList[1];
                targetLink = `${url}?id=${routeId}`
                window.open(targetLink, `학교표찰`, "width=1030, height=742.5")
                return
            }
            if(i+1 == routeRadio.length){
                alert("노선을 선택해 주세요!")
            }
        }
    }

    function openDrinkingPrint(url){
        for(i=0; i<routeRadio.length; i++){
            if(routeRadio[i].checked){
                routeId = routeRadio[i].classList[1];
                targetLink = `${url}?id=${routeId}`
                window.open(targetLink, `자가 음주측정 보고서`, "width=800, height=860")
                return
            }
            if(i+1 == routeRadio.length){
                alert("노선을 선택해 주세요!")
            }
        }
    }

</script>
<script src="{% static 'js/document/loadDate.js' %}"></script>
<script src="{% static 'js/document/List.js' %}"></script>
<script src="{% static 'js/document/orderDateControll.js' %}"></script>
<script src="{% static 'js/document/matchDispatch.js' %}"></script>
{% endblock %}