{% load static %}

{% block head %}
<meta http-equiv="Cache-Control" content="private, no-cache, no-store, max-age=0, must-revalidate">
<link rel="stylesheet" href="{% static 'css/document/school.css' %}" type="text/css" />

{% endblock %}


<div class="print">
    <div class="printText first"></div>
    <div class="printText second"></div>
    <div class="printText third"></div>
    <div class="printText fourth"></div>

    <div class="makeText">
        <div class="makeTextTitle">표찰내용 수정</div>
        <input autocomplete="off" type="text" value="학생현장교육차량">
        <input autocomplete="off" type="text" value="1학년 1반">
        <input autocomplete="off" type="text" value="학교명 : {{order.customer}}">
        <input autocomplete="off" type="text">
    </div>
</div>


{% block script %}
<script src="{% static 'js/document/inputText.js' %}"></script>
{% endblock %}