{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block head %}
<link href="{% static 'css/crudmember/calender.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content-header %}
<div class="HeaderTitle">
  <!-- 페이지별 Title 변경 -->
  HOME
</div>
{% endblock %}

{% block content %}
<div class="search-Container">

  <div class="controllArea">
    <div class="search-Form">
      <label for="" class="search-Form_label">일반배차 노선</label>
      <input autocomplete="off" type="text" class="search-Form_input">
      <div class="search-Form_search-btn">검색</div>
    </div>

    <div class="dayController">
      <div class="todayBtn">오늘</div>
      <svg class="prevBtn" id="그룹_1823" data-name="그룹 1823" xmlns="http://www.w3.org/2000/svg" width="26" height="26"
        viewBox="0 0 26 26">
        <g id="그룹_1822" data-name="그룹 1822">
          <rect id="사각형_8546" data-name="사각형 8546" width="26" height="26" rx="13" fill="#444" />
        </g>
        <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
          d="M13.662,13.188,18.957,7.9a1,1,0,1,0-1.416-1.412l-6,5.995a1,1,0,0,0-.029,1.379L17.536,19.9a1,1,0,1,0,1.416-1.412Z"
          transform="translate(-3.251 0.81)" fill="#fff" />
      </svg>
      <svg class="nextBtn" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
        <g id="그룹_1823" data-name="그룹 1823" transform="translate(-579 -103)">
          <g id="그룹_1822" data-name="그룹 1822" transform="translate(301 -30)">
            <rect id="사각형_8546" data-name="사각형 8546" width="26" height="26" rx="13" transform="translate(278 133)"
              fill="#444" />
          </g>
          <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back"
            d="M16.839,13.188,11.544,7.9a1,1,0,0,1,1.416-1.412l6,5.995a1,1,0,0,1,.029,1.379L12.965,19.9a1,1,0,0,1-1.416-1.412Z"
            transform="translate(577.75 103.81)" fill="#fff" />
        </g>
      </svg>
    </div>
  </div>

  <div class="searchAreaSide">
    <div class="printArea">

      <div class="print">프린트</div>

      <div class="prinBtn" onclick="openLinePrint()">
        <span>노선별(A4)</span>
      </div>
      <div class="prinBtn" onclick="openBusPrintA4()">
        <span>호수별(A4)</span>
      </div>
      <div class="prinBtn" onclick="openBusPrintA3()">
        <span>호수별(A3)</span>
      </div>
      <div class="prinBtn morelonger" onclick="openDrivingListPrint()">
        <span>운행일보(A4)</span>
      </div>
    </div>
    <div class="alarmArea">
      <div class="alarm">정기점검</div>
      <div class="vhicleCheck inspectionAlarm{% if vehicle_list %}inspectionAlarm{% endif %}"><!-- inspectionAlarm -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <path id="Icon_awesome-bus" data-name="Icon awesome-bus"
            d="M19.063,5H18.75V3.125C18.75,1.375,14.875,0,10,0S1.25,1.375,1.25,3.125V5H.938A.937.937,0,0,0,0,5.938V9.063A.938.938,0,0,0,.938,10H1.25v6.25A1.25,1.25,0,0,0,2.5,17.5v1.25A1.25,1.25,0,0,0,3.75,20H5a1.25,1.25,0,0,0,1.25-1.25V17.5h7.5v1.25A1.25,1.25,0,0,0,15,20h1.25a1.25,1.25,0,0,0,1.25-1.25V17.5h.25a.986.986,0,0,0,1-1V10h.313A.938.938,0,0,0,20,9.063V5.938A.937.937,0,0,0,19.063,5ZM4.375,15.625a1.25,1.25,0,1,1,1.25-1.25A1.25,1.25,0,0,1,4.375,15.625ZM5,11.25A1.25,1.25,0,0,1,3.75,10V5A1.25,1.25,0,0,1,5,3.75H15A1.25,1.25,0,0,1,16.25,5v5A1.25,1.25,0,0,1,15,11.25Zm10.625,4.375a1.25,1.25,0,1,1,1.25-1.25A1.25,1.25,0,0,1,15.625,15.625Z"
            fill="#fff" />
        </svg>
      </div>
    </div>
  </div>

</div>

<div class="contentsAreaBox">

  <div class="changeFormatBtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="16.318" height="15.631" viewBox="0 0 16.318 15.631">
      <g id="그룹_1831" data-name="그룹 1831" transform="translate(4207.824 16178.492)">
        <path id="패스_360" data-name="패스 360"
          d="M5.209,8.35a.827.827,0,1,0,1.17-1.17L5.308,6.118h9.885a1.285,1.285,0,0,1,1.31,1.26V8.35a.824.824,0,1,0,1.648,0V7.378A2.933,2.933,0,0,0,15.193,4.47H5.308L6.379,3.408a.827.827,0,1,0-1.17-1.17L2.738,4.709a.824.824,0,0,0,0,1.17Z"
          transform="translate(-4210.318 -16180.486)" fill="#fff" />
        <path id="패스_361" data-name="패스 361"
          d="M5.457,17.766h9.885l-1.071,1.063A.827.827,0,1,0,15.441,20l2.471-2.471a.824.824,0,0,0,0-1.17l-2.471-2.471a.827.827,0,1,0-1.17,1.17l1.071,1.063H5.457a1.285,1.285,0,0,1-1.31-1.26V13.643a.824.824,0,1,0-1.648,0v1.216a2.933,2.933,0,0,0,2.957,2.908Z"
          transform="translate(-4209.662 -16183.103)" fill="#fff" />
      </g>
    </svg>
    <span>배차달력</span>
  </div>

  <div class="dateTitle"></div>
  <div class="calenderHaed">
    <div>일</div>
    <div>월</div>
    <div>화</div>
    <div>수</div>
    <div>목</div>
    <div>금</div>
    <div>토</div>
  </div>
  <div class="calender">
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
    <div class="calenderDateBox">
      <div class="date">
        <div></div>
      </div>
    </div>
  </div>
</div>

<div class="hiidenModuleBox">
  <div class="basicContentesArea">
    <svg class="checkMark" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
      <path id="Icon_awesome-check-circle" data-name="Icon awesome-check-circle"
        d="M20.563,10.563a10,10,0,1,1-10-10A10,10,0,0,1,20.563,10.563ZM9.406,15.857l7.419-7.419a.645.645,0,0,0,0-.912l-.912-.912a.645.645,0,0,0-.912,0L8.95,12.664,6.125,9.839a.645.645,0,0,0-.912,0l-.912.912a.645.645,0,0,0,0,.912l4.194,4.194a.645.645,0,0,0,.912,0Z"
        transform="translate(-0.563 -0.563)" fill="#b5b5b5" />
    </svg>
    <div class="dataCellBox">
      <div class="dispatchDataBox">
        <div class="dataCell">
          <div class="dataTitleBox">
            <span>출/퇴근</span>
          </div>
          <span class="regularlyData"></span>
        </div>
        <div class="dataCell">
          <div class="dataTitleBox">
            <span>일반</span>
          </div>
          <span class="orderData"></span>
        </div>
      </div>
      <div class="dataCell dataCellCalender">
      </div>
    </div>
  </div>
  <div class="orderContentesArea">
    <div class="orderListBox">
    </div>
    <div class="totalBox">
      <span>총 건수</span>
      <span></span>
    </div>
  </div>
</div>


{% endblock %}



{% block popup %}
<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form method="post" action="{% url 'dispatch:calendar_create' %}" class="popupContainer checkForm">
      {% csrf_token %}
      <div class="popupHeader">
        <div class="popupTitle">배차확인</div>
      </div>
      <div class="popupBody">
          <div class="popupSection">
            <div class="popupArticleBox">
                <div class="popupArticleDouble">
                    <label for="" class="popupArticleLabel">담당자</label>
                    <div class="checkerDataBox"></div>
                </div>
                <div class="popupArticleDouble">
                    <label for="" class="popupArticleLabel">확인시간</label>
                    <div class="checkerDataBox"></div>
                </div>
            </div>
          </div>
          <div class="popupFooter">
            <input type="submit" class="btnModules addChecker" value="등록">
            <div class="btnModules checkerCloseBtn">닫기</div>
          </div>
          <input type="hidden" name="date" class="checkDateData">
      </div>
  </form>
</div>


<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <form method="post" action="" class="popupContainer inspectionForm">
      {% csrf_token %}
      <div class="popupHeader">
          <div class="popupTitle">차량 정기점검일</div>
      </div>
      <div class="popupBody">
          <div class="popupSection">
            <div class="scrolling_table-list_header">
              <table class="table-list">
                <thead>
                  <tr class="table-list_head-tr">
                    <td class="table-list_head-tr_td">순번</td>
                    <td class="table-list_head-tr_td">차량번호</td>
                    <td class="table-list_head-tr_td">출고일자</td>
                    <td class="table-list_head-tr_td">정기점검일</td>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="scrolling_table-list_body">
              <table class="table-list">
                <tbody>
                  {% for vehicle in vehicle_list %}
                  <tr class="table-list_body-tr" onclick="locationVehicle(this)">
                    <td class="table-list_body-tr_td">{{forloop.counter}}</td>
                    <td class="table-list_body-tr_td">{{vehicle.vehicle_num0}} {{vehicle.vehicle_num}}</td>
                    <td class="table-list_body-tr_td">{{vehicle.release_date}}</td>
                    <td class="table-list_body-tr_td">{{vehicle.check_date}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="popupFooter">
              <div class="btnModules inspectionCloseBtn">닫기</div>
          </div>
      </div>
  </form>
</div>

<div class="popupAreaModules">
  <div class="popupBgModules"></div>
  <div class="popupContainer scheduleListForm">
      <div class="popupHeader">
          <div class="popupTitle">일정</div>
      </div>
      <div class="popupBody">
        <form method="post" action="{% url 'dispatch:schedule_create' %}" class="popupSection scheduleCreateForm">
          {% csrf_token %}
          <div class="scheduleCreateBox">
            <label for="scheduleContents">일정등록</label>
            <input type="text" autocomplete="off" name="content" id="scheduleContents" class="scheduleContents">
            <input type="submit" class="btnModules scheduleCreateBtn" value="등록">
            <input type="hidden" name='date'>
          </div>
          </form>
        <form method="post" action="{% url 'dispatch:schedule_delete' %}"  class="popupSection scheduleDeleteForm">
        {% csrf_token %}
            <div class="scrolling_table-list_header">
              <table class="table-list">
                <thead>
                  <tr class="table-list_head-tr">
                    <td class="table-list_head-tr_td">
                      <input type="checkbox">
                    </td>
                    <td class="table-list_head-tr_td">순번</td>
                    <td class="table-list_head-tr_td">내용</td>
                    <td class="table-list_head-tr_td">작성자</td>
                    <td class="table-list_head-tr_td">작성일</td>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="scrolling_table-list_body">
              <table class="table-list">
                <tbody>
                </tbody>
              </table>
            </div>
          <div class="popupFooter">
            <input type="submit" class="btnModules scheduleListDeleteBtn" value="삭제">
              <div class="btnModules scheduleListCloseBtn">닫기</div>
          </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
  const totalBusCnt = {{ total_bus_cnt }}
  const curBusCnt = {{ cur_bus_cnt }}
  const r_totalBusCnt = {{ r_total_bus_cnt }}
  const r_curBusCnt = {{ r_cur_bus_cnt }}

  console.log("일반배차 총 :", totalBusCnt)
  console.log("일반배차 :", curBusCnt)
  console.log("정기배차 총 :", r_totalBusCnt)
  console.log("정기배차 :", r_curBusCnt)


  {% autoescape off %}

  const scheduleList = {{ schedule_list }}
  const checkList = {{ check_list }}
  const changeOrderList = {{ change_order_list }}
  {% endautoescape %}

  console.log("scheduleList", scheduleList)
  console.log("checkList", checkList)
  console.log("changeOrderList", changeOrderList)


  let targetLink = ""

  function openLinePrint(url) {
    if(thisDateData !== ""){
    targetLink = `dispatch/print/line?date=${thisDateData}`
    window.open(targetLink, "노선별A4", "width=800, height=640")
    }else{
      alert("날짜를 선택해 주세요.")
    }
  }
  function openBusPrintA4(url) {
    if(thisDateData !== ""){
    targetLink = `dispatch/print/bus?date=${thisDateData}&size=A4`
    window.open(targetLink, "호수별A4", "width=1170, height=640")
    }else{
      alert("날짜를 선택해 주세요.")
    }
  }
  function openBusPrintA3(url) {
    if(thisDateData !== ""){
    targetLink = `dispatch/print/bus?date=${thisDateData}&size=A3`
    window.open(targetLink, "호수별A3", "width=1660, height=640")
    }else{
      alert("날짜를 선택해 주세요.")
    }
  }
  function openDrivingListPrint(url) {
    console.log(thisDateData);
    if(thisDateData !== ""){
    targetLink = `dispatch/print/dailylist?date=${thisDateData}`
    window.open(targetLink, "운행일보A4", "width=1200, height=640")
    }else{
      alert("날짜를 선택해 주세요.")
    }
  }

  function locationVehicle(vehicleId){
    location.href = `vehicle/list?search=${vehicleId.children[1].innerText.split(" ")[1]}&select=vehicle`
  }

</script>
<script src="{% static 'js/crudmember/calender.js' %}"></script>
<script src="{% static 'js/crudmember/calenderData.js' %}"></script>
<script src="{% static 'js/crudmember/checker.js' %}"></script>
<script src="{% static 'js/crudmember/inspection.js' %}"></script>
<script src="{% static 'js/crudmember/scheduleList.js' %}"></script>
<script src="{% static 'js/crudmember/calnderLength.js' %}"></script>
<script src="{% static 'js/crudmember/orderList.js' %}"></script>
<script src="{% static 'js/crudmember/orderListfilter.js' %}"></script>
<script src="{% static 'js/crudmember/locationOrderItem.js' %}"></script>
<script src="{% static 'js/crudmember/authority.js' %}"></script>
{% endblock %}