{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>trp</title>
    <link href="{% static 'css/crudmember/signup_terms.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/crudmember/welcome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/setting/setting.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/module.css' %}" rel="stylesheet" type="text/css" />
    
  </head>

  <body>

    <div class="signupLogo">
      TRP
    </div>

    <div class="signupHeader">
      <div class="signupHeaderPage">약관동의</div>
      <div class="signupNavBox">
        <div class="signupNav">01약관동의</div>
        <div class="signupNav">02정보입력</div>
        <div class="signupNav">03가입완료</div>
      </div>
    </div
    >
    <div class="termsCenterBox">
      <div class="signupMain">

      </div>
    </div>

    <script src="script.js"></script>
  </body>

</html>