.controllBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27rem;
}

.todayBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 3.2rem;
    border-radius: 1.6rem;
    background-color: #444444;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

.controllBtnCell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.2rem;
}

.controllBtnCell div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 1.6rem;
    background-color: #444444;
    cursor: pointer;
}

.controllBox span {
    font-size: 1.8rem;
}

.calenderBox {
    width: 100%;
    height: 100rem;
}

.calenderTableHeader {
    width: 100%;
    height: 4rem;
    border: 0.1rem solid #D2D2D2;
    border-radius: 0.5rem 0.5rem 0 0;
    box-sizing: border-box;
    border-spacing: 0;
}

.calenderTableHeader td {
    width: calc(100%/7);
    font-size: 1.4rem;
    padding-left: 1rem;
    box-sizing: border-box;
}

.calenderTableHeader td:nth-child(1) {
    color: #DC1E1E;
}

.calenderTableHeader td:nth-child(7) {
    color: #0069D9;
}

.calenderCreteTbody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    height: calc(100% - 3.6rem);
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.calenderCreteTbody .dayBox:nth-child(1) span,
.calenderCreteTbody .dayBox:nth-child(8) span,
.calenderCreteTbody .dayBox:nth-child(15) span,
.calenderCreteTbody .dayBox:nth-child(22) span,
.calenderCreteTbody .dayBox:nth-child(29) span,
.calenderCreteTbody .dayBox:nth-child(36) span {
    color: #DC1E1E;
}

.calenderCreteTbody .dayBox:nth-child(7) span,
.calenderCreteTbody .dayBox:nth-child(14) span,
.calenderCreteTbody .dayBox:nth-child(21) span,
.calenderCreteTbody .dayBox:nth-child(28) span,
.calenderCreteTbody .dayBox:nth-child(35) span,
.calenderCreteTbody .dayBox:nth-child(42) span {
    color: #0069D9;
}

.dayBox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.4rem;
    border: 0.1rem solid #D2D2D2;
    box-sizing: border-box;
    font-size: 1.4rem;
}

.today {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.4rem;
    color: white;
    background-color: #0069D9;
    border-radius: 100%;
}

.othereMonth {
    background-color: #e3e3e3;
}

.dayDataBox {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 16rem;
    padding: 0.6rem;
    box-sizing: border-box;
}
.dayDataBoxToday{
    border: 0.2rem solid #0069D9;
}

.iconDataBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 3.2rem;
}

.dispatchAlarm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    background-color: #0069D9;
    color: white;
    cursor: pointer;
}

.dispatchDataBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 4.8rem;
    padding: 0.6rem 0;
}

.dispatchDataBox a {
    width: 100%;
    height: 2.4rem;
    margin: 0.3rem 0;
}

.dispatchCell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.4rem;
    padding: 0 0.6rem;
    border-radius: 0.2rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    cursor: pointer;
    color: black;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
}




/*class바꾸는용*/
.vehicleAlarmLight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 0.6rem;
    border-radius: 100%;
    background-color: #0069D9;
    cursor: pointer;
}

.dispatchAlarmLight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    background-color: #0069D9;
    cursor: pointer;
}

.dispatchCellInclude {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.4rem;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: white;
    background-color: #707070;
}







/*popup*/
.popupAreaModules,
.popupAreaModulesDispatch {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.popupBgModules {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.16);
}

.popupContainer {
    position: fixed;
    top: 50%;
    left: calc(50% + 11rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80rem;
    height: auto;
    max-height: 38.7rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
    transform: translate(-50%, -50%);
}
.popupAreaModules .popupContainer{
    height: 72rem;
    max-height: initial;
}

.PopupTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 0.1rem solid #191919;
}

.PopupDataArea {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 9.7rem);
    max-height: 29rem;
    padding: 4.2rem 3rem 3rem 3rem;
    box-sizing: border-box;
    overflow-y: scroll;
}
.popupAreaModules .PopupDataArea{
    max-height: initial;
}

.PopupDataArea::-webkit-scrollbar {
    width: 0.6rem;
}

.PopupDataArea::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #828282;
    border-radius: 10px;
}

.PopupDataArea::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.PopupDataAreaDispatch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 9.7rem);
    padding: 4.2rem 3rem 3rem 3rem;
    box-sizing: border-box;
}

.PopupDataBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    margin-bottom: 3.6rem;
}

.PopupDataCell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 23rem;
    height: 6rem;
}

.PopupDataTitle {
    font-size: 1.4rem;
    color: #7A7A7A;
}

.PopupDataCell a {
    width: 100%;
}

.PopupDataCell a .PopupData {
    color: #0069D9;
}

.PopupData {
    width: 100%;
    height: 2rem;
    padding-bottom: 0.1rem;
    font-size: 1.4rem;
    color: #191919;
    border-bottom: 0.1rem solid #191919;
}
.haveDeleteIcon{
    position: relative;
    width: 100%;
}
.haveDeleteIcon svg{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    cursor: pointer;
}
.fakeInput{
    outline: none;
    border: none;
    border-bottom: 0.1rem solid #191919;
}

.printBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54rem;
    padding: 3.6rem 10rem 0 10rem;
}

.printCell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 12rem;
    height: 3.4rem;
    border: 0.11rem solid #191919;
    border-radius: 0.3rem;
    box-sizing: border-box;
    cursor: pointer;
}

.printCell span {
    font-size: 1.4rem;
}

.PopupBtnBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
}

.PopupBtnBoxDispatch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    padding: 0 32.5rem;
    box-sizing: border-box;
}

.PopupBtnBox div {
    background-color: #444444;
}

.PopupBtnBoxDispatch div {
    background-color: #444444;
}

.PopupBtnBoxDispatch input {
    background-color: #0069D9;
}