/* 검색창 */
.schdule_search {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

.dispatch_search_form {
    display: none;
    justify-content: flex-start;
    align-items: center;
}

.dispatch_search_form label {
    margin-right: 2rem;
}

.dispatch_search_form .basic_btn {
    margin-left: 2rem;
}

.dispatch_print_form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dispatch_print_form .basic_btn {
    margin-right: 1rem;
}

.dispatch_print_form .basic_btn:nth-last-child(1) {
    margin-right: 0;
}

.print_route,
.print_bus {
    justify-content: space-around;
    width: 7.2rem;
    padding: 0 0.4rem;
    box-sizing: border-box;
}

.bus_inspection {
    width: 8.2rem;
}



/* 메인 */
.schdule_main {
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

/* 달력 버튼영역 */
.calender_btn_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
}

.calendar_switch_btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translate(0, -50%);
    justify-content: space-around;
    width: 8.2rem;
    padding: 0 0.4rem;
    box-sizing: border-box;
}

.calender_btn_box_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 3.2rem;
    background-color: #F1F3F4;
    border-radius: 0.5rem;
}

.date_controll_Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #4E5869;
    border-radius: 0.5rem;
    cursor: pointer;
}


/* 달력 요일영역 */
.calender_header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    background-color: #4E5869;
}

.weekBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 7);
    height: 100%;
    color: white;
}

.weekBox_sunday {
    color: #ED5565;
}

.weekBox_satday {
    color: #61B4E5;
}


/* 달력 메인영역 */
.calender_body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
}

.calender_date_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - (4rem / 7));
    aspect-ratio: 23 / 18;
    padding: 0 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem 0.5rem 0 0;
    background-color: white;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
    border-radius: 0.3rem;
}

.not_this_month {
    background-color: #F1F3F4;
}

.calender_date_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.6rem;
    border-radius: 0.3rem;
}

.today {
    padding: 0.5rem 1rem;
    background-color: #61B4E5;
    color: white;
    border-radius: 1.2rem;
}


/* 클론 스타일 */
.cloneBox {
    display: none;
}

/* 기본달력 */
.calender_contants_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 4.6rem);
    margin-top: 0.5rem;
}

.dispatch_cnt_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc((100% - 1rem)/10*3);
    height: 100%;
}

.dispatch_check {
    position: absolute;
    top: -2.95rem;
    right: 0;
    cursor: pointer;
}

.regularly_cnt_cell,
.order_cnt_cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc((100% - 1rem)/2);
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.3rem;
}

.calender_schedule_Cell {
    width: calc((100% - 1rem)/10*7);
    height: 100%;
    overflow-y: scroll;
    border: 0.1rem solid #CDCDCE;
    border-radius: 0.3rem;
    cursor: pointer;
}

.calender_schedule_Cell::-webkit-scrollbar {
    width: 0.6rem;
}

.calender_schedule_Cell::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #4E5869;
    border-radius: 1rem;
}

.calender_schedule_Cell::-webkit-scrollbar-track {
    background-color: #F1F3F4;
}

.calender_schedule_Cell:hover {
    background-color: #EFEFEF;
}

.empty_schedule_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #CDCDCE;
}

/* 배차달력 */
.calender_order_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100% - 4.1rem);
}

.calender_order_sell {
    width: 100%;
    height: calc(100% - 3.8rem);
    border-radius: 0.3rem;
    border: 0.1rem solid #CDCDCE;
    overflow-y: scroll;
}

.calender_order_sell::-webkit-scrollbar {
    width: 0.6rem;
}

.calender_order_sell::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #4E5869;
    border-radius: 1rem;
}

.calender_order_sell::-webkit-scrollbar-track {
    background-color: #F1F3F4;
}

.calender_order_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.8rem;
    padding: 0 0.6rem;
    box-sizing: border-box;
    background-color: #F1F3F4;
}



/* 일정팝업 */