body {
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
}


.login {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82rem;
  height: 56rem;
  padding: 2.4rem 6.4rem 2.4rem 2.4rem;
  background-color: white;
  border-radius: 3rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
}

.loginInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24rem;
  height: calc(100% - 4.8rem);
  padding: 4rem 3rem 2rem 3rem;
  border-radius: 3rem;
  background-image: url(/static/images/loginInformationBox.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.loginInformationTItle {
  width: 100%;
  font-size: 5.2rem;
  font-family: 'Roboto';
  color: white;
}

.loginInformationBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginInformationCell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.6rem;
  color: white;
}

.loginInformationCell span {
  display: block;
  margin-bottom: 1.2rem;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 700;
}

.loginInformationCell div {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.loginInformationToolBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3.6rem;
  border-radius: 0.8rem;
  background-color: rgba(255, 255, 255, 0.26);
  font-size: 1.3rem;
  color: white;
}

.loginInformationToolBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 100%;
}

.loginInformationToolBox a:nth-child(1) {
  padding-left: 2rem;
  border-radius: 0.8rem 0 0 0.8rem;
}

.loginInformationToolBox a:nth-child(1):hover {
  background-color: white;
  color: #0069D9;
  font-weight: 700;
}

.loginInformationToolBox a:nth-child(2) {
  padding-right: 2rem;
  border-radius: 0 0.8rem 0.8rem 0;
}

.loginInformationToolBox a:nth-child(2):hover {
  background-color: white;
  color: #0069D9;
  font-weight: 700;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40rem;
  height: 51.2rem;
}

.loginBoxTitleBox {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.loginBoxTitleBox img {
  margin-right: 1rem;
}

.loginBoxTitleCell {
  display: flex;
  flex-direction: column;
}

.loginBoxTitleCell span:nth-child(1) {
  font-size: 2.8rem;
  font-weight: 700;
  color: #0069D9;
}

.loginBoxTitleCell span:nth-child(2) {
  font-size: 1.4rem;
  color: #BFC0C0;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginInputCell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;
}

.loginInputLabel {
  font-size: 1.6rem;
  color: #606060;
  margin-bottom: 1.2rem;
}

.loginInputLabel+input{
  width: calc(100% - 2.2rem);
  height: 4.8rem;
  padding: 0 0 0 2rem;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #191919;
  outline: none;
}

.loginInputLabel+input::placeholder {
  color: #BFC0C0;
}

.saveDataCheckBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.saveDataCheckBox input{
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.2rem 0.6rem 0 0;
  border: 0.1rem solid #D2D2D2;
  border-radius: 0.3rem;
}

.saveDataCheckBox label {
  font-size: 1.6rem;
  color: #606060;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: #0069D9;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  outline: none;
  cursor: pointer;
}