body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;
  font-family: 'Noto Sans CJK KR';
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 102.4rem;
  min-height: 56rem;
  height: auto;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.16);
  background-color: white;
}





/*header*/
.signupHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2rem);
  height: 15.6rem;
  padding: 2.8rem 1rem 0 1rem;
}

.signupHeader::after {
  content: "";
  position: absolute;
  top: 18.4rem;
  width: calc(100% - 2rem);
  border-bottom: 0.1rem solid #D2D2D2;
}

.signupHeaderTitle {
  font-size: 2.4rem;
  color: #191919;
  margin-bottom: 3rem;
}

.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75rem;
}

.progressBg {
  position: absolute;
  top: 1.4rem;
  left: 50%;
  z-index: 0;
  width: 71rem;
  height: 0.2rem;
  background-color: #D2D2D2;
  transform: translate(-50%, 0);
}

.stepCell {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepCircle {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: #D2D2D2;
  margin-bottom: 0.8rem;
}

.stepCircleColor {
  background-color: #0069D9;
}

.stepName {
  font-size: 1.6rem;
  color: #191919;
}

.signupFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4rem;
  margin-bottom: 2rem;
}