.progress{
  width: 100%;
}
.signupSection{
  align-items: center;
}
.signupSection img{
  width: 7.2rem;
  height: 7.2rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.welconText{
  font-size: 2.4rem;
  color: #191919;
  margin-bottom: 1rem;
}
.welconText span{
  font-weight: 700;
}
.Nextinformation{
  font-size: 1.4rem;
  color: #191919;
  margin-bottom: 4rem;
}
.signupFooter a{
  width: 13.6rem;
  height: 4rem;
  margin: 0;
}
.nextStepBtn{
  width: 100%;
  margin: 0;
}